Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

fix: unbreakable spaces
  itou/templates/insertion/includes/structure_card_tab_description.html
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

Revert "insertion: add a management command to fetch orientation attachments on DORA S3"
  itou/insertion/management/commands/orientations_attachments_to_documents.py
Due: ruff-format, ruff-check

Add an HTML alternative to Brevo emails
  itou/emails/tasks.py
Due: ruff-format, ruff-check

metabase: export job seeker assignments
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_seeker_assignments.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

Stop building CI on main
  .github/workflows/ci.yml
Due: none

openid_connect: Add cache on jwks fetched key
  config/settings/test.py
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/ft_connect/views.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/ft_connect/tests.py
Due: ruff-format, ruff-check

tests: Remove comment
  tests/openid_connect/ft_connect/tests.py
Due: ruff-format, ruff-check

copy almost all the metabase tables to the raw_emplois schema
  itou/metabase/dataframes.py
  itou/metabase/management/commands/populate_metabase_emplois.py
Due: ruff-format, ruff-check

employee_record: secure watched_data_updated_at update
  itou/employee_record/models.py
  tests/employee_record/__snapshots__/test_transfer_employee_records.ambr
  tests/employee_record/test_models.py
Due: ruff-format, ruff-check

fixup!: alternative solution with deferred field
  itou/employee_record/migrations/0001_initial.py
  itou/employee_record/models.py
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
Due: ruff-format, ruff-check

dummy commit
  README.md
Due: none

insertion_views: no need for unique id in orientation status badge
  itou/utils/templatetags/badges.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion_views: allow service providers to accept an orientation
  itou/templates/insertion/includes/orientations/service_provider_actions.html
  itou/templates/insertion/orientations/details.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion: add refusal_reasons and refusal_details to orientation
  itou/fixtures/django/insertion__orientation.json
  itou/insertion/admin.py
  itou/insertion/enums.py
  itou/insertion/migrations/0015_orientation_refusal_details_and_more.py
  itou/insertion/models.py
  tests/insertion/factories.py
  tests/insertion/test_orientation.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion_views: rename orientation status "Refusée" -> "Déclinée"
  itou/insertion/enums.py
  itou/insertion/management/commands/sync_orientation_statuses.py
  itou/insertion/migrations/0012_alter_orientation_status_orientationtransitionlog.py
  itou/insertion/models.py
  itou/utils/templatetags/badges.py
  tests/api/test_insertion.py
  tests/insertion/test_orientation.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

chore(insertion): rename MAX_VALIDTITY_SECONDS to MAX_VALIDITY_SECONDS
  itou/insertion/models.py
  tests/insertion/test_orientation.py
Due: ruff-format, ruff-check

___ wip: DO NOT MERGE: rend les niveaux ACR configurables pour test
  itou/openid_connect/pro_connect/views.py
  itou/www/login/views.py
Due: ruff-format, ruff-check

insertion_views: allow service providers to refuse an orientation
  itou/templates/insertion/includes/orientations/service_provider_actions.html
  itou/templates/insertion/orientations/details.html
  itou/templates/insertion/orientations/refuse.html
  itou/www/insertion_views/forms.py
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion_views: add missing organization in orientation details for service provider
  itou/templates/insertion/includes/orientation_sidebar_for_service_provider.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

templatetags.badges: fix orientation EXPIRED badge
  itou/utils/templatetags/badges.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion_views: orientation reasons as multiline text
  itou/templates/insertion/orientations/details.html
Due: djlint

insertion.factories: clean unused import
  tests/insertion/factories.py
Due: ruff-format, ruff-check

insertion.factories: add for_snapshot trait to ease later tests
  tests/insertion/factories.py
Due: ruff-format, ruff-check

insertion: send email to external users at orientation creation
  itou/insertion/models.py
  itou/templates/insertion/email/new_for_referent_body.txt
  itou/templates/insertion/email/new_for_referent_subject.txt
  itou/templates/insertion/email/new_for_structure_body.txt
  itou/templates/insertion/email/new_for_structure_subject.txt
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check

insertion: send email notifications to beneficiary and sender at orientation creation
  itou/communications/__init__.py
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/new_for_beneficiary_body.txt
  itou/templates/insertion/email/new_for_beneficiary_subject.txt
  itou/templates/insertion/email/new_for_sender_body.txt
  itou/templates/insertion/email/new_for_sender_subject.txt
  itou/templates/layout/base_email_for_beneficiary_text_body.txt
  itou/templates/layout/base_email_signature.txt
  itou/utils/emails.py
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check

insertion: send emails when orientation is accepted
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/accepted_for_beneficiary_body.txt
  itou/templates/insertion/email/accepted_for_beneficiary_subject.txt
  itou/templates/insertion/email/accepted_for_referent_body.txt
  itou/templates/insertion/email/accepted_for_referent_subject.txt
  itou/templates/insertion/email/accepted_for_sender_body.txt
  itou/templates/insertion/email/accepted_for_sender_subject.txt
  itou/templates/insertion/email/accepted_for_structure_body.txt
  itou/templates/insertion/email/accepted_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion: send emails when orientation is refused
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/refused_for_beneficiary_body.txt
  itou/templates/insertion/email/refused_for_beneficiary_subject.txt
  itou/templates/insertion/email/refused_for_referent_body.txt
  itou/templates/insertion/email/refused_for_referent_subject.txt
  itou/templates/insertion/email/refused_for_sender_body.txt
  itou/templates/insertion/email/refused_for_sender_subject.txt
  itou/templates/insertion/email/refused_for_structure_body.txt
  itou/templates/insertion/email/refused_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion: send emails when orientation has expired
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/expired_for_beneficiary_body.txt
  itou/templates/insertion/email/expired_for_beneficiary_subject.txt
  itou/templates/insertion/email/expired_for_referent_body.txt
  itou/templates/insertion/email/expired_for_referent_subject.txt
  itou/templates/insertion/email/expired_for_sender_body.txt
  itou/templates/insertion/email/expired_for_sender_subject.txt
  itou/templates/insertion/email/expired_for_structure_body.txt
  itou/templates/insertion/email/expired_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
Due: ruff-format, ruff-check

insertion_views: resend a magic link if asked when the previous one is deactivated
  itou/insertion/models.py
  itou/templates/insertion/email/new_link_for_structure_body.txt
  itou/templates/insertion/email/new_link_for_structure_subject.txt
  itou/templates/insertion/orientations/ask_for_new_orientation_process_link.html
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion: auto expire orientations
  clevercloud/cron.json
  itou/insertion/management/commands/expire_orientations.py
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/insertion/test_expire_orientations.py
Due: ruff-format, ruff-check

insertion: add orientation.last_reminder_email_sent_at attribute
  itou/insertion/management/commands/set_orientations_last_reminder_email_sent_at.py
  itou/insertion/migrations/0016_orientation_last_reminder_email_sent_at.py
  itou/insertion/models.py
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/insertion/test_set_orientations_last_reminder_email_sent_at.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
