Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

gps: Return membership in follow_beneficiary
  itou/gps/models.py
  itou/www/gps/utils.py
  tests/gps/test_models.py
Due: ruff-format, ruff-check

Prevent editing job seeker with a certified eligibility criteria
  itou/openid_connect/models.py
  itou/users/forms.py
  itou/users/models.py
  itou/utils/apis/api_particulier.py
  tests/eligibility/factories.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/pe_connect/tests.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_info.py
  tests/www/employee_record_views/test_create.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

Explain why job seekers PII are readonly when identity is certified
  itou/templates/apply/includes/job_application_accept_form.html
  itou/templates/dashboard/includes/edit_job_seeker_info_form.html
  itou/templates/employee_record/includes/create_step_1.html
  itou/templates/includes/job_seekers/readonly_form.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_1.html
  itou/users/forms.py
  tests/users/constants.py
  tests/www/apply/test_process.py
  tests/www/dashboard/test_edit_user_info.py
  tests/www/employee_record_views/test_create.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check, djlint

gps: Create inactive FollowUpGroupMembership for non authorized prescribers
  itou/www/gps/utils.py
  itou/www/gps/views.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

hijack: Improve constant name
  itou/utils/hijack/views.py
Due: ruff-format, ruff-check

hijack: Allow to keep otp session when hijacking a user
  itou/utils/hijack/views.py
  tests/utils/test_hijack.py
Due: ruff-format, ruff-check

tests: Improve hijack tests
  tests/utils/test_hijack.py
Due: ruff-format, ruff-check

tests: Move hijack test to dedicated folder
  tests/utils/perms/tests.py
  tests/utils/test_hijack.py
Due: ruff-format, ruff-check

dashboard: Fix view for non superusers
  itou/templates/dashboard/dashboard.html
  itou/www/dashboard/views.py
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check, djlint

test: slippers
  config/settings/base.py
  itou/templates/components.yaml
  itou/templates/components/c-badge.html
  itou/templates/components/c-info.html
  itou/templates/components/c-title.html
  itou/templates/static/accessibility.html
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: ruff-format, ruff-check, djlint

alternate formatting
  itou/templates/static/accessibility.html
  pyproject.toml
Due: djlint

admin: Fix `ReadonlyMixin` order for inheritance chain
  itou/analytics/admin.py
  itou/approvals/admin.py
  itou/cities/admin.py
  itou/companies/admin.py
  itou/eligibility/admin.py
  itou/emails/admin.py
  itou/gps/admin.py
  itou/job_applications/admin.py
  itou/jobs/admin.py
  itou/otp/admin.py
  itou/siae_evaluations/admin.py
  itou/users/admin.py
Due: ruff-format, ruff-check

users: Add support remark permissions to itou-admin group
  itou/users/management/commands/sync_group_and_perms.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
Due: ruff-format, ruff-check

admin: Fix ReadonlyMixin inheritance order
  itou/analytics/admin.py
  itou/approvals/admin.py
  itou/cities/admin.py
  itou/companies/admin.py
  itou/eligibility/admin.py
  itou/emails/admin.py
  itou/gps/admin.py
  itou/job_applications/admin.py
  itou/jobs/admin.py
  itou/otp/admin.py
  itou/siae_evaluations/admin.py
  itou/users/admin.py
Due: ruff-format, ruff-check

fix: update theme to v2.7.5
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

config: add django-components monkeypatches to avoid useless injections
  config/components.py
  config/settings/base.py
Due: ruff-format, ruff-check

gps: Fix modal display
  itou/templates/gps/join_group_from_name_and_email.html
Due: djlint

gps: Allow to create inactive FollowUpGroupMemberships
  itou/gps/models.py
  tests/gps/test_models.py
Due: ruff-format, ruff-check

gps: Fix links in slack notifications
  itou/www/gps/utils.py
  itou/www/gps/views.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

sync_groups_and_perms: Add missing permission
  itou/users/management/commands/sync_group_and_perms.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
Due: ruff-format, ruff-check

WIP - Use permissions over hardcoded group
  itou/approvals/migrations/0012_alter_approval_options.py
  itou/approvals/models.py
  itou/job_applications/migrations/0012_alter_jobapplication_options.py
  itou/job_applications/models.py
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/staff_actions_card.html
  itou/templates/dashboard/includes/staff_export_card.html
  itou/users/management/commands/sync_group_and_perms.py
  itou/users/migrations/0024_alter_user_options.py
  itou/users/models.py
  itou/www/dashboard/views.py
  itou/www/itou_staff_views/views.py
Due: ruff-format, ruff-check, djlint

perms: Give itou-admin users more privileges
  itou/prescribers/admin.py
  itou/templates/admin/companies/change_company_form.html
  itou/templates/admin/prescribers/change_form.html
  itou/templates/dashboard/dashboard.html
  itou/users/models.py
  itou/www/dashboard/views.py
  itou/www/itou_staff_views/views.py
Due: ruff-format, ruff-check, djlint

wip
  config/settings/base.py
  itou/geiq/sync.py
  itou/geiq_assessments/__init__.py
  itou/geiq_assessments/admin.py
  itou/geiq_assessments/apps.py
  itou/geiq_assessments/migrations/0001_initial.py
  itou/geiq_assessments/migrations/__init__.py
  itou/geiq_assessments/models.py
Due: ruff-format, ruff-check

employee_record_views: Use our own wizard for AddView
  itou/templates/employee_record/add.html
  itou/templates/employee_record/list.html
  itou/www/employee_record_views/urls.py
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employee_record_views/test_add.py
Due: ruff-format, ruff-check, djlint

tests: Fix flaky test
  tests/www/employee_record_views/test_add.py
Due: ruff-format, ruff-check

www: Extract generic wizard view from apply RefuseWizardView
  itou/www/apply/urls.py
  itou/www/apply/views/batch_views.py
  itou/www/utils/__init__.py
  itou/www/utils/wizard.py
Due: ruff-format, ruff-check

changelog: From 2025-03-10 to 2025-03-16
  CHANGELOG.md
Due: none

js: use data-emplois- prefix for syncing checkboxes
  itou/static/js/htmx_dropdown_filter.js
  itou/templates/includes/btn_dropdown_filter/checkboxes.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/single_checkbox.html
  tests/www/apply/test_list_for_job_seeker.py
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_list_prescriptions.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

www: Remove remaining LoginRequiredMixin
  itou/www/apply/views/process_views.py
  itou/www/gps/views.py
Due: ruff-format, ruff-check

wip
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_1.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_2.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_3.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_base.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_end.html
  itou/templates/job_seekers_views/includes/_create_or_update_title.html
  itou/templates/job_seekers_views/step_check_job_seeker_nir.html
  itou/templates/job_seekers_views/step_search_job_seeker_by_email.html
  itou/templates/job_seekers_views/submit_base_two_columns.html
  itou/www/job_seekers_views/views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint
