Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

github: Add `merge_group` event to `require-labels.yml`
  .github/workflows/require-labels.yml
Due: none

employees: Always show IF ad
  itou/templates/employees/detail.html
  itou/www/employees_views/views.py
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/employees_views/test_detail.py
Due: ruff-format, ruff-check, djlint

employees: Show IF ad even without approval
  itou/templates/employees/detail.html
  itou/www/employees_views/views.py
Due: ruff-format, ruff-check, djlint

employees: Simplify IF ad logic
  itou/www/employees_views/views.py
Due: ruff-format, ruff-check

utils.metabase: Add the API client
  config/settings/base.py
  itou/utils/apis/metabase.py
  tests/utils/apis/__snapshots__/test_metabase.ambr
  tests/utils/apis/test_metabase.py
Due: ruff-format, ruff-check

www.dashboard.stats: Display curated KPI to some institutions
  config/settings/base.py
  itou/templates/dashboard/dashboard_stats.html
  itou/templates/dashboard/includes/stats_kpi_labor_inspector_iae.html
  itou/www/dashboard/views.py
  itou/www/stats/utils.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
Due: ruff-format, ruff-check, djlint

metabase: Retrieve data using the API and cache them locally
  clevercloud/cron.json
  config/settings/base.py
  itou/metabase/management/commands/metabase_data.py
  itou/metabase/models.py
  tests/metabase/management/__snapshots__/test_metabase_data.ambr
  tests/metabase/management/test_metabase_data.py
Due: ruff-format, ruff-check

gps: Hide beneficiary names in group list
  itou/templates/gps/includes/memberships_results.html
  itou/www/gps/forms.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: mask in group details
  itou/templates/gps/group_beneficiary.html
  itou/templates/gps/group_details_base.html
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: Improve follow_beneficiary helper
  itou/gps/models.py
  tests/gps/test_models.py
Due: ruff-format, ruff-check

gps: join group using the beneficiary nir
  itou/templates/gps/join_group_from_nir.html
  itou/www/gps/urls.py
  itou/www/gps/views.py
  itou/www/job_seekers_views/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_create_beneficiary.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

fix: ui
  itou/templates/gps/join_group.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

job_seeker_views: Fix search email form for gps
  itou/templates/job_seekers_views/step_search_job_seeker_by_email.html
Due: djlint

gps: Add join group entrypoint
  itou/templates/gps/group_list.html
  itou/templates/gps/join_group.html
  itou/www/gps/enums.py
  itou/www/gps/forms.py
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: Add slack notifications
  config/settings/base.py
  itou/utils/slack.py
  itou/www/gps/utils.py
  itou/www/gps/views.py
  itou/www/job_seekers_views/views.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

gps: Put back improved autocomplete view
  itou/www/gps/urls.py
  itou/www/gps/utils.py
  itou/www/gps/views.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

gps: join group followed by a collegue from the user organizations
  itou/static/js/gps.js
  itou/templates/gps/join_group_from_collegue.html
  itou/users/models.py
  itou/www/gps/forms.py
  itou/www/gps/urls.py
  itou/www/gps/utils.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

users: Add full text search method on manager
  itou/users/models.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

gps: join group using the name and email
  itou/templates/gps/join_group_from_name_and_email.html
  itou/www/gps/forms.py
  itou/www/gps/urls.py
  itou/www/gps/views.py
  itou/www/job_seekers_views/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

dashboard: Add otp entry in user dropdown menu
  itou/templates/layout/_header_user_dropdown_menu.html
  tests/www/__snapshots__/test_layout.ambr
Due: djlint

login: Ask for OTP code when the user has a confirmed device
  config/settings/base.py
  config/settings/dev.py
  config/settings/test.py
  itou/templates/account/confirm_otp.html
  itou/utils/perms/middleware.py
  itou/www/login/forms.py
  itou/www/login/urls.py
  itou/www/login/views.py
  tests/www/login/tests.py
Due: ruff-format, ruff-check, djlint

itou_staff_views: Add setup 2FA views
  itou/templates/itou_staff_views/otp_confirm.html
  itou/templates/itou_staff_views/otp_setup.html
  itou/www/itou_staff_views/forms.py
  itou/www/itou_staff_views/urls.py
  itou/www/itou_staff_views/views.py
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check, djlint

requirements: Add dependency for 2FA
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

settings: Enable Django-OTP in settings
  config/settings/base.py
  tests/users/test_admin.py
Due: ruff-format, ruff-check

gps: mask_unless names in toasts
  itou/www/gps/utils.py
  itou/www/gps/views.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

gps: mask_unless names and borthdate in autocomplete
  itou/www/gps/views.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

utils: Move the lower verbose name check to tests
  itou/utils/apps.py
  itou/utils/checks.py
  tests/test_consistency.py
Due: ruff-format, ruff-check

job_seekers_views: split user list and organization list
  itou/templates/job_seekers_views/list.html
  itou/utils/templatetags/nav.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

fixtures: add job seekers and prescribers
  itou/fixtures/django/05_test_users.json
  itou/fixtures/django/06_confirmed_emails.json
  itou/fixtures/django/07_jobseeker_profile.json
  itou/fixtures/django/15_prescriber_memberships.json
  itou/fixtures/django/20_eligibility_diagnoses.json
  itou/fixtures/django/24_job_applications.json
Due: none

fixup! update tests for list_organization
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

tests: fix flaky a test due to a banner shown in some departments
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

templates: pass `force_valid` to eligibility badges
  itou/templates/apply/includes/eligibility_badge.html
  itou/templates/apply/submit/application/base.html
  itou/templates/apply/submit/hire_confirmation.html
  itou/templates/job_seekers_views/check_job_seeker_info_for_hire.html
  itou/templates/job_seekers_views/includes/list_results.html
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: djlint

job_seekers_views: correct an aria-label seemingly due to a copy-paste
  itou/templates/job_seekers_views/list.html
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: djlint

fixup login: Ask for OTP code when the user has a confirmed device
  itou/utils/perms/middleware.py
  itou/www/login/forms.py
  tests/www/login/tests.py
Due: ruff-format, ruff-check

fixup itou_staff_views: Add setup 2FA views
  itou/templates/itou_staff_views/otp_confirm.html
  itou/templates/itou_staff_views/otp_setup.html
  itou/www/itou_staff_views/forms.py
  itou/www/itou_staff_views/views.py
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check, djlint

templates: Add type=button to copy_tpo_clipboard
  itou/templates/includes/copy_to_clipboard.html
  tests/gps/__snapshots__/test_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/companies_views/__snapshots__/test_card_views.ambr
  tests/www/geiq_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

signup: Add page before job seeker situation
  itou/static/img/job_seeker_start.png
  itou/templates/account/login_job_seeker.html
  itou/templates/signup/job_seeker_start.html
  itou/www/login/forms.py
  itou/www/signup/urls.py
  itou/www/signup/views.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
  tests/www/signup/test_job_seeker.py
Due: ruff-format, ruff-check, djlint

signup: Allow to change the image in the right column
  itou/templates/signup/job_seeker_signup_base.html
Due: djlint
