Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

pe_connect: Improve no sub error logging
  itou/openid_connect/pe_connect/views.py
Due: ruff-format, ruff-check

openid_connect: Improve invali kind detection
  itou/openid_connect/models.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/pe_connect/tests.py
Due: ruff-format, ruff-check

inclusion_connect: change logger to info
  itou/openid_connect/inclusion_connect/models.py
  tests/openid_connect/inclusion_connect/tests.py
Due: ruff-format, ruff-check

geocoding: Fix call to api with empty adress
  itou/utils/apis/geocoding.py
  tests/common_apps/address/tests.py
Due: ruff-format, ruff-check

api: Fix _JobDescriptionSerializer
  itou/api/siae_api/serializers.py
  tests/api/siae_api/tests.py
Due: ruff-format, ruff-check

companies: Fix ContractType enum value
  itou/companies/enums.py
  itou/companies/migrations/0001_initial.py
  itou/companies/migrations/0002_fix_job_app_contract_type_enum.py
  tests/companies/test_models.py
Due: ruff-format, ruff-check

feat: update itou theme to v1.6.5 and ui for offcanvas #burgerNav
  itou/templates/layout/_header.html
  itou/utils/staticfiles.py
  tests/www/__snapshots__/test_layout.ambr
Due: ruff-format, ruff-check, djlint

tempaltes: Remove rdv insertion promo banner
  itou/templates/apply/includes/list_job_applications.html
  itou/templates/apply/includes/rdv_insertion_promo_card.html
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

dashboard: use reverse to build redoc URL
  itou/templates/dashboard/api_token.html
Due: djlint

Handle missing anymail attributes on emails
  itou/utils/tasks.py
Due: ruff-format, ruff-check

Use manage.py dbshell to load SQL data
  Makefile
Due: none

Add mobil’emploi banner for prescribers (again)
  itou/templates/dashboard/dashboard.html
  itou/www/dashboard/views.py
Due: ruff-format, ruff-check, djlint

Add mobil’emploi banner for active users
  itou/templates/dashboard/dashboard.html
  itou/www/dashboard/views.py
Due: ruff-format, ruff-check, djlint

users: Add User.first_login
  itou/users/apps.py
  itou/users/migrations/0006_user_first_login.py
  itou/users/migrations/0007_fill_user_first_login.py
  itou/users/models.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

changelog: From 2024-05-18 to 2024-05-24
  CHANGELOG.md
Due: none

tests: Move could_siae_be_deleted tests to a class
  tests/companies/test_import_siae_command.py
Due: ruff-format, ruff-check

changelog: From 2024-05-24 to 2024-05-30
  CHANGELOG.md
Due: none

scripts: Fix sprint duration
  CHANGELOG.md
  scripts/mkchangelog
Due: none

Add a comment to justify use of import_export
  itou/companies/admin.py
Due: ruff-format, ruff-check

Call block.super in {% block script %}
  itou/templates/companies/card.html
  itou/templates/companies/job_description_card.html
  itou/templates/companies/job_description_list.html
  itou/templates/companies/members.html
  itou/templates/companies/show_financial_annexes.html
  itou/templates/dashboard/dashboard.html
Due: djlint

changelog: From 2024-05-27 to 2024-06-02
  CHANGELOG.md
Due: none

Add an or_queries helper to or Q objects together
  itou/approvals/models.py
  itou/utils/db.py
  itou/www/approvals_views/forms.py
Due: ruff-format, ruff-check

Remove the alert for the job applications reassignment survey
  itou/templates/prescribers/members.html
Due: djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
