Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

fix: contact info ui
  itou/templates/job_seekers_views/includes/display_contact_info.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

approvals: extract PASS IAE closure eligibility into utils
  itou/approvals/models.py
  itou/approvals/utils.py
  itou/www/approvals_views/views.py
  tests/approvals/factories.py
  tests/approvals/test_utils.py
Due: ruff-format, ruff-check

approvals: extract terminate_approval clipping into utils
  itou/approvals/admin_views.py
  itou/approvals/utils.py
Due: ruff-format, ruff-check

approvals: notify job seeker when their PASS IAE is closed
  itou/approvals/notifications.py
  itou/templates/approvals/email/closed/jobseeker_body.txt
  itou/templates/approvals/email/closed/jobseeker_subject.txt
Due: ruff-format, ruff-check

utils: Introduce product_name() and the {% brand %} template tag
  config/settings/base.py
  itou/utils/brand.py
  itou/utils/templatetags/branding.py
  tests/utils/test_brand.py
Due: ruff-format, ruff-check

branding: Tokenize the brand name and mark logo swaps in Python code
  itou/api/applicants_api/views.py
  itou/api/geiq/views.py
  itou/nexus/enums.py
  itou/openid_connect/models.py
  itou/openid_connect/pro_connect/views.py
  itou/utils/templatetags/nexus.py
Due: ruff-format, ruff-check

tests: Update brand literals and snapshots for normalized spelling
  tests/approvals/__snapshots__/test_admin.ambr
  tests/approvals/__snapshots__/test_notifications.ambr
  tests/approvals/__snapshots__/test_prolongation_requests.ambr
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/companies/__snapshots__/test_management_commands.ambr
  tests/companies/test_import_siae_command.py
  tests/job_applications/__snapshots__/tests.ambr
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/ft_connect/tests.py
  tests/openid_connect/pro_connect/tests.py
  tests/siae_evaluations/__snapshots__/test_emails.ambr
  tests/siae_evaluations/__snapshots__/test_management_commands.ambr
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/users/__snapshots__/test_management_commands.ambr
  tests/users/__snapshots__/test_models.ambr
  tests/www/__snapshots__/test_layout.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/companies_views/__snapshots__/test_members_views.ambr
  tests/www/companies_views/test_members_views.py
  tests/www/dashboard/__snapshots__/test_api_token.ambr
  tests/www/dashboard/test_api_token.py
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/employee_record_views/test_create.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
  tests/www/institutions_views/__snapshots__/test_views.ambr
  tests/www/institutions_views/test_views.py
  tests/www/job_seekers_views/test_nir_modification_request.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/prescribers_views/__snapshots__/test_members.ambr
  tests/www/prescribers_views/test_members.py
  tests/www/search_views/test_services.py
  tests/www/search_views/tests.py
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/signup/__snapshots__/test_password.ambr
Due: ruff-format, ruff-check

branding: Use the contracted brand form in the demo accounts banner
  itou/templates/includes/demo_accounts.html
Due: djlint

branding: Reword the OTP intro to drop the redundant « plateforme »
  itou/templates/otp_views/enrollment_step_0_intro.html
Due: djlint

branding: Use the contracted brand form on the API index page
  itou/templates/api/index.html
Due: djlint

branding: Share a single meta description across the head tags
  itou/templates/layout/base.html
Due: djlint

branding: Tokenize the brand in the prolongation prescriber error
  itou/www/approvals_views/forms.py
  tests/www/approvals_views/__snapshots__/test_prolongation.ambr
Due: ruff-format, ruff-check

employee_record: use a filter to get the expected record
  itou/employee_record/models.py
  tests/employee_record/test_notifications.py
Due: ruff-format, ruff-check

approvals: let employers close a PASS IAE from an internal form
  itou/approvals/utils.py
  itou/templates/approvals/close.html
  itou/www/approvals_views/forms.py
  itou/www/approvals_views/urls.py
  itou/www/approvals_views/views.py
  tests/www/approvals_views/test_close.py
Due: ruff-format, ruff-check, djlint

chore: remove cancelled SPS app, keep its FT API layer
  config/settings/base.py
  config/urls.py
  itou/fixtures/django/recommendations__beneficiary.json
  itou/recommendations/_mock_data.py
  itou/recommendations/enums.py
  itou/recommendations/migrations/0002_delete_beneficiary.py
  itou/recommendations/models.py
  itou/recommendations/services.py
  itou/static/css/itou.css
  itou/static/js/recommendations_map.js
  itou/templates/recommendations/beneficiary_actions.html
  itou/templates/recommendations/beneficiary_base.html
  itou/templates/recommendations/beneficiary_profile.html
  itou/templates/recommendations/includes/list_reset_filters.html
  itou/templates/recommendations/includes/list_results.html
  itou/templates/recommendations/includes/nav_tabs.html
  itou/templates/recommendations/includes/recommendation_card.html
  itou/templates/recommendations/includes/recommendation_filters/offcanvas.html
  itou/templates/recommendations/includes/top_filters.html
  itou/templates/recommendations/list.html
  itou/utils/templatetags/nav.py
  itou/www/recommendations/__init__.py
  itou/www/recommendations/enums.py
  itou/www/recommendations/forms.py
  itou/www/recommendations/urls.py
  itou/www/recommendations/views/__init__.py
  itou/www/recommendations/views/beneficiary_views.py
  itou/www/recommendations/views/common.py
  itou/www/recommendations/views/list_views.py
  tests/recommendations/factories.py
  tests/www/recommendations/__init__.py
  tests/www/recommendations/__snapshots__/test_views.ambr
  tests/www/recommendations/conftest.py
  tests/www/recommendations/test_models.py
  tests/www/recommendations/test_nav.py
  tests/www/recommendations/test_services.py
  tests/www/recommendations/test_views.py
Due: ruff-format, ruff-check, djlint

fix(UI): preserve contracts list filters using back_url when checking out a contract
  itou/templates/geiq_assessments_views/assessment_contracts_details.html
  itou/templates/geiq_assessments_views/assessment_contracts_list.html
  itou/templates/geiq_assessments_views/includes/contracts_grant_allowance_box_for_institution.html
  itou/templates/geiq_assessments_views/includes/contracts_request_allowance_box_for_geiq.html
  itou/templates/geiq_assessments_views/includes/contracts_switch.html
  itou/www/geiq_assessments_views/views.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_both.ambr
  tests/www/geiq_assessments_views/test_views_for_both.py
Due: ruff-format, ruff-check, djlint

approvals: add demo fixtures for PASS IAE closure cases
  itou/fixtures/django/approvals__suspension.json
  itou/fixtures/django/companies__contract.json
  itou/fixtures/django/job_applications__jobapplication.json
Due: none

approvals: replace the Tally closure button with the internal form
  itou/templates/approvals/base_details.html
  itou/templates/employees/detail.html
  itou/templates/utils/templatetags/approval_box.html
  itou/utils/templatetags/approvals.py
  itou/www/approvals_views/views.py
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/test_detail.py
  tests/www/employees_views/__snapshots__/test_detail.ambr
Due: ruff-format, ruff-check, djlint

gps: Remove the app
  config/settings/base.py
  itou/gps/__init__.py
  itou/gps/apps.py
  itou/gps/migrations/0001_initial.py
  itou/gps/migrations/0002_remove_followupgroup_beneficiary_and_more.py
  itou/gps/migrations/__init__.py
  itou/gps/models.py
Due: ruff-format, ruff-check

WIP: Documenting audit logs proposition.
  docs/audit-logs.md
Due: none

Update audit trail doc after meeting.
  docs/audit-logs.md
  docs/audit-trail.md
Due: none

refactor: remove Bootstrap radio_select template override (useless since to django-bootstrap5 v26.3 update)
  itou/templates/django_bootstrap5/widgets/radio_select.html
  tests/test_consistency.py
  tests/www/approvals_views/__snapshots__/test_prolongation.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/test_prolongation.py
Due: ruff-format, ruff-check, djlint

refactor(metabase): extract duplicated transition-timestamp subquery logic
  itou/metabase/management/commands/populate_metabase_emplois.py
Due: ruff-format, ruff-check

feat(metabase): add per-state first transition delay columns to candidatures table
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_applications.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

perf(metabase): merge per-state transition timestamp subqueries into one JSON aggregate
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_applications.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

pre_login: Change wording of "redirected to new domain" info banner
  itou/templates/account/pre_login.html
  tests/www/login/tests.py
Due: ruff-format, ruff-check, djlint

FIX Tally link in tarteaucitron.
  itou/templates/includes/tarteaucitron_matomo.html
Due: djlint

dummy commit
  README.md
Due: none

templates: prepare orientation template
  itou/templates/insertion/includes/orientation_sidebar_for_sender.html
  itou/templates/insertion/orientations/details.html
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: djlint

insertion_views: rename orientation_details_for_sender
  itou/templates/insertion/includes/orientations/list_orientations.html
  itou/templates/insertion/orientations/details.html
  itou/utils/templatetags/nav.py
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion_views: allow anonymous with magic link to view orientation details
  itou/insertion/admin.py
  itou/insertion/migrations/0014_orientationprocesslink.py
  itou/insertion/models.py
  itou/templates/insertion/includes/orientation_sidebar_for_service_provider.html
  itou/templates/insertion/orientations/details.html
  itou/templates/layout/base.html
  itou/users/management/commands/sync_group_and_perms.py
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/insertion/factories.py
  tests/insertion/test_orientation.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

admin: allow manual creation and deletion of process orientation magic link
  itou/insertion/admin.py
  itou/templates/admin/insertion/change_orientation_form.html
  itou/users/management/commands/sync_group_and_perms.py
  tests/insertion/test_admin.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
Due: ruff-format, ruff-check, djlint

insertion: add new orientation status and transition: processing
  itou/insertion/enums.py
  itou/insertion/migrations/0012_alter_orientation_status_orientationtransitionlog.py
  itou/insertion/models.py
  itou/utils/templatetags/badges.py
  itou/www/insertion_views/views.py
  tests/insertion/test_orientation.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion_views: allow service providers to accept an orientation
  itou/templates/insertion/includes/orientations/service_provider_actions.html
  itou/templates/insertion/orientations/details.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion_views: no need for unique id in orientation status badge
  itou/utils/templatetags/badges.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check
