Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

companies: Add command to disable spontaneous applications after 90 days
  config/settings/base.py
  itou/companies/management/commands/deactivate_spontaneous_jobapps.py
  tests/companies/__snapshots__/test_management_commands.ambr
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check

companies: Print number of job descriptions left to deactivate in log
  itou/companies/management/commands/deactivate_old_job_descriptions.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check

clever: Add cron task to disable spontaneous job applications in inactive companies
  clevercloud/cron.json
Due: none

companies: Add mail template for deactivating spontaneous job applications
  itou/companies/notifications.py
  itou/templates/companies/email/spontaneous_jobapps_deactivated_body.txt
  itou/templates/companies/email/spontaneous_jobapps_deactivated_subject.txt
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
Due: ruff-format, ruff-check

companies: Replace hardcoded value with `DEACTIVATION_DELAY` setting
  config/settings/base.py
  itou/companies/management/commands/deactivate_old_job_descriptions.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check

openid_connect: Remove comment
  itou/openid_connect/models.py
Due: ruff-format, ruff-check

pro_connect: Improve failed login tests
  tests/openid_connect/pro_connect/testing.py
  tests/openid_connect/pro_connect/tests.py
  tests/www/invitations_views/test_generic.py
Due: ruff-format, ruff-check

pro_connect: Test setupclass returns an instance when used as context manager
  tests/conftest.py
  tests/openid_connect/pro_connect/testing.py
Due: ruff-format, ruff-check

pro_connect: Reuse id_token in test mocked logout flow
  tests/openid_connect/pro_connect/testing.py
Due: ruff-format, ruff-check

pro_connect: Check nonce in login callback
  itou/openid_connect/pro_connect/views.py
  tests/openid_connect/pro_connect/testing.py
  tests/openid_connect/pro_connect/tests.py
Due: ruff-format, ruff-check

pro_connect: Remove session in authorize view
  itou/openid_connect/pro_connect/views.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/pe_connect/tests.py
  tests/openid_connect/pro_connect/testing.py
  tests/openid_connect/pro_connect/tests.py
Due: ruff-format, ruff-check

pe_connect: Don't store state as we don't use it
  itou/openid_connect/pe_connect/constants.py
  itou/openid_connect/pe_connect/views.py
Due: ruff-format, ruff-check

pro_connect: Check state before calling token endpoint
  itou/openid_connect/pro_connect/views.py
  tests/openid_connect/pro_connect/testing.py
  tests/openid_connect/pro_connect/tests.py
Due: ruff-format, ruff-check

pe_connect: Improve user_info timeout tests
  tests/openid_connect/pe_connect/tests.py
Due: ruff-format, ruff-check

pe_connect: Check nonce in oidc callback
  itou/openid_connect/pe_connect/views.py
  tests/openid_connect/pe_connect/tests.py
Due: ruff-format, ruff-check

users: drop validate_constraints call from JobSeekerProfile.save
  itou/users/models.py
  itou/www/job_seekers_views/views.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

job_seeker_profile: move validate_constraints further down in save
  itou/users/models.py
Due: ruff-format, ruff-check

metabase: reduce job seekers table filling batch size
  itou/metabase/management/commands/populate_metabase_emplois.py
Due: ruff-format, ruff-check

Remove livestorm from partners URLs and consent
  config/settings/base.py
  itou/templates/includes/tarteaucitron_matomo.html
  itou/templates/static/legal/privacy.html
Due: ruff-format, ruff-check, djlint

ft_connect: Rename pe_connect app
  config/settings/base.py
  config/urls.py
  itou/external_data/apis/ft_connect.py
  itou/external_data/tasks.py
  itou/openid_connect/ft_connect/__init__.py
  itou/openid_connect/ft_connect/apps.py
  itou/openid_connect/ft_connect/constants.py
  itou/openid_connect/ft_connect/migrations/0001_initial.py
  itou/openid_connect/ft_connect/migrations/0002_francetravailconnectstate.py
  itou/openid_connect/ft_connect/migrations/__init__.py
  itou/openid_connect/ft_connect/models.py
  itou/openid_connect/ft_connect/urls.py
  itou/openid_connect/ft_connect/views.py
  itou/openid_connect/management/commands/cleanup_oidc_states.py
  itou/openid_connect/pe_connect/apps.py
  itou/openid_connect/pe_connect/migrations/0002_poleemploiconnectstate_nonce.py
  itou/templates/signup/includes/peamu_button.html
  itou/users/adapter.py
  tests/external_data/tests.py
  tests/openid_connect/ft_connect/__init__.py
  tests/openid_connect/ft_connect/__snapshots__/tests.ambr
  tests/openid_connect/ft_connect/tests.py
  tests/openid_connect/test_cleanup_oidc_states.py
  tests/www/login/tests.py
Due: ruff-format, ruff-check, djlint

A commit
  Makefile
Due: none

PoC: Show homepage external content in an iframe
  config/settings/base.py
  itou/templates/search/siaes_search_home.html
Due: ruff-format, ruff-check, djlint

metabase: create and update mobilization_events in new metabase schema
  itou/metabase/db.py
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/mobilization_events.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

metabase: Fix populate_metabase_emploi
  itou/metabase/db.py
  tests/metabase/conftest.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

changelog: From 2026-06-29 to 2026-07-05
  CHANGELOG.md
Due: none

fix: flaky service perimeter ordering test
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

revert: "tests: Fix flaky test"
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
