Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

approvals: simplify MAX_CUMULATIVE_DURATION
  itou/approvals/models.py
  tests/approvals/tests.py
Due: ruff-format, ruff-check

approvals: drop SENIOR_CDI/COMPLETE_TRAINING's max_cumulative_duration
  itou/approvals/models.py
  tests/approvals/tests.py
Due: ruff-format, ruff-check

approvals: improve prolongation declaration form
  itou/approvals/models.py
  itou/templates/approvals/includes/prolongation_declaration_form.html
  itou/templates/django_bootstrap5/widgets/radio_select.html
  itou/utils/widgets.py
  itou/www/approvals_views/forms.py
  tests/www/approvals_views/__snapshots__/test_prolongation.ambr
  tests/www/approvals_views/test_prolongation.py
Due: ruff-format, ruff-check, djlint

tests: add auto-prescription export
  tests/job_applications/tests.py
Due: ruff-format, ruff-check

tests: add test on streaming response
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check

job_applications: change auto-prescription label in export
  itou/job_applications/export.py
  tests/job_applications/tests.py
Due: ruff-format, ruff-check

approvals: merge PROLONGATION_RULES & MAX_CUMULATIVE_DURATION info
  itou/approvals/models.py
  itou/www/approvals_views/forms.py
  tests/approvals/tests.py
Due: ruff-format, ruff-check

approvals: compute cumulative duration for all reason
  itou/approvals/models.py
  tests/approvals/tests.py
Due: ruff-format, ruff-check

job_seeker: consistently show the last name in UPPERCASE
  itou/templates/apply/includes/job_seeker_info.html
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

approvals: remove back button on declaration form
  itou/templates/approvals/includes/prolongation_declaration_form.html
Due: djlint

www.approvals_views: propagate back_url to htmx
  itou/www/approvals_views/forms.py
  itou/www/approvals_views/views.py
  tests/www/approvals_views/__snapshots__/test_prolongation.ambr
  tests/www/approvals_views/test_prolongation.py
Due: ruff-format, ruff-check

admin: make ProlongationRequest.status readonly
  itou/approvals/admin.py
Due: ruff-format, ruff-check

tests: split massive dashboard/tests.py file into smaller ones
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/dashboard/test_activate_ic_account.py
  tests/www/dashboard/test_api_token.py
  tests/www/dashboard/test_dashboard.py
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_email.py
  tests/www/dashboard/test_edit_user_info.py
  tests/www/dashboard/test_edit_user_notifications.py
  tests/www/dashboard/test_switch_organization.py
  tests/www/dashboard/tests.py
Due: ruff-format, ruff-check

scripts: refactor mkchangelog
  scripts/mkchangelog
Due: none

scripts: add tech label to changelog
  .github/workflows/require-labels.yml
  scripts/mkchangelog
Due: none

fix: handle same users members of several structures in send_check_authorized_members_email
  itou/users/management/commands/send_check_authorized_members_email.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

fix flaky test
  itou/users/management/commands/send_check_authorized_members_email.py
Due: ruff-format, ruff-check

www.employee_record: add a prefix for add employee record wizard
  itou/www/employee_record_views/views.py
Due: ruff-format, ruff-check

www.employee_record_views: add prefix to wizard
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/test_add.py
Due: ruff-format, ruff-check

tests: fix flaky test
  tests/job_applications/tests.py
Due: ruff-format, ruff-check

changelog: From 2024-07-01 to 2024-07-07
  CHANGELOG.md
Due: none

job_application: Display disabled "cancel" button
  itou/templates/admin/job_applications/jobapplication_change_form.html
Due: djlint

job_applications: Add a consistency check on the diagnosis when saving a job application
  itou/job_applications/admin_forms.py
  tests/job_applications/test_admin.py
  tests/job_applications/tests.py
Due: ruff-format, ruff-check

job_applications: Allow staff users to choose the diagnosis in the admin
  itou/job_applications/admin.py
  itou/job_applications/models.py
  itou/templates/admin/job_applications/jobapplication_change_form.html
  tests/job_applications/__snapshots__/test_admin.ambr
  tests/job_applications/test_admin.py
Due: ruff-format, ruff-check, djlint

job_applications: Add employee records to job app page
  itou/job_applications/admin.py
  tests/job_applications/test_admin.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
