Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

Store results returned from the API Particulier's RSA endpoint
  itou/eligibility/models/common.py
  tests/eligibility/test_iae.py
Due: ruff-format, ruff-check

Update model to store API Particulier's result
  itou/eligibility/migrations/0007_geiqselectedadministrativecriteria_certification_period_and_more.py
  itou/eligibility/models/common.py
  itou/eligibility/models/geiq.py
  itou/eligibility/models/iae.py
Due: ruff-format, ruff-check

fix(OIDConnectUserData): mutable class property
  itou/openid_connect/france_connect/models.py
  itou/openid_connect/inclusion_connect/models.py
  itou/openid_connect/models.py
  itou/openid_connect/pe_connect/models.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/pe_connect/tests.py
Due: ruff-format, ruff-check

feat: .dropup menu position in offcanvas nav
  itou/templates/layout/_header.html
  itou/templates/layout/_header_authenticated.html
  itou/utils/staticfiles.py
  tests/www/__snapshots__/test_layout.ambr
Due: ruff-format, ruff-check, djlint

admin: automatically call inconsistency check
  itou/utils/admin.py
  tests/job_applications/test_admin.py
Due: ruff-format, ruff-check

admin: Allow blank=True for SelectedAdministrativeCriteria fields
  itou/eligibility/migrations/0007_geiqselectedadministrativecriteria_certification_period_and_more.py
  itou/eligibility/models/common.py
Due: ruff-format, ruff-check

OIDC: Prevent SSO overwriting
  itou/openid_connect/models.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/pe_connect/tests.py
Due: ruff-format, ruff-check

users: Sendemails to Brevo instead of Mailjet
  clevercloud/cron.json
  config/settings/base.py
  config/settings/test.py
  itou/users/management/commands/new_users_to_brevo.py
  itou/users/management/commands/new_users_to_mailjet.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

inclusion_connect: Improve FT agent login
  itou/openid_connect/inclusion_connect/models.py
  itou/openid_connect/inclusion_connect/views.py
  tests/openid_connect/inclusion_connect/tests.py
Due: ruff-format, ruff-check

feat(forms): markdown editor for long text inputs
  config/settings/base.py
  itou/static/js/easymde_config.js
  itou/templates/companies/card.html
  itou/templates/companies/create_siae.html
  itou/templates/companies/edit_job_description_details.html
  itou/templates/companies/edit_siae_description.html
  itou/templates/companies/edit_siae_preview.html
  itou/templates/companies/includes/_job_description_details.html
  itou/templates/prescribers/card.html
  itou/templates/prescribers/edit_organization.html
  itou/utils/urls.py
  itou/utils/widgets.py
  itou/www/companies_views/forms.py
  itou/www/prescribers_views/forms.py
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
  tests/www/companies_views/test_card_views.py
  tests/www/companies_views/test_edit_company_views.py
  tests/www/companies_views/test_job_description_views.py
  tests/www/prescribers_views/test_edit.py
Due: ruff-format, ruff-check, djlint

tests.www.apply: Use `assertSnapshotQueries()` in `test_list_for_siae.py`
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check

tests: fix unstable annotation ordering
  tests/conftest.py
Due: ruff-format, ruff-check

tests: add more application to export test
  tests/utils/test.py
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check

job_applications: hide personal informations in export
  itou/job_applications/export.py
  itou/www/apply/views/list_views.py
  tests/job_applications/tests.py
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check

metabase: Remove `insee_codes_vs_post_codes`
  clevercloud/crons/populate_metabase_emplois.sh
  itou/metabase/management/commands/populate_metabase_emplois.py
Due: ruff-format, ruff-check

metabase.populate_metabase.emplois: Use `insee_city` if available
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/utils.py
Due: ruff-format, ruff-check

metabase: Clean unneeded or duplicate unversioned tables
  itou/metabase/db.py
Due: ruff-format, ruff-check

fix(rdvi): update invite body payload structure
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check

fix(rdvi): use the reason category slug instead of its name when submitting invite
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check

suspension: add new approval box in suspend processes
  itou/templates/approvals/suspend.html
  itou/templates/approvals/suspension_action_choice.html
  itou/templates/approvals/suspension_delete.html
  itou/templates/approvals/suspension_update.html
  itou/templates/approvals/suspension_update_enddate.html
  itou/www/approvals_views/views.py
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
Due: ruff-format, ruff-check, djlint

prolongation: add new approval box in declare_prolongation process
  itou/templates/approvals/declare_prolongation.html
Due: djlint

feat: update theme to v2.2.6
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

tests: add sql queries snapshot for job_seeker's detail view
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check

job_seeker_views: reduce query count
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check

approvals: take advantage of suspension_set when available
  itou/approvals/models.py
  itou/templates/approvals/includes/box.html
  tests/approvals/tests.py
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
Due: ruff-format, ruff-check, djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
