Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

Identify stalled job seekers in job_seekers_views
  itou/templates/job_seekers_views/includes/job_seekers_filters/top_filters.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/list.html
  itou/www/job_seekers_views/forms.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

apis: Change data⋅inclusion themes
  itou/utils/apis/data_inclusion.py
  tests/utils/apis/test_data_inclusion_api.py
Due: ruff-format, ruff-check

www.dashboard: Display the number of stalled job seekers
  itou/templates/dashboard/includes/prescriber_job_seekers_card.html
  itou/users/models.py
  itou/www/dashboard/views.py
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check, djlint

Require uv for development
  .github/workflows/ci.yml
  CHANGELOG_breaking_changes.md
  Makefile
  README.md
  pyproject.toml
  requirements/dev.txt
  requirements/test.in
  requirements/test.txt
Due: none

rdvi: fix appointment html syntax
  itou/templates/apply/includes/next_appointment.html
Due: djlint

rdvi: add appointment details for prescribers
  itou/www/apply/views/list_views.py
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_detail_rdv_insertion.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_detail_rdv_insertion.py
  tests/www/apply/test_list_rdv_insertion.py
Due: ruff-format, ruff-check

rdvi: humanize tooltip content
  itou/templates/apply/includes/next_appointment.html
  tests/www/apply/test_list_rdv_insertion.py
Due: ruff-format, ruff-check, djlint

www.stats: Remove TB 394 now that is merged into TB 185
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/views.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
Due: ruff-format, ruff-check, djlint

job_applications: Allow cancellation if the employee record wasn't sent
  itou/employee_record/models.py
  itou/job_applications/models.py
  tests/employee_record/factories.py
  tests/job_applications/tests.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

maintenance: add banner to inform about future maintenance
  itou/templates/layout/base.html
Due: djlint

maintenance: remove banner informing about maintenance
  itou/templates/layout/base.html
Due: djlint

WIP
  itou/templates/dashboard/includes/stats/dgefp.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/views.py
Due: ruff-format, ruff-check, djlint

www.dashboard.stats: Remove the "new" badge from everywhere
  itou/templates/dashboard/includes/stats.html
  itou/templates/dashboard/includes/stats_new_badge.html
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
Due: djlint

www.dashboard.stats: Use new layout for some users typology
  itou/templates/dashboard/dashboard_stats.html
  itou/templates/dashboard/includes/stats.html
  itou/templates/dashboard/includes/stats/_prescriber_public_links.html
  itou/templates/dashboard/includes/stats/employer.html
  itou/templates/dashboard/includes/stats/prescriber.html
  itou/templates/dashboard/includes/stats/prescriber_dept.html
  itou/templates/dashboard/includes/stats/prescriber_ft.html
  itou/utils/templatetags/pilotage.py
  itou/www/dashboard/views.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
  tests/www/dashboard/test_dashboard_stats.py
Due: ruff-format, ruff-check, djlint

www.dashboard.stats: Use new layout for DGEFP
  itou/templates/dashboard/dashboard_stats.html
  itou/templates/dashboard/includes/stats.html
  itou/templates/dashboard/includes/stats/_institution_kpi.html
  itou/templates/dashboard/includes/stats/dgefp.html
  itou/templates/dashboard/includes/stats_kpi_labor_inspector_iae.html
  itou/www/dashboard/views.py
Due: ruff-format, ruff-check, djlint

apply: Fix test
  tests/www/apply/test_submit_from_job_seekers_list.py
Due: ruff-format, ruff-check

apply: Prepare application template
  itou/templates/apply/includes/submit_new_check_needed.html
  itou/templates/apply/includes/submit_title_content.html
  itou/templates/apply/submit/application/base.html
Due: djlint

apply: refactor eligibility step
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
  tests/www/apply/test_submit_from_job_seekers_list.py
Due: ruff-format, ruff-check

eligibility: improve view
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/www/eligibility_views/urls.py
  itou/www/eligibility_views/views.py
  tests/www/eligibility_views/test_views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check, djlint

Clean old code
  itou/utils/session.py
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

apply: Add snapshots on eligibility step
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/apply/test_submit.py
  tests/www/apply/test_submit_from_job_seekers_list.py
Due: ruff-format, ruff-check

apply: Use new eligibility view in apply process
  itou/templates/eligibility/update.html
  itou/www/apply/views/submit_views.py
  itou/www/eligibility_views/urls.py
  itou/www/eligibility_views/views.py
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/apply/test_submit.py
  tests/www/apply/test_submit_from_job_seekers_list.py
  tests/www/eligibility_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check, djlint

gps: Improve group list view snapshot
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check

gps: Add query params in tally form url
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check

gps: remove add participant tally link
  itou/templates/gps/group_list.html
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

www.stats: Remove TB 298 now that is merged into TB 295
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/views.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
Due: ruff-format, ruff-check, djlint

www.stats: Remove TB 265 now that is merged into TB 267
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/views.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
Due: ruff-format, ruff-check, djlint

gps: Remove old advisor import management command
  clevercloud/cron.json
  itou/gps/management/commands/import_advisor_information.py
  itou/gps/utils.py
  itou/users/admin.py
  itou/users/models.py
  tests/gps/factories.py
  tests/gps/test.py
  tests/gps/test_management_commands.py
  tests/users/factories.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check
