Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

files: Remove delete_at field for real
  itou/files/migrations/0011_remove_file_deleted_at_for_real.py
Due: ruff-format, ruff-check

organizations: Use membership active queryset method
  itou/api/c4_api/views.py
  itou/companies/models.py
  itou/job_applications/admin_forms.py
  itou/job_applications/models.py
  itou/users/management/commands/extract_c2_users.py
  itou/users/models.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/search/__snapshots__/tests.ambr
Due: ruff-format, ruff-check

itou_staff_views: Handle FollowUpGroupMembership in merge users view
  itou/www/itou_staff_views/merge_utils.py
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check

fix: update illustrations in search home template
  itou/static/img/home/illustration-01.png
  itou/static/img/home/illustration-02.png
  itou/templates/search/siaes_search_home.html
Due: djlint

utils.triggers: Allow passing extra context to triggers
  config/settings/base.py
  itou/companies/migrations/0024_add_context_to_triggers.py
  itou/users/migrations/0034_add_context_to_triggers.py
  itou/utils/command.py
  itou/utils/triggers/__init__.py
  itou/utils/triggers/middleware.py
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/companies/test_admin.py
  tests/companies/test_import_siae_command.py
  tests/companies/test_models.py
  tests/employee_record/test_models.py
  tests/metabase/management/test_populate_metabase_emplois.py
  tests/siae_evaluations/test_admin.py
  tests/users/test_admin.py
  tests/users/test_models.py
  tests/utils/test.py
  tests/utils/test_triggers.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employee_record_views/test_list.py
  tests/www/employee_record_views/test_summary.py
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
Due: ruff-format, ruff-check

utils.triggers: Convert module to package
  itou/utils/triggers/__init__.py
Due: ruff-format, ruff-check

companies: Deactivate old JobDescriptions after 1 year
  itou/companies/management/commands/deactivate_old_job_descriptions.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check

apply: Improve disabled batch accept button tooltip
  itou/templates/apply/includes/siae_batch_actions.html
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

Remove unused methods from OrganizationAbstract
  itou/common_apps/organizations/models.py
  tests/companies/test_models.py
Due: ruff-format, ruff-check

GEIQ assessments: Fix export of empty dates
  itou/www/geiq_assessments_views/export.py
  tests/www/geiq_assessments_views/test_views_for_both.py
Due: ruff-format, ruff-check

Add `MembershipQuerySet.active()` in more places
  itou/common_apps/organizations/admin.py
  itou/common_apps/organizations/views.py
  itou/templates/job_seekers_views/list.html
  itou/utils/templatetags/nav.py
  itou/www/gps/views.py
  itou/www/job_seekers_views/views.py
  itou/www/signup/forms.py
  tests/gps/__snapshots__/test_views.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check, djlint

model
  itou/job_applications/models.py
Due: ruff-format, ruff-check

Add strictness to xlsx_streaming with patchy
  tests/conftest.py
Due: ruff-format, ruff-check

feat: add introJS for siae accept action
  itou/templates/apply/includes/siae_batch_actions.html
  itou/templates/apply/list_for_siae.html
Due: djlint

tests: Setup the bucket only once
  itou/utils/storage/s3.py
  scripts/delete-bucket
  tests/conftest.py
  tests/utils/test_s3.py
Due: ruff-format, ruff-check

tests: Move `default_storage_ls_files()` to the appropriate module
  tests/communications/test_admin.py
  tests/files/tests.py
  tests/utils/test.py
  tests/utils/test_s3.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

fixup! www: Allow prescribers to override a jobseeker `is_stalled` flag
  itou/metabase/management/commands/metabase_data.py
  tests/metabase/management/__snapshots__/test_metabase_data.ambr
  tests/metabase/management/test_metabase_data.py
Due: ruff-format, ruff-check

www: Allow prescribers to override a jobseeker `is_stalled` flag
  itou/metabase/management/commands/metabase_data.py
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/list.html
  itou/users/management/commands/send_users_to_brevo.py
  itou/users/migrations/0035_add_is_not_stalled_anymore_field.py
  itou/users/models.py
  itou/www/job_seekers_views/forms.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records_updates.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/dashboard/test_dashboard.py
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
  tests/www/job_seekers_views/test_switch_stalled_status.py
Due: ruff-format, ruff-check, djlint

fixup! www: Allow prescribers to override a jobseeker `is_stalled` flag
  itou/templates/job_seekers_views/includes/list_results.html
  itou/users/management/commands/send_users_to_brevo.py
  itou/users/migrations/0036_add_is_considered_stalled_field.py
  itou/users/models.py
  itou/www/job_seekers_views/forms.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records_updates.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_switch_stalled_status.py
Due: ruff-format, ruff-check, djlint

fixup! www: Allow prescribers to override a jobseeker `is_stalled` flag
  itou/templates/job_seekers_views/includes/list_results.html
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check, djlint

fixup! www: Allow prescribers to override a jobseeker `is_stalled` flag
  itou/users/migrations/0035_add_is_not_stalled_anymore_field.py
  itou/users/models.py
Due: ruff-format, ruff-check

apply: Allow to batch unarchive job applications
  itou/templates/apply/includes/siae_batch_actions.html
  itou/templates/apply/includes/siae_batch_actions_modals.html
  itou/www/apply/urls.py
  itou/www/apply/views/batch_views.py
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_batch_views.py
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

apply: Improve batch archive tooltip
  itou/templates/apply/includes/siae_batch_actions.html
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

apply: Hide batch transfer for mono organization users
  itou/templates/apply/includes/siae_batch_actions.html
  itou/www/apply/views/list_views.py
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

[Files] Replace user-managed names by UUID
  itou/files/models.py
  itou/www/apply/views/submit_views.py
  itou/www/approvals_views/views.py
  itou/www/siae_evaluations_views/views.py
  tests/files/tests.py
  tests/www/apply/test_process_external_transfer.py
  tests/www/apply/test_submit.py
  tests/www/approvals_views/test_prolongation.py
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: ruff-format, ruff-check

Use a file wrapper to prepare for the upcoming store_file function
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check

[Files] Store GEIQ assessments' file under a directory
  itou/www/geiq_assessments_views/views.py
  tests/www/geiq_assessments_views/test_views_for_geiq.py
Due: ruff-format, ruff-check

wip
  itou/job_applications/migrations/0021_jobapplicationcomment.py
  itou/job_applications/migrations/0022_rename_jobapplicationcomment_jobapplicationthreadedcomment.py
  itou/job_applications/models.py
  itou/templates/apply/includes/job_application_comments_box.html
  itou/templates/apply/includes/job_application_comments_tab.html
  itou/templates/apply/process_details_company.html
  itou/www/apply/forms.py
  itou/www/apply/urls.py
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check, djlint

BasePoleEmploiAPIClient to prepare for the upcoming realm Agent
  itou/utils/apis/pole_emploi.py
Due: ruff-format, ruff-check

WIP - royaume agent
  itou/utils/apis/pole_emploi.py
  tests/utils/apis/test_pole_emploi_api.py
Due: ruff-format, ruff-check

organization: Add snapshot to members lists tests
  tests/www/companies_views/__snapshots__/test_members_views.ambr
  tests/www/companies_views/test_members_views.py
  tests/www/institutions_views/__snapshots__/test_views.ambr
  tests/www/institutions_views/test_views.py
  tests/www/prescribers_views/__snapshots__/test_members.ambr
  tests/www/prescribers_views/test_members.py
Due: ruff-format, ruff-check
