Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

job_description.is_popular: Fix hardcoded threshold
  itou/templates/apply/submit/application/jobs.html
Due: djlint

job_seeker_views: Split route to fix nav-tab
  itou/templates/job_seekers_views/job_applications.html
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

job_seeker_views: Fix active_nav_tab language
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/nav_tabs.html
  itou/templates/job_seekers_views/job_applications.html
Due: djlint

job_seekers_views: Fix aria-selected Co-authored-by: leo-naeka <leo@naeka.fr>
  itou/templates/job_seekers_views/job_applications.html
Due: djlint

job_seekers_views: Use partial for nav-tabs
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/nav_tabs.html
  itou/templates/job_seekers_views/job_applications.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

job_description.is_popular: Use batch in test
  tests/companies/test_models.py
Due: ruff-format, ruff-check

Remove unused constant ITOU_EMAIL_PROLONGATION
  itou/utils/constants.py
Due: ruff-format, ruff-check

Clone allauth email data into our own model
  config/settings/base.py
  itou/emails/admin.py
  itou/emails/managers.py
  itou/emails/migrations/0002_remove_django_allauth.py
  itou/emails/models.py
Due: ruff-format, ruff-check

Add used field to EmailConfirmation
  itou/emails/migrations/0003_emailconfirmation_used.py
  itou/emails/models.py
Due: ruff-format, ruff-check

job_description.is_popular: Reuse threshold_exceeded in test
  tests/companies/test_models.py
Due: ruff-format, ruff-check

job_description.is_popular: Add test
  tests/companies/test_models.py
Due: ruff-format, ruff-check

employment: add EmploymentContract model
  config/settings/base.py
  itou/employment/__init__.py
  itou/employment/migrations/0001_initial.py
  itou/employment/migrations/__init__.py
  itou/employment/models.py
  tests/users/test_admin.py
Due: ruff-format, ruff-check

WIP migrations to create contracts
  itou/employment/migrations/0002_create_employment_contracts.py
Due: ruff-format, ruff-check

create and delete contracts on accept/cancel transitions
  itou/job_applications/models.py
Due: ruff-format, ruff-check

DO NOT MERGE: add export scripts for sanctionned SIAE
  scripts/export_infos_sanctions.py
Due: ruff-format, ruff-check

www: Improve gps autocomplete display
  itou/static/js/gps.js
  itou/www/autocomplete/views.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

apply: Fix accept hiring modal
  itou/templates/apply/includes/accept_section.html
Due: djlint

replace user.id with user.public_id in merge_users views
  itou/www/itou_staff_views/urls.py
  itou/www/itou_staff_views/views.py
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check

gps: Allow to search FollowUpGroups per beneficiary name and email
  itou/gps/admin.py
Due: ruff-format, ruff-check

fix: tooltips title attribute
  itou/templates/apply/includes/buttons/new_diagnosis.html
  itou/templates/apply/includes/job_seeker_info.html
  itou/templates/apply/includes/transfer_job_application.html
  itou/templates/apply/process_refuse.html
  itou/templates/approvals/details.html
  itou/templates/approvals/includes/box.html
  itou/templates/approvals/includes/list_card.html
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/approvals/prolongation_requests/show.html
  itou/templates/dashboard/includes/dashboard_title_content.html
  itou/templates/dashboard/includes/employer_job_applications_card.html
  itou/templates/geiq/assessment_info_for_employer.html
  itou/templates/includes/members.html
  itou/templates/job_seekers_views/includes/list_results.html
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_submit_from_job_seekers_list.py
  tests/www/approvals_views/__snapshots__/test_approval_box.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/geiq_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

fix: remove tooltip attributes on admin template
  itou/templates/admin/job_applications/jobapplication_change_form.html
Due: djlint

fix: eligibility forms ui
  itou/templates/apply/includes/geiq/legislative_text_link.html
  itou/templates/apply/submit/application/eligibility.html
  itou/templates/apply/submit/application/geiq_eligibility.html
  itou/templates/approvals/prolongation_requests/deny.html
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
Due: djlint

Add utility get_confirmation_url function to EmailAddress
  itou/emails/models.py
Due: ruff-format, ruff-check

Merge EmailConfirmation and EmailConfirmationHMAC models
  itou/emails/models.py
Due: ruff-format, ruff-check

replace import relative paths
  itou/www/employee_record_views/views.py
Due: ruff-format, ruff-check

replace imports relative path in subdirs
  itou/analytics/admin.py
  itou/analytics/api_usage.py
  itou/analytics/approvals.py
  itou/analytics/employee_record.py
  itou/analytics/tech.py
  itou/analytics/users.py
  itou/api/auth.py
  itou/approvals/models.py
  itou/communications/apps.py
  itou/geiq/admin.py
  itou/geiq/sync.py
  itou/job_applications/models.py
  itou/openid_connect/france_connect/urls.py
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/inclusion_connect/urls.py
  itou/openid_connect/inclusion_connect/views.py
  itou/openid_connect/pe_connect/urls.py
  itou/openid_connect/pe_connect/views.py
  itou/openid_connect/pro_connect/urls.py
  itou/openid_connect/pro_connect/views.py
  itou/rdv_insertion/admin.py
  itou/status/urls.py
  itou/status/views.py
  itou/utils/hijack/urls.py
  itou/utils/session.py
  itou/www/job_seekers_views/urls.py
  itou/www/stats/views.py
  tests/api/siae_api/tests.py
Due: ruff-format, ruff-check

update pyproject.toml, setup ruff tidy import params, as @xavfernandez's suggestion
  pyproject.toml
Due: none

Fix base model changes in EmailConfirmation migration
  itou/emails/migrations/0002_remove_django_allauth.py
Due: ruff-format, ruff-check

Add primary field to EmailAddress
  itou/emails/migrations/0002_remove_django_allauth.py
  itou/emails/models.py
Due: ruff-format, ruff-check

Reintroduce EmailAddress primary usage
  itou/emails/admin.py
  itou/emails/models.py
Due: ruff-format, ruff-check

If your PR fixes a bug, it should be labelled as it
  .github/pull_request_template.md
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
