Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

fixtures: stop exporting automatic fields into fixtures
  config/settings/base.py
  itou/fixtures/django/dumpdata.sh
  itou/utils/json_no_auto_fields_serializer.py
Due: ruff-format, ruff-check

Fix dumpdata.sh to follow .editorconfig
  itou/fixtures/django/dumpdata.sh
Due: none

Update gps fixtures followup group membership started_at
  itou/fixtures/django/27_follow_up_group_memberships.json
Due: none

gps: Fix use of is_active
  itou/gps/admin.py
  itou/gps/migrations/0014_fill_memberships_ended_at.py
  itou/gps/models.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_admin.py
  tests/gps/test_models.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

gps: Refactor tests
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check

test: slippers
  config/settings/base.py
  itou/templates/components.yaml
  itou/templates/components/c-badge.html
  itou/templates/components/c-info.html
  itou/templates/components/c-title.html
  itou/templates/static/accessibility.html
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: ruff-format, ruff-check, djlint

test: django components
  components/calendar/calendar.html
  components/calendar/calendar.py
  config/settings/base.py
  itou/templates/static/accessibility.html
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: ruff-format, ruff-check, djlint

feat: update theme itou to version 2.7.0
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

Replace company SIAE constants with methods on CompanyKind
  itou/approvals/notifications.py
  itou/approvals/utils.py
  itou/companies/enums.py
  itou/companies/management/commands/_import_siae/convention.py
  itou/companies/management/commands/_import_siae/siae.py
  itou/companies/management/commands/_import_siae/vue_af.py
  itou/companies/models.py
  itou/eligibility/models/iae.py
  itou/job_applications/management/commands/display_missing_eligibility_diagnoses.py
  itou/job_applications/models.py
  itou/users/management/commands/extract_c2_users.py
  itou/users/management/commands/new_users_to_brevo.py
  itou/www/apply/forms.py
  itou/www/apply/views/list_views.py
  tests/approvals/factories.py
  tests/companies/factories.py
  tests/companies/test_enums.py
  tests/users/test_management_commands.py
  tests/www/apply/test_forms.py
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

gps: Add new group details view - participant tab
  itou/templates/gps/group_memberships.html
  itou/templates/gps/includes/badge_ended_membership.html
  itou/templates/gps/includes/group_members.html
  itou/templates/gps/includes/memberships_results.html
  itou/templates/gps/user_details.html
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: Add new group details view - beneficiary tab
  itou/templates/gps/group_beneficiary.html
  itou/templates/gps/group_memberships.html
  itou/templates/gps/includes/group_details_tabs.html
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: Move referent badge to another template
  itou/templates/gps/includes/badge_is_referent_membership.html
  itou/templates/gps/includes/group_members.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

gps: Refactor new group detail views
  itou/www/gps/views.py
Due: ruff-format, ruff-check

gps: Add new group details view - contribution tab
  itou/templates/gps/group_contribution.html
  itou/templates/gps/includes/badge_ongoing_membership.html
  itou/templates/gps/includes/group_details_tabs.html
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

employee_record: fix typo
  itou/templates/employee_record/includes/_status.html
Due: djlint

test: django components
  components/badge/badge.html
  components/badge/badge.py
  components/info/info.html
  components/info/info.py
  components/title/title.html
  components/title/title.py
  config/settings/base.py
  itou/templates/static/accessibility.html
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: ruff-format, ruff-check, djlint

gps: Add new group details view - contribution edition -- WIP
  itou/templates/gps/group_contribution.html
  itou/templates/gps/group_edition.html
  itou/www/gps/forms.py
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check, djlint

gps: Remove old details view
  itou/gps/models.py
  itou/templates/gps/user_details.html
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

api: implement service account class used as anonymous user for DepartmentTokenAuthentication
  itou/api/auth.py
Due: ruff-format, ruff-check

factories: add JobDescriptionFactory.for_snapshot, stabilize JobApplicationFactory.for_snapshot
  tests/companies/factories.py
  tests/job_applications/factories.py
Due: ruff-format, ruff-check

api: add job applications search API
  config/settings/base.py
  itou/api/job_application_api/__init__.py
  itou/api/job_application_api/perms.py
  itou/api/job_application_api/schema.py
  itou/api/job_application_api/serializers.py
  itou/api/job_application_api/throttling.py
  itou/api/job_application_api/views.py
  itou/api/urls.py
  tests/api/job_applications_api/__init__.py
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/api/job_applications_api/test_schemas.py
  tests/api/job_applications_api/test_search.py
Due: ruff-format, ruff-check

rdvi: add discover page
  itou/static/img/rdvi-integration.png
  itou/templates/apply/includes/list_card_body.html
  itou/templates/rdv_insertion/discover.html
  itou/www/rdv_insertion/urls.py
  itou/www/rdv_insertion/views.py
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
Due: ruff-format, ruff-check, djlint

perms: Don't force ProConnect for pros anymore
  config/settings/base.py
  config/settings/dev.py
  docs/environment.md
  itou/templates/account/activate_pro_connect_account.html
  itou/utils/perms/middleware.py
  itou/www/dashboard/urls.py
  itou/www/dashboard/views.py
  tests/utils/perms/tests.py
  tests/www/dashboard/test_activate_sso_account.py
  tests/www/invitations_views/test_prescriber_organization.py
  tests/www/login/tests.py
Due: ruff-format, ruff-check, djlint

login: Allow login with django credentials for pro sso users
  itou/templates/account/login_generic.html
  itou/www/login/forms.py
  tests/openid_connect/pro_connect/tests.py
  tests/www/login/tests.py
Due: ruff-format, ruff-check, djlint

approvals: make all pe_maj_pass args mandatory & keyword-only
  itou/approvals/models.py
Due: ruff-format, ruff-check

approvals: make at argument mandatory for pe_save_ methods
  itou/approvals/models.py
Due: ruff-format, ruff-check

login: Accept all pending invitations on login with django credentials
  itou/www/invitations_views/helpers.py
  itou/www/login/forms.py
  tests/www/invitations_views/test_company_accept.py
  tests/www/invitations_views/test_prescriber_organization.py
Due: ruff-format, ruff-check

approvals: use keyword only args
  itou/approvals/models.py
  tests/approvals/tests.py
Due: ruff-format, ruff-check

tests: snapshot the whole job seekers table
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

fix js
  itou/templates/gps/group_edition.html
Due: djlint

www.job_seekers: add sort on table headers
  itou/templates/common/tables/th_with_sort.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/list.html
  itou/utils/staticfiles.py
  itou/www/job_seekers_views/enums.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_enums.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint
