Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

CGU: Use the proper email for the DPO
  itou/templates/static/legal/terms.html
Due: djlint

employee_record: Fix the archive serialized as string once and for all
  itou/employee_record/admin.py
  itou/employee_record/migrations/0002_fix_archived_json_as_string.py
Due: ruff-format, ruff-check

perms: Allow readonly job applications to GPS
  itou/users/management/commands/sync_group_and_perms.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
Due: ruff-format, ruff-check

users: Remove deprecated and unused ATA allocation field
  itou/api/employee_record_api/serializers.py
  itou/employee_record/serializers.py
  itou/fixtures/django/07_jobseeker_profile.json
  itou/users/admin.py
  itou/users/migrations/0018_remove_jobseekerprofile_ata_allocation_since.py
  itou/users/models.py
  itou/www/itou_staff_views/export_utils.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check

itou: Use inline form for HTTPX's `raise_for_status()`
  itou/cities/management/commands/sync_cities.py
  itou/emails/admin.py
  itou/metabase/db.py
  itou/metabase/management/commands/populate_metabase_matomo.py
  itou/rdv_insertion/api.py
  itou/utils/apis/api_entreprise.py
  itou/utils/apis/api_particulier.py
  itou/utils/apis/data_inclusion.py
  itou/utils/apis/datadog.py
  itou/utils/apis/esd.py
  itou/utils/apis/geiq_label.py
  itou/utils/apis/geocoding.py
  itou/utils/apis/pole_emploi.py
  itou/utils/apis/sentry.py
  itou/utils/apis/updown.py
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check

eligibility: Simplify expires_at computation
  itou/eligibility/models/common.py
  itou/eligibility/models/geiq.py
  itou/eligibility/models/iae.py
  tests/eligibility/factories.py
Due: ruff-format, ruff-check

ApplicationEligibilityView: Simplify view context construction
  itou/www/apply/views/submit_views.py
Due: ruff-format, ruff-check

Shorten employers diagnostics duration to 3 months
  itou/eligibility/models/iae.py
  itou/www/apply/views/submit_views.py
  tests/eligibility/test_iae.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

users: Drop the ATA allocation field's column from the database
  itou/users/migrations/0018_remove_jobseekerprofile_ata_allocation_since.py
  itou/users/migrations/0019_drop_jobseekerprofile_ata_allocation_since.py
Due: ruff-format, ruff-check

API particulier: Update to breaking changes dateFin=null
  itou/eligibility/tasks.py
  itou/utils/apis/api_particulier.py
  itou/utils/mocks/api_particulier.py
  tests/eligibility/test_iae.py
  tests/eligibility/test_tasks.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

import_geiq: force SIRET type to integer
  itou/companies/management/commands/import_geiq.py
  tests/companies/test_management_command_import_geiq.py
Due: ruff-format, ruff-check

import_geiq: add tests
  itou/utils/faker_providers.py
  tests/companies/test_management_command_import_geiq.py
Due: ruff-format, ruff-check

job_description_search: Simplify sorting
  itou/templates/search/includes/siaes_search_top.html
  itou/www/search/views.py
  tests/www/search/__snapshots__/tests.ambr
Due: ruff-format, ruff-check, djlint

companies: Fix update_companies_job_app_score
  itou/companies/management/commands/update_companies_job_app_score.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check

feat: update theme to v2.5.7
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

scripts: Allow empty changelog
  scripts/mkchangelog
Due: none

apply: Mask sender email when he left his organization
  itou/templates/apply/includes/job_application_sender_info.html
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

communications: Send emails to admins when prescriber left the org
  itou/communications/dispatch/base.py
  itou/communications/dispatch/email.py
  itou/templates/layout/base_email_text_body.txt
  itou/users/notifications.py
  tests/communications/test_dispatch.py
Due: ruff-format, ruff-check

communications: Send emails to admins when employer left the company
  itou/communications/dispatch/email.py
  itou/templates/layout/base_email_text_body.txt
  tests/communications/test_dispatch.py
  tests/job_applications/__snapshots__/test_transfer.ambr
Due: ruff-format, ruff-check

Remove banner to poll authorized prescribers through Maze
  itou/templates/dashboard/dashboard.html
Due: djlint

apply: Remove archived filter help text
  itou/templates/apply/includes/job_applications_filters/offcanvas_body.html
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
Due: djlint

Order stylesheets in base.html
  itou/templates/layout/base.html
Due: djlint

changelog: From 2024-12-23 to 2024-12-29
  CHANGELOG.md
Due: none
