Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

___ wip: DO NOT MERGE: otp: Require OTP for `France Travail - Arles` organization
  itou/otp/data/mfa_required_organizations.csv
Due: none

otp_views: Fix typo in "login with backup code" form
  itou/templates/otp_views/login_with_backup_code.html
Due: djlint

otp_views: Change wording in TOTP device confirmation form
  itou/www/otp_views/forms.py
Due: ruff-format, ruff-check

fix: prevent multiple submit of orientation form
  itou/templates/insertion/includes/orientation_wizard_form_buttons.html
  tests/www/insertion_views/__snapshots__/test_wizard.ambr
Due: djlint

admin: add read permissions on MobilizationEvent objects to itou-admin
  itou/users/management/commands/sync_group_and_perms.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
Due: ruff-format, ruff-check

tests: Fix flaky test
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

api: Allow clients to control meaning of `salarieLangueFrancaise`
  config/settings/base.py
  itou/api/changelog.py
  itou/api/employee_record_api/serializers.py
  itou/api/employee_record_api/viewsets.py
  tests/api/employee_record_api/test_serializers.py
  tests/api/employee_record_api/tests.py
Due: ruff-format, ruff-check

employee_record: Invert `salarieLangueFrancaise`
  itou/employee_record/serializers.py
  tests/employee_record/__snapshots__/test_serializers.ambr
Due: ruff-format, ruff-check

Revert "feat: add alert for temporary suspension of employee record submission service"
  itou/templates/layout/base.html
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/companies_views/test_job_description_views.py
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
Due: ruff-format, ruff-check, djlint

fix: format prerequisites that are in markdown
  itou/templates/insertion/includes/orientation_credentials_list.html
  itou/templates/insertion/service_card.html
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/__snapshots__/test_wizard.ambr
Due: djlint

fix: opening hours shows open days without hours specified as well as additional info displayed below
  itou/insertion/opening_hours.py
  itou/templates/insertion/service_card.html
  tests/insertion/test_opening_hours.py
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

metabase: create and update mobilization_events in new metabase schema
  itou/metabase/db.py
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/mobilization_events.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

insertion_views: allow the `/` character in service UIDs
  itou/utils/urls.py
  itou/www/insertion_views/urls.py
  tests/www/insertion_views/test_views.py
  tests/www/insertion_views/test_wizard.py
  tests/www/search_views/test_services.py
Due: ruff-format, ruff-check

Remove livestorm from partners URLs and consent
  config/settings/base.py
  itou/templates/includes/tarteaucitron_matomo.html
  itou/templates/static/legal/privacy.html
Due: ruff-format, ruff-check, djlint

fix: flaky service perimeter ordering test
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

revert: "tests: Fix flaky test"
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

feat: add auto attribution email for new organization admins
  clevercloud/cron.json
  itou/common_apps/organizations/models.py
  itou/templates/common/emails/auto_admin_attribution_email_body.txt
  itou/templates/common/emails/auto_admin_attribution_email_subject.txt
  itou/users/management/commands/auto_attribute_company_admins.py
  tests/users/__snapshots__/test_management_commands.ambr
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

feat: admin role request mechanism through email
  itou/companies/models.py
  itou/templates/companies/email/admin_request_email_body.txt
  itou/templates/companies/email/admin_request_email_subject.txt
  itou/templates/companies/members.html
  itou/utils/tokens.py
  itou/www/companies_views/urls.py
  itou/www/companies_views/views.py
  tests/utils/tests.py
  tests/www/companies_views/__snapshots__/test_members_views.ambr
  tests/www/companies_views/test_members_views.py
Due: ruff-format, ruff-check, djlint

metabase: Put back jobseeker creator kind
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_seekers.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

feat: show OTP configuration menu link to all users concerned by 2FA
  itou/otp/utils.py
  itou/templates/layout/_header_user_dropdown_menu.html
  itou/utils/templatetags/otp.py
  tests/otp/test_utils.py
  tests/www/otp_views/tests.py
Due: ruff-format, ruff-check, djlint

test: pin MFA-for-pros settings for a deterministic suite
  config/settings/test.py
Due: ruff-format, ruff-check

job_seekers_views: Add `assign_oneself_as_advisor` view for professionals
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/test_assign_oneself_as_advisor.py
Due: ruff-format, ruff-check

job_seekers_views: Clean up `display_last_known_advisor_contact_info`
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

job_seekers_views: Add button to self-assign as advisor in list
  itou/templates/job_seekers_views/includes/list_results.html
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: Add button to assign oneself as last known advisor
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/employees/detail.html
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/last_known_advisor.html
  itou/www/apply/views/process_views.py
  itou/www/employees_views/views.py
  itou/www/job_seekers_views/views.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

companies: Replace hardcoded value with `DEACTIVATION_DELAY` setting
  config/settings/base.py
  itou/companies/management/commands/deactivate_old_job_descriptions.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check

companies: Add mail template for deactivating spontaneous job applications
  itou/companies/notifications.py
  itou/templates/companies/email/spontaneous_jobapps_deactivated_body.txt
  itou/templates/companies/email/spontaneous_jobapps_deactivated_subject.txt
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
Due: ruff-format, ruff-check

companies: Print number of job descriptions left to deactivate in log
  itou/companies/management/commands/deactivate_old_job_descriptions.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check

clever: Add cron task to disable spontaneous job applications in inactive companies
  clevercloud/cron.json
Due: none
