Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

users: create or update a JobSeekerAssignment when a prescriber applies
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

users: create or update a JobSeekerAssignment when creating a diagnosis
  itou/eligibility/models/geiq.py
  itou/eligibility/models/iae.py
  itou/www/apply/views/common.py
  itou/www/apply/views/submit_views.py
  tests/eligibility/test_geiq.py
  tests/eligibility/test_iae.py
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check

fixup! use upsert mechanism via bulk_create(update_conflicts=True)
  itou/users/models.py
  tests/users/__snapshots__/test_models.ambr
  tests/users/test_models.py
Due: ruff-format, ruff-check

users: create a JobSeekerAssignment at job seeker creation by prescriber
  itou/www/job_seekers_views/views.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

itou_staff_views: handle job seeker assignments when merging users
  itou/www/itou_staff_views/merge_utils.py
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check

Add a link to the source code in the authenticated menu
  itou/templates/layout/_header_authenticated.html
  tests/www/__snapshots__/test_layout.ambr
Due: djlint

fixup! Replace SelectedAdministrativeCriteria certified with certification_period
  tests/eligibility/factories.py
Due: ruff-format, ruff-check

fixup! Replace SelectedAdministrativeCriteria certified with certification_period
  itou/templates/job_seekers_views/details.html
  itou/utils/templatetags/badges.py
Due: ruff-format, ruff-check, djlint

apis: Document job_application API is limited to departments
  itou/api/job_application_api/views.py
Due: ruff-format, ruff-check

geiq: remove new tag for GEIQ assessments, also for labor inspectors
  itou/utils/templatetags/nav.py
Due: ruff-format, ruff-check

prescribers: handle JobSeekerAssignments when merging organizations
  itou/prescribers/management/commands/merge_organizations.py
  tests/prescribers/tests.py
Due: ruff-format, ruff-check

nexus: Track source_id on NexusMemberships
  itou/api/nexus/serializers.py
  itou/api/nexus/views.py
  itou/companies/models.py
  itou/nexus/migrations/0002_nexusmembership_source_id_alter_nexusmembership_id.py
  itou/nexus/models.py
  itou/nexus/utils.py
  itou/prescribers/models.py
  tests/api/test_nexus.py
  tests/nexus/factories.py
Due: ruff-format, ruff-check

companies: Track old_values on Company model
  itou/companies/models.py
  itou/prescribers/models.py
  itou/users/models.py
  itou/utils/models.py
Due: ruff-format, ruff-check

nexus: Add emplois full sync management command
  clevercloud/cron.json
  itou/nexus/enums.py
  itou/nexus/management/commands/nexus_sync_data.py
  itou/nexus/utils.py
  tests/nexus/test_utils.py
  tests/nexus/tests_management_commands.py
  tests/nexus/utils.py
Due: ruff-format, ruff-check

nexus: Don't raise when source kind is invalid
  itou/nexus/utils.py
  tests/nexus/test_utils.py
Due: ruff-format, ruff-check

nexus: Sync data on save, udpate and delete
  itou/common_apps/organizations/models.py
  itou/companies/models.py
  itou/nexus/utils.py
  itou/prescribers/models.py
  itou/users/models.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/cities/tests.py
  tests/nexus/test_synced_models.py
  tests/nexus/test_utils.py
Due: ruff-format, ruff-check

fixtures: Fix employee_records json
  itou/fixtures/django/22_employee_records.json
Due: none

nexus: check unsynchronized data in management command
  itou/nexus/management/commands/nexus_sync_data.py
  itou/nexus/models.py
  itou/nexus/utils.py
  tests/nexus/tests_management_commands.py
Due: ruff-format, ruff-check

nexus: Add la communauté view
  itou/static/img/nexus/presentation_communaute.png
  itou/templates/nexus/communaute.html
  itou/templates/nexus/layout/header.html
  itou/www/nexus/urls.py
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

nexus: Setup base layout
  itou/nexus/enums.py
  itou/templates/nexus/homepage.html
  itou/templates/nexus/layout/base.html
  itou/templates/nexus/layout/header.html
  itou/www/nexus/urls.py
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

nexus: Add DORA view
  itou/static/img/nexus/presentation_dora.png
  itou/templates/nexus/dora.html
  itou/templates/nexus/layout/header.html
  itou/www/nexus/urls.py
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

nexus: Add Le marché view
  itou/static/img/nexus/presentation_marche.png
  itou/templates/nexus/layout/header.html
  itou/templates/nexus/marche.html
  itou/www/nexus/urls.py
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

nexus: Add homepage
  itou/templates/nexus/homepage.html
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

nexus: Add le pilotage view
  itou/static/img/nexus/presentation_pilotage.png
  itou/templates/nexus/layout/header.html
  itou/templates/nexus/pilotage.html
  itou/www/nexus/urls.py
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

nexus: Add les emplois left menu badge
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check

nexus: Handle A/B Test
  itou/templates/nexus/homepage.html
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check, djlint

nexus: Add les emplois view
  itou/templates/nexus/emplois_inactive.html
  itou/templates/nexus/emplois_list.html
  itou/templates/nexus/layout/header.html
  itou/www/nexus/urls.py
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

nexus: Enable service activation for non standalone service
  itou/templates/nexus/homepage.html
  itou/www/nexus/urls.py
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

nexus: Add Mon Récap view
  itou/static/img/nexus/presentation_monrecap.png
  itou/templates/nexus/layout/header.html
  itou/templates/nexus/mon_recap.html
  itou/www/nexus/urls.py
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

staticfiles: Update itou-theme to 3.2.7
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

nexus: highlight active page in side menu
  itou/templates/nexus/layout/header.html
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check, djlint

nexus: Add structure info trailer view
  itou/static/img/nexus/presentation_infos_structure.png
  itou/templates/nexus/layout/header.html
  itou/templates/nexus/structures.html
  itou/www/nexus/urls.py
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

nexus: Handle services links in demo
  itou/templates/nexus/communaute.html
  itou/templates/nexus/homepage.html
  itou/templates/nexus/mon_recap.html
  itou/www/nexus/views.py
Due: ruff-format, ruff-check, djlint

nexus: Improve homepage
  itou/templates/nexus/homepage.html
  tests/www/nexus/__snapshots__/test_views.ambr
Due: djlint

sentry: Small cleanup
  config/sentry.py
Due: ruff-format, ruff-check

sentry: Activate all spans
  config/sentry.py
Due: ruff-format, ruff-check
