Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

tests: `INCLUSION_CONNECT` is the default for `PrescriberFactory()`
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/pe_connect/tests.py
  tests/users/test_management_commands.py
  tests/users/test_models.py
  tests/www/dashboard/test_edit_user_email.py
  tests/www/dashboard/test_edit_user_info.py
Due: ruff-format, ruff-check

tests.www.dashboard: Remove duplicate test
  tests/www/dashboard/test_edit_user_info.py
Due: ruff-format, ruff-check

tests.www.dashboard: Fix flaky test
  tests/www/dashboard/test_edit_user_info.py
Due: ruff-format, ruff-check

utils: Add `monday_of_the_week()` helper function
  itou/utils/date.py
  tests/utils/test_date.py
Due: ruff-format, ruff-check

metabase.populate_metabase_matomo: Simplify date management
  itou/metabase/management/commands/populate_metabase_matomo.py
Due: ruff-format, ruff-check

scripts: Add an admin by siren while optionally disabling notifications
  itou/scripts/management/commands/add_admin_for_company_group.py
Due: ruff-format, ruff-check

scripts: Fix CC_PYTHON_VERSION issue for `create-fast-machine.sh`
  scripts/create-fast-machine.sh
Due: none

Verify the content of exported job application CSV
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check

tests: Comment test_approval_status_includes assertNumQueries
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check

job application exports: Fix label for spontaneous application
  itou/job_applications/export.py
  tests/job_applications/tests.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
Due: ruff-format, ruff-check

Better assertNumQueries comments for test_approval_status_include
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check

Remove a query from .latest_approval
  itou/users/models.py
  tests/www/apply/test_process.py
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check

Upgrade packages indirect dependencies
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

Configure dependabot to also update indirect dependencies
  .github/dependabot.yml
Due: none

feat: add loading=lazy to illustration images
  itou/templates/includes/demo_accounts.html
  itou/templates/search/siaes_search_home.html
  itou/templates/welcoming_tour/employer.html
  itou/templates/welcoming_tour/job_seeker.html
  itou/templates/welcoming_tour/prescriber.html
Due: djlint

Use view name instead of path to set active header part
  itou/templates/layout/_header_nav_secondary_items.html
Due: djlint

docker: Minor changes to entrypoint.sh
  docker/dev/django/entrypoint.sh
Due: none

fix: loading lazy performance on homepage
  itou/templates/search/siaes_search_home.html
Due: djlint

dependabot: Fix wrong type for `allow`
  .github/dependabot.yml
Due: none

Extract a User.job_seeker_department helper
  itou/job_applications/utils.py
  itou/users/models.py
Due: ruff-format, ruff-check

Track user department with Matomo
  itou/templates/layout/base.html
  tests/utils/__snapshots__/tests.ambr
  tests/utils/tests.py
Due: ruff-format, ruff-check, djlint

Remove "ex pôle emploi" explanation for France Travail
  itou/approvals/migrations/0001_initial.py
  itou/approvals/models.py
  itou/eligibility/data/administrative_criteria.json
  itou/templates/admin/approvals/includes/job_application_details.html
  itou/templates/apply/includes/job_seeker_info.html
  itou/templates/apply/includes/profile_infos.html
  itou/users/migrations/0001_initial.py
  itou/users/models.py
  itou/utils/validators.py
  itou/www/apply/forms.py
  itou/www/apply/views/common.py
  itou/www/employee_record_views/forms.py
  tests/www/apply/test_process.py
  tests/www/dashboard/test_edit_user_info.py
Due: ruff-format, ruff-check, djlint

review-apps: Prefer direct host connection
  .github/workflows/review-app-creation.yml
Due: none

Clarify use of POSTGRESQL_ADDON_DIRECT_*
  clevercloud/review-app-after-success.sh
  config/settings/base.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
