Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

itou_staff_views: handle JobSeekerAssignments when merging users
  itou/www/itou_staff_views/merge_utils.py
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check

admin: allow transferred data not to have a change view url
  itou/templates/admin/users/transfer_user.html
  itou/users/admin.py
Due: ruff-format, ruff-check, djlint

users: create or update a JobSeekerAssignment when a prescriber applies
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

admin: handle job seeker assignments when transferring users
  itou/users/admin.py
  itou/users/utils.py
  itou/www/itou_staff_views/merge_utils.py
  tests/users/test_admin_views.py
Due: ruff-format, ruff-check

users: create or update a JobSeekerAssignment when creating a diagnosis
  itou/eligibility/models/geiq.py
  itou/eligibility/models/iae.py
  itou/www/apply/views/common.py
  itou/www/apply/views/submit_views.py
  tests/eligibility/test_geiq.py
  tests/eligibility/test_iae.py
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check

users: create a JobSeekerAssignment at job seeker creation by prescriber
  itou/www/job_seekers_views/views.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

prescribers: handle JobSeekerAssignments when merging organizations
  itou/prescribers/management/commands/merge_organizations.py
  tests/prescribers/tests.py
Due: ruff-format, ruff-check

users: new model to assign a jobseeker to a prescriber and/or an org
  itou/archive/management/commands/anonymize_professionals.py
  itou/prescribers/management/commands/merge_organizations.py
  itou/users/admin.py
  itou/users/enums.py
  itou/users/migrations/0043_jobseekerassignment.py
  itou/users/models.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/__snapshots__/tests_utils.ambr
  tests/archive/tests_management_command.py
  tests/users/__snapshots__/test_models.ambr
  tests/users/factories.py
  tests/users/test_admin.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

nexus: Add missing kind on lemarche structures
  itou/nexus/enums.py
Due: ruff-format, ruff-check

apply: add back_url possibility to IAE eligibility view
  itou/templates/eligibility/includes/form.html
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check, djlint

wip
  itou/templates/apply/includes/siae_actions.html
  itou/templates/apply/includes/siae_batch_actions.html
  itou/utils/templatetags/job_application_actions.py
  itou/www/apply/views/accept_views.py
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_process.ambr
Due: ruff-format, ruff-check, djlint

GEIQ clarify contracts duration wording in assessment summary and update for corresponding snapshot
  itou/templates/geiq_assessments_views/assessment_details_for_institution.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
Due: djlint

www: Make navigation item's new badge bubble to the parent group
  itou/static/css/itou.css
  itou/templates/utils/templatetags/nav.html
  itou/utils/templatetags/nav.py
  tests/www/__snapshots__/test_layout.ambr
Due: ruff-format, ruff-check, djlint

changelog: From 2026-02-02 to 2026-02-08
  CHANGELOG.md
Due: none

refactor: contact form URL in a constant
  config/urls.py
  itou/templates/static/accessibility.html
  itou/utils/constants.py
  tests/www/test_static_views.py
Due: ruff-format, ruff-check, djlint

fix: add partialdef to custom_blocks in djlint configuration as a workaround
  pyproject.toml
Due: none

fix: add missing HTML attributes for a button related to NIR regularization
  itou/templates/employee_record/includes/_regularize_nir_button.html
  tests/www/employee_record_views/__snapshots__/test_list.ambr
Due: djlint

feat: add NIR modification request context
  itou/templates/job_seekers_views/nir_modification_request.html
  itou/templates/job_seekers_views/nir_modification_success.html
  itou/users/admin.py
  itou/users/migrations/0044_nirmodificationrequest_rationale.py
  itou/users/models.py
  itou/www/job_seekers_views/forms.py
  itou/www/job_seekers_views/views.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/www/job_seekers_views/test_nir_modification_request.py
Due: ruff-format, ruff-check, djlint

signup: Fix siae select form when a next params is given
  itou/www/signup/views.py
  tests/www/signup/test_siae.py
Due: ruff-format, ruff-check

perms: Allow access to employers without companies
  itou/utils/perms/middleware.py
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check

nexus: Handle facility managers without companies
  itou/templates/nexus/emplois_no_companies.html
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

nexus: Add alert on homepage
  itou/templates/nexus/homepage.html
  tests/www/nexus/__snapshots__/test_views.ambr
Due: djlint

feat: update UI in sanction form views
  itou/templates/siae_evaluations/institution_evaluated_siae_notify_step1.html
  itou/templates/siae_evaluations/institution_evaluated_siae_notify_step2.html
  itou/templates/siae_evaluations/institution_evaluated_siae_notify_step3.html
Due: djlint

feat: replace user get_full_name by get_inverted_full_name in the latest templates and views
  itou/templates/dashboard/edit_job_seeker_info.html
  itou/templates/eligibility/update_iae.html
  itou/templates/employee_record/create.html
  itou/templates/employee_record/disable.html
  itou/templates/employee_record/includes/_regularize_nir_button.html
  itou/templates/employee_record/missing_employee.html
  itou/templates/employee_record/reactivate.html
  itou/templates/gps/includes/membership_referent.html
  itou/templates/gps/join_group_from_name_and_email.html
  itou/templates/gps/join_group_from_nir.html
  itou/templates/job_seekers_views/step_check_job_seeker_nir.html
  itou/templates/job_seekers_views/step_search_job_seeker_by_email.html
  itou/templates/siae_evaluations/evaluated_siae_sanction.html
  itou/templates/siae_evaluations/includes/job_seeker_infos.html
  itou/templates/siae_evaluations/siae_select_criteria.html
  itou/templates/siae_evaluations/siae_upload_doc.html
  itou/www/eligibility_views/views.py
  itou/www/employee_record_views/forms.py
  itou/www/employee_record_views/views.py
  itou/www/gps/utils.py
  itou/www/job_seekers_views/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/eligibility_views/__snapshots__/test_views.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employee_record_views/__snapshots__/test_missing_employee.ambr
  tests/www/employee_record_views/test_add.py
  tests/www/job_seekers_views/__snapshots__/test_create_or_update.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_nir_modification_request.py
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/siae_evaluations_views/test_siaes_views.py
  tests/www/siae_evaluations_views/test_views.py
Due: ruff-format, ruff-check, djlint
