Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

logout: fix some unbreakable spaces
  itou/templates/logout/warning.html
  tests/logout/__snapshots__/tests.ambr
Due: djlint

templates: fix layout unbreakables spaces
  itou/templates/layout/_footer.html
  itou/templates/layout/_footer_legal_content.html
  itou/templates/layout/_header.html
  itou/templates/layout/_header_authenticated.html
  itou/templates/layout/_header_help_dropdown_content.html
  itou/templates/layout/_news_modal.html
  tests/communications/__snapshots__/test_campaigns.ambr
  tests/www/__snapshots__/test_layout.ambr
  tests/www/nexus/__snapshots__/test_views.ambr
Due: djlint

utils: fix unbreakable space in copy_to_clipboard
  itou/templates/includes/copy_to_clipboard.html
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/companies_views/__snapshots__/test_card_views.ambr
  tests/www/dashboard/__snapshots__/test_api_token.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

apply: fix space in PASS IAE permission denied message
  itou/www/apply/views/hire_views.py
Due: ruff-format, ruff-check

legal: fix quotes
  itou/templates/static/legal/terms/versions/2022-10-14.html
  itou/templates/static/legal/terms/versions/2024-02-05.html
Due: djlint

templates: fix spaces in GIP address
  itou/templates/includes/gip_address.html
Due: djlint

stats: fix some unbreakable spaces
  itou/templates/stats/stats.html
  itou/www/stats/views.py
Due: ruff-format, ruff-check, djlint

legal: fix unbreakable spaces
  itou/templates/static/accessibility.html
  itou/templates/static/legal/notice.html
  itou/templates/static/legal/privacy.html
  itou/templates/static/legal/terms/base.html
  itou/templates/static/legal/terms/versions/2022-10-14.html
  itou/templates/static/legal/terms/versions/2024-02-05.html
  itou/templates/static/legal/terms/versions/2025-10-15.html
  itou/templates/static/legal/terms/versions/2026-03-16.html
  tests/www/legal_views/test_legal_terms.py
Due: ruff-format, ruff-check, djlint

welcoming_tour: fix spaces
  itou/templates/welcoming_tour/employer.html
  itou/templates/welcoming_tour/job_seeker.html
  itou/templates/welcoming_tour/prescriber.html
Due: djlint

templates: fix space in tarteaucitron_matomo.html
  itou/templates/includes/tarteaucitron_matomo.html
Due: djlint

utils: fix spaces in buttons_form.html
  itou/templates/utils/templatetags/buttons_form.html
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_create.ambr
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/__snapshots__/test_prescriber.ambr
Due: djlint

signup: fix spaces
  itou/templates/signup/choose_membership_kind.html
  itou/templates/signup/choose_user_kind.html
  itou/templates/signup/company_select.html
  itou/templates/signup/employer.html
  itou/templates/signup/facilitator_join.html
  itou/templates/signup/facilitator_search.html
  itou/templates/signup/includes/france_connect_button.html
  itou/templates/signup/includes/login_reminder.html
  itou/templates/signup/job_seeker_criteria.html
  itou/templates/signup/job_seeker_signup.html
  itou/templates/signup/job_seeker_signup_credentials.html
  itou/templates/signup/job_seeker_situation.html
  itou/templates/signup/job_seeker_start.html
  itou/templates/signup/prescriber_check_already_exists.html
  itou/templates/signup/prescriber_choose_kind.html
  itou/templates/signup/prescriber_choose_org.html
  itou/templates/signup/prescriber_confirm_authorization.html
  itou/templates/signup/prescriber_join_ft_org.html
  itou/templates/signup/prescriber_search_ft_org.html
  itou/templates/signup/professional_user.html
  itou/www/signup/forms.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/__snapshots__/test_professionals.ambr
Due: ruff-format, ruff-check, djlint

companies: fix spaces
  itou/templates/companies/card.html
  itou/templates/companies/create_siae.html
  itou/templates/companies/edit_job_description.html
  itou/templates/companies/edit_job_description_preview.html
  itou/templates/companies/edit_siae.html
  itou/templates/companies/edit_siae_description.html
  itou/templates/companies/edit_siae_preview.html
  itou/templates/companies/email/activate_your_account_body.txt
  itou/templates/companies/email/admin_request_email_body.txt
  itou/templates/companies/email/new_signup_activation_email_to_official_contact_body.txt
  itou/templates/companies/email/old_job_description_deactivated_body.txt
  itou/templates/companies/email/spontaneous_jobapps_deactivated_body.txt
  itou/templates/companies/includes/_card_siae.html
  itou/templates/companies/job_description_list.html
  itou/templates/companies/members.html
  itou/templates/companies/overview.html
  itou/templates/companies/select_financial_annex.html
  itou/www/companies_views/views.py
  tests/companies/__snapshots__/test_management_commands.ambr
  tests/www/companies_views/__snapshots__/test_card_views.ambr
  tests/www/companies_views/__snapshots__/test_members_views.ambr
  tests/www/companies_views/test_edit_company_views.py
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check, djlint

tests.job_seekers_views: test last_action_kind display
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check

insertion: create a JobSeekerAssignment uppon orientation creation
  itou/users/enums.py
  itou/users/migrations/0043_jobseekerassignment.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/test_wizard.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check

search: fix spaces
  itou/templates/search/includes/saved_searches.html
  itou/templates/search/includes/siaes_search_top.html
  itou/templates/search/services/includes/results.html
  itou/templates/search/services/results.html
  tests/www/search_views/__snapshots__/test_services.ambr
  tests/www/search_views/test_saved_searches.py
  tests/www/search_views/test_services.py
Due: ruff-format, ruff-check, djlint

pro_connect: fix spaces in templates
  itou/openid_connect/pro_connect/views.py
  itou/templates/pro_connect/includes/button.html
  tests/www/login/__snapshots__/tests.ambr
Due: ruff-format, ruff-check, djlint

nexus: fix spaces
  itou/templates/nexus/emplois_job_descriptions.html
  itou/templates/nexus/homepage.html
  itou/templates/nexus/layout/header.html
  itou/templates/nexus/login.html
  itou/templates/nexus/mon_recap.html
  tests/www/nexus/__snapshots__/test_views.ambr
Due: djlint

utils: fix spaces in file_input templates
  itou/templates/utils/widgets/file_input.html
  itou/templates/utils/widgets/file_input_constraints.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/insertion_views/__snapshots__/test_wizard.ambr
Due: djlint

itou_staff_views: fix spaces
  itou/templates/itou_staff_views/import_aci_convergence_phc.html
  itou/templates/itou_staff_views/import_fs_3437_from_asp.html
  itou/templates/itou_staff_views/merge_users_confirm.html
  itou/www/itou_staff_views/forms.py
  itou/www/itou_staff_views/views.py
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check, djlint

approvals: fix spaces
  itou/templates/approvals/base_details.html
  itou/templates/approvals/details.html
  itou/templates/approvals/email/deliver_body.txt
  itou/templates/approvals/email/manual_delivery_required_notification_body.txt
  itou/templates/approvals/email/prolongation_request/created_body.txt
  itou/templates/approvals/email/prolongation_request/created_reminder_body.txt
  itou/templates/approvals/email/prolongation_request/denied/employer_body.txt
  itou/templates/approvals/email/prolongation_request/denied/jobseeker_body.txt
  itou/templates/approvals/email/prolongation_request/granted/employer_body.txt
  itou/templates/approvals/includes/prolongation_declaration_form.html
  itou/templates/approvals/printable_approval.html
  itou/templates/approvals/prolongation_requests/deny.html
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/approvals/suspend.html
  itou/templates/approvals/suspension_action_choice.html
  itou/templates/approvals/suspension_delete.html
  itou/templates/approvals/suspension_update_enddate.html
  itou/templates/utils/templatetags/approval_box.html
  itou/www/approvals_views/forms.py
  tests/approvals/__snapshots__/test_notifications.ambr
  tests/approvals/__snapshots__/test_prolongation_requests.ambr
  tests/job_applications/tests.py
  tests/www/approvals_views/__snapshots__/test_approval_box.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/approvals_views/test_prolongation.py
  tests/www/dashboard/test_dashboard.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check, djlint

mon_recap_banner: fix space
  itou/templates/includes/mon_recap_banner.html
Due: djlint

tests: make Django rendering typography sensitive
  itou/templates/companies/edit_job_description.html
  itou/templates/otp_views/enrollment_step_2_and_3_confirm_device.html
  tests/conftest.py
Due: ruff-format, ruff-check, djlint

feat: rename and reorganize the structure menu
  itou/templates/companies/job_description_list.html
  itou/templates/companies/members.html
  itou/templates/companies/overview.html
  itou/templates/companies/show_financial_annexes.html
  itou/templates/dashboard/includes/employer_company_card.html
  itou/templates/dashboard/includes/labor_inspector_organization_card.html
  itou/utils/templatetags/nav.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/companies_views/__snapshots__/test_members_views.ambr
Due: ruff-format, ruff-check, djlint

ui: fix badge size
  itou/templates/job_seekers_views/includes/badge_assignment_duration.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

assignments: Add `is_active` property
  itou/users/models.py
Due: ruff-format, ruff-check

ui: fix some spacing and ui adjutments
  itou/templates/job_seekers_views/advisors.html
  itou/templates/job_seekers_views/includes/advisor.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

assignments: Add view to archive assignment
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/test_assignments.py
Due: ruff-format, ruff-check

assignments: Isolate assignment-specific views in own test file
  tests/www/job_seekers_views/test_assign_oneself_as_advisor.py
  tests/www/job_seekers_views/test_assignments.py
Due: ruff-format, ruff-check

assignments: Add user actions to archive assignment
  itou/templates/job_seekers_views/advisors.html
  itou/templates/job_seekers_views/includes/advisor.html
  itou/templates/job_seekers_views/includes/assignment_actions.html
  itou/templates/job_seekers_views/includes/last_advisor.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: Add view to create or edit assignment
  itou/templates/job_seekers_views/assignment_edit.html
  itou/www/job_seekers_views/forms.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_assignments.ambr
  tests/www/job_seekers_views/test_assignments.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: Replace self-assigning as last advisor with link to assignment creation
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/step_check_job_seeker_nir.html
  itou/templates/job_seekers_views/step_search_job_seeker_by_email.html
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_create_or_update.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_create_or_update.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

assignments: Add user actions to create assignment
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/employees/detail.html
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/last_advisor.html
  itou/www/apply/views/process_views.py
  itou/www/employees_views/views.py
  itou/www/job_seekers_views/views.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

assignments: Add user actions to edit assignment
  itou/templates/job_seekers_views/includes/advisor.html
  itou/templates/job_seekers_views/includes/assignment_actions.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: Remove self-assigning as last advisor
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

job_seekers_views: Fix number of advisors shown in assignment list
  itou/templates/job_seekers_views/includes/list_results.html
  itou/www/job_seekers_views/enums.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

assignments: Add link to switch organization to modify external assignments
  itou/templates/job_seekers_views/advisors.html
  itou/templates/job_seekers_views/includes/advisor.html
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: Add archive icon for old assignments in list
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/list.html
  itou/www/job_seekers_views/forms.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

users: Change filtering behavior of `assigned_to`
  itou/users/models.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

job_seekers_views: Add filters on assignments
  itou/templates/includes/btn_dropdown_filter/radio.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/assignments.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/offcanvas_body.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/single_radiobutton.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/top_filters.html
  itou/utils/widgets.py
  itou/www/job_seekers_views/forms.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
