Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

employees: Simplify IF ad logic
  itou/www/employees_views/views.py
Due: ruff-format, ruff-check

employees: Always show IF ad
  itou/templates/employees/detail.html
  itou/www/employees_views/views.py
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/employees_views/test_detail.py
Due: ruff-format, ruff-check, djlint

employees: Show IF ad even without approval
  itou/templates/employees/detail.html
  itou/www/employees_views/views.py
Due: ruff-format, ruff-check, djlint

Prepare job_seeker parameter on AcceptForm and HTMX views
  itou/www/apply/forms.py
  itou/www/apply/urls.py
  itou/www/apply/views/common.py
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_forms.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

Replace company SIAE constants with methods on CompanyKind
  itou/approvals/notifications.py
  itou/approvals/utils.py
  itou/companies/enums.py
  itou/companies/management/commands/_import_siae/convention.py
  itou/companies/management/commands/_import_siae/siae.py
  itou/companies/management/commands/_import_siae/vue_af.py
  itou/companies/models.py
  itou/eligibility/models/iae.py
  itou/job_applications/management/commands/display_missing_eligibility_diagnoses.py
  itou/job_applications/models.py
  itou/users/management/commands/extract_c2_users.py
  itou/users/management/commands/new_users_to_brevo.py
  itou/www/apply/forms.py
  itou/www/apply/views/list_views.py
  tests/approvals/factories.py
  tests/companies/factories.py
  tests/companies/test_enums.py
  tests/users/test_management_commands.py
  tests/www/apply/test_forms.py
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

replace user.id with user.public_id in companies_views
  itou/templates/includes/deactivate_member.html
  itou/templates/includes/members.html
  itou/templates/includes/update_admin.html
  itou/www/companies_views/urls.py
  itou/www/companies_views/views.py
  tests/www/companies_views/test_members_views.py
Due: ruff-format, ruff-check, djlint

make companies_views:deactivate_member available with user_id kwargs to prevent crash when deploying. Should be removed soon
  itou/www/companies_views/urls.py
  itou/www/companies_views/views.py
  tests/www/companies_views/test_members_views.py
Due: ruff-format, ruff-check

replace user.id with user.public_id in prescribers_views
  itou/www/prescribers_views/urls.py
  itou/www/prescribers_views/views.py
  tests/www/prescribers_views/test_admins.py
  tests/www/prescribers_views/test_members.py
Due: ruff-format, ruff-check

make institutions_views:deactivate_member available with user_id kwargs to prevent crash when deploying. Should be removed soon
  itou/www/institutions_views/urls.py
  itou/www/institutions_views/views.py
  tests/www/institutions_views/test_views.py
Due: ruff-format, ruff-check

replace re_path tricky url in companies_views
  itou/www/companies_views/urls.py
  itou/www/companies_views/views.py
  tests/www/companies_views/test_members_views.py
Due: ruff-format, ruff-check

make prescribers_views:deactivate_member available with user_id kwargs to prevent crash when deploying. Should be removed soon
  itou/www/prescribers_views/urls.py
  itou/www/prescribers_views/views.py
  tests/www/prescribers_views/test_members.py
Due: ruff-format, ruff-check

replace user.id with user.public_id in institutions_views
  itou/www/institutions_views/urls.py
  itou/www/institutions_views/views.py
  tests/www/institutions_views/test_views.py
Due: ruff-format, ruff-check

replace re_path tricky url in institutions_views, add test
  itou/www/institutions_views/urls.py
  itou/www/institutions_views/views.py
  tests/www/institutions_views/test_views.py
Due: ruff-format, ruff-check

replace re_path tricky url in prescribers_views
  itou/www/prescribers_views/urls.py
  itou/www/prescribers_views/views.py
  tests/www/prescribers_views/test_admins.py
Due: ruff-format, ruff-check

apply: Don't send emails to inactive users with active memberships
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

users: Deactivate memberships when deactivating users
  itou/users/admin.py
  tests/users/test_admin.py
Due: ruff-format, ruff-check

fix: Deactivate inactive users memberships
  itou/companies/migrations/0017_deactivate_inactive_users_memberships.py
  itou/prescribers/migrations/0009_deactivate_inactive_users_memberships.py
Due: ruff-format, ruff-check

gps: Add beneficiary edit button
  itou/templates/gps/group_beneficiary.html
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

feat: update theme to v2.7.3
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

scripts: fix delete-bucket script
  scripts/delete-bucket
Due: none

Renamed BREVO{,_LES_EMPLOIS}_LIST_ID
  itou/users/management/commands/new_users_to_brevo.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

send_users_to_brevo: Add job seekers
  clevercloud/cron.json
  itou/users/management/commands/send_users_to_brevo.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

company.card: Fix wording when jobapps are blocked
  itou/templates/companies/card.html
  tests/www/companies_views/__snapshots__/test_card_views.ambr
Due: djlint

admin: Use custom admin
  config/settings/base.py
  itou/admin/__init__.py
  itou/admin/apps.py
  itou/admin/sites.py
  itou/templates/admin/base_site.html
Due: ruff-format, ruff-check, djlint

itou_staff_views: Add setup 2FA views
  itou/templates/itou_staff_views/otp_confirm.html
  itou/templates/itou_staff_views/otp_setup.html
  itou/utils/otp.py
  itou/www/itou_staff_views/forms.py
  itou/www/itou_staff_views/urls.py
  itou/www/itou_staff_views/views.py
Due: ruff-format, ruff-check, djlint

admin: Improve tab name
  itou/admin/sites.py
  itou/templates/admin/base_site.html
Due: ruff-format, ruff-check, djlint

perms: Enforce OTP setup for staff users
  itou/utils/perms/middleware.py
Due: ruff-format, ruff-check

requirements: Add dependencies for 2FA
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

users: Prepare User model for otp
  itou/users/migrations/0024_user_otp_secret.py
  itou/users/models.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/companies/__snapshots__/test_admin.ambr
  tests/gps/__snapshots__/test_views.ambr
  tests/job_applications/__snapshots__/test_transfer.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/users/factories.py
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/signup/__snapshots__/test_siae.ambr
Due: ruff-format, ruff-check

otp: Add entry in user dropdown menu
  itou/templates/layout/_header_user_dropdown_menu.html
Due: djlint

users: Add otp to admin -- WIP
  itou/users/admin.py
Due: ruff-format, ruff-check

requirements: Add dependency for 2FA
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

settings: Enable Django-OTP in settings
  config/settings/base.py
Due: ruff-format, ruff-check

itou_staff_views: Add setup 2FA views
  itou/templates/itou_staff_views/otp_confirm.html
  itou/templates/itou_staff_views/otp_setup.html
  itou/www/itou_staff_views/forms.py
  itou/www/itou_staff_views/urls.py
  itou/www/itou_staff_views/views.py
Due: ruff-format, ruff-check, djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
