Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

c-navinfo: properly handle optional parameters
  itou/templates/companies/job_description_card.html
  itou/templates/components/c-navinfo.html
Due: djlint

c-title: properly handle optional parameters
  itou/templates/components/c-title.html
Due: djlint

tests: improve geiq_assessments factories
  tests/geiq_assessments/factories.py
Due: ruff-format, ruff-check

apply: Fix typos in batch actions tests
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_batch_views.py
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check

eligibility: Do not retry certifying deleted diagnosis
  itou/eligibility/tasks.py
  tests/eligibility/test_tasks.py
Due: ruff-format, ruff-check

geiq_assessments: tweak label in contract details
  itou/templates/geiq_assessments_views/assessment_contracts_details.html
Due: djlint

geiq_assessments: add sex_display method
  itou/geiq_assessments/models.py
  itou/templates/geiq_assessments_views/assessment_contracts_details.html
Due: ruff-format, ruff-check, djlint

geiq_assessements: add rupture_kind_display
  itou/geiq_assessments/models.py
  itou/templates/geiq_assessments_views/assessment_contracts_details.html
Due: ruff-format, ruff-check, djlint

job_application: add a new share_comment text field
  itou/job_applications/admin_forms.py
  itou/job_applications/migrations/0019_jobapplication_shared_comment_and_more.py
  itou/job_applications/models.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records_updates.ambr
  tests/job_applications/__snapshots__/test_transfer.ambr
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/search/__snapshots__/tests.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
Due: ruff-format, ruff-check

forms: add a simple readonly div widget
  itou/templates/utils/widgets/readonly_div_widget.html
  itou/utils/widgets.py
Due: ruff-format, ruff-check, djlint

apply: display a comment box shared to members of a company
  itou/templates/apply/includes/job_application_comment.html
  itou/templates/apply/process_details_company.html
  itou/www/apply/forms.py
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check, djlint

staticfiles: bump theme to 2.9.5
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

geiq_assessments: add export button for contracts
  itou/templates/geiq_assessments_views/assessment_contracts_details.html
  itou/templates/geiq_assessments_views/assessment_contracts_list.html
  itou/www/geiq_assessments_views/export.py
  itou/www/geiq_assessments_views/urls.py
  itou/www/geiq_assessments_views/views.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_both.ambr
  tests/www/geiq_assessments_views/test_views_for_both.py
Due: ruff-format, ruff-check, djlint

job_application.models: add shared comment management mechanism
  itou/job_applications/models.py
Due: ruff-format, ruff-check

apply: add the ability to update the shared comment
  itou/templates/apply/includes/job_application_comment.html
  itou/templates/apply/process_details_company.html
  itou/www/apply/forms.py
  itou/www/apply/urls.py
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check, djlint

Tweak sync to anonymize data
  itou/geiq/sync.py
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check

tests: remove debug from ignore list
  itou/templates/layout/base.html
  tests/conftest.py
Due: ruff-format, ruff-check, djlint

tests: remove user from ignore list
  tests/conftest.py
Due: ruff-format, ruff-check

tests: simplify unknown_variable_template_error fixture
  tests/conftest.py
Due: ruff-format, ruff-check

tests: remove now useless markers
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

tests: remove useless marker
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

apply: explicitly set with_matomo_event to False
  itou/templates/apply/process_details.html
  tests/openid_connect/pro_connect/tests.py
  tests/www/apply/test_detail_rdv_insertion.py
  tests/www/apply/test_geiq.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

users: update __str__ methods
  itou/users/models.py
Due: ruff-format, ruff-check

wip
  itou/users/models.py
  itou/www/itou_staff_views/export_utils.py
Due: ruff-format, ruff-check

utils: Update to new SIRENE API
  config/settings/base.py
  itou/status/probes.py
  itou/utils/apis/api_entreprise.py
  tests/utils/apis/test_entreprise_api.py
  tests/www/signup/test_prescriber.py
  tests/www/signup/test_siae.py
Due: ruff-format, ruff-check

tests: detect useless ignore_unknown_variable_template_error
  tests/conftest.py
Due: ruff-format, ruff-check

fix User/JobSeekerProfile display in admin forms
  itou/users/models.py
  itou/utils/apps.py
Due: ruff-format, ruff-check

Suspension: change custom rules for the admin
  itou/approvals/models.py
  itou/www/approvals_views/forms.py
  tests/approvals/test_admin.py
  tests/approvals/tests.py
Due: ruff-format, ruff-check

wip
  itou/utils/admin.py
Due: ruff-format, ruff-check
