Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: flake8
        name: Flake8
        entry: flake8
        types: [python]
        language: system
      - id: isort
        name: isort
        entry: isort
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system

Restore active job descriptions on SIAE cards
  itou/www/siaes_views/tests/tests_views.py
  itou/www/siaes_views/views.py
Due: black, flake8, isort

Remove other_contract_type from SiaeJobDescriptionFactory
  itou/siaes/factories.py
Due: black, flake8, isort

Revamp SIAE card display
  itou/templates/siaes/card.html
  itou/templates/siaes/includes/_list_siae_jobs.html
  itou/templates/siaes/includes/_siae_info.html
  itou/templates/siaes/includes/_siae_jobdescription.html
  itou/www/siaes_views/tests/tests_views.py
  itou/www/siaes_views/views.py
Due: black, flake8, isort, djlint

Fix unvalidated lookup in invitations_views:new_user
  itou/www/invitations_views/tests/test_new_user.py
  itou/www/invitations_views/views.py
Due: black, flake8, isort

www.apply: remove unneeded banner
  itou/templates/apply/process_accept.html
Due: djlint

www.apply: remove accept_without_approval view
  itou/www/apply/urls.py
  itou/www/apply/views/process_views.py
Due: black, flake8, isort

Hide contract type badge on siae card when not available
  itou/templates/siaes/includes/_siae_jobdescription.html
Due: djlint

users: add & fill last_checked_at field to User
  itou/users/migrations/0003_user_last_checked_at.py
  itou/users/migrations/0004_fill_user_last_checked_at.py
  itou/users/migrations/0005_alter_user_last_checked_at.py
  itou/users/models.py
Due: black, flake8, isort

dashboard: make use EditUserInfo updates last_checked_at
  itou/www/dashboard/forms.py
  itou/www/dashboard/tests.py
Due: black, flake8, isort

www.apply: add last_checked_at info & warning
  itou/templates/apply/submit/application/base.html
  itou/www/apply/tests/tests_submit.py
  itou/www/apply/views/submit_views.py
Due: black, flake8, isort, djlint

www.apply: updates job seeker's last_checked_at on application acceptance
  itou/www/apply/tests/tests_process.py
  itou/www/apply/views/process_views.py
Due: black, flake8, isort

employee_record: make sure last_checked_at is updated
  itou/employee_record/models.py
  itou/www/employee_record_views/tests/test_create.py
Due: black, flake8, isort

www.apply: rename create_job_seeker_for_sender templates
  itou/templates/apply/submit/create_or_update_job_seeker/step_1.html
  itou/templates/apply/submit/create_or_update_job_seeker/step_2.html
  itou/templates/apply/submit/create_or_update_job_seeker/step_3.html
  itou/templates/apply/submit/create_or_update_job_seeker/step_base.html
  itou/templates/apply/submit/create_or_update_job_seeker/step_end.html
  itou/www/apply/views/submit_views.py
Due: black, flake8, isort, djlint

www.apply: rename create_job_seeker_for_sender forms
  itou/www/apply/forms.py
  itou/www/apply/views/submit_views.py
Due: black, flake8, isort

www.apply: show accurate info in step3 of jobseeker update
  itou/www/apply/forms.py
  itou/www/apply/tests/tests_submit.py
Due: black, flake8, isort

www.apply: add process to check & update job seeker information
  itou/templates/apply/submit/application/base.html
  itou/templates/apply/submit/create_or_update_job_seeker/step_base.html
  itou/www/apply/tests/tests_submit.py
  itou/www/apply/urls.py
  itou/www/apply/views/submit_views.py
Due: black, flake8, isort, djlint

users: add last_checked_at to user admin
  itou/users/admin.py
  itou/users/tests/test_admin_forms.py
  itou/users/tests/test_admin_views.py
Due: black, flake8, isort

bump django-anymail
  requirements/base.txt
  requirements/dev.txt
Due: none

approvals: Remove one shot sql migration
  itou/approvals/migrations/0002_clean_pe_aprrovals_indices_name.py
  itou/siaes/migrations/0001_initial.py
Due: black, flake8, isort
