Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

(premium) add ability to sort table on a col
  itou/templates/apply/table_for_siae.html
  itou/templates/utils/templatetags/sort_table.html
  itou/utils/templatetags/sort_table.py
  itou/utils/urls.py
  itou/www/apply/views/list_views.py
Due: black, ruff, djlint

(premium) prevent multiple submission of the form, on @francoisfreitag's suggestion
  itou/templates/premium/partials/save_note_form.html
Due: djlint

(apply) add table_for_siae view and its template (Tests on progress)
  itou/templates/apply/table_for_siae.html
  itou/www/apply/urls.py
  itou/www/apply/views/list_views.py
Due: black, ruff, djlint

wip
  itou/www/apply/views/list_views.py
Due: black, ruff

(premium) give up 'order' param for sorting
  itou/templates/utils/templatetags/sort_table.html
  itou/utils/templatetags/sort_table.py
  itou/www/apply/views/list_views.py
Due: black, ruff, djlint

(premium) Note instead of Notes model
  itou/premium/admin.py
  itou/premium/migrations/0002_rename_notes_note.py
  itou/premium/models.py
  itou/www/premium_views/views.py
Due: black, ruff

feat: update responsive .nav-tabs
  itou/static/js/sliding_tabs.js
  itou/templates/companies/card.html
  itou/templates/companies/job_description_card.html
  itou/templates/companies/job_description_list.html
  itou/templates/companies/members.html
  itou/templates/companies/show_financial_annexes.html
  itou/templates/layout/base.html
  itou/utils/staticfiles.py
  tests/www/companies_views/__snapshots__/test_views.ambr
Due: black, ruff, djlint

fix: aside filters collapse
  itou/utils/staticfiles.py
Due: black, ruff

Makefile: add fast_fix target
  Makefile
Due: none

approvals: add updated_at field to Approval model
  itou/approvals/migrations/0003_approval_updated_at.py
  itou/approvals/migrations/0004_update_triggers_to_update_approval_updated_at.py
  itou/approvals/models.py
  tests/approvals/tests.py
Due: black, ruff

changelog: Sprint 83
  CHANGELOG.md
Due: none

layout: adapt icon to user type
  itou/templates/layout/_header_nav_primary_items.html
Due: djlint

feat(notifications): add basic notification handling
  config/settings/base.py
  itou/communications/__init__.py
  itou/communications/apps.py
  itou/communications/dispatch/__init__.py
  itou/communications/dispatch/base.py
  itou/communications/dispatch/email.py
  itou/communications/dispatch/utils.py
  itou/communications/migrations/0001_initial.py
  itou/communications/migrations/__init__.py
  itou/communications/models.py
  itou/utils/emails.py
Due: black, ruff

refactor: handle PR comments + minor adjustments
  itou/communications/__init__.py
  itou/communications/apps.py
  itou/communications/dispatch/base.py
  itou/communications/dispatch/email.py
  itou/communications/models.py
  tests/users/test_admin.py
Due: black, ruff

refactor: handle PR comments
  itou/communications/apps.py
  itou/communications/dispatch/__init__.py
  itou/communications/dispatch/base.py
  itou/communications/dispatch/email.py
  itou/communications/dispatch/utils.py
  itou/communications/migrations/0001_initial.py
  itou/communications/models.py
Due: black, ruff

refactor(notifications): rename Notification model to NotificationRecord, various fixes
  itou/communications/apps.py
  itou/communications/dispatch/base.py
  itou/communications/migrations/0001_initial.py
  itou/communications/models.py
  itou/companies/models.py
  itou/prescribers/management/commands/merge_organizations.py
  itou/prescribers/models.py
  itou/utils/admin.py
  tests/communications/test_dispatch.py
  tests/communications/test_models.py
  tests/users/factories.py
Due: black, ruff

test(notifications): add dispatch tests
  tests/communications/__init__.py
  tests/communications/test_dispatch.py
Due: black, ruff

test(notifications): add workaround until actual notification implementations
  tests/communications/test_models.py
Due: black, ruff

test(notifications): add communications models tests
  itou/communications/apps.py
  itou/communications/migrations/0001_initial.py
  itou/communications/models.py
  tests/communications/test_models.py
  tests/users/factories.py
Due: black, ruff

fix(notifications): fix companies admin test
  tests/companies/test_admin.py
Due: black, ruff

refactor(notifications): remove metaclass, perform checks on registry, remove module from notification_class in db
  itou/communications/__init__.py
  itou/communications/apps.py
  itou/communications/dispatch/base.py
  itou/communications/dispatch/email.py
  tests/communications/test_dispatch.py
  tests/communications/test_models.py
  tests/communications/test_registry.py
  tests/communications/utils.py
Due: black, ruff

feat(notifications): implement some notifications
  itou/approvals/notifications.py
  itou/invitations/models.py
  itou/invitations/notifications.py
  itou/job_applications/models.py
  itou/job_applications/notifications.py
  itou/www/apply/views/submit_views.py
  tests/invitations/tests.py
  tests/job_applications/tests.py
Due: black, ruff

refactor(notifications): use enum for notification categories
  itou/approvals/notifications.py
  itou/communications/__init__.py
  itou/invitations/notifications.py
  itou/job_applications/notifications.py
Due: black, ruff

chore(notifications): update notifications naming
  itou/job_applications/models.py
  itou/job_applications/notifications.py
Due: black, ruff

refactor(notifications): update based on base changes
  itou/approvals/notifications.py
  itou/invitations/notifications.py
  itou/job_applications/models.py
  itou/job_applications/notifications.py
Due: black, ruff

test(notifications): update tests
  tests/invitations/tests.py
  tests/job_applications/test_transfer.py
  tests/job_applications/tests.py
Due: black, ruff

fix(notifications): use the new notifications system for the prolongation request accepted event
  itou/approvals/models.py
  itou/approvals/notifications.py
  tests/approvals/test_notifications.py
Due: black, ruff

test(notifications): fix tests
  tests/job_applications/test_transfer.py
  tests/job_applications/tests.py
Due: black, ruff

test(notifications): remove workaround (actual notification are now implemented)
  tests/communications/test_models.py
Due: black, ruff

fix(notifications): rename company -> employer email template names
  itou/approvals/notifications.py
  itou/common_apps/notifications/base_class.py
  itou/job_applications/notifications.py
  itou/templates/apply/email/new_for_employer_body.txt
  itou/templates/apply/email/new_for_employer_subject.txt
  itou/templates/apply/email/transfer_source_employer_body.txt
  itou/templates/apply/email/transfer_source_employer_subject.txt
Due: black, ruff

fix(notifications): improve admin integration, fix notification component init
  itou/static/css/itou-admin.css
  itou/static/js/notifications_center.js
  itou/users/admin.py
Due: black, ruff

Remove useless <span>
  itou/templates/dashboard/edit_user_notifications.html
Due: djlint

Simplify the JS a bit and handle a couple odd behaviors
  itou/static/js/notifications_center.js
  itou/templates/dashboard/edit_user_notifications.html
Due: djlint

refactor(notifications): update based on base changes
  itou/users/admin.py
  itou/www/dashboard/forms.py
Due: black, ruff

test(notifications): update tests
  tests/users/test_admin_views.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/dashboard/tests.py
Due: black, ruff

fix(notifications): remove the notification group selector when there's only one notification
  itou/templates/dashboard/edit_user_notifications.html
Due: djlint

feat(notifications): improve notification center JS
  itou/static/js/notifications_center.js
  itou/templates/dashboard/edit_user_notifications.html
Due: djlint
