Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

config: Rename `ASP_FS_*` settings to `ASP_*` to be less specific
  config/settings/base.py
  itou/employee_record/management/commands/transfer_employee_records.py
  itou/employee_record/management/commands/transfer_employee_records_updates.py
  itou/utils/asp.py
  tests/employee_record/__snapshots__/test_transfer_employee_records.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records_updates.ambr
  tests/employee_record/test_transfer_employee_records.py
  tests/employee_record/test_transfer_employee_records_updates.py
Due: ruff-format, ruff-check

Extract employee records' `get_sftp_connection()` into `itou.utils.asp`
  itou/employee_record/common_management.py
  itou/employee_record/management/commands/transfer_employee_records.py
  itou/employee_record/management/commands/transfer_employee_records_updates.py
  itou/utils/asp.py
  tests/conftest.py
  tests/employee_record/conftest.py
  tests/employee_record/test_transfer_employee_records.py
  tests/employee_record/test_transfer_employee_records_updates.py
Due: ruff-format, ruff-check

Make allauth success messages toasts
  itou/users/adapter.py
Due: ruff-format, ruff-check

Add quick access menu for logged in users
  itou/static/css/itou.css
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/employer_employees_card.html
  itou/templates/includes/demo_accounts.html
  itou/templates/layout/_footer.html
  itou/templates/layout/_header.html
  itou/templates/layout/_header_authenticated.html
  itou/templates/layout/_header_help_dropdown_content.html
  itou/templates/layout/_header_login.html
  itou/templates/layout/_header_nav_primary_items.html
  itou/templates/layout/_header_nav_secondary_items.html
  itou/templates/layout/_header_organization_dropdown_menu.html
  itou/templates/layout/_header_user_dropdown_menu.html
  itou/templates/layout/base.html
  itou/templates/search/includes/generic_search_home.html
  itou/templates/search/prescribers_search_home.html
  itou/templates/utils/templatetags/nav.html
  itou/templates/utils/templatetags/nav_anonymous.html
  itou/utils/staticfiles.py
  itou/utils/templatetags/nav.py
  tests/utils/test_templatetags.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/approvals_views/test_detail.py
  tests/www/approvals_views/test_list.py
  tests/www/approvals_views/test_suspend.py
  tests/www/companies_views/test_job_description_views.py
  tests/www/dashboard/test_dashboard.py
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_notifications.py
  tests/www/employee_record_views/test_list.py
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: ruff-format, ruff-check, djlint

Prefer organization over structure for companies
  itou/institutions/admin.py
  itou/prescribers/admin.py
  itou/templates/apply/includes/job_application_sender_info.html
  itou/templates/apply/includes/job_applications_filters/to_companies.html
  itou/templates/apply/includes/list_card_header.html
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/common/emails/member_deactivation_email_body.txt
  itou/templates/common/emails/remove_admin_email_body.txt
  itou/templates/companies/email/new_signup_activation_email_to_official_contact_body.txt
  itou/templates/companies/job_description_list.html
  itou/templates/companies/members.html
  itou/templates/companies/show_financial_annexes.html
  itou/templates/dashboard/includes/employer_company_card.html
  itou/templates/prescribers/email/must_validate_prescriber_organization_email_body.txt
  itou/templates/prescribers/email/validated_prescriber_organization_email_body.txt
  itou/www/apply/forms.py
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
Due: ruff-format, ruff-check, djlint

Tell France Travail to reach out to change their agency coords
  itou/templates/dashboard/dashboard.html
Due: djlint

Drop feature “import from PE approval”
  itou/templates/approvals/pe_approval_search.html
  itou/templates/approvals/pe_approval_search_found.html
  itou/templates/approvals/pe_approval_search_user.html
  itou/templates/dashboard/includes/employer_employees_card.html
  itou/users/models.py
  itou/www/approvals_views/forms.py
  itou/www/approvals_views/urls.py
  itou/www/approvals_views/views.py
  tests/www/approvals_views/test_pe_approval.py
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check, djlint

employee_record.commands: Limit processed files to the relevant ones
  itou/employee_record/common_management.py
Due: ruff-format, ruff-check

companies.commands: Rework `import_ea_eatt` to use ASP data
  clevercloud/cron.json
  config/settings/base.py
  itou/companies/management/commands/import_ea_eatt.py
  itou/utils/faker_providers.py
  scripts/create-fast-machine.sh
  scripts/import-ea-eatt.sh
  tests/companies/__snapshots__/test_import_ea_eatt.ambr
  tests/companies/test_import_ea_eatt.py
Due: ruff-format, ruff-check

Move and rename `ASP_FS_REMOTE_{UP,DOWN}LOAD_DIR` to be less specifics
  itou/employee_record/common_management.py
  itou/employee_record/constants.py
  itou/utils/asp.py
  tests/employee_record/test_transfer_employee_records.py
  tests/employee_record/test_transfer_employee_records_updates.py
Due: ruff-format, ruff-check

Add an introductory text to employee record creation
  itou/templates/employee_record/add.html
  tests/www/employee_record_views/__snapshots__/test_add.ambr
Due: djlint

www.companies: Only show financial annexes when needed
  itou/templates/companies/job_description_list.html
  itou/templates/companies/members.html
  itou/www/companies_views/views.py
  tests/www/companies_views/test_job_description_views.py
Due: ruff-format, ruff-check, djlint

stats: Open "tb 446" and "tb 469" to "Convergence France"
  itou/institutions/enums.py
  itou/institutions/migrations/0007_convergence_institution.py
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/dashboard/views.py
  itou/www/stats/urls.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
Due: ruff-format, ruff-check, djlint

Prefer JobApplicationWorkflow constants over their values
  itou/job_applications/models.py
Due: ruff-format, ruff-check

test: add assertSnapshotQueries utility
  config/settings/test.py
  requirements/test.in
  requirements/test.txt
  tests/utils/test.py
Due: ruff-format, ruff-check

www.approvals_views: switch to assertSnapshotQueries
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check

www.stats: Show contextual webinar banners
  itou/templates/stats/stats.html
  itou/www/stats/views.py
Due: ruff-format, ruff-check, djlint

gps: Always show conseiller emploi france travail collapse
  itou/templates/users/details.html
  itou/www/users_views/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

Restore search prescribers in authenticated menu
  itou/utils/templatetags/nav.py
Due: ruff-format, ruff-check

Remove back buttons from siae and prescribers search
  itou/templates/search/prescribers_search_results.html
  itou/templates/search/siaes_search_results.html
  tests/www/search/tests.py
Due: ruff-format, ruff-check, djlint

Pluralize prescribers title in prescribers search results
  itou/templates/search/prescribers_search_results.html
  tests/www/search/tests.py
Due: ruff-format, ruff-check, djlint

eligibility: improve AuthorKind.PRESCRIBER label
  itou/eligibility/enums.py
  itou/eligibility/migrations/0001_initial.py
Due: ruff-format, ruff-check

apply: Change the layout of job_seeker_info template
  itou/templates/apply/includes/job_seeker_info.html
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/apply/submit/hire_confirmation.html
  itou/templates/approvals/detail.html
Due: djlint

approvals: improve page title
  itou/templates/approvals/detail.html
Due: djlint
