Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

tests: move test_approval_box to tests/www/approvals_views/
  tests/www/approvals_views/__snapshots__/test_approval_box.ambr
  tests/www/approvals_views/test_approval_box.py
Due: ruff-format, ruff-check

tests: migrate to assertSnapshotQueries
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/employee_record_api/tests.py
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/siae_evaluations/test_models.py
  tests/users/__snapshots__/test_admin_views.ambr
  tests/users/test_admin_views.py
  tests/utils/test.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/search/__snapshots__/tests.ambr
  tests/www/search/tests.py
Due: ruff-format, ruff-check

www.apply: stop calling title on user full names
  itou/www/apply/forms.py
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check

Reindent itou/static/js/formset_add_remove_row.js
  itou/static/js/formset_add_remove_row.js
Due: none

Use fw-* instead of font-weight-*
  itou/static/js/formset_add_remove_row.js
Due: none

stats: Open "tb 440" for SIAE in "Bretagne" and "Occitanie"
  itou/www/stats/utils.py
Due: ruff-format, ruff-check

stats: Open "tb 485" for CD in "Bretagne" and "Occitanie"
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/dashboard/views.py
  itou/www/stats/urls.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check, djlint

stats: Open "tb 485" for DDETS in "Bretagne" and "Occitanie"
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/dashboard/views.py
  itou/www/stats/urls.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
Due: ruff-format, ruff-check, djlint

stats: Open "tb 485" for DREETS in "Bretagne" and "Occitanie"
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/dashboard/views.py
  itou/www/stats/urls.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check, djlint

companies.import_ea_eatt: Fix the "Too many files for this week" error
  itou/companies/management/commands/import_ea_eatt.py
  tests/companies/test_import_ea_eatt.py
Due: ruff-format, ruff-check

fix: update theme to fix js after htmx:load
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

tests: support "ROLLBACK TO SAVEPOINT" in assertSnapshotQueries
  tests/utils/test.py
Due: ruff-format, ruff-check

tests: add save method to origin allow list
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/utils/test.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
Due: ruff-format, ruff-check

tests: migrate more assertNumQueries to assertSnapshotQueries
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/siae_api/__snapshots__/tests.ambr
  tests/api/siae_api/tests.py
  tests/api/test_geiq.py
  tests/companies/__snapshots__/test_admin.ambr
  tests/companies/test_admin.py
  tests/job_applications/__snapshots__/test_transfer.ambr
  tests/job_applications/test_transfer.py
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/test_prolongation_requests.py
  tests/www/companies_views/__snapshots__/test_card_views.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/companies_views/test_card_views.py
  tests/www/companies_views/test_job_description_views.py
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/dashboard/test_edit_user_info.py
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/itou_staff_views/tests.py
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/signup/__snapshots__/test_siae.ambr
  tests/www/signup/test_siae.py
Due: ruff-format, ruff-check

It was inheriting from tests settings.
  config/settings/dev.py
Due: ruff-format, ruff-check

Certify criteria selected during the past 6 months.
  itou/users/management/commands/certify_selected_administrative_criteria.py
  itou/utils/apis/api_particulier.py
Due: ruff-format, ruff-check

Certify stored selected criteria each day at noon
  clevercloud/cron.json
Due: none

Normalize first_name & last_name display
  itou/templates/apply/email/diagoriente_prescriber_invite_body.txt
  itou/templates/apply/includes/job_seeker_info.html
  itou/templates/users/details.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

Mildly interesting
  tests/employee_record/test_models.py
Due: ruff-format, ruff-check

address.models: Make some improvements to `geolocate_qs()`
  itou/common_apps/address/models.py
  itou/utils/apis/geocoding.py
Due: ruff-format, ruff-check

WIP
  itou/companies/management/commands/update_companies_coords.py
  itou/geo/management/__init__.py
  itou/geo/management/commands/__init__.py
  itou/geo/management/commands/update_coords.py
  itou/users/management/commands/update_job_seeker_coords.py
Due: ruff-format, ruff-check

tests: Use mailoutbox fixture
  tests/approvals/test_prolongation_requests.py
  tests/approvals/tests.py
  tests/common_apps/notifications/tests.py
  tests/common_apps/organizations/tests.py
  tests/communications/test_dispatch.py
  tests/companies/test_admin.py
  tests/companies/test_import_siae_command.py
  tests/companies/test_models.py
  tests/institutions/tests.py
  tests/job_applications/test_transfer.py
  tests/job_applications/tests.py
  tests/prescribers/tests.py
  tests/siae_evaluations/test_models.py
  tests/users/test_management_commands.py
  tests/www/apply/test_process.py
  tests/www/approvals_views/test_prolongation.py
  tests/www/companies_views/test_members_views.py
  tests/www/dashboard/test_edit_user_email.py
  tests/www/institutions_views/test_views.py
  tests/www/invitations_views/test_company_accept.py
  tests/www/invitations_views/test_company_send.py
  tests/www/invitations_views/test_prescriber_organization.py
  tests/www/prescribers_views/test_admins.py
  tests/www/prescribers_views/test_members.py
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/siae_evaluations_views/test_siaes_views.py
  tests/www/signup/test_job_seeker.py
  tests/www/signup/test_password.py
  tests/www/signup/test_prescriber.py
  tests/www/signup/test_siae.py
  tests/www/welcoming_tour/tests.py
Due: ruff-format, ruff-check

tests: Remove all remaining TestCases
  tests/communications/test_dispatch.py
  tests/communications/test_models.py
  tests/communications/test_registry.py
  tests/communications/utils.py
  tests/conftest.py
  tests/siae_evaluations/test_emails.py
  tests/utils/test.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_list_for_siae.py
  tests/www/employee_record_views/test_reactivate.py
Due: ruff-format, ruff-check

feat(rdvi): display appointments for job seekers
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/includes/list_card_body_jobseeker.html
  itou/templates/apply/process_details.html
  itou/www/apply/views/list_views.py
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_detail_rdv_insertion.ambr
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/__snapshots__/test_list_rdv_insertion.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_detail_rdv_insertion.py
  tests/www/apply/test_list_rdv_insertion.py
Due: ruff-format, ruff-check, djlint

companies: Use a proper flag to make companies non-searchable
  itou/companies/admin.py
  itou/companies/management/commands/move_company_data.py
  itou/companies/migrations/0011_company_is_searchable.py
  itou/companies/models.py
  itou/www/search/views.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/siae_api/__snapshots__/tests.ambr
  tests/companies/test_management_commands.py
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_card_views.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/search/__snapshots__/tests.ambr
  tests/www/search/tests.py
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/signup/__snapshots__/test_siae.ambr
Due: ruff-format, ruff-check

tests: move notification registration in fixtures
  tests/communications/test_dispatch.py
  tests/communications/test_models.py
  tests/communications/test_registry.py
  tests/communications/utils.py
Due: ruff-format, ruff-check

tests.www.search: Remove unused variable
  tests/www/search/tests.py
Due: ruff-format, ruff-check

apply: Mask sender email when he left his organization
  itou/templates/apply/includes/job_application_sender_info.html
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

apply: set `reset_url` to company or job description card
  itou/templates/apply/submit/application/resume.html
  itou/templates/apply/submit_step_check_job_seeker_nir.html
  itou/templates/apply/submit_step_job_seeker.html
  itou/templates/apply/submit_step_job_seeker_check_info.html
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

companies: add logs to move_company_data & allow its use in the admin
  itou/companies/admin.py
  itou/companies/admin_forms.py
  itou/companies/management/commands/move_company_data.py
  itou/companies/transfer.py
  itou/templates/admin/companies/change_company_form.html
  itou/templates/admin/companies/transfer_company.html
  itou/users/admin.py
  itou/users/admin_forms.py
  itou/utils/admin.py
  tests/companies/test_admin.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check, djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
