Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

feat(communications): render news modal on first device visit
  config/settings/base.py
  config/settings/dev.py
  config/urls.py
  itou/communications/admin.py
  itou/communications/admin_forms.py
  itou/communications/apps.py
  itou/communications/forms.py
  itou/communications/migrations/0002_announcementcampaign_announcementitem.py
  itou/communications/migrations/0003_alter_announcementitem_options_and_more.py
  itou/communications/models.py
  itou/communications/signals.py
  itou/files/forms.py
  itou/files/management/commands/configure_bucket.py
  itou/static/img/news/ico-bicro-important.svg
  itou/templates/news/news.html
  itou/templates/utils/widgets/news_image_input.html
  itou/utils/constants.py
  itou/utils/context_processors.py
  itou/www/news/__init__.py
  itou/www/news/urls.py
  itou/www/news/views.py
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
  tests/communications/factories.py
  tests/communications/test_campaigns.py
  tests/communications/test_models.py
  tests/files/tests.py
  tests/www/news/__init__.py
  tests/www/news/__snapshots__/test_views.ambr
  tests/www/news/test_views.py
Due: ruff-format, ruff-check, djlint

fix: merge error
  itou/communications/apps.py
  itou/communications/signals.py
Due: ruff-format, ruff-check

requirements: merge errors
  requirements/dev.txt
  requirements/test.txt
Due: none

admin.approvals: Make `.employee_record_status()` non-static
  itou/approvals/admin.py
  tests/approvals/tests.py
Due: ruff-format, ruff-check

companies.admin: Use standard empty value for `grace_period_end_at`
  itou/companies/admin.py
Due: ruff-format, ruff-check

admin: Replace hardcoded "-" by Django's `.get_empty_value_display()`
  itou/approvals/admin.py
  itou/companies/admin.py
  itou/employee_record/admin.py
  itou/siae_evaluations/admin.py
Due: ruff-format, ruff-check

dashboard: Remove mobil'emploi banners
  itou/templates/dashboard/dashboard.html
  itou/www/dashboard/views.py
Due: ruff-format, ruff-check, djlint

openid_connect: Add FT users to their new workplace at every connection
  itou/openid_connect/inclusion_connect/views.py
  tests/openid_connect/inclusion_connect/tests.py
Due: ruff-format, ruff-check

www.apply: Use `<p>` over `<br>` to improve spacing on resume step
  itou/templates/apply/submit/application/resume.html
Due: djlint

www.apply: Show a default helper message on resume step
  itou/templates/apply/submit/application/resume.html
Due: djlint

www.apply: Make resume step's help message more alike for IAE and GEIQ
  itou/templates/apply/submit/application/resume.html
Due: djlint

templates.apply: Reduce indentation levels for `resume.html`
  itou/templates/apply/submit/application/resume.html
Due: djlint

templates.apply: Group job seeker cases together for `resume.html`
  itou/templates/apply/submit/application/resume.html
Due: djlint

templates.apply: Group eligibility cases together for `resume.html`
  itou/templates/apply/submit/application/resume.html
Due: djlint

Prevent moving company data if there is an SIAE evaluation
  itou/companies/management/commands/move_company_data.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check

fix: test and code quality
  itou/communications/migrations/0002_announcementcampaign_announcementitem.py
  tests/communications/factories.py
  tests/www/news/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

apply: privilégier l’ouverture d’onglet au parcours de candidature
  itou/templates/apply/includes/accept_section.html
  itou/templates/apply/includes/job_seeker_info.html
  itou/templates/apply/includes/transfer_job_application.html
  itou/templates/apply/process_internal_transfer.html
  itou/templates/apply/submit/application/base.html
  itou/templates/companies/edit_siae_preview.html
  itou/templates/companies/includes/_company_info.html
Due: djlint

scripts: Improve restore backup
  scripts/restore_latest_backup.sh
Due: none

users_views: Cleanup
  itou/templates/users/includes/list_card.html
  itou/www/users_views/views.py
Due: ruff-format, ruff-check, djlint

employee_record: Merge `.update_as_processed{,_as_duplicate}()`
  itou/employee_record/management/commands/transfer_employee_records.py
  itou/employee_record/models.py
  tests/employee_record/test_models.py
Due: ruff-format, ruff-check

employee_record: Add `--parse-file` to manually process a feedback file
  itou/employee_record/common_management.py
  itou/employee_record/management/commands/transfer_employee_records.py
  itou/employee_record/management/commands/transfer_employee_records_updates.py
Due: ruff-format, ruff-check

employee_record: Streamline status checking in `._parse_feedback_file()`
  itou/employee_record/management/commands/transfer_employee_records.py
  itou/employee_record/management/commands/transfer_employee_records_updates.py
Due: ruff-format, ruff-check

employee_record: Rework errors handling for transfer commands
  itou/employee_record/common_management.py
  itou/employee_record/management/commands/transfer_employee_records.py
  itou/employee_record/management/commands/transfer_employee_records_updates.py
Due: ruff-format, ruff-check

employee_record.commands: Remove redundant assignations
  itou/employee_record/management/commands/transfer_employee_records.py
  itou/employee_record/management/commands/transfer_employee_records_updates.py
Due: ruff-format, ruff-check

Archived at
  clevercloud/cron.json
  itou/job_applications/enums.py
  itou/job_applications/management/commands/archive_job_applications.py
  itou/job_applications/migrations/0007_jobapplication_archived_at.py
  itou/job_applications/models.py
  itou/templates/apply/includes/job_applications_filters/offcanvas_body.html
  itou/www/apply/forms.py
  itou/www/apply/views/list_views.py
  tests/job_applications/test_archive_job_applications.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check, djlint

metabase.commands: Remove unregistered sentry monitor
  itou/metabase/management/commands/populate_metabase_emplois.py
Due: ruff-format, ruff-check

feat(news): limit candidate news to relevant news only
  itou/files/forms.py
  itou/www/news/views.py
  tests/communications/factories.py
  tests/www/news/__snapshots__/test_views.ambr
  tests/www/news/test_views.py
Due: ruff-format, ruff-check

WIP
  itou/metabase/management/commands/populate_metabase_matomo.py
Due: ruff-format, ruff-check
