Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

Staff views: fix user merge view
  itou/www/itou_staff_views/merge_utils.py
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check

FranceConnect: handle gender/title field
  itou/openid_connect/france_connect/models.py
  tests/openid_connect/france_connect/tests.py
  tests/www/signup/test_job_seeker.py
Due: ruff-format, ruff-check

apply: add pool state
  itou/job_applications/enums.py
  itou/job_applications/migrations/0001_initial.py
  itou/job_applications/models.py
  itou/utils/templatetags/badges.py
  tests/job_applications/__snapshots__/test_admin.ambr
  tests/job_applications/tests.py
  tests/utils/__snapshots__/tests.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
Due: ruff-format, ruff-check

search: show score detail
  itou/templates/companies/includes/_card_siae.html
  itou/www/search/views.py
Due: ruff-format, ruff-check, djlint

apply: update templates with new status
  itou/templates/apply/includes/siae_actions.html
  itou/templates/apply/includes/siae_batch_actions.html
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_process.ambr
Due: djlint

apply: add add_to_pool action
  itou/templates/apply/includes/siae_actions.html
  itou/templates/apply/process_add_to_pool.html
  itou/www/apply/forms.py
  itou/www/apply/urls.py
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

dashboard: add link for application pool
  itou/www/dashboard/views.py
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check

apply: add batch add_to_pool view
  itou/templates/apply/includes/siae_batch_actions.html
  itou/templates/apply/includes/siae_batch_actions_modals.html
  itou/www/apply/forms.py
  itou/www/apply/urls.py
  itou/www/apply/views/batch_views.py
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_batch_views.py
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

apply: notify when adding an application to the pool
  itou/job_applications/models.py
  itou/job_applications/notifications.py
  itou/templates/apply/email/add_to_pool_for_job_seeker_body.txt
  itou/templates/apply/email/add_to_pool_for_job_seeker_subject.txt
  itou/templates/apply/email/add_to_pool_for_proxy_body.txt
  itou/templates/apply/email/add_to_pool_for_proxy_subject.txt
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

tests: Add traits for criteria certification
  tests/eligibility/factories.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/pe_connect/tests.py
  tests/siae_evaluations/test_models.py
  tests/www/apply/test_process.py
  tests/www/apply/test_templates.py
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_info.py
  tests/www/employee_record_views/test_create.py
  tests/www/job_seekers_views/test_create_or_update.py
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: ruff-format, ruff-check

admin: Show company source in list view
  itou/companies/admin.py
Due: ruff-format, ruff-check

approvals: delete legacy OriginalPoleEmploiApproval
  itou/approvals/migrations/0004_delete_originalpoleemploiapproval.py
  itou/approvals/models.py
Due: ruff-format, ruff-check

Add RDV-I fixtures to the demo
  itou/fixtures/django/33_rdv_insertion_invitation_request.json
  itou/fixtures/django/34_rdv_insertion_invitation.json
  itou/fixtures/django/35_rdv_insertion_location.json
  itou/fixtures/django/36_rdv_insertion_appointment.json
  itou/fixtures/django/37_rdv_insertion_participation.json
  itou/fixtures/django/dumpdata.sh
Due: none

Use demo.emplois prefix for demo fixtures
  itou/api/README-FS-SSII.md
  itou/fixtures/django/05_test_users.json
  itou/fixtures/django/06_confirmed_emails.json
  itou/siae_evaluations/fixtures.py
  itou/utils/templatetags/demo_accounts.py
Due: ruff-format, ruff-check

Do not call certify_criteria from a web worker
  config/settings/base.py
  itou/eligibility/models/common.py
  tests/eligibility/test_iae.py
  tests/utils/apis/test_api_particulier.py
Due: ruff-format, ruff-check

search: new app and new SavedSearch model
  config/settings/base.py
  itou/search/__init__.py
  itou/search/apps.py
  itou/search/migrations/0001_initial.py
  itou/search/migrations/__init__.py
  itou/search/models.py
Due: ruff-format, ruff-check

js: fix showing modals via the backend
  itou/static/js/modal_control.js
Due: none

typo: unbreakable space before a question mark
  itou/templates/apply/includes/accept_section.html
Due: djlint

wip: save searches
  itou/templates/search/includes/new_saved_search_modal_content.html
  itou/templates/search/includes/saved_searches.html
  itou/templates/search/includes/saved_searches_settings_modal.html
  itou/templates/search/includes/siaes_search_results.html
  itou/templates/search/siaes_search_results.html
  itou/www/search_views/forms.py
  itou/www/search_views/views.py
Due: ruff-format, ruff-check, djlint

tests: Prefer get_user() over _auth_user_id
  tests/prescribers/tests.py
Due: ruff-format, ruff-check

fixup! Set the membership default manager to return active memberships
  itou/archive/management/commands/anonymize_professionals.py
  tests/approvals/test_admin.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/companies/test_admin.py
  tests/institutions/tests.py
  tests/prescribers/tests.py
Due: ruff-format, ruff-check

fixup! Set the membership default manager to return active memberships
  itou/common_apps/organizations/admin.py
Due: ruff-format, ruff-check

eligibility: Improve certification status badges
  itou/templates/apply/includes/certification_info_box.html
  itou/templates/apply/includes/selected_administrative_criteria_display.html
  itou/templates/eligibility/includes/badge_certification_error.html
  itou/templates/eligibility/includes/badge_certification_in_progress.html
  itou/utils/templatetags/badges.py
  tests/eligibility/factories.py
  tests/www/apply/test_process.py
  tests/www/apply/test_templates.py
  tests/www/eligibility_views/utils.py
Due: ruff-format, ruff-check, djlint

Move certified_badge to a template tag
  itou/templates/apply/includes/selected_administrative_criteria_display.html
  itou/templates/eligibility/includes/badge_not_certified.html
  itou/utils/templatetags/badges.py
Due: ruff-format, ruff-check, djlint

populate_metabase_emplois: Performance improvement for `job_applications`
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_applications.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

populate_metabase_emplois: Replace prefetches for `job_seekers`
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_seekers.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

tests.populate_metabase_emplois: Use `dictfetchall()` for `organizations`
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

populate_metabase_emplois: Fix a performance issue for `selected_jobs`
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/selected_jobs.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

populate_metabase_emplois: Reduce `<lambda>` occurences in stack trace
  itou/metabase/db.py
  itou/metabase/utils.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

populate_metabase_emplois: Performance improvement for `approvals`
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/approvals.py
  itou/metabase/tables/utils.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

populate_metabase_emplois: Use `QuerySet.iterator()`
  itou/metabase/db.py
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/utils.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

populate_metabase_emplois: Only retrieve the data needed
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_seekers.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

populate_metabase_emplois: Show the duration for the chunks creation
  itou/metabase/db.py
Due: ruff-format, ruff-check

tests.populate_metabase_emplois: Use snapshot for `analytics`
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

populate_metabase_emplois: Remove `get_active_companies_pks()`
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/organizations.py
  itou/metabase/tables/utils.py
  tests/metabase/conftest.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
