Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, djlint

black:
  name: Black
  entry: black
  language: system

flake8:
  name: Flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

approvals_views: Rename context_data in context
  itou/www/approvals_views/views.py
Due: black, flake8, isort

approvals_views: Fix printable display
  itou/templates/approvals/printable_approval.html
  itou/www/approvals_views/tests/test_display.py
  itou/www/approvals_views/urls.py
  itou/www/approvals_views/views.py
Due: black, flake8, isort, djlint

tests: Fix approvals_views tests
  itou/www/approvals_views/tests/test_display.py
Due: black, flake8, isort

Show duplicate error instead of crashing
  itou/www/apply/tests/tests_submit.py
  itou/www/apply/views/submit_views.py
Due: black, flake8, isort

inclusion_connect: Add registration link
  itou/openid_connect/inclusion_connect/constants.py
  itou/openid_connect/inclusion_connect/tests.py
  itou/openid_connect/inclusion_connect/views.py
Due: black, flake8, isort

inclusion_connect: Remove KeyError from views
  itou/openid_connect/inclusion_connect/tests.py
  itou/openid_connect/inclusion_connect/views.py
Due: black, flake8, isort

remove update of *employeur* column
  itou/metabase/management/commands/sql/019_candidatures_echelle_locale.sql
Due: none

SiaeJobDescription: fix the active() query
  itou/siaes/models.py
  itou/siaes/tests/tests_models.py
Due: black, flake8, isort

dashboard: Split into sub templates
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/admin_card.html
  itou/templates/dashboard/includes/job_seeker_approval_card.html
  itou/templates/dashboard/includes/job_seeker_job_applications_card.html
  itou/templates/dashboard/includes/labor_inspector_evaluation_campains_card.html
  itou/templates/dashboard/includes/labor_inspector_organization_card.html
  itou/templates/dashboard/includes/prescriber_job_applications_card.html
  itou/templates/dashboard/includes/prescriber_organisation_card.html
  itou/templates/dashboard/includes/siae_card.html
  itou/templates/dashboard/includes/siae_employees_card.html
  itou/templates/dashboard/includes/siae_evaluation_campains_card.html
  itou/templates/dashboard/includes/siae_job_applications_card.html
  itou/templates/dashboard/includes/stats.html
Due: djlint

dashboard: Update new features badges color
  itou/templates/dashboard/includes/labor_inspector_evaluation_campains_card.html
  itou/templates/dashboard/includes/prescriber_organisation_card.html
  itou/templates/dashboard/includes/siae_employees_card.html
  itou/templates/dashboard/includes/siae_evaluation_campains_card.html
  itou/www/dashboard/tests.py
Due: black, flake8, isort, djlint

templates: Update a badge color
  itou/templates/siaes/includes/_card_jobdescription.html
Due: djlint

config: always use os.getenv
  config/settings/base.py
Due: black, flake8, isort

requirements: remove unused deploy.in
  requirements/deploy.in
Due: none

approvals: Improve PE API rejections export command
  itou/approvals/management/commands/export_pe_api_rejections.py
  itou/approvals/tests/test_management_commands.py
Due: black, flake8, isort

requirements: use the same pinned packages of base in dev
  requirements/dev.in
Due: none

requirements: update dev.txt
  requirements/dev.txt
Due: none

requirements: remove Pillow dependency
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
Due: none

approvals: Fix typo
  itou/approvals/management/commands/export_pe_api_rejections.py
Due: black, flake8, isort

dashboard: Fix new features badges text color
  itou/templates/dashboard/includes/labor_inspector_evaluation_campains_card.html
  itou/templates/dashboard/includes/prescriber_organisation_card.html
  itou/templates/dashboard/includes/siae_employees_card.html
  itou/templates/dashboard/includes/siae_evaluation_campains_card.html
  itou/www/dashboard/tests.py
Due: black, flake8, isort, djlint

Report SIAE who did not reply to amicable phase of evaluation campaigns
  itou/siae_evaluations/models.py
  itou/siae_evaluations/tests/tests_models.py
  itou/templates/siae_evaluations/email/to_institution_siaes_forced_to_adversarial_stage_body.txt
  itou/templates/siae_evaluations/email/to_institution_siaes_forced_to_adversarial_stage_subject.txt
Due: black, flake8, isort

www.search tests: Ensure the page still works with two Siae Kinds
  itou/www/search/tests.py
Due: black, flake8, isort

search.www: Use urlencode instead of custom logic
  itou/www/search/views.py
Due: black, flake8, isort

www.search: Fix flaky test_order_by test
  itou/www/search/tests.py
Due: black, flake8, isort

www.search: Add the optional filters earlier in the display
  itou/www/search/tests.py
  itou/www/search/views.py
Due: black, flake8, isort

clevercloud: No need for sops download anymore
  clevercloud/pre_build.sh
  clevercloud/pre_run.sh
Due: none

Fix SIAE JobDescription search when SIAE has no department
  itou/www/search/tests.py
  itou/www/search/views.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
