Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

fix: replace JobSeekerExistsForm and CheckJobSeekerNirForm placeholder by help_text to improve accessibility
  itou/www/job_seekers_views/forms.py
Due: ruff-format, ruff-check

typos: Fix various typos in the comments
  itou/companies/management/commands/move_company_data.py
  itou/companies/models.py
Due: ruff-format, ruff-check

Address TODO for session namespace kinds
  itou/utils/session.py
  tests/utils/tests.py
  tests/www/apply/test_geiq.py
  tests/www/apply/test_process_external_transfer.py
  tests/www/job_seekers_views/test_create_or_update.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

fix: update job_seeker form ux and improve ui
  itou/templates/apply/submit/application/end.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_1.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_2.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_3.html
  itou/templates/job_seekers_views/step_check_job_seeker_nir.html
  itou/templates/job_seekers_views/step_search_job_seeker_by_email.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

[Prolongations] Display the loading spinner on the main form
  itou/www/approvals_views/forms.py
  tests/www/approvals_views/__snapshots__/test_prolongation.ambr
Due: ruff-format, ruff-check

fix: replace JobSeekerAddressForm placeholder by help_text to improve accessibility
  itou/common_apps/address/forms.py
Due: ruff-format, ruff-check

fix: update job_seeker info form ux and improve ui
  itou/templates/dashboard/includes/edit_job_seeker_info_form.html
Due: djlint

fix: nir form_error a11y
  itou/common_apps/nir/forms.py
Due: ruff-format, ruff-check

fix: update employee_record form ux and improve ui
  itou/templates/employee_record/add.html
  itou/templates/employee_record/includes/create_step_1.html
  itou/templates/employee_record/includes/create_step_2.html
  itou/templates/employee_record/includes/create_step_3.html
  itou/templates/employee_record/includes/create_step_4.html
  itou/templates/employee_record/includes/create_step_5.html
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_create.ambr
Due: djlint

fix: reorder temporary alert in list_for_siae
  itou/templates/apply/list_for_siae.html
Due: djlint

fix: update job_apply adn eligibility form ux and improve ui
  itou/templates/apply/includes/job_application_accept_form.html
  itou/templates/eligibility/includes/form.html
Due: djlint

fix: add external link class for improved accessibility
  itou/templates/apply/includes/eligibility_section.html
Due: djlint

Upgrade h11 to last version
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

companies: transfer memberships even if a membership exists in to_company
  itou/companies/transfer.py
  tests/companies/test_admin.py
Due: ruff-format, ruff-check

companies: disable memberships when deactivating a company
  itou/companies/transfer.py
  tests/companies/test_admin.py
Due: ruff-format, ruff-check

fix: update form field wrapper classes for improved layout consistency
  itou/templates/account/login_job_seeker.html
  itou/templates/apply/includes/job_application_accept_form.html
  itou/templates/approvals/includes/declaration_prescriber_email.html
  itou/templates/dashboard/edit_user_info.html
  itou/templates/dashboard/includes/edit_job_seeker_info_form.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_1.html
  itou/templates/signup/job_seeker_signup.html
  itou/templates/signup/job_seeker_signup_credentials.html
  tests/www/signup/__snapshots__/test_job_seeker.ambr
Due: djlint

[Files] Replace user-managed names by UUID
  itou/www/apply/views/submit_views.py
  itou/www/approvals_views/views.py
  itou/www/siae_evaluations_views/views.py
  tests/www/apply/test_process_external_transfer.py
  tests/www/apply/test_submit.py
  tests/www/approvals_views/test_prolongation.py
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: ruff-format, ruff-check

[Files] Add a helper to anonymize file names
  itou/files/models.py
  tests/files/tests.py
Due: ruff-format, ruff-check

github: Set `permissions` for workflows
  .github/workflows/ci.yml
  .github/workflows/git.yml
  .github/workflows/mkchangelog.yml
  .github/workflows/notify-slack.yml
  .github/workflows/require-labels.yml
  .github/workflows/review-app-creation.yml
  .github/workflows/review-app-removal.yml
Due: none

changelog: From 2025-04-21 to 2025-04-27
  CHANGELOG.md
Due: none

tests: allow to pass no select_htmx_element to update_page_with_htmx
  tests/utils/htmx/test.py
Due: ruff-format, ruff-check

JobApplication: fix ref to User FK in archived_at field
  itou/job_applications/models.py
Due: ruff-format, ruff-check

Filter edit_job_description job descriptions on company
  itou/www/companies_views/views.py
Due: ruff-format, ruff-check

Eligibility: Change criterion certification info box title wording
  itou/templates/apply/includes/certification_info_box.html
  tests/www/apply/test_templates.py
Due: ruff-format, ruff-check, djlint

Prevent editing job seeker with a certified eligibility criteria
  itou/openid_connect/models.py
  itou/templates/apply/includes/job_application_accept_form.html
  itou/templates/dashboard/includes/edit_job_seeker_info_form.html
  itou/templates/employee_record/includes/create_step_1.html
  itou/templates/includes/job_seekers/readonly_form.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_1.html
  itou/users/admin.py
  itou/users/forms.py
  itou/users/models.py
  itou/utils/apis/api_particulier.py
  tests/eligibility/factories.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/pe_connect/tests.py
  tests/users/constants.py
  tests/users/test_admin.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_info.py
  tests/www/employee_record_views/test_create.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check, djlint

changelog: From 2025-04-28 to 2025-05-04
  CHANGELOG.md
Due: none

Use actions GITHUB_TOKEN instead of a custom one
  .github/workflows/mkchangelog.yml
Due: none

Eligibility: Use has-external-link in certification info box
  itou/templates/apply/includes/certification_info_box.html
Due: djlint
