Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

siae_evaluations: Keep campaign with pending sanctions active for DDETS
  itou/www/dashboard/views.py
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check

Revert "job_seeker_info: Hide NIR when relevant"
  itou/templates/apply/includes/job_seeker_info.html
  tests/www/apply/test_process.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check, djlint

Simplify AbstractEligibilityDiagnosisModel.is_valid
  itou/eligibility/models/common.py
Due: ruff-format, ruff-check

job_seeker_info: Hide NIR like other fields
  itou/templates/apply/includes/job_seeker_info.html
  tests/www/apply/test_process.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check, djlint

Set editorconfig for JSON
  .editorconfig
Due: none

test_edit_user_info: Use a date for job seeker birthday
  tests/www/dashboard/test_edit_user_info.py
Due: ruff-format, ruff-check

Include birth place and country in edit user info form
  itou/templates/dashboard/includes/edit_job_seeker_info_form.html
  itou/www/dashboard/forms.py
  tests/conftest.py
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_info.py
Due: ruff-format, ruff-check, djlint

feat: update theme version to 2.5.3
  itou/templates/layout/base.html
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check, djlint

job_seeker_info: Hide NIR when relevant
  itou/templates/apply/includes/job_seeker_info.html
  tests/www/apply/test_process.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check, djlint

Remove duplicate test_submit_commune_invalid_commune_lookup
  tests/www/apply/test_forms.py
Due: ruff-format, ruff-check

tests: Don't exclude 48.1% of valid possibilities for users' birthplaces
  tests/users/factories.py
Due: ruff-format, ruff-check

asp.models: `Commune.end_date` is inclusive
  itou/asp/models.py
  tests/asp/test_communes.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

metabase: Export "tb 471 - Zoom sur les ESAT (2024)" from matomo
  itou/metabase/management/commands/populate_metabase_matomo.py
  tests/metabase/management/__snapshots__/test_populate_metabase_matomo.ambr
  tests/metabase/management/test_populate_metabase_matomo.py
Due: ruff-format, ruff-check

address: reduce GeocodingDataError log to info
  itou/common_apps/address/models.py
  itou/users/admin_forms.py
Due: ruff-format, ruff-check

tests.employee_record: Fix a flaky test introduced in e8c10443d
  tests/users/factories.py
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

throw away commit 1
  README.md
Due: none

throw away commit 2
  README.md
Due: none

fix: gps dashboard card ui
  itou/templates/dashboard/includes/gps_card.html
  tests/gps/__snapshots__/test_views.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
Due: djlint

fix: prescriber organisation card ui
  itou/templates/dashboard/includes/prescriber_organisation_card.html
Due: djlint

fix: dashboard box header bg
  itou/static/css/itou.css
  itou/static/img/dashboard/card-header-bg-gps.png
Due: none

gps: Improve dashboard card
  itou/static/css/itou.css
  itou/static/img/dashboard/card-header-bg-gps.png
  itou/templates/dashboard/includes/gps_card.html
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
Due: djlint

gps: Move user details view in gps module
  config/urls.py
  itou/templates/gps/includes/memberships_results.html
  itou/templates/users/details.html
  itou/www/gps/urls.py
  itou/www/gps/views.py
  itou/www/users_views/__init__.py
  itou/www/users_views/urls.py
  itou/www/users_views/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

fix: gps menbership card ui
  itou/templates/gps/includes/memberships_results.html
  itou/templates/users/includes/gps_group.html
Due: djlint

gps: Move actions from list to details view
  itou/templates/gps/includes/memberships_results.html
  itou/templates/gps/my_groups.html
  itou/templates/users/details.html
  itou/www/gps/views.py
  itou/www/users_views/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

fix: gps details ui
  itou/templates/users/details.html
Due: djlint
