Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

users: Add `last_advisor_with_org` property
  itou/users/models.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

job_seekers_views: Add 'last known advisor' column in list view
  itou/templates/job_seekers_views/includes/list_results.html
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: Improve job seekers queryset performance
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check

fix: Flaky test when users share the same name
  itou/www/apply/forms.py
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/test_accept_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

apply: Improve application end template UI
  itou/templates/apply/submit/application/end.html
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

apply: Change displayed buttons for employer after auto prescription
  itou/templates/apply/submit/application/end.html
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

apply: Enable prescribers to return to search results after applying
  itou/templates/apply/submit/application/end.html
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

apply: Enable employers to return to search results after applying
  itou/templates/apply/submit/application/end.html
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

users: Remove `last_advisor` property
  itou/gps/models.py
  itou/job_applications/models.py
  itou/users/models.py
  tests/job_applications/tests.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

users: Add `last_assignment` property
  itou/users/models.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

Revert "requirement: bump paramiko from 4.0.0 to 5.0.0 in /requirements"
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

fix: ui rules for approvals forms pages
  itou/templates/approvals/contracts.html
  itou/templates/approvals/details.html
  itou/templates/approvals/prolongation_requests/deny.html
  itou/templates/approvals/suspend.html
  itou/templates/approvals/suspension_action_choice.html
  itou/templates/approvals/suspension_delete.html
  itou/templates/approvals/suspension_update.html
  itou/templates/approvals/suspension_update_enddate.html
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
Due: djlint

tests: fix method used on confirm email URL
  tests/www/dashboard/test_edit_user_email.py
Due: ruff-format, ruff-check

accounts: add trigger context on account_confirm_email
  config/urls.py
Due: ruff-format, ruff-check

ci: Let Dependabot suggest itoutils upgrade without delay
  .github/dependabot.yml
Due: none

fix: ui rules for employee_record forms pages
  itou/templates/employee_record/add.html
  itou/templates/employee_record/includes/create_step_3.html
  itou/templates/employee_record/missing_employee.html
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_missing_employee.ambr
Due: djlint

changelog: From 2026-05-11 to 2026-05-17
  CHANGELOG.md
Due: none

employee_record: Deleted unused `unarchive_employee_record` command
  itou/employee_record/management/commands/unarchive_employee_records.py
Due: ruff-format, ruff-check

employee_records: Fix existence oracle in summary/disable/reactivate
  itou/utils/perms/employee_record.py
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/test_disable.py
  tests/www/employee_record_views/test_reactivate.py
  tests/www/employee_record_views/test_summary.py
Due: ruff-format, ruff-check

fix: ui rules for gps forms pages
  itou/templates/gps/group_edition.html
  itou/templates/gps/join_group.html
  itou/templates/gps/join_group_from_coworker.html
  itou/templates/gps/join_group_from_name_and_email.html
  itou/templates/gps/join_group_from_nir.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

fix: ui rules for geiq assesments forms pages
  itou/templates/geiq_assessments_views/action_financial_assessment_upload.html
  itou/templates/geiq_assessments_views/assessment_review.html
  itou/templates/geiq_assessments_views/create.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
Due: djlint

fix: add user-friendly error message for EA/EATT kinds in SiaeSearchForm
  itou/www/search_views/forms.py
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check

feat: add bulk support remark helper and use it for batch remark updates
  itou/companies/admin.py
  itou/gps/management/commands/import_advisor_information.py
  itou/users/admin.py
  itou/utils/admin.py
  tests/utils/tests.py
Due: ruff-format, ruff-check

refactor: anonymization logic into services
  itou/archive/anonymize.py
  itou/archive/management/commands/anonymize_professionals.py
  itou/archive/services/__init__.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

feat: add cleanup command for EA/EATT members
  itou/archive/management/commands/cleanup_ea_eatt_members.py
  tests/archive/test_cleanup_ea_eatt_members.py
Due: ruff-format, ruff-check
