Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

sentry: redact sensitive keys from http breadcrumbs
  config/sentry.py
  tests/test_sentry.py
Due: ruff-format, ruff-check

eligibility: async_certify_{criteria,eligibility_diagnosis}_by_api_particulier
  itou/eligibility/models/common.py
  itou/eligibility/tasks.py
  tests/eligibility/test_iae.py
  tests/eligibility/test_tasks.py
  tests/utils/apis/test_api_particulier.py
  tests/www/apply/test_templates.py
Due: ruff-format, ruff-check

gps: Fix displayed company name
  itou/gps/models.py
  itou/www/gps/views.py
  tests/gps/test_models.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

gps: Stop sending logs to GRIST
  config/settings/base.py
  itou/gps/grist.py
  itou/www/gps/views.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

siae_evaluations: add SIAE kind in list/detail views
  itou/templates/siae_evaluations/evaluated_siae_detail.html
  itou/templates/siae_evaluations/includes/siae_infos.html
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/test_institutions_views.py
Due: ruff-format, ruff-check, djlint

approvals: allow prolongation requests up to 12 months before end
  itou/approvals/models.py
  tests/approvals/tests.py
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check

archive: migrate notify_inactive_jobseekers to dry_runnable
  itou/archive/management/commands/notify_inactive_jobseekers.py
Due: ruff-format, ruff-check

apply: do not crash on missing start_at field
  itou/www/apply/forms.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

sentry: allow to configure shutdown_timeout option
  config/sentry.py
Due: ruff-format, ruff-check

companies.admin: add log when transferring company data
  itou/companies/admin.py
  tests/companies/test_admin.py
Due: ruff-format, ruff-check

prescribers: use dry_runnable in merge_organizations command
  itou/prescribers/management/commands/merge_organizations.py
  tests/prescribers/tests.py
Due: ruff-format, ruff-check

admin: handle membership creation without user
  itou/common_apps/organizations/models.py
  tests/companies/test_admin.py
Due: ruff-format, ruff-check

www.apply: rename administrative criteria column name in table view
  itou/templates/apply/includes/list_table.html
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

sentry: fix strip_sentry_sensitive_data
  config/sentry.py
Due: ruff-format, ruff-check

feat: add old terms versions
  config/urls.py
  itou/templates/static/legal/includes/terms-versions.html
  itou/templates/static/legal/terms-05022024.html
  itou/templates/static/legal/terms-14102022.html
  itou/templates/static/legal/terms.html
Due: ruff-format, ruff-check, djlint

feat: update terms
  itou/templates/static/legal/terms.html
Due: djlint

siae_evaluations: update certified criterion infos
  itou/templates/siae_evaluations/evaluated_job_application.html
  itou/templates/siae_evaluations/includes/criterion_infos.html
  itou/templates/siae_evaluations/includes/list_item.html
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: ruff-format, ruff-check, djlint

siae_evaluations: update SIAE detail page
  itou/templates/siae_evaluations/evaluated_siae_detail.html
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: ruff-format, ruff-check, djlint

tests: improve test consistency
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: ruff-format, ruff-check

job_application: move get_geiq_eligibility_diagnosis to job app model
  itou/job_applications/models.py
  itou/www/apply/views/list_views.py
  itou/www/apply/views/process_views.py
  tests/job_applications/tests.py
  tests/www/apply/test_geiq.py
Due: ruff-format, ruff-check

companies: migrate sync_ft_offers to dry_runnable
  itou/companies/management/commands/sync_ft_offers.py
  tests/companies/test_sync_ft_offers.py
Due: ruff-format, ruff-check

companies: move first meaningful query with the others
  itou/companies/management/commands/sync_ft_offers.py
Due: ruff-format, ruff-check

sentry: migrate to before_breadcrumb hook
  config/sentry.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
