Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

Remove "ex pôle emploi" explanation for France Travail
  itou/approvals/migrations/0001_initial.py
  itou/approvals/models.py
  itou/eligibility/data/administrative_criteria.json
  itou/templates/admin/approvals/includes/job_application_details.html
  itou/templates/apply/includes/job_seeker_info.html
  itou/templates/apply/includes/profile_infos.html
  itou/users/migrations/0001_initial.py
  itou/users/models.py
  itou/utils/validators.py
  itou/www/apply/forms.py
  itou/www/apply/views/common.py
  itou/www/employee_record_views/forms.py
  tests/www/apply/test_process.py
  tests/www/dashboard/test_edit_user_info.py
Due: ruff-format, ruff-check, djlint

Extract a User.job_seeker_department helper
  itou/job_applications/utils.py
  itou/users/models.py
Due: ruff-format, ruff-check

Track user department with Matomo
  itou/templates/layout/base.html
  tests/utils/__snapshots__/tests.ambr
  tests/utils/tests.py
Due: ruff-format, ruff-check, djlint

www.apply: Fix accepting job application for older birthplace
  itou/asp/forms.py
  itou/static/js/utils.js
  itou/templates/employee_record/create.html
Due: ruff-format, ruff-check, djlint

Revert "Advertise AFPA solutions to job seekers"
  itou/approvals/notifications.py
  itou/job_applications/notifications.py
  itou/job_applications/utils.py
  itou/templates/apply/email/refuse_body_for_job_seeker.txt
  itou/templates/approvals/email/prolongation_request/denied/jobseeker_body.txt
  tests/approvals/test_prolongation_requests.py
  tests/job_applications/tests.py
Due: ruff-format, ruff-check

www.search: Update distance choices for forms
  itou/www/search/forms.py
Due: ruff-format, ruff-check

www.approvals: Improve the error message for unknown prescriber
  itou/www/approvals_views/forms.py
  tests/www/approvals_views/__snapshots__/test_prolongation.ambr
Due: ruff-format, ruff-check

www.apply: Fix erroneous message in default case
  itou/templates/apply/process_base.html
Due: djlint

feat(approvals): notify employers of Immersion Facilitée
  itou/templates/approvals/detail.html
  itou/utils/constants.py
  itou/utils/immersion_facile.py
  itou/www/approvals_views/views.py
  tests/utils/test_immersion_facile.py
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check, djlint

gps: importation des conseillers FT d'un fichier excel
  itou/gps/excel.py
  itou/gps/management/commands/import_advisor_information.py
  itou/gps/migrations/0005_francetravailcontact.py
  itou/gps/models.py
  itou/templates/users/details.html
  itou/users/admin.py
  itou/www/users_views/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/factories.py
  tests/gps/test_management_commands.py
  tests/gps/test_views.py
  tests/users/factories.py
Due: ruff-format, ruff-check, djlint

institutions: Bye DTPE hello DTFT
  itou/prescribers/enums.py
  itou/prescribers/models.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
  tests/www/stats/test_utils.py
Due: ruff-format, ruff-check

institutions: Bye DRPE hello DRFT
  itou/prescribers/enums.py
  itou/prescribers/models.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
  tests/www/stats/test_utils.py
Due: ruff-format, ruff-check

institutions: Bye DGPE hello DGFT
  itou/prescribers/enums.py
  itou/prescribers/models.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
  tests/www/stats/test_utils.py
Due: ruff-format, ruff-check

stats: Bye stats_pe hello stats_ft
  itou/templates/apply/list_of_available_exports.html
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/apply/views/list_views.py
  itou/www/dashboard/views.py
  itou/www/stats/urls.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
  tests/www/stats/test_utils.py
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check, djlint

fix: results count ui
  itou/templates/apply/includes/list_counter.html
  itou/templates/approvals/includes/list_counter.html
  itou/templates/employee_record/includes/list_counter.html
  itou/templates/search/includes/prescribers_search_summary.html
  itou/templates/search/includes/siaes_search_top.html
  tests/www/apply/test_process_external_transfer.py
Due: ruff-format, ruff-check, djlint

fix: ic account btn ui
  itou/templates/dashboard/edit_user_info.html
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
Due: djlint

www.apply: fix htmx swap when accept confirmation fails
  itou/templates/apply/includes/accept_section.html
  itou/templates/apply/includes/job_application_accept_form.html
  itou/www/apply/views/common.py
Due: ruff-format, ruff-check, djlint

changelog: From 2024-08-19 to 2024-08-25
  CHANGELOG.md
Due: none

accept form: Add a min to hiring start dates
  itou/www/apply/forms.py
Due: ruff-format, ruff-check

Add quick access menu for logged in users
  itou/static/css/itou.css
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/employer_employees_card.html
  itou/templates/includes/demo_accounts.html
  itou/templates/layout/_footer.html
  itou/templates/layout/_header.html
  itou/templates/layout/_header_authenticated.html
  itou/templates/layout/_header_help_dropdown_content.html
  itou/templates/layout/_header_login.html
  itou/templates/layout/_header_nav_primary_items.html
  itou/templates/layout/_header_nav_secondary_items.html
  itou/templates/layout/_header_organization_dropdown_menu.html
  itou/templates/layout/_header_user_dropdown_menu.html
  itou/templates/layout/base.html
  itou/templates/search/includes/generic_search_home.html
  itou/templates/search/prescribers_search_home.html
  itou/templates/utils/templatetags/nav.html
  itou/templates/utils/templatetags/nav_anonymous.html
  itou/utils/staticfiles.py
  itou/utils/templatetags/nav.py
  tests/utils/test_templatetags.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/approvals_views/test_detail.py
  tests/www/approvals_views/test_list.py
  tests/www/approvals_views/test_suspend.py
  tests/www/companies_views/test_job_description_views.py
  tests/www/dashboard/test_dashboard.py
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_notifications.py
  tests/www/employee_record_views/test_list.py
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: ruff-format, ruff-check, djlint

Prefer organization over structure for companies
  itou/institutions/admin.py
  itou/prescribers/admin.py
  itou/templates/apply/includes/job_application_sender_info.html
  itou/templates/apply/includes/job_applications_filters/to_companies.html
  itou/templates/apply/includes/list_card_header.html
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/common/emails/member_deactivation_email_body.txt
  itou/templates/common/emails/remove_admin_email_body.txt
  itou/templates/companies/email/new_signup_activation_email_to_official_contact_body.txt
  itou/templates/companies/job_description_list.html
  itou/templates/companies/members.html
  itou/templates/companies/show_financial_annexes.html
  itou/templates/dashboard/includes/employer_company_card.html
  itou/templates/prescribers/email/must_validate_prescriber_organization_email_body.txt
  itou/templates/prescribers/email/validated_prescriber_organization_email_body.txt
  itou/www/apply/forms.py
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
Due: ruff-format, ruff-check, djlint

Move and rename `ASP_FS_REMOTE_{UP,DOWN}LOAD_DIR` to be less specifics
  itou/employee_record/common_management.py
  itou/employee_record/constants.py
  itou/utils/asp.py
  tests/employee_record/test_transfer_employee_records.py
  tests/employee_record/test_transfer_employee_records_updates.py
Due: ruff-format, ruff-check

employee_record.commands: Limit processed files to the relevant ones
  itou/employee_record/common_management.py
Due: ruff-format, ruff-check

companies.commands: Rework `import_ea_eatt` to use ASP data
  clevercloud/cron.json
  config/settings/base.py
  itou/companies/management/commands/import_ea_eatt.py
  itou/utils/faker_providers.py
  scripts/create-fast-machine.sh
  scripts/import-ea-eatt.sh
  tests/companies/__snapshots__/test_import_ea_eatt.ambr
  tests/companies/test_import_ea_eatt.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
