Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

Move categories to the bottom
  .github/pull_request_template.md
Due: none

replace imports relative path in subdirs
  itou/analytics/admin.py
  itou/analytics/api_usage.py
  itou/analytics/approvals.py
  itou/analytics/employee_record.py
  itou/analytics/tech.py
  itou/analytics/users.py
  itou/api/auth.py
  itou/approvals/models.py
  itou/communications/apps.py
  itou/geiq/admin.py
  itou/geiq/sync.py
  itou/job_applications/models.py
  itou/openid_connect/france_connect/urls.py
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/inclusion_connect/urls.py
  itou/openid_connect/inclusion_connect/views.py
  itou/openid_connect/pe_connect/urls.py
  itou/openid_connect/pe_connect/views.py
  itou/openid_connect/pro_connect/urls.py
  itou/openid_connect/pro_connect/views.py
  itou/rdv_insertion/admin.py
  itou/status/urls.py
  itou/status/views.py
  itou/utils/hijack/urls.py
  itou/utils/session.py
  itou/www/job_seekers_views/urls.py
  itou/www/stats/views.py
  tests/api/siae_api/tests.py
Due: ruff-format, ruff-check

update pyproject.toml, setup ruff tidy import params, as @xavfernandez's suggestion
  pyproject.toml
Due: none

replace import relative paths
  itou/www/employee_record_views/views.py
Due: ruff-format, ruff-check

If your PR fixes a bug, it should be labelled as it
  .github/pull_request_template.md
Due: none

type arg in employee_record_views urls
  itou/www/employee_record_views/urls.py
Due: ruff-format, ruff-check

fix: eligibility forms ui
  itou/templates/apply/includes/geiq/legislative_text_link.html
  itou/templates/apply/submit/application/eligibility.html
  itou/templates/apply/submit/application/geiq_eligibility.html
  itou/templates/approvals/prolongation_requests/deny.html
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
Due: djlint

Analytics: collect bug pull requests merged on a given day
  config/settings/base.py
  itou/analytics/migrations/0001_initial.py
  itou/analytics/models.py
  itou/analytics/tech.py
  itou/utils/apis/github.py
  tests/analytics/test_collect_analytics_data_management_command.py
  tests/analytics/test_tech_metrics.py
  tests/conftest.py
  tests/data/github.json
  tests/utils/apis/test_github.py
Due: ruff-format, ruff-check

Notify Sentry when pagination will be needed
  itou/utils/apis/github.py
  tests/utils/apis/test_github.py
Due: ruff-format, ruff-check

Use merged_at instead of updated_at
  itou/utils/apis/github.py
  tests/data/github.json
Due: ruff-format, ruff-check

Refactor dates used in tests
  tests/conftest.py
  tests/utils/apis/test_github.py
  tests/utils/apis/test_sentry_api.py
  tests/utils/apis/test_updown.py
Due: ruff-format, ruff-check

Changes missing from introduction of EmailAddress.primary
  itou/emails/managers.py
  itou/emails/models.py
Due: ruff-format, ruff-check

GPS: remove “join_group” feature (route, views, tests)
  itou/static/js/gps.js
  itou/templates/gps/join_group.html
  itou/templates/gps/my_groups.html
  itou/www/autocomplete/urls.py
  itou/www/autocomplete/views.py
  itou/www/gps/forms.py
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/test_create_beneficiary.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

add public_id to Approval Model
  itou/approvals/migrations/0007_approval_public_id.py
  itou/approvals/models.py
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/approvals/tests.py
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
Due: ruff-format, ruff-check

populate public_id and set uuid4 as default in Approval Model
  itou/approvals/migrations/0008_populate_public_id.py
  itou/approvals/models.py
Due: ruff-format, ruff-check

WIP code for accounts viws, urls and tests
  itou/www/accounts/urls.py
  itou/www/accounts/views.py
  tests/www/accounts/__snapshots__/test_views.ambr
  tests/www/accounts/test_views.py
Due: ruff-format, ruff-check

users: Add advisory_information in JobSeekerProfile admin
  itou/gps/models.py
  itou/users/admin.py
Due: ruff-format, ruff-check

job_seekers_views: reorganize tests
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

job_seekers_views: move anonymous_access tests from apply
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

job_seekers_views: raise a 403 error when using a wrong user kind
  itou/www/job_seekers_views/views.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

job_seekers_views: prevent unallowed users from creating/updating job seekers
  itou/www/job_seekers_views/views.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

Use JobSeekerProfileFieldMixin in JobSeekerPersonalDataForm
  itou/common_apps/nir/forms.py
  itou/www/apply/forms.py
  itou/www/apply/views/common.py
Due: ruff-format, ruff-check

job_description.is_popular: Use batch in test
  tests/companies/test_models.py
Due: ruff-format, ruff-check

job_description: Rename popular to overwhelmed
  itou/companies/models.py
  itou/templates/apply/submit/application/jobs.html
  itou/templates/companies/includes/_card_jobdescription.html
  itou/templates/companies/includes/_list_siae_actives_jobs_row.html
  itou/templates/companies/includes/_siae_jobdescription.html
  itou/www/apply/forms.py
  itou/www/search/views.py
  tests/companies/test_models.py
  tests/www/search/__snapshots__/tests.ambr
  tests/www/search/tests.py
Due: ruff-format, ruff-check, djlint

job_description.is_popular: Fix hardcoded threshold
  itou/templates/apply/submit/application/jobs.html
Due: djlint
