Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

utils: Refactor can_*_personal_information
  itou/job_applications/models.py
  itou/job_applications/notifications.py
  itou/users/models.py
  itou/utils/perms/utils.py
Due: ruff-format, ruff-check

feat: refactor layout and improve structure UI of assessment details
  itou/templates/geiq_assessments_views/assessment_details_for_geiq.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
Due: djlint

feat: refactor layout and improve structure UI of assessment KPI
  itou/templates/geiq_assessments_views/assessment_kpi.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
Due: djlint

WIP: Remaining fixmes
  itou/api/applicants_api/perms.py
  itou/api/job_application_api/views.py
  itou/communications/dispatch/utils.py
  itou/invitations/models.py
  itou/job_applications/admin_forms.py
  itou/job_applications/models.py
  itou/metabase/tables/job_seekers.py
  itou/openid_connect/pro_connect/models.py
  itou/openid_connect/pro_connect/views.py
  itou/templates/gps/group_memberships.html
  itou/users/models.py
  itou/utils/perms/middleware.py
  itou/www/invitations_views/forms.py
  itou/www/welcoming_tour/views.py
Due: ruff-format, ruff-check, djlint

fix: avoid relativedelta clamping for feb 29 birthdates in age criteria
  itou/eligibility/models/iae.py
Due: ruff-format, ruff-check

fix(tests): make test_human_readable_estimate deterministic across leap years
  tests/approvals/tests.py
Due: ruff-format, ruff-check

users: Add is_professionals property
  itou/communications/dispatch/utils.py
  itou/users/models.py
  itou/www/dashboard/views.py
  itou/www/login/forms.py
  itou/www/stats/utils.py
Due: ruff-format, ruff-check

test: Fix flaky test
  tests/approvals/tests.py
Due: ruff-format, ruff-check

job_applications: add a filter on queryset to hide old apps to employers
  itou/job_applications/models.py
  itou/www/apply/views/constants.py
  tests/job_applications/tests.py
Due: ruff-format, ruff-check

www.apply: hide old job applications for employers in lists
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check

www.apply: add a warning when an employer cancels an old job application
  itou/templates/apply/process_details_company.html
  itou/www/apply/views/process_views.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

www.apply: add a mention to explain why some applications may be hidden
  itou/templates/apply/includes/list_job_applications.html
  itou/templates/apply/includes/siae_batch_actions_modals.html
  itou/templates/apply/list_for_siae.html
  itou/templates/apply/list_of_available_exports.html
  itou/templates/apply/process_add_to_pool.html
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
Due: djlint

www.apply: hide details view of old job applications for employers
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/test_details.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

tests: fix locally flaky test
  tests/companies/factories.py
  tests/www/geiq_assessments_views/test_views_for_both.py
  tests/www/geiq_assessments_views/test_views_for_geiq.py
Due: ruff-format, ruff-check

users: Add UserKind.caseworker and User.is_caseworker
  itou/communications/dispatch/email.py
  itou/communications/dispatch/utils.py
  itou/gps/management/commands/sync_follow_up_groups_and_members.py
  itou/gps/models.py
  itou/nexus/management/commands/populate_metabase_nexus.py
  itou/nexus/middleware.py
  itou/nexus/utils.py
  itou/templates/search/services/includes/results.html
  itou/users/admin.py
  itou/users/enums.py
  itou/users/management/commands/send_users_to_brevo.py
  itou/users/models.py
  itou/utils/perms/middleware.py
  itou/www/apply/views/list_views.py
  itou/www/apply/views/process_views.py
  itou/www/apply/views/submit_views.py
  itou/www/dashboard/views.py
  itou/www/itou_staff_views/merge_utils.py
  itou/www/itou_staff_views/views.py
  itou/www/job_seekers_views/views.py
  itou/www/nexus/views.py
  itou/www/stats/views.py
  tests/communications/test_campaigns.py
  tests/eligibility/test_admin.py
  tests/eligibility/test_common.py
  tests/openid_connect/pro_connect/tests.py
  tests/www/apply/test_accept_views.py
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check, djlint

utils: Add request.from_prescriber in perms middleware
  itou/approvals/perms.py
  itou/templates/apply/list_prescriptions.html
  itou/templates/apply/process_base.html
  itou/templates/apply/process_details.html
  itou/templates/apply/submit/application/end.html
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/dashboard_stats.html
  itou/templates/dashboard/includes/dashboard_title_content.html
  itou/templates/eligibility/includes/iae/diagnosis_details.html
  itou/templates/eligibility/includes/situation_criteria_tooltip.html
  itou/templates/includes/deactivate_member.html
  itou/templates/includes/members_list.html
  itou/utils/perms/middleware.py
  itou/utils/perms/prescriber.py
  itou/utils/templatetags/nav.py
  itou/utils/zendesk.py
  itou/www/apply/forms.py
  itou/www/apply/views/submit_views.py
  itou/www/approvals_views/views.py
  itou/www/dashboard/views.py
  itou/www/gps/utils.py
  itou/www/gps/views.py
  itou/www/invitations_views/views.py
  itou/www/job_seekers_views/views.py
  itou/www/prescribers_views/views.py
  itou/www/signup/views.py
  itou/www/stats/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check, djlint

utils: Refactor can_*_personal_information
  itou/job_applications/models.py
  itou/job_applications/notifications.py
  itou/utils/perms/utils.py
Due: ruff-format, ruff-check

fix: pass a default save-button context to the included template
  itou/templates/dashboard/dashboard.html
Due: djlint

changelog: From 2026-02-23 to 2026-03-01
  CHANGELOG.md
Due: none

nexus: Remove dropdown feature flag
  config/settings/base.py
  config/settings/test.py
  itou/nexus/middleware.py
Due: ruff-format, ruff-check

apply: add back_url possibility to IAE eligibility view
  itou/templates/eligibility/includes/iae/form.html
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check, djlint

apply: extract previous steps check in method
  itou/www/apply/views/common.py
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
Due: ruff-format, ruff-check

apply: move eligibility step after contract infos
  itou/templates/apply/includes/siae_actions.html
  itou/templates/apply/includes/siae_batch_actions.html
  itou/templates/apply/includes/siae_batch_actions_modals.html
  itou/templates/apply/process_details_company.html
  itou/utils/templatetags/job_application_actions.py
  itou/www/apply/views/accept_views.py
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/test_accept_views.py
  tests/www/apply/test_forms.py
  tests/www/apply/test_geiq.py
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint
