Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

feat(rdv-i): add RDV-I organization ID to company
  itou/companies/admin.py
  itou/companies/migrations/0005_company_rdv_insertion_id.py
  itou/companies/models.py
Due: ruff-format, ruff-check

Delegate security.txt to gip-inclusion
  .github/SECURITY.md
  itou/templates/static/security/security.txt
  itou/www/security/views.py
  tests/www/test_security.py
Due: ruff-format, ruff-check

Fix flaky test
  tests/utils/test.py
  tests/utils/tests.py
Due: ruff-format, ruff-check

Improve and fix failing test
  tests/users/factories.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

Refactor tests or job application's acceptance process
  tests/users/factories.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

Verify employer eligibility diagnosis are superseded by prescriber’s
  tests/eligibility/test_iae.py
Due: ruff-format, ruff-check

Update eligibility diagnosis visibility rules
  itou/eligibility/models/iae.py
  itou/job_applications/export.py
  itou/job_applications/models.py
  itou/templates/apply/includes/list_card_body_company.html
  itou/templates/apply/includes/siae_hiring_actions.html
  itou/templates/approvals/includes/status.html
  itou/templates/dashboard/includes/job_seeker_approval_card.html
  itou/users/models.py
  itou/www/apply/forms.py
  itou/www/apply/views/list_views.py
  itou/www/apply/views/process_views.py
  itou/www/apply/views/submit_views.py
  itou/www/approvals_views/views.py
  tests/eligibility/test_iae.py
  tests/job_applications/tests.py
  tests/users/test_models.py
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/approvals_views/__snapshots__/test_includes.ambr
  tests/www/approvals_views/test_includes.py
Due: ruff-format, ruff-check, djlint

Verify membership of siae in EligibilityDiagnosisQuerySet.for_job_seeker_and_siae
  itou/eligibility/models/iae.py
  tests/eligibility/test_iae.py
Due: ruff-format, ruff-check

fixup! Allow job seekers to see all diags about themselves
  itou/eligibility/models/iae.py
  tests/eligibility/test_iae.py
Due: ruff-format, ruff-check

fixup! Verify prescribers don’t see employer’s eligibility diagnosis
  tests/eligibility/test_iae.py
Due: ruff-format, ruff-check

WIP - Discussion
  itou/eligibility/models/iae.py
Due: ruff-format, ruff-check

merge issues
  itou/templates/approvals/includes/status.html
Due: djlint

Improve test_auto_prescription_xlsx_export
  tests/job_applications/tests.py
Due: ruff-format, ruff-check

more fixes
  itou/eligibility/models/iae.py
  tests/job_applications/tests.py
  tests/www/approvals_views/__snapshots__/test_includes.ambr
Due: ruff-format, ruff-check

Remove repeated prefixes from test_list_prescriptions.py
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check

Move JobApplication.get_eligibility_diagnosis to utils
  itou/eligibility/models/iae.py
  itou/job_applications/models.py
  itou/job_applications/utils.py
  itou/users/models.py
  itou/www/apply/views/process_views.py
  itou/www/approvals_views/views.py
  tests/www/apply/test_process.py
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check

Document expectations in EligibilityDiagnosis.for_jobseeker_and_siae docstring
  itou/eligibility/models/iae.py
Due: ruff-format, ruff-check

eligibility_validated: Hide SIAE diagnosis from prescribers in job application list views
  itou/job_applications/models.py
  itou/www/apply/forms.py
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check

feat(rdvi): add RDV-I/S API credentials getter
  config/settings/base.py
  itou/rdv_insertion/__init__.py
  itou/rdv_insertion/api.py
  itou/rdv_insertion/migrations/__init__.py
  itou/utils/mocks/rdv_insertion.py
  tests/rdv_insertion/__init__.py
  tests/rdv_insertion/tests.py
Due: ruff-format, ruff-check

changelog: From 2024-07-22 to 2024-07-28
  CHANGELOG.md
Due: none

Use settings fixture in tests instead of modifying global settings
  tests/conftest.py
Due: ruff-format, ruff-check

Reword file upload to indicate one file at a time
  itou/templates/utils/widgets/file_input.html
  tests/www/geiq_views/__snapshots__/tests.ambr
Due: djlint

www.stats: Open "tb 149" to all "Cap emplois" and "Mission locale"
  itou/templates/dashboard/includes/stats.html
  itou/www/stats/utils.py
  tests/www/stats/test_utils.py
Due: ruff-format, ruff-check, djlint

www.stats: Open "tb 289" to all DDETS and DREETS
  config/settings/base.py
  itou/templates/dashboard/includes/stats.html
  itou/www/dashboard/views.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
  tests/www/stats/test_utils.py
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check, djlint

www.stats: Open "tb 289" to the DGEFP
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/views.py
Due: ruff-format, ruff-check, djlint

www.stats: Open "tb 394" to all SIAE
  config/settings/base.py
  itou/templates/dashboard/includes/stats.html
  itou/www/dashboard/views.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
  tests/www/stats/test_utils.py
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check, djlint

Simplify GPS users autocomplete signature
  itou/users/models.py
  itou/www/autocomplete/views.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
