Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

users: Extract last contract lookup
  itou/users/models.py
Due: ruff-format, ruff-check

job_seekers_views: Add pro support report form for IAE employers
  itou/templates/job_seekers_views/pro_support_report_create.html
  itou/users/perms.py
  itou/www/job_seekers_views/forms.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/test_pro_support_report.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: Add pro support report page
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/pro_support_report_card_banner.html
  itou/templates/job_seekers_views/pro_support_report.html
  itou/users/models.py
  itou/users/perms.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_pro_support_report.py
Due: ruff-format, ruff-check, djlint

users: Notify the authorized prescriber of a pro support report
  config/settings/base.py
  itou/templates/users/emails/pro_support_report_created_body.md
  itou/templates/users/emails/pro_support_report_created_subject.txt
  itou/users/migrations/0065_prosupportreport_notified_prescriber.py
  itou/users/models.py
  itou/users/notifications.py
  itou/utils/emails.py
  itou/www/job_seekers_views/views.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/__snapshots__/tests_utils.ambr
  tests/users/__snapshots__/test_notifications.ambr
  tests/users/factories.py
  tests/users/test_models.py
  tests/users/test_notifications.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_pro_support_report.py
Due: ruff-format, ruff-check

settings: Update default FQDN
  config/settings/base.py
Due: ruff-format, ruff-check

insertion: allow job seekers to register mobilization events
  itou/insertion/migrations/0007_mobilizationevent.py
  itou/insertion/migrations/0018_remove_mobilizationevent_authenticated_user_has_organization.py
  itou/insertion/models.py
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/mobilization_events.py
  itou/users/perms.py
  tests/insertion/test_models.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
  tests/users/test_perms.py
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

Add 'itou-admin' in demo accounts.
  itou/fixtures/django/account__email_address.json
  itou/fixtures/django/auth__group.json
  itou/fixtures/django/dumpdata.sh
  itou/fixtures/django/users__user.json
  itou/utils/templatetags/demo_accounts.py
  scripts/reset
Due: ruff-format, ruff-check

Use @inclusion.gouv.fr emails.
  docs/developing.md
  itou/fixtures/django/account__email_address.json
  itou/fixtures/django/auth__group.json
  itou/fixtures/django/users__user.json
  itou/utils/templatetags/demo_accounts.py
Due: ruff-format, ruff-check

insertion: show mobilization modes in service search results
  itou/insertion/models.py
  itou/templates/search/services/includes/results.html
  tests/insertion/test_models.py
  tests/www/search_views/__snapshots__/test_services.ambr
Due: ruff-format, ruff-check, djlint

ui: Extract the assignments navtab in its own template
  itou/templates/approvals/list.html
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/employee_record/list.html
  itou/templates/job_seekers_views/includes/assignments_nav_tabs.html
  itou/templates/job_seekers_views/list.html
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: djlint

ProConnect: Store AMR, ACR, and idp_id in the audit trail
  itou/audit_trail/receivers.py
  itou/openid_connect/pro_connect/models.py
  itou/openid_connect/pro_connect/views.py
  tests/openid_connect/pro_connect/tests.py
Due: ruff-format, ruff-check

Oops: Added dumpdata auth__group but it is not used
  itou/fixtures/django/dumpdata.sh
Due: none

Avoid URL resolution at initial setup: 600 ms saved
  itou/utils/command.py
  itou/utils/templatetags/nav.py
Due: ruff-format, ruff-check

employee_record: Remove unneeded factory import
  tests/employee_record/test_admin.py
Due: ruff-format, ruff-check

employee_record: Improve label for 3308 errors
  itou/employee_record/admin.py
  itou/templates/employee_record/includes/list_item.html
  tests/employee_record/test_admin.py
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check, djlint

insertion: update MobilizationEvent model for inbound parsing
  itou/insertion/enums.py
  itou/insertion/migrations/0007_mobilizationevent.py
  itou/insertion/migrations/0018_remove_mobilizationevent_service_and_structure_kind_coherence_and_more.py
  itou/insertion/models.py
  tests/insertion/test_models.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

fix: update theme inclusion to version 3.5.5
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

feat: add new search areas to homepage
  itou/static/img/home/illustration-search.webp
  itou/static/js/plateforme_accueil_embed.js
  itou/templates/search/includes/prescribers_search_form.html
  itou/templates/search/includes/services_search_form.html
  itou/templates/search/includes/siaes_search_form.html
  itou/templates/search/search_home.html
  itou/templates/search/services/results.html
  itou/utils/templatetags/nav.py
  itou/www/search_views/forms.py
  itou/www/search_views/views.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/home/tests.py
  tests/www/search_views/test_services.py
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check, djlint

api: add an authenticated webhook for brevo inbound parsing
  config/settings/base.py
  config/settings/test.py
  itou/api/admin.py
  itou/api/auth.py
  itou/api/inbound_parsing/enums.py
  itou/api/inbound_parsing/serializers.py
  itou/api/inbound_parsing/views.py
  itou/api/migrations/0004_brevotoken.py
  itou/api/models.py
  itou/api/urls.py
  tests/api/__snapshots__/test_inbound_parsing.ambr
  tests/api/test_inbound_parsing.py
  tests/utils/test_admin.py
Due: ruff-format, ruff-check

___ wip: debug
  itou/openid_connect/pro_connect/views.py
Due: ruff-format, ruff-check

otp: Add `active` filter to ItouTOTPDevice manager/query set
  itou/openid_connect/pro_connect/views.py
  itou/otp/models.py
  itou/otp/utils.py
  itou/users/admin.py
  itou/users/models.py
  itou/www/otp_views/forms.py
  itou/www/otp_views/views.py
Due: ruff-format, ruff-check

pro_connect: Progressively enforce MFA
  config/settings/base.py
  itou/openid_connect/pro_connect/utils.py
  itou/openid_connect/pro_connect/views.py
  itou/otp/utils.py
  tests/openid_connect/pro_connect/tests.py
  tests/otp/test_utils.py
Due: ruff-format, ruff-check

[ci skip] WIP fix some mispellings
  itou/analytics/api_usage.py
  itou/approvals/admin_views.py
  itou/approvals/management/commands/send_approvals_to_pe.py
  itou/common_apps/address/format.py
  itou/common_apps/address/forms.py
  itou/companies/management/commands/_import_siae/utils.py
  itou/companies/management/commands/_import_siae/vue_af.py
  itou/emails/tasks.py
  itou/employee_record/admin.py
  itou/employee_record/models.py
  itou/files/management/commands/delete_unused_files.py
  itou/job_applications/models.py
  itou/metabase/tables/utils.py
  itou/nexus/models.py
  itou/openid_connect/france_connect/views.py
  itou/siae_evaluations/models.py
  itou/utils/brevo.py
  itou/utils/management/commands/check_inconsistencies.py
  itou/utils/widgets.py
  itou/utils/zendesk.py
  itou/www/apply/forms.py
  itou/www/apply/views/batch_views.py
  itou/www/companies_views/views.py
  itou/www/employee_record_views/views.py
  itou/www/geiq_assessments_views/views.py
  itou/www/search_views/views.py
  itou/www/siae_evaluations_views/views.py
  itou/www/signup/views.py
Due: ruff-format, ruff-check

perms: Improve ProConnect activation
  itou/utils/perms/middleware.py
Due: ruff-format, ruff-check

tests: Configure fake ProConnect config in test
  config/settings/base.py
  config/settings/dev.py
  config/settings/test.py
  docs/environment.md
  tests/conftest.py
  tests/middleware/test_terms_acceptance.py
  tests/openid_connect/pro_connect/testing.py
  tests/www/login/tests.py
Due: ruff-format, ruff-check

tests: Remove test
  tests/www/login/tests.py
Due: ruff-format, ruff-check

tests: Refactor pre_login tests
  tests/www/login/tests.py
Due: ruff-format, ruff-check

perms: Remove temp pro connect enforcment for FT users
  itou/utils/perms/middleware.py
  tests/www/dashboard/test_activate_sso_account.py
Due: ruff-format, ruff-check

ProConnect: Store AMR, ACR, and idp_id in the audit trail
  itou/audit_trail/receivers.py
  itou/openid_connect/pro_connect/views.py
  tests/openid_connect/pro_connect/tests.py
Due: ruff-format, ruff-check

emails: Improve signature
  itou/templates/layout/base_email_signature.txt
  tests/approvals/__snapshots__/test_admin.ambr
  tests/approvals/__snapshots__/test_notifications.ambr
  tests/approvals/__snapshots__/test_prolongation_requests.ambr
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/companies/__snapshots__/test_management_commands.ambr
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/job_applications/__snapshots__/tests.ambr
  tests/siae_evaluations/__snapshots__/test_emails.ambr
  tests/siae_evaluations/__snapshots__/test_management_commands.ambr
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/users/__snapshots__/test_management_commands.ambr
  tests/users/__snapshots__/test_models.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/companies_views/__snapshots__/test_members_views.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
  tests/www/institutions_views/__snapshots__/test_views.ambr
  tests/www/prescribers_views/__snapshots__/test_members.ambr
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/signup/__snapshots__/test_password.ambr
Due: ruff-format, ruff-check

scripts: drop our rewritten clever-deploy
  .github/workflows/review-app-creation.yml
  scripts/clever-deploy
  scripts/create-sidecar-instance.sh
Due: none

fix: improve ProConnect signup information display
  itou/templates/signup/professional_user.html
Due: djlint

openid_connect: Fix France Connect jwks warning
  itou/openid_connect/france_connect/views.py
  tests/openid_connect/france_connect/tests.py
Due: ruff-format, ruff-check

insertion: add data·inclusion Service and Structure fields, migration and fixtures
  itou/fixtures/django/insertion__service.json
  itou/fixtures/django/insertion__structure.json
  itou/insertion/admin.py
  itou/insertion/management/commands/import_structures_and_services.py
  itou/insertion/migrations/0019_service_and_structure_di_fields.py
  itou/insertion/models.py
  tests/api/__snapshots__/test_insertion.ambr
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/insertion/__snapshots__/test_import_structures_and_services.ambr
  tests/insertion/__snapshots__/test_send_orientations_reminder_emails.ambr
  tests/insertion/api_mocks/data_inclusion/services.json
  tests/insertion/api_mocks/data_inclusion/structures.json
  tests/insertion/test_import_structures_and_services.py
  tests/insertion/test_models.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion: redesign service detail page for data·inclusion
  itou/fixtures/django/insertion__service.json
  itou/insertion/models.py
  itou/templates/insertion/includes/orientation_external_link_button.html
  itou/templates/insertion/includes/updated_on_badge.html
  itou/templates/insertion/service_card.html
  itou/templates/insertion/service_response_time.html
  itou/utils/templatetags/str_filters.py
  itou/www/insertion_views/views.py
  tests/insertion/factories.py
  tests/insertion/test_models.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint
