Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

populate_metabase_emplois: Performance improvement for `organizations`
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/organizations.py
  itou/metabase/tables/utils.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

metabase.tables: Prefer `attrgetter()` when possible
  itou/metabase/tables/analytics.py
  itou/metabase/tables/approvals.py
  itou/metabase/tables/companies.py
  itou/metabase/tables/evaluated_siaes.py
  itou/metabase/tables/gps.py
  itou/metabase/tables/insee_codes.py
  itou/metabase/tables/job_applications.py
  itou/metabase/tables/job_descriptions.py
  itou/metabase/tables/job_seekers.py
  itou/metabase/tables/organizations.py
  itou/metabase/tables/rome_codes.py
  itou/metabase/tables/selected_jobs.py
  itou/metabase/tables/suspensions.py
  itou/metabase/tables/utils.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

populate_metabase_emplois: Performance improvement for `companies`
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/companies.py
  itou/metabase/tables/organizations.py
  itou/metabase/tables/utils.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

metabase.tables: Use `get_column_from_field()` when possible
  itou/metabase/tables/analytics.py
  itou/metabase/tables/approvals.py
  itou/metabase/tables/companies.py
  itou/metabase/tables/criteria.py
  itou/metabase/tables/evaluated_criteria.py
  itou/metabase/tables/evaluated_job_applications.py
  itou/metabase/tables/evaluated_siaes.py
  itou/metabase/tables/evaluation_campaigns.py
  itou/metabase/tables/gps.py
  itou/metabase/tables/insee_codes.py
  itou/metabase/tables/institutions.py
  itou/metabase/tables/job_applications.py
  itou/metabase/tables/job_descriptions.py
  itou/metabase/tables/job_seekers.py
  itou/metabase/tables/organizations.py
  itou/metabase/tables/rome_codes.py
  itou/metabase/tables/selected_jobs.py
  itou/metabase/tables/suspensions.py
  itou/metabase/tables/users.py
  itou/metabase/tables/utils.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

FranceConnect: remove unused image file
  itou/static/img/franceconnect_btn.svg
Due: none

FranceConnect: update button images & size
  itou/static/css/itou.css
  itou/static/img/franceconnect-bouton-hover.svg
  itou/static/img/franceconnect-bouton.svg
Due: none

fix logout url in v2
  itou/openid_connect/france_connect/views.py
Due: ruff-format, ruff-check

handle jwt decoding for v2
  itou/openid_connect/france_connect/constants.py
  itou/openid_connect/france_connect/views.py
Due: ruff-format, ruff-check

hire: refactor profile_infos template
  itou/templates/apply/includes/profile_infos.html
  itou/templates/job_seekers_views/check_job_seeker_info_for_hire.html
  itou/www/job_seekers_views/views.py
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

option 1: set jobseeker as default False in _submit_title.html
  itou/templates/apply/includes/_submit_title.html
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

option 2: add job_seeker var in context by default when it is missing
  itou/templates/apply/includes/_submit_title.html
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check, djlint

changelog: From 2025-08-25 to 2025-08-31
  CHANGELOG.md
Due: none

Move certified_badge to a template tag
  itou/templates/apply/includes/selected_administrative_criteria_display.html
  itou/templates/eligibility/includes/badge_not_certified.html
  itou/utils/templatetags/badges.py
Due: ruff-format, ruff-check, djlint

eligibility: Improve certification status badges
  itou/templates/apply/includes/certification_info_box.html
  itou/templates/apply/includes/selected_administrative_criteria_display.html
  itou/templates/eligibility/includes/badge_certification_error.html
  itou/templates/eligibility/includes/badge_certification_in_progress.html
  itou/utils/templatetags/badges.py
  tests/eligibility/factories.py
  tests/www/apply/test_process.py
  tests/www/apply/test_templates.py
  tests/www/eligibility_views/utils.py
Due: ruff-format, ruff-check, djlint

Add RDV-I fixtures to the demo
  itou/fixtures/django/33_rdv_insertion_invitation_request.json
  itou/fixtures/django/34_rdv_insertion_invitation.json
  itou/fixtures/django/35_rdv_insertion_location.json
  itou/fixtures/django/36_rdv_insertion_appointment.json
  itou/fixtures/django/37_rdv_insertion_participation.json
  itou/fixtures/django/dumpdata.sh
Due: none

Use demo.emplois prefix for demo fixtures
  itou/api/README-FS-SSII.md
  itou/fixtures/django/05_test_users.json
  itou/fixtures/django/06_confirmed_emails.json
  itou/siae_evaluations/fixtures.py
  itou/utils/templatetags/demo_accounts.py
Due: ruff-format, ruff-check

Do not call certify_criteria from a web worker
  config/settings/base.py
  itou/eligibility/models/common.py
  tests/eligibility/test_iae.py
  tests/utils/apis/test_api_particulier.py
Due: ruff-format, ruff-check

admin: allow CTA export for all groups
  itou/users/management/commands/sync_group_and_perms.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
Due: ruff-format, ruff-check

admin: allow members from the readonly groups to perform CTA exports
  itou/users/management/commands/sync_group_and_perms.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
  tests/users/test_sync_group_and_perms.py
Due: ruff-format, ruff-check

utils: Don't wrap wet run command in a transaction
  itou/utils/command.py
  tests/archive/__snapshots__/tests_management_command.ambr
Due: ruff-format, ruff-check

Set jobseeker as default None in _submit_title.html
  itou/templates/apply/includes/_submit_title.html
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

FranceConnect: make title readonly for jobseekers using FC
  itou/www/dashboard/forms.py
  tests/www/dashboard/test_edit_user_info.py
Due: ruff-format, ruff-check

Rename EligibilityDiagnosis.certify_criteria to schedule_certification
  itou/eligibility/models/common.py
  itou/eligibility/models/geiq.py
  itou/eligibility/models/iae.py
  itou/www/apply/views/common.py
Due: ruff-format, ruff-check

tests.populate_metabase_emplois: Use snapshot for `analytics`
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

populate_metabase_emplois: Reduce `<lambda>` occurences in stack trace
  itou/metabase/db.py
  itou/metabase/utils.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

tests.populate_metabase_emplois: Use `dictfetchall()` for `organizations`
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

populate_metabase_emplois: Remove `get_active_companies_pks()`
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/organizations.py
  itou/metabase/tables/utils.py
  tests/metabase/conftest.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
