Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

otp: Remove unused `OTP_ADMIN_HIDE_SENSITIVE_DATA`
  config/settings/base.py
Due: ruff-format, ruff-check

feat: updating the boxes in the sidebar
  itou/templates/geiq_assessments_views/includes/allowance_request_justified_box.html
  itou/templates/geiq_assessments_views/includes/assessment_status_box_for_geiq.html
  itou/templates/geiq_assessments_views/includes/assessment_status_box_for_institution.html
  itou/templates/geiq_assessments_views/includes/contracts_grant_allowance_box_for_institution.html
  itou/templates/geiq_assessments_views/includes/contracts_request_allowance_box_for_geiq.html
  itou/templates/itou_staff_views/merge_users_confirm.html
  itou/templates/siae_evaluations/includes/recommendations_box.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_both.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
  tests/www/geiq_assessments_views/test_views_for_both.py
Due: ruff-format, ruff-check, djlint

fixtures: Add readme to dumpdata.sh
  itou/fixtures/django/dumpdata.sh
Due: none

fixtures: Remove sponge requirements for dumpdata.sh
  itou/fixtures/django/dumpdata.sh
Due: none

fixtures: Fix loaddata_bulk command
  itou/utils/management/commands/loaddata_bulk.py
Due: ruff-format, ruff-check

fixtures: Format newly added files
  itou/fixtures/django/insertion__genericreferenceitem.json
  itou/fixtures/django/insertion__service.json
  itou/fixtures/django/insertion__structure.json
Due: none

feat (sps): add recommendations app and related templates, views, and URLs
  itou/fixtures/django/39_recommendations.json
  itou/recommendations/_mock_data.py
  itou/recommendations/apps.py
  itou/recommendations/enums.py
  itou/recommendations/migrations/0001_initial.py
  itou/recommendations/models.py
  itou/recommendations/services.py
  itou/templates/recommendations/beneficiary_actions.html
  itou/templates/recommendations/beneficiary_base.html
  itou/templates/recommendations/beneficiary_profile.html
  itou/templates/recommendations/includes/list_reset_filters.html
  itou/templates/recommendations/includes/list_results.html
  itou/templates/recommendations/includes/nav_tabs.html
  itou/templates/recommendations/includes/recommendation_card.html
  itou/templates/recommendations/includes/recommendation_filters/field_collapse_checkbox.html
  itou/templates/recommendations/includes/recommendation_filters/offcanvas.html
  itou/templates/recommendations/includes/top_filters.html
  itou/templates/recommendations/list.html
  itou/utils/templatetags/nav.py
  itou/www/recommendations/enums.py
  itou/www/recommendations/forms.py
  itou/www/recommendations/urls.py
  itou/www/recommendations/views.py
  itou/www/recommendations/views/__init__.py
  itou/www/recommendations/views/beneficiary_views.py
  itou/www/recommendations/views/common.py
  itou/www/recommendations/views/list_views.py
  tests/recommendations/__init__.py
  tests/recommendations/factories.py
  tests/utils/tests.py
  tests/www/recommendations/__snapshots__/test_views.ambr
  tests/www/recommendations/__snapshots__/tests.ambr
  tests/www/recommendations/conftest.py
  tests/www/recommendations/test_models.py
  tests/www/recommendations/test_nav.py
  tests/www/recommendations/test_services.py
  tests/www/recommendations/test_views.py
  tests/www/recommendations/tests.py
Due: ruff-format, ruff-check, djlint

chore: add decoupage_administratif to installed apps
  config/settings/base.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
Due: ruff-format, ruff-check

fix: change page size of import to 1000
  itou/insertion/management/commands/import_structures_and_services.py
Due: ruff-format, ruff-check

feat: add detail page for an insertion service
  config/settings/base.py
  itou/insertion/management/commands/import_structures_and_services.py
  itou/insertion/models.py
  itou/insertion/opening_hours.py
  itou/insertion/utils.py
  itou/static/css/itou.css
  itou/templates/insertion/service_card.html
  itou/templates/insertion/service_response_time.html
  itou/utils/storage/s3.py
  itou/utils/templatetags/dora.py
  itou/utils/templatetags/str_filters.py
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  itou/www/search_views/views.py
  tests/insertion/__snapshots__/test_import_structures_and_services.ambr
  tests/insertion/api_mocks/data_inclusion/services.json
  tests/insertion/api_mocks/data_inclusion/structures.json
  tests/insertion/api_mocks/dora/services.json
  tests/insertion/factories.py
  tests/insertion/test_import_structures_and_services.py
  tests/insertion/test_opening_hours.py
  tests/utils/test_templatetags.py
  tests/www/insertion_views/__init__.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
  tests/www/search_views/test_services.py
Due: ruff-format, ruff-check, djlint

antivirus: Fix `scan_s3_files` command
  itou/antivirus/management/commands/scan_s3_files.py
Due: ruff-format, ruff-check

fix: some ui adjustments in geiq_assessments_views
  itou/templates/geiq_assessments_views/assessment_contracts_list.html
  itou/templates/geiq_assessments_views/assessment_details_for_geiq.html
  itou/templates/geiq_assessments_views/assessment_details_for_institution.html
  itou/templates/geiq_assessments_views/assessment_kpi.html
  itou/templates/geiq_assessments_views/create.html
  itou/templates/geiq_assessments_views/includes/contracts_list_justification_alert.html
  itou/templates/geiq_assessments_views/includes/contracts_list_stats.html
  itou/templates/geiq_assessments_views/includes/contracts_request_allowance_box_for_geiq.html
  itou/templates/geiq_assessments_views/includes/contracts_switch.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_both.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
Due: djlint

Restore deprecated ProConnect MFA authentication claims
  itou/openid_connect/pro_connect/views.py
Due: ruff-format, ruff-check

fix(dashboard): keep empty SSO fields editable on job seeker edit form
  itou/www/dashboard/forms.py
  tests/www/dashboard/test_edit_job_seeker_info.py
Due: ruff-format, ruff-check

tests: fix flaky insertion service tests
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

job_seekers_views: Test filter on organization members for employers
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

job_seekers_views: Add assignments to navigation tab for employers
  itou/templates/dashboard/includes/employer_employees_card.html
  itou/templates/job_seekers_views/list.html
  itou/utils/templatetags/nav.py
  itou/www/job_seekers_views/views.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

job_applications: Add custom queryset method to get job applications sent and received by companies
  itou/job_applications/models.py
  tests/job_applications/tests.py
Due: ruff-format, ruff-check

job_seekers_views: Display sent and received applications for employers in applications tab
  itou/templates/job_seekers_views/includes/list_job_applications.html
  itou/templates/job_seekers_views/job_applications.html
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

tests: Remove old snapshots
  tests/www/nexus/__snapshots__/test_views.ambr
Due: none

tests: Improve test
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

tests: Fix flaky test
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

nexus: Remove departments restriction
  config/settings/base.py
  itou/nexus/utils.py
  itou/templates/nexus/homepage.html
  itou/utils/templatetags/nexus.py
  itou/www/nexus/views.py
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/companies/factories.py
  tests/gps/__snapshots__/test_views.ambr
  tests/nexus/test_middleware.py
  tests/nexus/test_utils.py
  tests/prescribers/factories.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_both.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/recommendations/__snapshots__/test_views.ambr
  tests/www/search_views/__snapshots__/test_saved_searches.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/test_layout.py
Due: ruff-format, ruff-check, djlint

pro_connect: Mise à jour des claims ACR MFA avec les nouvelles valeurs eidas standardisées
  itou/openid_connect/pro_connect/views.py
Due: ruff-format, ruff-check

nexus: Put back remove departments restriction
  config/settings/base.py
  itou/nexus/utils.py
  itou/templates/nexus/homepage.html
  itou/utils/templatetags/nexus.py
  itou/www/nexus/views.py
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/companies/factories.py
  tests/gps/__snapshots__/test_views.ambr
  tests/nexus/test_middleware.py
  tests/nexus/test_utils.py
  tests/prescribers/factories.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_both.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/recommendations/__snapshots__/test_views.ambr
  tests/www/search_views/__snapshots__/test_saved_searches.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/test_layout.py
Due: ruff-format, ruff-check, djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
