Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

changelog: From 2025-06-09 to 2025-06-15
  CHANGELOG.md
Due: none

Get or create SessionNamespace from its __init__
  itou/utils/session.py
  itou/www/apply/views/process_views.py
  itou/www/apply/views/submit_views.py
  itou/www/companies_views/views.py
  itou/www/job_seekers_views/views.py
  itou/www/utils/wizard.py
  tests/utils/test.py
  tests/utils/tests.py
Due: ruff-format, ruff-check

Rename SessionNamespace.create{_uuid_namespace,}
  itou/utils/session.py
  itou/www/apply/views/submit_views.py
  itou/www/companies_views/views.py
  itou/www/gps/views.py
  itou/www/job_seekers_views/views.py
  itou/www/utils/wizard.py
  tests/utils/tests.py
  tests/www/companies_views/test_job_description_views.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

archive: Split notifying and archiving users in 2 commands
  clevercloud/cron.json
  config/settings/base.py
  itou/archive/management/commands/archive_users.py
  itou/archive/management/commands/notify_inactive_users.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

archive: Clean tests
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

cron: Pause antivirus scan
  clevercloud/cron.json
Due: none

Allow editing empty birth_place field even with certified critetia
  itou/users/models.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

archive: Rename command
  clevercloud/cron.json
  config/settings/base.py
  itou/archive/management/commands/anonymize_users.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

www.employee_record: Use standard form flow for location step
  itou/templates/employee_record/includes/create_step_2.html
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/__snapshots__/test_create.ambr
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check, djlint

fix: column classes from col-md-8 to col-lg-8
  itou/templates/announcements/news.html
  itou/templates/employee_record/add.html
  itou/templates/siae_evaluations/siae_select_criteria.html
  itou/templates/siae_evaluations/siae_upload_doc.html
  tests/www/announcements/__snapshots__/test_views.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
Due: djlint

files: Add db uniqueness on File.key
  itou/files/migrations/0008_alter_file_key_uniq.py
  itou/files/models.py
Due: ruff-format, ruff-check

files: Remove command to remove all orphan files without purging the storage
  itou/files/management/commands/remove_orphan_files.py
  tests/files/tests.py
Due: ruff-format, ruff-check

geiq_assessments: store main geiq postal code
  itou/geiq_assessments/admin.py
  itou/geiq_assessments/migrations/0002_assessment_label_geiq_post_code.py
  itou/geiq_assessments/migrations/0003_fill_label_geiq_post_code.py
  itou/geiq_assessments/models.py
  itou/www/geiq_assessments_views/views.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_both.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
  tests/www/geiq_assessments_views/test_views_for_geiq.py
Due: ruff-format, ruff-check

geiq_assessments: add antenna & department to contract details
  itou/geiq_assessments/models.py
  itou/templates/geiq_assessments_views/assessment_contracts_details.html
  tests/geiq_assessments/test_models.py
Due: ruff-format, ruff-check, djlint

Cron: Add files crons
  clevercloud/cron.json
Due: none

files: Don't mark synced files from s3 as deleted
  itou/files/management/commands/sync_s3_files.py
  tests/files/tests.py
Due: ruff-format, ruff-check

archive: Fix anonymize_users monitor
  itou/archive/management/commands/anonymize_users.py
Due: ruff-format, ruff-check

Expose User.external_data_source_history in the admin
  itou/users/admin.py
  tests/users/test_admin.py
Due: ruff-format, ruff-check

use JobApplicationFactory traits for more realistic datas
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

fix anonymization on jobapplication which sender is missing
  itou/archive/management/commands/anonymize_users.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

files: Change id column type to uuid
  itou/files/migrations/0009_alter_file_id.py
  itou/files/models.py
  tests/files/factories.py
Due: ruff-format, ruff-check

files: Remove update_ids management command
  clevercloud/cron.json
  itou/files/management/commands/update_ids.py
  tests/files/tests.py
Due: ruff-format, ruff-check

move Brevo API url in settings
  config/settings/base.py
  config/settings/test.py
  itou/utils/brevo.py
  itou/utils/logging.py
  tests/archive/tests_management_command.py
  tests/archive/tests_tasks.py
  tests/users/__snapshots__/test_management_commands.ambr
  tests/users/test_management_commands.py
  tests/utils/test_brevo.py
Due: ruff-format, ruff-check

set brevo_api_key as an autouse fixture
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

mock delete calls to brevo for all tests in TestArchiveUsersManagementCommand
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

remove redundant test
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check
