Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

Attach a text/html alternative to emails
  config/settings/base.py
  itou/emails/markdown.py
  itou/utils/emails.py
  tests/conftest.py
  tests/emails/__snapshots__/test_html.ambr
  tests/emails/templates/html_body.md
  tests/emails/templates/known_domain_body.md
  tests/emails/templates/markdown_body.md
  tests/emails/templates/subject.txt
  tests/emails/templates/unknown_domain_body.md
  tests/emails/test_html.py
Due: ruff-format, ruff-check

conftest: Disable E402 (import order) on itou block
  tests/conftest.py
Due: ruff-format, ruff-check

templates: Fix the left menu for non IAE companies
  itou/utils/templatetags/nav.py
Due: ruff-format, ruff-check

___ wip: fix
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

Now send the HTML alternative
  itou/emails/models.py
  itou/emails/tasks.py
  tests/emails/test_admin.py
  tests/emails/test_commands.py
  tests/emails/test_tasks.py
  tests/utils/test_admin.py
Due: ruff-format, ruff-check

insertion_views: rename orientation status "Refusée" -> "Déclinée"
  itou/insertion/enums.py
  itou/insertion/management/commands/sync_orientation_statuses.py
  itou/insertion/migrations/0012_alter_orientation_status_orientationtransitionlog.py
  itou/insertion/models.py
  itou/utils/templatetags/badges.py
  tests/api/test_insertion.py
  tests/insertion/test_orientation.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion_views: no need for unique id in orientation status badge
  itou/utils/templatetags/badges.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion_views: allow service providers to accept an orientation
  itou/templates/insertion/includes/orientations/service_provider_actions.html
  itou/templates/insertion/orientations/details.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: Fix soon ending contract
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_details.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

insertion: add refusal_reasons and refusal_details to orientation
  itou/fixtures/django/insertion__orientation.json
  itou/fixtures/django/insertion__service.json
  itou/fixtures/django/insertion__structure.json
  itou/insertion/admin.py
  itou/insertion/enums.py
  itou/insertion/migrations/0015_orientation_refusal_details_and_more.py
  itou/insertion/models.py
  tests/api/__snapshots__/test_insertion.ambr
  tests/insertion/factories.py
  tests/insertion/test_orientation.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

templatetags.badges: fix orientation EXPIRED badge
  itou/utils/templatetags/badges.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion: send email to external users at orientation creation
  itou/insertion/models.py
  itou/templates/insertion/email/new_for_referent_body.txt
  itou/templates/insertion/email/new_for_referent_subject.txt
  itou/templates/insertion/email/new_for_structure_body.txt
  itou/templates/insertion/email/new_for_structure_subject.txt
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check

insertion.factories: clean unused import
  tests/insertion/factories.py
Due: ruff-format, ruff-check

insertion_views: add missing organization in orientation details for service provider
  itou/templates/insertion/includes/orientation_sidebar_for_service_provider.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion.factories: add for_snapshot trait to ease later tests
  tests/insertion/factories.py
Due: ruff-format, ruff-check

insertion: send emails when orientation is refused
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/refused_for_beneficiary_body.txt
  itou/templates/insertion/email/refused_for_beneficiary_subject.txt
  itou/templates/insertion/email/refused_for_referent_body.txt
  itou/templates/insertion/email/refused_for_referent_subject.txt
  itou/templates/insertion/email/refused_for_sender_body.txt
  itou/templates/insertion/email/refused_for_sender_subject.txt
  itou/templates/insertion/email/refused_for_structure_body.txt
  itou/templates/insertion/email/refused_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion: send emails when orientation is accepted
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/accepted_for_beneficiary_body.txt
  itou/templates/insertion/email/accepted_for_beneficiary_subject.txt
  itou/templates/insertion/email/accepted_for_referent_body.txt
  itou/templates/insertion/email/accepted_for_referent_subject.txt
  itou/templates/insertion/email/accepted_for_sender_body.txt
  itou/templates/insertion/email/accepted_for_sender_subject.txt
  itou/templates/insertion/email/accepted_for_structure_body.txt
  itou/templates/insertion/email/accepted_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion_views: orientation reasons as multiline text
  itou/templates/insertion/orientations/details.html
Due: djlint

insertion: send email notifications to beneficiary and sender at orientation creation
  itou/communications/__init__.py
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/new_for_beneficiary_body.txt
  itou/templates/insertion/email/new_for_beneficiary_subject.txt
  itou/templates/insertion/email/new_for_sender_body.txt
  itou/templates/insertion/email/new_for_sender_subject.txt
  itou/templates/layout/base_email_for_beneficiary_text_body.txt
  itou/templates/layout/base_email_signature.txt
  itou/utils/emails.py
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check

insertion_views: add orientation’s creation date on details view
  itou/templates/insertion/orientations/details.html
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: djlint

insertion_views: allow service providers to refuse an orientation
  itou/templates/insertion/includes/checkboxes_formgroup.html
  itou/templates/insertion/includes/orientations/service_provider_actions.html
  itou/templates/insertion/orientations/details.html
  itou/templates/insertion/orientations/refuse.html
  itou/www/insertion_views/forms.py
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion: auto expire orientations
  clevercloud/cron.json
  itou/insertion/management/commands/expire_orientations.py
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/insertion/test_expire_orientations.py
Due: ruff-format, ruff-check

insertion: send emails when orientation has expired
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/expired_for_beneficiary_body.txt
  itou/templates/insertion/email/expired_for_beneficiary_subject.txt
  itou/templates/insertion/email/expired_for_referent_body.txt
  itou/templates/insertion/email/expired_for_referent_subject.txt
  itou/templates/insertion/email/expired_for_sender_body.txt
  itou/templates/insertion/email/expired_for_sender_subject.txt
  itou/templates/insertion/email/expired_for_structure_body.txt
  itou/templates/insertion/email/expired_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
Due: ruff-format, ruff-check

insertion_views: resend a magic link if asked when the previous one is deactivated
  itou/insertion/models.py
  itou/templates/insertion/email/new_link_for_structure_body.txt
  itou/templates/insertion/email/new_link_for_structure_subject.txt
  itou/templates/insertion/orientations/ask_for_new_orientation_process_link.html
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

users: Remove unused bindings from mail context
  itou/users/adapter.py
Due: ruff-format, ruff-check

insertion: add orientation.last_reminder_email_sent_at attribute
  itou/fixtures/django/insertion__orientation.json
  itou/insertion/management/commands/set_orientations_last_reminder_email_sent_at.py
  itou/insertion/migrations/0016_orientation_last_reminder_email_sent_at.py
  itou/insertion/models.py
  tests/api/__snapshots__/test_insertion.ambr
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/insertion/test_set_orientations_last_reminder_email_sent_at.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion: send orientation reminder emails to structure
  itou/insertion/management/commands/send_orientations_reminder_emails.py
  itou/insertion/models.py
  itou/templates/insertion/email/reminder_for_structure_body.txt
  itou/templates/insertion/email/reminder_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/__snapshots__/test_send_orientations_reminder_emails.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_send_orientations_reminder_emails.py
Due: ruff-format, ruff-check

insertion: markdonify email bodies
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/accepted_for_beneficiary_body.md
  itou/templates/insertion/email/accepted_for_referent_body.md
  itou/templates/insertion/email/accepted_for_sender_body.md
  itou/templates/insertion/email/accepted_for_structure_body.md
  itou/templates/insertion/email/expired_for_beneficiary_body.md
  itou/templates/insertion/email/expired_for_referent_body.md
  itou/templates/insertion/email/expired_for_sender_body.md
  itou/templates/insertion/email/expired_for_structure_body.md
  itou/templates/insertion/email/new_for_beneficiary_body.md
  itou/templates/insertion/email/new_for_referent_body.md
  itou/templates/insertion/email/new_for_sender_body.md
  itou/templates/insertion/email/new_for_structure_body.md
  itou/templates/insertion/email/new_link_for_structure_body.md
  itou/templates/insertion/email/refused_for_beneficiary_body.md
  itou/templates/insertion/email/refused_for_referent_body.md
  itou/templates/insertion/email/refused_for_sender_body.md
  itou/templates/insertion/email/refused_for_structure_body.md
  itou/templates/insertion/email/reminder_for_structure_body.md
  itou/templates/layout/base_email_for_beneficiary_text_body.md
  tests/insertion/__snapshots__/test_notifications.ambr
Due: ruff-format, ruff-check

insertion: delete documents attached to orientations
  clevercloud/cron.json
  itou/insertion/management/commands/delete_orientations_documents.py
  itou/insertion/models.py
  tests/insertion/__snapshots__/test_delete_orientations_documents.ambr
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/insertion/test_delete_orientations_documents.py
  tests/insertion/test_orientation.py
Due: ruff-format, ruff-check

insertion_views: add missing readonly_view decorator or mixin
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion_views: use a view to download orientations’ documents
  itou/insertion/migrations/0013_orientation_documents.py
  itou/insertion/models.py
  itou/templates/insertion/orientations/details.html
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/insertion/test_orientation.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion: stop POSTing orientations to DORA
  itou/fixtures/django/insertion__orientation.json
  itou/insertion/migrations/0017_remove_orientation_attachments_alter_orientation_id.py
  itou/insertion/models.py
  itou/www/insertion_views/views.py
  tests/api/__snapshots__/test_insertion.ambr
  tests/insertion/__snapshots__/test_delete_orientations_documents.ambr
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/insertion/__snapshots__/test_send_orientations_reminder_emails.ambr
  tests/insertion/factories.py
  tests/insertion/test_orientation.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check

insertion: remove DORA associated management commands
  clevercloud/cron.json
  itou/insertion/management/commands/import_emplois_orientations.py
  itou/insertion/management/commands/sync_orientation_statuses.py
  tests/insertion/test_import_emplois_orientations.py
  tests/insertion/test_sync_orientation_statuses.py
Due: ruff-format, ruff-check

insertion: remove unused command
  itou/insertion/management/commands/set_orientations_last_reminder_email_sent_at.py
  tests/insertion/test_set_orientations_last_reminder_email_sent_at.py
Due: ruff-format, ruff-check

chore: clean unused code associated with DORA orientations
  itou/insertion/utils.py
  itou/utils/apis/dora.py
  itou/utils/templatetags/dora.py
  tests/utils/apis/test_dora.py
  tests/utils/test_templatetags.py
Due: ruff-format, ruff-check

insertion: plug orientation reminder emails command to CRON
  clevercloud/cron.json
Due: none

fix: anonymize professional command reset updated_at and updated_by fields
  itou/archive/anonymize.py
  tests/archive/tests_anonymise.py
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

feat: allows a deactivated professional to create a new account
  itou/archive/anonymize.py
  itou/templates/admin/users/change_user_form.html
  itou/users/admin.py
  itou/users/models.py
  tests/archive/tests_anonymise.py
  tests/users/test_admin_views.py
  tests/users/test_models.py
Due: ruff-format, ruff-check, djlint

feat: deactivate user admin view remove email adresses
  itou/users/admin.py
  itou/users/migrations/0063_harmonize_deactivated_users.py
  tests/users/test_admin_views.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
