Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

gps: Use a table to display beneficiary list
  itou/templates/gps/includes/memberships_results.html
  itou/templates/gps/my_groups.html
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

tests: Pair job description apply term with positive assertions
  tests/www/apply/test_process_external_transfer.py
  tests/www/companies_views/test_job_description_views.py
Due: ruff-format, ruff-check

Hide Edit button from job desc page when transferring to self
  itou/www/apply/views/process_views.py
  tests/www/apply/test_process_external_transfer.py
Due: ruff-format, ruff-check

changelog: From 2025-01-06 to 2025-01-12
  CHANGELOG.md
Due: none

gps: Add request for new participant link
  itou/templates/users/includes/gps_group.html
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

apply: remove title block from process_base.html
  itou/templates/apply/process_accept.html
  itou/templates/apply/process_base.html
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/apply/process_eligibility.html
  itou/templates/apply/process_postpone.html
  itou/templates/apply/process_refuse.html
Due: djlint

apply: directly inherit from layout/base.html
  itou/templates/apply/process_refuse.html
Due: djlint

Remove unused class js-period-date-input
  itou/www/employee_record_views/forms.py
  itou/www/job_seekers_views/forms.py
Due: ruff-format, ruff-check

job_seekers_views: clean deprecated code
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

Use an @inclusion.gouv.fr for API contact email
  config/settings/base.py
Due: ruff-format, ruff-check

users: Add links in admin to gps objects lists
  itou/gps/admin.py
  itou/users/admin.py
  tests/gps/test_admin.py
  tests/users/__snapshots__/test_admin_views.ambr
Due: ruff-format, ruff-check

job_applications: Fix notification structure
  itou/job_applications/models.py
  itou/job_applications/notifications.py
  itou/www/apply/views/submit_views.py
  tests/communications/test_dispatch.py
  tests/job_applications/tests.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
Due: ruff-format, ruff-check

communications: don't send emails to inactive users
  itou/communications/dispatch/base.py
  tests/communications/test_dispatch.py
Due: ruff-format, ruff-check

apply: format imports
  itou/www/apply/views/submit_views.py
Due: ruff-format, ruff-check

apply: correct a `start` URL in a test
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

job_seekers_views: required parameters for Update views
  itou/templates/apply/submit/application/base.html
  itou/templates/job_seekers_views/check_job_seeker_info_for_hire.html
  itou/www/job_seekers_views/views.py
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check, djlint

Add job_seekers_views migration work to technical migrations
  migrations.md
Due: none

gps: Improve user autocomplete
  itou/static/js/gps.js
  itou/users/migrations/0020_add_simple_unaccent_search_config.py
  itou/users/migrations/0021_user_full_name_search_vector.py
  itou/users/migrations/0022_user_full_name_search_idx.py
  itou/users/models.py
  itou/www/autocomplete/views.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/companies/__snapshots__/test_admin.ambr
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
  tests/job_applications/__snapshots__/test_transfer.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/signup/__snapshots__/test_siae.ambr
Due: ruff-format, ruff-check

gps: Fix and improve membership admin form
  itou/gps/admin.py
Due: ruff-format, ruff-check

Restore name fields order on job seeker signup
  itou/templates/signup/job_seeker_signup.html
  tests/www/signup/__snapshots__/test_job_seeker.ambr
Due: djlint

fix: input phone type=text to type=tel
  itou/www/approvals_views/forms.py
  itou/www/companies_views/forms.py
  itou/www/dashboard/forms.py
  itou/www/job_seekers_views/forms.py
  itou/www/prescribers_views/forms.py
  tests/www/prescribers_views/__snapshots__/test_edit.ambr
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
