Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

feat: clarify that the financial annex is not sent to ASP
  itou/templates/employee_record/includes/create_step_4.html
  itou/templates/employee_record/includes/create_step_5.html
  itou/templates/employee_record/includes/employee_record_summary.html
  itou/templates/employee_record/summary.html
  tests/www/employee_record_views/__snapshots__/test_summary.ambr
  tests/www/employee_record_views/test_create.py
  tests/www/employee_record_views/test_summary.py
Due: ruff-format, ruff-check, djlint

apply: add back_url possibility to IAE eligibility view
  itou/templates/eligibility/includes/iae/form.html
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check, djlint

apply: extract previous steps check in method
  itou/www/apply/views/common.py
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
Due: ruff-format, ruff-check

apply: move eligibility step after contract infos
  itou/templates/apply/includes/siae_actions.html
  itou/templates/apply/includes/siae_batch_actions.html
  itou/templates/apply/includes/siae_batch_actions_modals.html
  itou/templates/apply/process_details_company.html
  itou/utils/templatetags/job_application_actions.py
  itou/www/apply/views/accept_views.py
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/test_accept_views.py
  tests/www/apply/test_forms.py
  tests/www/apply/test_geiq.py
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

Remove restore_latest_backup.sh
  Makefile
  docs/Docker.md
  docs/backup.md
  scripts/restore_latest_backup.sh
Due: none

fix: typo in job seeker login page
  itou/templates/account/login_job_seeker.html
Due: djlint

fix: Use "adresse e-mail" everywhere (not "adresse mail")
  itou/templates/account/login_job_seeker.html
  itou/templates/static/legal/terms.html
  itou/templates/utils/modal_includes/registration_failure.html
  itou/www/signup/errors.py
  tests/www/signup/__snapshots__/test_job_seeker.ambr
Due: ruff-format, ruff-check, djlint

geiq: increase timeout to retrieve synthese pdf
  itou/utils/apis/geiq_label.py
Due: ruff-format, ruff-check

apply: move hire views into hire_views.py file
  itou/www/apply/urls.py
  itou/www/apply/views/hire_views.py
  itou/www/apply/views/submit_views.py
  tests/www/apply/__snapshots__/test_submit.ambr
Due: ruff-format, ruff-check

apply: split StartView between submit & hire
  itou/www/apply/urls.py
  itou/www/apply/views/submit_views.py
Due: ruff-format, ruff-check

apply: split CheckPreviousApplications view for submit & hire
  itou/www/apply/urls.py
  itou/www/apply/views/submit_views.py
Due: ruff-format, ruff-check

tests: move hire tests into their own file
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/test_hire_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

institutions: Add new institution kind: FFGEIQ
  itou/institutions/enums.py
  itou/institutions/migrations/0001_initial.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
Due: ruff-format, ruff-check

www.search.services: Strict filtering of in person services
  itou/templates/search/services/results.html
  itou/www/search_views/forms.py
  itou/www/search_views/views.py
  tests/www/search_views/__snapshots__/test_services.ambr
  tests/www/search_views/test_services.py
Due: ruff-format, ruff-check, djlint

www.search.services: Set a default value for `reception` filter
  itou/templates/search/services/results.html
  itou/www/search_views/forms.py
  itou/www/search_views/views.py
  tests/www/search_views/test_services.py
Due: ruff-format, ruff-check, djlint

www.search.services: Better results' sorting and distance-based display
  itou/geo/utils.py
  itou/templates/search/services/includes/results.html
  itou/www/search_views/views.py
  tests/www/search_views/__snapshots__/test_services.ambr
  tests/www/search_views/test_services.py
Due: ruff-format, ruff-check, djlint

institutions: Enforce unicity of national institution kinds
  itou/institutions/enums.py
  itou/institutions/migrations/0002_enforce_unicity_on_national_kinds.py
  itou/institutions/models.py
  tests/institutions/tests.py
  tests/www/stats/test_utils.py
Due: ruff-format, ruff-check

www.search.services: Fix display for services at 0km with a remote tag
  itou/www/search_views/views.py
  tests/www/search_views/__snapshots__/test_services.ambr
  tests/www/search_views/test_services.py
Due: ruff-format, ruff-check

scripts/delete-bucket: Extract read_clever_env
  scripts/delete-bucket
Due: none

Clean CleverCloud test buckets on a schedule
  .github/workflows/clean-clevercloud-buckets.yml
  .github/workflows/review-app-removal.yml
  scripts/delete-buckets
Due: none

Rename scripts/delete-bucket{,s}
  scripts/delete-buckets
Due: none

Remove session from scripts/delete-bucket
  scripts/delete-bucket
Due: none

Don’t clean CleverCloud buckets on pull_request:
  .github/workflows/clean-clevercloud-buckets.yml
Due: none

eligibility: Update name and description of ZRR/ZFRR criteria
  itou/eligibility/data/administrative_criteria.json
  itou/eligibility/data/administrative_criteria_geiq.json
  itou/eligibility/enums.py
  itou/eligibility/migrations/0001_initial.py
  itou/eligibility/migrations/0007_rename_zrr.py
  itou/metabase/tables/job_seekers.py
  itou/templates/signup/job_seeker_criteria.html
  itou/www/geiq_eligibility_views/forms.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/eligibility_views/__snapshots__/test_views.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check, djlint

tests.users.admin_forms: Fix a typo
  tests/users/test_admin_forms.py
Due: ruff-format, ruff-check

Users: Track changes for more `User` and `JobSeekerprofile` fields
  itou/users/admin.py
  itou/users/admin_forms.py
  itou/users/migrations/0043_more_user_and_jobseeker_profile_history_fields.py
  itou/users/models.py
  tests/users/test_admin.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
