Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

Simplify edit_job_description_details
  itou/www/companies_views/views.py
  tests/www/companies_views/test_job_description_views.py
Due: ruff-format, ruff-check

feat: update changelog categories
  .github/pull_request_template.md
Due: none

move BrevoClient to itou.utils for later reuse
  itou/users/management/commands/send_users_to_brevo.py
  itou/utils/brevo.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

add delete_users & _delete_contact to BrevoClient (tests in progress)
  itou/utils/brevo.py
Due: ruff-format, ruff-check

add upcoming_deletion_notified_at date field on User model
  itou/users/admin.py
  itou/users/migrations/0028_user_upcoming_deletion_notified_at.py
  itou/users/models.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/companies/__snapshots__/test_admin.ambr
  tests/gps/__snapshots__/test_views.ambr
  tests/job_applications/__snapshots__/test_transfer.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/signup/__snapshots__/test_siae.ambr
Due: ruff-format, ruff-check

setup inactive jobseekers notifications
  itou/communications/__init__.py
  itou/templates/account/email/email_archive_jobseeker_body.txt
  itou/templates/account/email/email_archive_jobseeker_subject.txt
  itou/templates/account/email/email_inactive_jobseeker_body.txt
  itou/templates/account/email/email_inactive_jobseeker_subject.txt
  itou/users/notifications.py
Due: ruff-format, ruff-check

add job_seekers_with_last_activity queryset on User
  itou/users/models.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

init archive app, add ArchivedJobSeeker models
  config/settings/base.py
  itou/archive/__init__.py
  itou/archive/admin.py
  itou/archive/apps.py
  itou/archive/migrations/0001_initial.py
  itou/archive/migrations/__init__.py
  itou/archive/models.py
Due: ruff-format, ruff-check

notify and archive inactive jobseekers management command
  clevercloud/cron.json
  itou/archive/management/__init__.py
  itou/archive/management/commands/__init__.py
  itou/archive/management/commands/notify_archive_jobseekers.py
  tests/archive/__init__.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/tests_management_command.py
  tests/users/factories.py
Due: ruff-format, ruff-check

tests: Make `api_particulier`'s endpoints programmatically accessible
  itou/utils/mocks/api_particulier.py
  tests/eligibility/test_tasks.py
  tests/utils/apis/test_api_particulier.py
Due: ruff-format, ruff-check

tests: Use `CERTIFIABLE_ADMINISTRATIVE_CRITERIA_KINDS` in `parametrize`
  tests/eligibility/test_iae.py
Due: ruff-format, ruff-check

tests: Use `kind` over `name` when retrieving `AdministrativeCriteria()`
  tests/api/test_geiq.py
  tests/eligibility/test_iae.py
  tests/www/apply/test_list_for_siae.py
  tests/www/eligibility_views/test_forms.py
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: ruff-format, ruff-check

tests.www.apply.templates: Remove unneeded `parametrize()`
  tests/www/apply/test_templates.py
Due: ruff-format, ruff-check

tests: Make possible to access `api_particulier`'s mock programmatically
  itou/utils/mocks/api_particulier.py
  tests/eligibility/test_iae.py
  tests/eligibility/test_tasks.py
  tests/utils/apis/test_api_particulier.py
  tests/www/apply/test_process.py
  tests/www/apply/test_templates.py
Due: ruff-format, ruff-check

tests: Replace `parametrize` of one fixed value by a `random.choice()`
  tests/www/apply/test_process.py
  tests/www/apply/test_templates.py
Due: ruff-format, ruff-check

tests: Use same trait name for eligibility diagnosis factories
  tests/approvals/factories.py
  tests/companies/test_import_siae_command.py
  tests/companies/test_management_commands.py
  tests/eligibility/factories.py
  tests/eligibility/test_geiq.py
  tests/eligibility/test_iae.py
  tests/gps/test_management_commands.py
  tests/siae_evaluations/test_models.py
  tests/www/apply/test_geiq.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check

tests: Remove unnecessary double underscore
  tests/analytics/test_models.py
  tests/common_apps/organizations/tests.py
  tests/companies/test_admin.py
  tests/institutions/tests.py
  tests/prescribers/tests.py
  tests/www/apply/test_process.py
  tests/www/companies_views/test_members_views.py
  tests/www/institutions_views/test_views.py
  tests/www/prescribers_views/test_admins.py
  tests/www/signup/test_prescriber.py
Due: ruff-format, ruff-check

tests: Use correct case for the `criteria_kind` argument
  tests/eligibility/test_iae.py
  tests/eligibility/test_tasks.py
  tests/utils/apis/test_api_particulier.py
  tests/www/apply/test_process.py
  tests/www/apply/test_templates.py
Due: ruff-format, ruff-check

get_di_services : improve service selection algorithm
  itou/www/companies_views/views.py
  tests/www/companies_views/test_dora_views.py
Due: ruff-format, ruff-check

apply: Fix test
  tests/www/apply/test_submit_from_job_seekers_list.py
Due: ruff-format, ruff-check

apply: Prepare application template
  itou/templates/apply/includes/submit_new_check_needed.html
  itou/templates/apply/includes/submit_title_content.html
  itou/templates/apply/submit/application/base.html
Due: djlint

apply: refactor eligibility step
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
  tests/www/apply/test_submit_from_job_seekers_list.py
Due: ruff-format, ruff-check

eligibility: improve view
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/www/eligibility_views/urls.py
  itou/www/eligibility_views/views.py
  tests/www/eligibility_views/test_views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check, djlint

apply: Add snapshots on eligibility step
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/apply/test_submit.py
  tests/www/apply/test_submit_from_job_seekers_list.py
Due: ruff-format, ruff-check

apply: Use new eligibility view in apply process
  itou/templates/eligibility/update.html
  itou/www/apply/views/submit_views.py
  itou/www/eligibility_views/urls.py
  itou/www/eligibility_views/views.py
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/apply/test_submit.py
  tests/www/apply/test_submit_from_job_seekers_list.py
  tests/www/eligibility_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check, djlint

approvals: Add start date on expired approvals
  itou/templates/approvals/includes/box.html
  tests/www/approvals_views/__snapshots__/test_approval_box.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

tests: fix a flaky test
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

www.employee_record: use the action bar
  itou/templates/employee_record/summary.html
Due: djlint

fixup! action bar button icons
  itou/templates/employee_record/summary.html
Due: djlint

www.employee_record: change 'Add record' button icon
  itou/templates/employee_record/includes/list_header.html
  tests/www/employee_record_views/__snapshots__/test_list.ambr
Due: djlint

job_applications: fix test
  tests/job_applications/tests.py
Due: ruff-format, ruff-check

apply: Fix eligibility badge
  itou/templates/apply/includes/eligibility_badge.html
  itou/templates/apply/includes/list_card_body.html
  itou/templates/apply/includes/list_tr.html
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check, djlint

add warning in summary
  itou/templates/employee_record/summary.html
Due: djlint

www.employee_record: add queryset method to fetch the mother company siret
  itou/employee_record/models.py
Due: ruff-format, ruff-check

employee_record: add property to know when siret is different from company's
  itou/employee_record/models.py
  tests/employee_record/test_models.py
Due: ruff-format, ruff-check

add warning in list view
  itou/templates/employee_record/includes/list_header.html
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check, djlint

add button in list item
  itou/templates/employee_record/includes/list_item.html
  tests/www/employee_record_views/__snapshots__/test_list.ambr
Due: djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
