Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: flake8
        name: Flake8
        entry: flake8
        types: [python]
        language: system
      - id: isort
        name: isort
        entry: isort
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system

siae_evaluations: add sanctions history to evaluation data
  itou/templates/siae_evaluations/includes/evaluation_data.html
  itou/www/siae_evaluations_views/tests/tests_institutions_views.py
  itou/www/siae_evaluations_views/views.py
Due: black, flake8, isort, djlint

metabase : addition of the ai flag
  itou/metabase/sql/031_suivi_auto_prescription.sql
Due: none

metabase : new column addition following a definition change
  itou/metabase/sql/031_suivi_auto_prescription.sql
Due: none

metabase : removal of a useless line
  itou/metabase/sql/033_siae_pratiquant_autoprescription.sql
Due: none

metabase : new table to properly evaluate the candidates & the autoprescription
  itou/metabase/sql/034_candidats_auto_prescription.sql
Due: none

metabase : criteria addition
  itou/metabase/sql/034_candidats_auto_prescription.sql
Due: none

metabase : disctint on structure id and not structure name
  itou/metabase/sql/033_siae_pratiquant_autoprescription.sql
Due: none

metabase : not so dumb additions + join change
  itou/metabase/sql/031_suivi_auto_prescription.sql
Due: none

metabase : addition of structure type
  itou/metabase/sql/033_siae_pratiquant_autoprescription.sql
Due: none

metabase : addition of cities + a table to compute a specific ratio
  itou/metabase/sql/031_suivi_auto_prescription.sql
  itou/metabase/sql/033_siae_pratiquant_autoprescription.sql
Due: none

metabase : name clarification & improvement of distinct function
  itou/metabase/sql/031_suivi_auto_prescription.sql
  itou/metabase/sql/033_siae_pratiquant_autoprescription.sql
  itou/metabase/sql/034_candidats_auto_prescription.sql
Due: none

changelog: sprint 56
  CHANGELOG.md
Due: none

settings: add sentry HueyIntegration
  config/settings/_sentry.py
Due: black, flake8, isort

metabase : fixing a duplicated id problem
  itou/metabase/sql/034_candidats_auto_prescription.sql
Due: none

[Metabase] Move method to correct spot
  itou/metabase/management/commands/populate_metabase_emplois.py
Due: black, flake8, isort

[Metabase] Add CAP criteria tables
  clevercloud/crons/populate_metabase_emplois.sh
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/management/test_populate_metabase_emplois.py
  itou/metabase/tables/criteria.py
  itou/metabase/tables/evaluated_criteria.py
Due: black, flake8, isort

Revert "imports ASP: First steps towards its automation"
  clevercloud/cron.json
  clevercloud/crons/populate_metabase_fluxiae.sh
  itou/metabase/management/commands/populate_metabase_fluxiae.py
Due: black, flake8, isort

employee_record: Update denormalized fields on NEW and READY transition
  itou/employee_record/models.py
  itou/employee_record/tests/tests_models.py
Due: black, flake8, isort

approvals.admin: Handle the "in creation+duplicate" case for ER status
  itou/approvals/admin.py
  itou/approvals/tests/tests.py
Due: black, flake8, isort

Reset notified_at for incomplete evaluated SIAE sanctions
  itou/siae_evaluations/migrations/0003_reset_evaluated_siae_notified_at.py
Due: black, flake8, isort

[Stats] Fix tally form issue Before this thix, the tally form would keep reopening itself every time the user tried to close the popup.
  itou/templates/stats/stats.html
Due: djlint

www.autocomplete: increase number of communes from 10 to 50
  itou/www/autocomplete/views.py
Due: black, flake8, isort

Fix assertions in siae_evaluations_views tests_institutions_views
  itou/www/siae_evaluations_views/tests/tests_institutions_views.py
Due: black, flake8, isort

[EmployeeRecord] Improve confusing message
  itou/templates/employee_record/list.html
Due: djlint

[EmployeeRecord] Improve message formating
  itou/templates/employee_record/list.html
Due: djlint

Fix itou/templates/employee_record/list.html lint on master
  itou/templates/employee_record/list.html
Due: djlint

metabase : correction of the inversion between annual & monthly etp
  itou/metabase/sql/026_suivi_etp_realises_v2.sql
Due: none

inclusion_connect: Improve already activated account link
  itou/templates/account/activate_inclusion_connect_account.html
  itou/www/login/tests.py
  itou/www/login/views.py
Due: black, flake8, isort, djlint

footer: Remove "questions à la communauté"
  itou/templates/layout/_footer.html
Due: djlint

process.refuse: Do not allow some choices for the GEIQ
  itou/job_applications/enums.py
  itou/www/apply/forms.py
  itou/www/apply/tests/tests_process.py
  itou/www/apply/views/process_views.py
Due: black, flake8, isort

header: Fix the wording in prescriber search
  itou/templates/layout/_header.html
Due: djlint

changelog: Remove unnecessary lines
  CHANGELOG.md
Due: none

evaluated_siae_sanction: Change the return link
  itou/templates/siae_evaluations/evaluated_siae_sanction.html
  itou/www/siae_evaluations_views/tests/test_views.py
  itou/www/siae_evaluations_views/views.py
Due: black, flake8, isort, djlint

apply/list: Display a temporary tally form
  itou/templates/apply/list_for_siae.html
Due: djlint
