Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

gps: Fix masked data in GroupEditionView
  itou/templates/gps/group_edition.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

Refactor get_common_prolongation_columns parameter to use new utility
  itou/metabase/tables/prolongation_requests.py
  itou/metabase/tables/prolongations.py
  itou/metabase/tables/utils.py
Due: ruff-format, ruff-check

Remove unused get_field function from metabase table definition
  itou/metabase/tables/job_descriptions.py
Due: ruff-format, ruff-check

Add get_model_field utility for metabase tables
  itou/metabase/tables/approvals.py
  itou/metabase/tables/companies.py
  itou/metabase/tables/criteria.py
  itou/metabase/tables/evaluated_criteria.py
  itou/metabase/tables/evaluated_job_applications.py
  itou/metabase/tables/evaluated_siaes.py
  itou/metabase/tables/evaluation_campaigns.py
  itou/metabase/tables/gps.py
  itou/metabase/tables/institutions.py
  itou/metabase/tables/memberships.py
  itou/metabase/tables/prolongation_requests.py
  itou/metabase/tables/prolongations.py
  itou/metabase/tables/users.py
  itou/metabase/tables/utils.py
Due: ruff-format, ruff-check

www.employee_records: Provide `reset_url` to `add` view
  itou/templates/employee_record/add.html
  itou/templates/employee_record/includes/list_header.html
  itou/templates/employee_record/includes/list_results.html
  itou/templates/employee_record/list.html
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employee_record_views/test_add.py
Due: ruff-format, ruff-check, djlint

itou_staff_views: Update used otp device icon
  itou/templates/itou_staff_views/otp_devices.html
  tests/www/itou_staff_views/__snapshots__/tests.ambr
Due: djlint

Add suspensions table to metabase export
  clevercloud/crons/populate_metabase_emplois.sh
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/suspensions.py
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

job_seekers_views:list: Change badge size to XS
  itou/templates/apply/includes/eligibility_badge.html
  itou/templates/job_seekers_views/includes/list_results.html
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: djlint

wip
  config/settings/base.py
  config/settings/dev.py
  itou/utils/logging.py
  itou/utils/timer/__init__.py
  itou/utils/timer/infos.py
  itou/utils/timer/middleware.py
  itou/utils/timer/monkeypatch.py
Due: ruff-format, ruff-check

theme: update theme
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

job_descriptions: add last updated date in list and detail pages
  itou/templates/companies/job_description_card.html
  itou/templates/companies/job_description_list.html
Due: djlint

rename imported file to let script being executed every noon
  scripts/import-iae.sh
Due: none

move import-iae.sh to clevercloud and cronify it
  clevercloud/cron.json
  clevercloud/import-iae.sh
Due: none

enrich shell_plus imports with frequently used libs
  config/settings/dev.py
Due: ruff-format, ruff-check

replace self.stdout with self.logger in import_siae.py
  itou/companies/management/commands/import_siae.py
Due: ruff-format, ruff-check

update propositions of siae.py to debate on extras and csv in logs
  itou/companies/management/commands/_import_siae/siae.py
Due: ruff-format, ruff-check

update proposition of convention.py to debate
  itou/companies/management/commands/_import_siae/convention.py
Due: ruff-format, ruff-check

update proposition of financial_annex.py to debate
  itou/companies/management/commands/_import_siae/financial_annex.py
Due: ruff-format, ruff-check

fixup! move import-iae.sh to clevercloud and cronify it
  clevercloud/cron.json
Due: none

www.apply: initialize apply_session at StartView
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

wip - www.apply: add back_url on Apply buttons
  itou/templates/companies/card.html
  itou/templates/companies/includes/_card_siae.html
  itou/templates/companies/job_description_card.html
  itou/www/apply/views/submit_views.py
Due: ruff-format, ruff-check, djlint

metabase.job_seekers: Export criteria certification information
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_seekers.py
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

tests.metabase: Make `test_populate_job_seekers` for lisible
  itou/utils/db.py
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

Run CI against Cellar
  .github/workflows/ci.yml
  config/settings/test.py
  tests/files/tests.py
  tests/www/apply/test_process_external_transfer.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

Bump boto3
  config/settings/base.py
  itou/utils/storage/s3.py
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
  tests/files/tests.py
Due: ruff-format, ruff-check

feat: add slippers package
  config/settings/base.py
  pyproject.toml
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: ruff-format, ruff-check

wip: c-title
  itou/templates/components/c-title.html
  itou/templates/static/accessibility.html
  itou/utils/templatetags/components.py
Due: ruff-format, ruff-check, djlint

wip
  itou/templates/dashboard/dashboard_stats.html
  itou/templates/dashboard/includes/stats.html
  itou/templates/dashboard/includes/stats_new_badge.html
  itou/templates/dashboard/includes/stats_remix.html
Due: djlint

users: Fix linked_job_seeker_ids
  itou/users/models.py
  itou/www/job_seekers_views/views.py
  tests/users/test_models.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_create_or_update.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

job_seekers_views: Fix typo
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

changelog: From 2025-03-17 to 2025-03-23
  CHANGELOG.md
Due: none

users: Use or_queries utils
  itou/users/models.py
Due: ruff-format, ruff-check

js: fix dropdown sync
  itou/static/js/htmx_dropdown_filter.js
Due: none

wip: update dashboards stats
  itou/templates/dashboard/dashboard_stats.html
  itou/templates/dashboard/includes/stats.html
  itou/templates/dashboard/includes/stats_new_badge.html
  itou/templates/dashboard/includes/stats_remix.html
Due: djlint
