Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

tests: more realistic case of expired approval with expired diagnosis
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

www.apply: display GEIQ eligibility badge on job application's eligibility diag
  itou/templates/eligibility/includes/geiq/diagnosis_details.html
  tests/www/apply/test_geiq.py
Due: ruff-format, ruff-check, djlint

feat: integrate IntroJS for guided tours on Nexus homepage
  itou/templates/nexus/homepage.html
  itou/templates/nexus/layout/header.html
  tests/www/nexus/__snapshots__/test_views.ambr
Due: djlint

api: refactor employee_record_api tests
  tests/api/employee_record_api/tests.py
Due: ruff-format, ruff-check

api: improve employee_record_api viewsets and tests
  itou/api/employee_record_api/viewsets.py
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/employee_record_api/tests.py
Due: ruff-format, ruff-check

api: fix IDOR in employee record update notifications API
  itou/api/employee_record_api/viewsets.py
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/employee_record_api/tests.py
Due: ruff-format, ruff-check

changelog: From 2026-02-09 to 2026-02-15
  CHANGELOG.md
Due: none

www.apply,employees_views: display IAE eligibility badge on job application's eligibility diag
  itou/templates/eligibility/includes/iae/diagnosis_details.html
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/employees_views/test_detail.py
Due: ruff-format, ruff-check, djlint

fixtures: update geiq assessments fixtures to test more easily
  Makefile
  itou/fixtures/django/05_test_users.json
  itou/fixtures/django/13_company_memberships.json
  itou/fixtures/django/17_institution_memberships.json
  itou/fixtures/django/dynamic.py
  itou/geiq_assessments/fixtures.py
Due: ruff-format, ruff-check

job_seekers_views: update tests displaying eligibility
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check

www.job_seekers_views: update eligibility badge in job seeker details
  itou/templates/job_seekers_views/includes/eligibility_diagnosis.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

www.job_seekers_views: pass `job_seeker` to the template to reduce requests
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/eligibility_diagnosis.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

fix: tac tally and metabase custom services
  itou/templates/includes/tarteaucitron_matomo.html
  itou/templates/stats/stats.html
Due: djlint

tests: use better name for a pytest parameter
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check

dashboard: add a banner to inform EA/EATT employers about the end of support for their kind
  itou/templates/layout/base.html
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check, djlint

companies: hide the banner about old job descriptions for EA/EATT
  itou/companies/models.py
  tests/companies/test_models.py
  tests/www/companies_views/test_job_description_views.py
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_notifications.py
Due: ruff-format, ruff-check

tests: add `not_ea_eatt_kind` trait for CompanyFactory
  tests/companies/factories.py
Due: ruff-format, ruff-check

signup: block signup for EA/EATT
  itou/templates/signup/choose_user_kind.html
  itou/templates/signup/company_select.html
  itou/www/signup/views.py
  tests/www/signup/__snapshots__/test_siae.ambr
  tests/www/signup/test_siae.py
Due: ruff-format, ruff-check, djlint

approval: fix IDOR with PASS prolongation
  itou/www/approvals_views/views.py
  tests/www/approvals_views/test_prolongation.py
Due: ruff-format, ruff-check

GEIQ : restrict GEIQ execution report access to GEIQ admins only and add corresponding tests
  itou/utils/templatetags/nav.py
  itou/www/geiq_assessments_views/views.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_both.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/test_views_for_both.py
  tests/www/geiq_assessments_views/test_views_for_geiq.py
Due: ruff-format, ruff-check

chore: delete review app only when the '1-recette-jetable' tag is removed
  .github/workflows/review-app-removal.yml
Due: none

api siaes: replace SIAE wording with structure in redoc description
  itou/api/siae_api/viewsets.py
Due: ruff-format, ruff-check

GEIQ: add date filter date for contract list
  itou/templates/geiq_assessments_views/assessment_contracts_list.html
  itou/templates/geiq_assessments_views/includes/assessment_contracts_filters/start_date.html
  itou/templates/geiq_assessments_views/includes/assessment_contracts_filters/top_filters.html
  itou/templates/geiq_assessments_views/includes/list_contracts.html
  itou/www/geiq_assessments_views/forms.py
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check, djlint

fix: iframeresize on tac metabase iframe
  itou/templates/includes/tarteaucitron_matomo.html
  itou/templates/stats/stats.html
Due: djlint

GEIQ filter: taking Zohra feedback into account
  itou/templates/geiq_assessments_views/assessment_contracts_list.html
  itou/templates/geiq_assessments_views/includes/assessment_contracts_filters/filter_reset.html
  itou/templates/geiq_assessments_views/includes/assessment_contracts_filters/start_date.html
  itou/templates/geiq_assessments_views/includes/assessment_contracts_filters/top_filters.html
  itou/templates/geiq_assessments_views/includes/filter_and_list.html
  itou/templates/geiq_assessments_views/includes/list_contracts_table.html
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check, djlint

fix: eligibility diagnosis templates ui
  itou/templates/apply/includes/certification_info_box.html
  itou/templates/apply/includes/eligibility_diagnosis.html
  itou/templates/apply/includes/geiq/geiq_diagnosis_allowance_alert.html
  itou/templates/apply/includes/geiq/geiq_diagnosis_details.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

feat: eligibility diagnosis templates for improved ui readability and consistency
  itou/templates/apply/includes/eligibility_diagnosis.html
  itou/templates/apply/includes/geiq/geiq_diagnosis_details.html
  itou/templates/dashboard/includes/job_seeker_eligibility_card.html
  itou/templates/includes/valid_eligibility_diagnosis_and_criteria.html
  itou/templates/job_seekers_views/includes/eligibility_diagnosis.html
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/test_dashboard.py
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check, djlint
