Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djlint

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

tests: remove useless ignore_unknown_variable_template_error markers
  tests/www/apply/test_submit.py
  tests/www/search/tests.py
  tests/www/signup/test_job_seeker.py
Due: black, ruff

tests: allow to specify which unknown variable errors are ignored
  tests/approvals/tests.py
  tests/conftest.py
  tests/openid_connect/inclusion_connect/tests.py
  tests/users/test_admin_views.py
  tests/utils/test_redirect_legacy_views.py
  tests/utils/tests.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/apply/test_templates.py
  tests/www/approvals_views/test_detail.py
  tests/www/approvals_views/test_list.py
  tests/www/approvals_views/test_prolongation.py
  tests/www/approvals_views/test_prolongation_requests.py
  tests/www/approvals_views/test_suspend.py
  tests/www/companies_views/test_job_description_views.py
  tests/www/companies_views/test_views.py
  tests/www/dashboard/tests.py
  tests/www/invitations_views/test_company_send.py
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/siae_evaluations_views/test_siaes_views.py
  tests/www/test_error.py
Due: black, ruff

approvals: Update pe api rejection export
  itou/approvals/management/commands/export_pe_api_rejections.py
  tests/approvals/test_management_commands.py
Due: black, ruff

address.format: Fallback to our INSEE referential on missing postal code
  itou/asp/fixtures/test_asp_INSEE_communes_factory.json
  itou/common_apps/address/format.py
  tests/asp/__snapshots__/test_sync_communes.ambr
  tests/asp/test_communes.py
  tests/users/test_models.py
  tests/www/autocomplete/tests.py
Due: black, ruff

feat: add modal to inform users about companies and job descriptions sorting
  itou/templates/search/includes/siaes_search_top.html
Due: djlint

Fix typo in job_seeker_info copy to clipboard analytics
  itou/templates/apply/includes/job_seeker_info.html
Due: djlint

docker: Allow configuration of MinIO host ports
  .env.template
  docker-compose.yml
Due: none

Set select_job back_url to accessible views
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: black, ruff

Use HTMX on employee records list
  itou/templates/employee_record/includes/list_form_fields.html
  itou/templates/employee_record/includes/list_results.html
  itou/templates/employee_record/includes/list_status_help.html
  itou/templates/employee_record/list.html
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/test_list.py
Due: black, ruff, djlint

stats: Allow a DTPE to access both of its departments
  itou/prescribers/enums.py
Due: black, ruff

Ignore missing matomo template variables in tests
  itou/templates/layout/base.html
  itou/utils/context_processors.py
  itou/www/error.py
  tests/approvals/tests.py
  tests/users/test_admin_views.py
  tests/utils/__snapshots__/tests.ambr
  tests/utils/tests.py
  tests/www/test_error.py
Due: black, ruff, djlint

Cleanup PE Connect allauth remainders
  itou/templates/socialaccount/authentication_error.html
  itou/templates/socialaccount/login_cancelled.html
  itou/users/migrations/0005_clean_pe_connect_users_from_allauth.py
Due: black, ruff, djlint

Use HTMX on approvals and employees list
  itou/static/js/approvals_filters.js
  itou/templates/approvals/includes/list_results.html
  itou/templates/approvals/list.html
  itou/www/approvals_views/views.py
  tests/www/approvals_views/test_list.py
Due: black, ruff, djlint

Fix context data in EmployerSearchBaseView
  itou/www/search/views.py
  tests/www/search/tests.py
Due: black, ruff

Simplify checks for application_geiq_eligibility
  itou/www/apply/views/submit_views.py
  itou/www/geiq_eligibility_views/forms.py
  tests/www/apply/test_submit.py
  tests/www/geiq_eligibility_views/test_forms.py
Due: black, ruff

Rename a bunch of siae to company in GEIQ context
  itou/www/apply/views/common.py
  itou/www/apply/views/process_views.py
Due: black, ruff

Improve prescriber search page when form is invalid
  itou/templates/search/prescribers_search_results.html
  itou/www/search/views.py
  tests/www/search/tests.py
Due: black, ruff, djlint

Fix page title for prescribers search
  itou/templates/search/prescribers_search_results.html
  tests/www/search/tests.py
Due: black, ruff, djlint

github: Also (re)run `require-labels` on labels changes
  .github/workflows/require-labels.yml
Due: none

employee_record: Limit how much missed notifications we create each run
  itou/employee_record/management/commands/sanitize_employee_records.py
  tests/employee_record/__snapshots__/test_sanitize_employee_records.ambr
  tests/employee_record/test_sanitize_employee_records.py
Due: black, ruff

employee_record: Improve missed notifications detection
  itou/employee_record/management/commands/sanitize_employee_records.py
  tests/approvals/factories.py
  tests/employee_record/test_sanitize_employee_records.py
Due: black, ruff

Use HTMX on prescribers search
  itou/templates/search/includes/prescribers_search_results.html
  itou/templates/search/includes/prescribers_search_summary.html
  itou/templates/search/includes/prescribers_search_title.html
  itou/templates/search/prescribers_search_results.html
  itou/www/search/views.py
  tests/www/search/tests.py
Due: black, ruff, djlint

Disable GPS in demo
  config/settings/base.py
Due: black, ruff

chore: autohide toast messages after 6000ms
  itou/templates/layout/base.html
  itou/templates/utils/toasts.html
Due: djlint

changelog: From 2024-04-29 to 2024-05-05
  CHANGELOG.md
Due: none

fix(admin): fix address_in_qpv method
  itou/users/admin.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
