Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

___ fixup : Modifications sur les modèles et querysets : Correction de User.readonly_pii_fields
  itou/users/models.py
Due: ruff-format, ruff-check

___ squash: Modifications sur les modèles et querysets
  itou/approvals/migrations/0001_initial.py
  itou/approvals/migrations/0011_cancelledapproval_user_birth_name.py
  itou/approvals/models.py
  itou/employee_record/models.py
  itou/job_applications/models.py
  itou/users/migrations/0063_jobseekerprofile_birth_name.py
  itou/users/migrations/0064_remove_jobseekerprofile_job_seeker_profile_fields_history_and_more.py
  itou/users/models.py
  tests/job_applications/test_queryset.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

___ wip: employee record
  itou/api/employee_record_api/serializers.py
  itou/employee_record/serializers.py
  tests/employee_record/__snapshots__/test_serializers.ambr
Due: ruff-format, ruff-check

___ squash: Pole Emploi
  itou/users/management/commands/pe_certify_users.py
  itou/utils/apis/pole_emploi.py
Due: ruff-format, ruff-check

___ fixup: templates : n'afficher le message d'avertissement "veuillez vérifier le nom de naissance" que si la personne en question n'a pas de nom de naissance renseigné
  itou/templates/dashboard/includes/edit_job_seeker_info_form.html
Due: djlint

___ squash: admin
  itou/users/admin.py
Due: ruff-format, ruff-check

___ wip: diverses corrections mineures suite aux revues de François et Xavier
  itou/api/employee_record_api/serializers.py
  itou/employee_record/serializers.py
  itou/users/models.py
  itou/utils/apis/api_particulier.py
  itou/www/job_seekers_views/views.py
  itou/www/signup/errors.py
  tests/job_applications/test_queryset.py
Due: ruff-format, ruff-check

___ squash: forms
  itou/users/forms.py
  itou/www/apply/forms.py
  itou/www/dashboard/forms.py
  itou/www/job_seekers_views/forms.py
  itou/www/signup/forms.py
Due: ruff-format, ruff-check

___ squash: fixtures
  itou/fixtures/django/users__jobseeker_profile.json
  itou/fixtures/django/users__user.json
Due: none

___ fixup: Pole Emploi
  itou/users/management/commands/pe_certify_users.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

___ squash: divers, désolé
  itou/api/job_application_api/serializers.py
  itou/api/job_application_api/views.py
  itou/job_applications/export.py
  itou/scripts/management/commands/export_auto_prescriptions.py
  itou/users/management/commands/send_users_to_brevo.py
  itou/www/apply/views/list_views.py
  itou/www/dashboard/views.py
  itou/www/itou_staff_views/export_utils.py
  itou/www/itou_staff_views/views.py
  itou/www/job_seekers_views/views.py
  itou/www/siae_evaluations_views/views.py
  itou/www/signup/errors.py
  tests/www/dashboard/test_edit_job_seeker_info.py
Due: ruff-format, ruff-check

___ squash: France Connect
  itou/openid_connect/france_connect/constants.py
  itou/openid_connect/france_connect/models.py
  itou/openid_connect/models.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/ft_connect/tests.py
Due: ruff-format, ruff-check

___ wip: adaptations dans www/insertion_views
  itou/insertion/utils.py
  itou/www/insertion_views/forms.py
  itou/www/insertion_views/views.py
Due: ruff-format, ruff-check

___ squash: bloquer la navigation pour les candidats qui n'ont pas saisi leur nom de naissance
  itou/templates/employee_record/includes/create_step_1.html
  itou/utils/perms/middleware.py
  tests/utils/tests.py
Due: ruff-format, ruff-check, djlint

___ squash: templates
  itou/templates/admin/approvals/includes/job_application_details.html
  itou/templates/apply/email/cancel_body.txt
  itou/templates/apply/email/new_for_employer_body.txt
  itou/templates/apply/email/new_for_job_seeker_body.txt
  itou/templates/apply/includes/job_application_fill_user_infos_form.html
  itou/templates/apply/includes/job_seeker_info.html
  itou/templates/apply/includes/profile_infos.html
  itou/templates/approvals/email/deliver_body.txt
  itou/templates/approvals/email/manual_delivery_required_notification_body.txt
  itou/templates/approvals/email/prolongation_request/created_body.txt
  itou/templates/dashboard/includes/edit_job_seeker_info_form.html
  itou/templates/itou_staff_views/merge_users_confirm.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_1.html
  itou/templates/job_seekers_views/includes/warning_new_birth_name_field.html
  itou/templates/signup/job_seeker_signup.html
  itou/templates/signup/job_seeker_signup_credentials.html
Due: djlint

___ squash: approvals
  itou/approvals/admin.py
  itou/approvals/management/commands/send_approvals_to_pe.py
  itou/www/approvals_views/forms.py
  itou/www/approvals_views/views.py
  tests/approvals/factories.py
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check

___ wip: API Candidats
  itou/api/applicants_api/serializers.py
  tests/api/applicants_api/tests.py
Due: ruff-format, ruff-check

___ squash: divers tests, désolé (bis)
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/applicants_api/__snapshots__/tests.ambr
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/api/job_applications_api/test_search.py
  tests/job_applications/tests.py
  tests/users/__snapshots__/test_admin_views.ambr
  tests/users/factories.py
  tests/users/test_management_commands.py
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_hire_views.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/dashboard/test_dashboard.py
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_info.py
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_create_or_update.py
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_views.ambr
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/test_job_seeker.py
  tests/www/welcoming_tour/tests.py
Due: ruff-format, ruff-check

___ fixup: templates: utiliser le mot-clé 'only' dans les includes
  itou/templates/apply/includes/job_application_fill_user_infos_form.html
  itou/templates/dashboard/includes/edit_job_seeker_info_form.html
  itou/templates/employee_record/includes/create_step_1.html
Due: djlint

___ fixup: templates : corrections sur le message d'avertissement "veuillez vérifier le nom de naissance"
  itou/templates/job_seekers_views/includes/warning_new_birth_name_field.html
Due: djlint

___ squash: employee_record
  itou/api/employee_record_api/serializers.py
  itou/employee_record/serializers.py
  itou/templates/employee_record/includes/create_step_1.html
  itou/templates/employee_record/includes/employee_record_summary.html
  itou/www/employee_record_views/views.py
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records_updates.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employee_record_views/__snapshots__/test_summary.ambr
  tests/www/employee_record_views/test_create.py
  tests/www/employee_record_views/test_summary.py
Due: ruff-format, ruff-check, djlint

___ squash: API Particulier
  itou/eligibility/management/commands/retry_certify_criteria.py
  itou/utils/apis/api_particulier.py
  tests/utils/apis/__snapshots__/test_api_particulier.ambr
Due: ruff-format, ruff-check

___ wip: update SQL snapshots
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_views.ambr
Due: none

___ fixup: Pole Emploi : correction du swap
  itou/users/management/commands/pe_certify_users.py
  tests/users/__snapshots__/test_management_commands.ambr
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

Implemented 2FA reset process
  config/settings/base.py
  itou/common_apps/organizations/utils.py
  itou/otp/admin.py
  itou/otp/emails.py
  itou/otp/enums.py
  itou/otp/migrations/0005_itou2faresetrequest_itou2faresetrequesttransitionlog.py
  itou/otp/models.py
  itou/otp/utils.py
  itou/templates/admin/otp/change_form.html
  itou/templates/common/emails/2fa_reset_request_accepted_body.txt
  itou/templates/common/emails/2fa_reset_request_accepted_subject.txt
  itou/templates/common/emails/2fa_reset_request_denied_body.txt
  itou/templates/common/emails/2fa_reset_request_denied_subject.txt
  itou/templates/common/emails/2fa_reset_request_done_body.txt
  itou/templates/common/emails/2fa_reset_request_done_subject.txt
  itou/templates/common/emails/2fa_reset_request_init_body.txt
  itou/templates/common/emails/2fa_reset_request_init_subject.txt
  itou/templates/common/emails/2fa_reset_request_init_to_self_body.txt
  itou/templates/common/emails/2fa_reset_request_init_to_self_subject.txt
  itou/templates/otp_views/login_with_backup_code.html
  itou/templates/otp_views/reset_request_created.html
  itou/templates/otp_views/reset_request_do_reset.html
  itou/templates/otp_views/reset_request_init.html
  itou/templates/otp_views/reset_request_self_cancel.html
  itou/templates/otp_views/reset_request_self_cancelled.html
  itou/users/management/commands/sync_group_and_perms.py
  itou/utils/migrations/0001_initial.py
  itou/utils/models.py
  itou/utils/perms/middleware.py
  itou/www/otp_views/urls.py
  itou/www/otp_views/views.py
  tests/otp/factories.py
  tests/www/otp_views/tests.py
Due: ruff-format, ruff-check, djlint

chore: add a PR category
  .github/pull_request_template.md
Due: none

users: management command to update job seekers assignments from orientations
  itou/users/management/commands/update_assignments_with_orientations.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

insertion_views: log an error when orientation creation fails
  itou/www/insertion_views/views.py
Due: ruff-format, ruff-check

approvals: extract 60-days duration for PASS closure in own constant
  itou/approvals/constants.py
  itou/approvals/utils.py
  tests/approvals/test_utils.py
Due: ruff-format, ruff-check

insertion: add a temporary banner about the recent technical difficulties
  itou/templates/insertion/includes/orientations/tmp_banner.html
  itou/templates/insertion/orientations/list.html
  itou/templates/insertion/service_card.html
  itou/templates/insertion/structure_card.html
Due: djlint

approvals: log and store more informations about pass' closer
  itou/approvals/utils.py
  tests/approvals/test_admin.py
Due: ruff-format, ruff-check

settings: Update default FQDN
  config/settings/base.py
Due: ruff-format, ruff-check

tests: Fix broken test
  tests/companies/test_admin.py
Due: ruff-format, ruff-check

tests: Fix prescribers with no organization
  tests/utils/perms/tests.py
  tests/www/apply/test_templates.py
  tests/www/stats/test_utils.py
Due: ruff-format, ruff-check

tests: Improve nexus tests
  tests/nexus/test_middleware.py
Due: ruff-format, ruff-check
