Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

changelog: From 2024-06-17 to 2024-06-23
  CHANGELOG.md
Due: none

SIAE/Job search: simplify handling of departments
  itou/common_apps/address/departments.py
  itou/templates/search/includes/siaes_search_filters_departments.html
  itou/templates/search/includes/siaes_search_results.html
  itou/templates/search/siaes_search_results.html
  itou/www/search/forms.py
  itou/www/search/views.py
  tests/www/search/tests.py
Due: ruff-format, ruff-check, djlint

Companies search: Fix search for departments without a neighbor
  itou/www/search/forms.py
  tests/www/search/tests.py
Due: ruff-format, ruff-check

www.apply.submit: Change behavior with a flag instead of the user kind
  itou/templates/apply/includes/_submit_title.html
  itou/templates/apply/submit/application/base.html
  itou/templates/apply/submit/application/eligibility.html
  itou/templates/apply/submit/application/end.html
  itou/templates/apply/submit/application/resume.html
  itou/templates/apply/submit_step_check_job_seeker_nir.html
  itou/www/apply/forms.py
  itou/www/apply/views/submit_views.py
Due: ruff-format, ruff-check, djlint

www.apply.list: Change behavior with a flag instead of the user kind
  itou/templates/apply/includes/list_job_applications.html
  itou/templates/apply/list_for_siae.html
  itou/templates/apply/list_prescriptions.html
  itou/www/apply/views/list_views.py
Due: ruff-format, ruff-check, djlint

www.apply: Remove old prescriber list urls
  itou/www/apply/urls.py
Due: ruff-format, ruff-check

www.apply: Open prescriptions to employers
  itou/approvals/migrations/0001_initial.py
  itou/eligibility/enums.py
  itou/eligibility/migrations/0001_initial.py
  itou/job_applications/enums.py
  itou/job_applications/export.py
  itou/job_applications/migrations/0001_initial.py
  itou/job_applications/models.py
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/templates/apply/includes/job_application_info.html
  itou/templates/apply/includes/job_application_sender_info.html
  itou/templates/apply/includes/job_applications_filters/sender.html
  itou/templates/apply/includes/job_seeker_info.html
  itou/templates/apply/list_for_siae.html
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/apply/submit/application/resume.html
  itou/templates/approvals/detail.html
  itou/templates/approvals/includes/job_description_creation.html
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/employer_prescription_card.html
  itou/www/apply/forms.py
  itou/www/apply/views/list_views.py
  itou/www/apply/views/process_views.py
  itou/www/apply/views/submit_views.py
  itou/www/approvals_views/views.py
  tests/job_applications/factories.py
  tests/job_applications/tests.py
  tests/www/apply/__snapshots__/test_list_for_prescriber.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_list_for_prescriber.py
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/apply/test_templates.py
Due: ruff-format, ruff-check, djlint

Use an enum for ItouEnvironment
  config/settings/base.py
  config/settings/dev.py
  config/settings/test.py
  itou/files/management/commands/configure_bucket.py
  itou/utils/enums.py
Due: ruff-format, ruff-check

Run Huey tasks asynchronously in most environments
  config/settings/base.py
  config/settings/test.py
Due: ruff-format, ruff-check

companies.import_siae: Limit the grace period to the first semester
  itou/companies/management/commands/_import_siae/convention.py
Due: ruff-format, ruff-check

Share email signature between emails
  itou/templates/account/email/email_confirmation_message.txt
  itou/templates/account/email/email_confirmation_subject.txt
  itou/templates/account/email/password_reset_key_message.txt
  itou/templates/account/email/password_reset_key_subject.txt
  itou/templates/layout/base_email_signature.txt
  itou/templates/layout/base_email_text_body.txt
  itou/users/adapter.py
Due: ruff-format, ruff-check

metabase: get reafusal reason id instead of label on metabase
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_applications.py
  tests/metabase/management/test_populate_metabase_emplois.py
  tests/metabase/test_job_applications.py
Due: ruff-format, ruff-check

Do not mark emails sent from the FAST-MACHINE environment
  itou/templates/account/email/email_confirmation_subject.txt
  itou/templates/account/email/password_reset_key_subject.txt
  itou/templates/layout/base_email_signature.txt
Due: none

tests: Use an factory.Iterator() for institution departments
  tests/institutions/factories.py
Due: ruff-format, ruff-check

clever: add CLI version to review app deployments
  .github/workflows/review-app-creation.yml
  .github/workflows/review-app-removal.yml
Due: none

Fix Corsica in DEPARTMENTS_ADJACENCY
  itou/common_apps/address/departments.py
Due: ruff-format, ruff-check

Cache staticfiles for CI
  .github/workflows/ci.yml
Due: none

geiq: add fixtures for assessment campaign
  itou/fixtures/django/28_implementation_assessment_campaigns.json
  itou/fixtures/django/29_implementation_assessment.json
  itou/fixtures/django/dumpdata.sh
Due: none

tests: simplify tests
  tests/api/siae_api/tests.py
Due: ruff-format, ruff-check

api.siae_api: let the FilterSet make the filtering
  itou/api/siae_api/viewsets.py
  tests/api/siae_api/tests.py
Due: ruff-format, ruff-check

api: add department filter to SIAE API
  itou/api/siae_api/viewsets.py
  tests/api/siae_api/tests.py
Due: ruff-format, ruff-check

api.siae_api: move parameter definition to FilterSet
  itou/api/siae_api/viewsets.py
Due: ruff-format, ruff-check

api: add postes_dans_le_departement filter to SIAE endpoint
  itou/api/siae_api/viewsets.py
  tests/api/siae_api/tests.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
