Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

Annuaire pro: géolocalisation des structures dans l'admin
  tests/insertion/test_admin.py
  tests/insertion/test_import_structures_and_services.py
Due: ruff-format, ruff-check

tests: Fix overriden setting
  tests/www/dashboard/test_activate_sso_account.py
Due: ruff-format, ruff-check

users: Change filtering behavior of `assigned_to`
  itou/users/models.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

job_seekers_views: Add filters on assignments
  itou/templates/includes/btn_dropdown_filter/radio.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/assignments.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/offcanvas_body.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/single_radiobutton.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/top_filters.html
  itou/utils/widgets.py
  itou/www/job_seekers_views/forms.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: Add archive icon for old assignments in list
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/list.html
  itou/www/job_seekers_views/forms.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

assignments: Add `ended` trait in `JobSeekerAssignmentFactory`
  tests/users/factories.py
  tests/users/test_models.py
  tests/www/job_seekers_views/test_assignments.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

Remove anonymous navigation and home page
  itou/templates/layout/_footer.html
  itou/templates/layout/_header.html
  itou/templates/search/includes/generic_search_home.html
  itou/templates/search/prescribers_search_home.html
  itou/templates/search/services/home.html
  itou/templates/search/siaes_search_home.html
  itou/templates/utils/templatetags/nav_anonymous.html
  itou/utils/templatetags/nav.py
  itou/www/search_views/views.py
  tests/www/search_views/test_services.py
  tests/www/search_views/tests.py
  tests/www/test_error.py
Due: ruff-format, ruff-check, djlint

feat(insertion): add volume horaire & nb semaines to Service
  itou/insertion/admin.py
  itou/insertion/management/commands/import_structures_and_services.py
  itou/insertion/migrations/0016_service_volume_horaire_nombre_semaines.py
  itou/insertion/models.py
  itou/templates/insertion/service_card.html
  tests/insertion/__snapshots__/test_import_structures_and_services.ambr
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

feat(insertion): change "Type de service" section on service card
  itou/templates/insertion/service_card.html
  itou/www/insertion_views/views.py
  tests/insertion/factories.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

feat(insertion): enrichir les fixtures de services
  itou/fixtures/django/insertion__service.json
Due: none

feat(insertion): display credential documents on service detail page
  itou/insertion/models.py
  itou/templates/insertion/service_card.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

feat(insertion): remove obsolete sections from service detail page
  itou/templates/insertion/service_card.html
  itou/templates/insertion/service_response_time.html
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

feat(insertion): section "Eligibilité au service" on service card
  itou/insertion/models.py
  itou/templates/insertion/service_card.html
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

feat(insertion): move the "structure" sidebar to the correct position
  itou/templates/insertion/service_card.html
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: djlint

feat(insertion): add conditions d'accueil
  itou/templates/insertion/service_card.html
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

feat(insertion): add nullable extra JSON field on Service
  itou/insertion/admin.py
  itou/insertion/management/commands/import_structures_and_services.py
  itou/insertion/migrations/0015_service_extra.py
  itou/insertion/models.py
  tests/insertion/__snapshots__/test_import_structures_and_services.ambr
  tests/insertion/api_mocks/data_inclusion/services.json
  tests/insertion/test_import_structures_and_services.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

feat(insertion): change structure card
  itou/templates/insertion/includes/structure_card_tab_description.html
  itou/templates/insertion/includes/structure_card_tabs.html
  itou/templates/insertion/structure_card.html
  itou/www/insertion_views/views.py
  tests/insertion/api_mocks/data_inclusion/structures.json
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

feat(insertion): improve CEJ structure demo fields
  itou/fixtures/django/insertion__structure.json
Due: none

feat(insertion): add accessibilite_lieu field to Structure
  itou/insertion/admin.py
  itou/insertion/management/commands/import_structures_and_services.py
  itou/insertion/migrations/0017_structure_accessibilite_lieu.py
  itou/insertion/models.py
  tests/insertion/__snapshots__/test_import_structures_and_services.ambr
  tests/insertion/test_import_structures_and_services.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

test_category_error_suppression: Share text in a variable
  tests/www/search_views/test_services.py
Due: ruff-format, ruff-check

Stop claiming an empty result when no search was made
  itou/templates/search/includes/prescribers_search_results.html
  itou/templates/search/includes/siaes_search_results.html
  itou/templates/search/services/includes/results.html
  itou/www/search_views/views.py
  tests/www/search_views/test_services.py
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check, djlint

Rename employer_search_home to search_home
  itou/templates/search/search_home.html
  itou/www/search_views/urls.py
  itou/www/search_views/views.py
  tests/utils/perms/tests.py
  tests/www/search_views/test_services.py
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check, djlint

Introduce and use the new /search/ view
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/ft_connect/views.py
  itou/openid_connect/pro_connect/views.py
  itou/templates/layout/_footer.html
  itou/templates/signup/choose_membership_kind.html
  itou/templates/signup/choose_user_kind.html
  itou/templates/signup/job_seeker_signup.html
  itou/templates/signup/job_seeker_situation.html
  itou/templates/signup/job_seeker_start.html
  itou/users/adapter.py
  itou/www/home/views.py
  itou/www/invitations_views/views.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/ft_connect/tests.py
  tests/openid_connect/pro_connect/testing.py
  tests/openid_connect/pro_connect/tests.py
  tests/utils/htmx/tests.py
  tests/utils/perms/tests.py
  tests/utils/tests.py
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/approvals_views/test_suspend.py
  tests/www/home/tests.py
  tests/www/invitations_views/test_new_user.py
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/__snapshots__/test_professionals.ambr
  tests/www/test_throttling.py
Due: ruff-format, ruff-check, djlint

Create a unique search page
  config/settings/base.py
  itou/static/js/plateforme_accueil_embed.js
  itou/templates/search/siaes_search_home.html
  itou/www/search_views/urls.py
  itou/www/search_views/views.py
  tests/www/home/tests.py
  tests/www/search_views/test_services.py
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check, djlint

Implementation of a basic audit trail
  clevercloud/cron.json
  config/settings/base.py
  itou/audit_trail/__init__.py
  itou/audit_trail/apps.py
  itou/audit_trail/management/commands/cleanup_audit_trails.py
  itou/audit_trail/migrations/0001_initial.py
  itou/audit_trail/migrations/__init__.py
  itou/audit_trail/models.py
  itou/audit_trail/receivers.py
  itou/audit_trail/utils.py
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/ft_connect/views.py
  itou/openid_connect/pro_connect/views.py
  itou/otp/signals.py
  itou/otp/utils.py
  itou/utils/hijack/views.py
  itou/www/otp_views/views.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/__snapshots__/tests_utils.ambr
  tests/audit_trail/__init__.py
  tests/audit_trail/factories.py
  tests/audit_trail/tests.py
  tests/www/stats/test_utils.py
Due: ruff-format, ruff-check

refactor(metabase): extract duplicated transition-timestamp subquery logic
  itou/metabase/management/commands/populate_metabase_emplois.py
Due: ruff-format, ruff-check

feat(metabase): add per-state first transition delay columns to candidatures table
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_applications.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

refactor(job_seekers_views): remove introJS orientation tours
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/detail_title_content.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/list.html
  tests/www/job_seekers_views/__snapshots__/test_assignments.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_search_services.py
Due: ruff-format, ruff-check, djlint

utils: Force institutionals to use ProConnect along with prescribers and employers
  itou/utils/perms/middleware.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/middleware/test_terms_acceptance.py
  tests/openid_connect/pro_connect/testing.py
  tests/users/factories.py
  tests/utils/perms/tests.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/dashboard/test_activate_sso_account.py
  tests/www/invitations_views/test_generic.py
Due: ruff-format, ruff-check

invitations: All pros must register with ProConnect
  itou/templates/invitations_views/new_user.html
  itou/www/invitations_views/forms.py
  itou/www/invitations_views/views.py
  tests/www/invitations_views/test_generic.py
Due: ruff-format, ruff-check, djlint

temsplates: Add missing no-break space
  itou/templates/nexus/components/dropdown_no_proconnect.html
  tests/www/__snapshots__/test_layout.ambr
Due: djlint

asp: fix typo in labels
  itou/asp/models.py
Due: ruff-format, ruff-check

Upgrade to Python 3.14
  .python-version
  docker-compose.yml
  itou/antivirus/management/commands/scan_s3_files.py
  itou/api/geiq/views.py
  itou/approvals/models.py
  itou/archive/management/commands/remove_unknown_emails_from_brevo.py
  itou/communications/apps.py
  itou/employee_record/admin.py
  itou/insertion/admin.py
  itou/insertion/opening_hours.py
  itou/job_applications/admin.py
  itou/utils/admin.py
  itou/utils/apis/api_entreprise.py
  itou/utils/apis/datadog.py
  itou/utils/apis/pole_emploi.py
  itou/utils/pagination.py
  itou/utils/templatetags/format_filters.py
  itou/www/apply/views/batch_views.py
  itou/www/apply/views/submit_views.py
  itou/www/approvals_views/forms.py
  itou/www/otp_views/views.py
  itou/www/search_views/views.py
  pyproject.toml
Due: ruff-format, ruff-check

Add breaking change for Python upgrade
  CHANGELOG_breaking_changes.md
Due: none

api: add an API to retrieve all orientations of a given structure
  itou/api/admin.py
  itou/api/auth.py
  itou/api/insertion/serializers.py
  itou/api/insertion/views.py
  itou/api/migrations/0004_doratoken.py
  itou/api/models.py
  itou/api/urls.py
  tests/api/__snapshots__/test_insertion.ambr
  tests/api/test_insertion.py
  tests/utils/test_admin.py
Due: ruff-format, ruff-check
