Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

gps: Change table header
  itou/templates/gps/includes/memberships_results.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

gps: Add a human readable followed duration
  itou/gps/models.py
  tests/gps/test_models.py
Due: ruff-format, ruff-check

gps: Add current groups tab
  itou/templates/gps/group_list.html
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

tests: Rename gp test
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check

gps: Remove "no referent" badge from group list
  itou/templates/gps/includes/memberships_results.html
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: Update group list counter wording
  itou/templates/gps/group_list.html
Due: djlint

gps: Change date display in group list
  itou/templates/gps/includes/memberships_results.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

Remove diagnosis expiry when job seeker has an approval
  itou/templates/apply/includes/eligibility_diagnosis.html
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
Due: djlint

gps: Fix 1+N queries on group list
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

gps: Fix beneficiary search
  itou/templates/gps/group_list.html
Due: djlint

gps: Add old memberships tab in group list
  itou/templates/gps/group_list.html
  itou/templates/gps/includes/memberships_results.html
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

employees: Always show IF ad
  itou/templates/employees/detail.html
  itou/www/employees_views/views.py
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/employees_views/test_detail.py
Due: ruff-format, ruff-check, djlint

Migrate settings for django allauth 65.4.0
  config/settings/base.py
Due: ruff-format, ruff-check

Add a promotional banner for Mon Recap
  itou/templates/apply/list_for_siae.html
  itou/templates/includes/mon_recap_banner.html
  itou/templates/job_seekers_views/list.html
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: djlint

gps: Rename group list view and template
  itou/templates/dashboard/includes/gps_card.html
  itou/templates/gps/group_list.html
  itou/utils/templatetags/nav.py
  itou/www/gps/urls.py
  itou/www/gps/views.py
  itou/www/job_seekers_views/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_create_beneficiary.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: Remove old groups route
  itou/www/gps/urls.py
Due: ruff-format, ruff-check

gps: Improve membership admin
  itou/gps/admin.py
  itou/gps/migrations/0001_initial.py
  itou/gps/models.py
  tests/gps/test_admin.py
Due: ruff-format, ruff-check

gps: Add started_at field
  itou/gps/admin.py
  itou/gps/management/commands/sync_follow_up_groups_and_members.py
  itou/gps/migrations/0009_followupgroupmembership_started_at.py
  itou/gps/migrations/0010_fill_followupgroupmembership_started_at.py
  itou/gps/models.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/factories.py
  tests/gps/test_admin.py
  tests/gps/test_models.py
Due: ruff-format, ruff-check

job_seekers: limit list view to GET & HEAD requests
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

www.job_seekers: switch to function based view for list
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/list.html
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check, djlint

job_seekers: request.GET is always available
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

job_seekers: drop surprisingly unused select_related
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check

gps: Make FollowUpGroupMembership.started_at not nullable
  itou/gps/migrations/0011_alter_followupgroupmembership_started_at.py
  itou/gps/models.py
Due: ruff-format, ruff-check

gps: Use started_at field
  itou/gps/models.py
  itou/templates/gps/includes/group_members.html
  itou/templates/gps/includes/memberships_results.html
  tests/gps/test_models.py
Due: ruff-format, ruff-check, djlint

geiq_label: add new commands
  itou/utils/apis/geiq_label.py
Due: ruff-format, ruff-check

apis: update geiq client to handle new commands
  itou/utils/apis/geiq_label.py
  tests/utils/apis/test_geiq_label.py
Due: ruff-format, ruff-check

geiq_label: rename GeiqFFGeiq endpoint to new Geiq value
  itou/utils/apis/geiq_label.py
  tests/geiq/test_admin.py
  tests/utils/apis/test_geiq_label.py
Due: ruff-format, ruff-check

geiq_label: remove now unauthorized commands
  itou/utils/apis/geiq_label.py
Due: ruff-format, ruff-check
