Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

metabase: Transfert more informations for the sender company
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_applications.py
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

GPS: add fixtures
  itou/fixtures/django/26_follow_up_groups.json
  itou/fixtures/django/27_follow_up_group_memberships.json
  itou/fixtures/django/dumpdata.sh
Due: none

Split GPS tests
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_models.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

Make test coverage stronger
  itou/templates/gps/my_groups.html
  tests/gps/__snapshots__/tests.ambr
  tests/gps/tests.py
  tests/users/factories.py
Due: ruff-format, ruff-check, djlint

UI improvements in groups list
  config/settings/base.py
  itou/gps/models.py
  itou/templates/gps/my_groups.html
  itou/www/gps/views.py
  tests/gps/__snapshots__/tests.ambr
  tests/gps/factories.py
  tests/gps/tests.py
Due: ruff-format, ruff-check, djlint

Pilotage: update dashboard title
  itou/templates/dashboard/includes/stats.html
Due: djlint

Dashboard: remove diagoriente card and move GPS card
  itou/templates/dashboard/dashboard.html
  tests/www/dashboard/tests.py
Due: ruff-format, ruff-check, djlint

GPS: add a promotion banner on dashboard
  itou/templates/dashboard/dashboard.html
Due: djlint

Update comment place
  itou/templates/gps/my_groups.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

Add a favicon to the administration site
  itou/templates/admin/base_site.html
Due: djlint

UX/UI: Update job applications filters
  itou/static/css/itou.css
  itou/static/js/htmx_dropdown_filter.js
  itou/templates/apply/includes/job_applications_filters/criteria.html
  itou/templates/apply/includes/job_applications_filters/dates.html
  itou/templates/apply/includes/job_applications_filters/departments.html
  itou/templates/apply/includes/job_applications_filters/eligibility_validated.html
  itou/templates/apply/includes/job_applications_filters/job_seekers.html
  itou/templates/apply/includes/job_applications_filters/offcanvas.html
  itou/templates/apply/includes/job_applications_filters/offcanvas_body.html
  itou/templates/apply/includes/job_applications_filters/offcanvas_footer.html
  itou/templates/apply/includes/job_applications_filters/pass.html
  itou/templates/apply/includes/job_applications_filters/selected_jobs.html
  itou/templates/apply/includes/job_applications_filters/sender.html
  itou/templates/apply/includes/job_applications_filters/status.html
  itou/templates/apply/includes/job_applications_filters/to_companies.html
  itou/templates/apply/includes/job_applications_filters/top_filters.html
  itou/templates/apply/includes/list_counter.html
  itou/templates/apply/includes/list_job_applications.html
  itou/templates/apply/includes/list_reset_filters.html
  itou/templates/apply/list_for_job_seeker.html
  itou/templates/apply/list_for_siae.html
  itou/templates/apply/list_prescriptions.html
  itou/utils/staticfiles.py
  itou/www/apply/forms.py
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list.py
  tests/www/apply/test_list_for_job_seeker.py
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check, djlint

Prevent concurrent deploys of review apps
  .github/workflows/review-app-creation.yml
Due: none

job_applications_filters: Share btn_dropdown_filters template
  itou/templates/apply/includes/job_applications_filters/departments.html
  itou/templates/apply/includes/job_applications_filters/selected_jobs.html
  itou/templates/apply/includes/job_applications_filters/status.html
  itou/templates/includes/btn_dropdown_filter/checkboxes.html
Due: djlint

Share offcanvas filters collapse template
  itou/templates/apply/includes/job_applications_filters/criteria.html
  itou/templates/apply/includes/job_applications_filters/departments.html
  itou/templates/apply/includes/job_applications_filters/eligibility_validated.html
  itou/templates/apply/includes/job_applications_filters/field_collapse.html
  itou/templates/apply/includes/job_applications_filters/field_collapse_checkbox.html
  itou/templates/apply/includes/job_applications_filters/offcanvas_body.html
  itou/templates/apply/includes/job_applications_filters/selected_jobs.html
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
Due: djlint

Escape redirection_input_field value
  itou/utils/templatetags/redirection_fields.py
  tests/utils/tests.py
Due: ruff-format, ruff-check

feat: add email reminder sent every 3 months to organizations admins having multiple members
  clevercloud/cron.json
  itou/common_apps/organizations/models.py
  itou/communications/dispatch/__init__.py
  itou/communications/dispatch/utils.py
  itou/companies/migrations/0003_company_active_members_email_reminder_last_sent_at.py
  itou/companies/migrations/0004_set_companies_active_members_email_reminder_last_sent_at.py
  itou/institutions/migrations/0004_institution_active_members_email_reminder_last_sent_at.py
  itou/institutions/migrations/0005_set_institutions_active_members_email_reminder_last_sent_at.py
  itou/prescribers/migrations/0002_prescriberorganization_active_members_email_reminder_last_sent_at.py
  itou/prescribers/migrations/0003_set_prescriber_organizations_active_members_email_reminder_last_sent_at.py
  itou/templates/users/emails/check_authorized_members_email_body.txt
  itou/templates/users/emails/check_authorized_members_email_subject.txt
  itou/users/management/commands/send_check_authorized_members_email.py
  itou/users/notifications.py
  tests/users/__snapshots__/test_management_commands.ambr
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

api: add DepartmentToken & its authentication
  itou/api/admin.py
  itou/api/auth.py
  itou/api/migrations/0004_departmenttoken.py
  itou/api/models.py
  itou/api/siae_api/viewsets.py
  tests/api/siae_api/tests.py
Due: ruff-format, ruff-check

api: fix CompanyToken model & admin
  itou/api/admin.py
  itou/api/migrations/0002_alter_companyapitoken_companies_companytoken.py
  itou/api/models.py
Due: ruff-format, ruff-check

metabase: get reafusal reason id instead of label on metabase
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_applications.py
  tests/metabase/management/test_populate_metabase_emplois.py
  tests/metabase/test_job_applications.py
Due: ruff-format, ruff-check

gps: limit access to employers & authorized prescribers
  itou/templates/dashboard/dashboard.html
  itou/www/autocomplete/views.py
  itou/www/dashboard/views.py
  itou/www/gps/views.py
  itou/www/users_views/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_create_beneficiary.py
  tests/gps/test_views.py
  tests/prescribers/factories.py
  tests/www/dashboard/tests.py
Due: ruff-format, ruff-check, djlint

metabase: Don't send active memberships of inactive users
  itou/metabase/management/commands/populate_metabase_emplois.py
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

job_applications: Fix admin transitions perms
  itou/templates/admin/job_applications/change_form.html
  tests/job_applications/__snapshots__/test_admin.ambr
  tests/job_applications/test_admin.py
Due: ruff-format, ruff-check, djlint

Fix typo in Status job application filters
  itou/templates/apply/includes/job_applications_filters/status.html
Due: djlint

Extract btn_dropdown_filter/radio.html for reuse
  itou/templates/approvals/list.html
  itou/templates/includes/btn_dropdown_filter/radio.html
Due: djlint

UX/UI: Revamp design of employeur and job search
  itou/templates/search/includes/siaes_search_filters.html
  itou/templates/search/includes/siaes_search_filters_company.html
  itou/templates/search/includes/siaes_search_filters_departments.html
  itou/templates/search/includes/siaes_search_results.html
  itou/templates/search/includes/siaes_search_subtitle.html
  itou/templates/search/includes/siaes_search_top.html
  itou/templates/search/siaes_search_results.html
  itou/www/search/forms.py
  itou/www/search/views.py
  tests/www/search/tests.py
Due: ruff-format, ruff-check, djlint

changelog: From 2024-06-24 to 2024-06-30
  CHANGELOG.md
Due: none
