Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

fixtures: update to have contracts with end_date
  itou/fixtures/django/24_job_applications.json
  itou/fixtures/django/32_companies_contracts.json
Due: none

tests: improve ApprovalFactory to post_generate a contract
  tests/approvals/factories.py
  tests/www/approvals_views/test_list.py
Due: ruff-format, ruff-check

www.approvals: filter the approvals based on the contracts from the ASP
  itou/templates/approvals/includes/approvals_filters/status.html
  itou/templates/approvals/list.html
  itou/www/approvals_views/forms.py
  itou/www/approvals_views/views.py
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/test_list.py
Due: ruff-format, ruff-check, djlint

users.admin: Add a button to reactivate users' account
  itou/templates/admin/users/change_user_form.html
  itou/users/admin.py
  itou/users/models.py
  tests/users/test_admin_views.py
  tests/users/test_models.py
Due: ruff-format, ruff-check, djlint

nexus: Improve user kind in nexus database
  itou/nexus/management/commands/populate_metabase_nexus.py
  tests/nexus/__snapshots__/tests_management_commands.ambr
  tests/nexus/tests_management_commands.py
Due: ruff-format, ruff-check

utils: add aria-expanded attribute to collapse_field
  itou/utils/templatetags/theme_inclusion.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/utils/test_templatetags.py
Due: ruff-format, ruff-check

feat: add table view on approvals list
  itou/templates/approvals/includes/list_results.html
  itou/templates/approvals/includes/list_table.html
  itou/templates/approvals/list.html
  itou/www/approvals_views/views.py
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/test_list.py
Due: ruff-format, ruff-check, djlint

utils: Send jwt with user email in proconnect_login templatetag
  config/settings/base.py
  config/settings/test.py
  itou/utils/templatetags/url_add_query.py
  tests/utils/tests.py
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/apply/test_submit.py
  tests/www/apply/test_submit_from_job_seekers_list.py
  tests/www/eligibility_views/__snapshots__/test_views.ambr
  tests/www/eligibility_views/test_views.py
Due: ruff-format, ruff-check

pro_connect: Allow to pass email in proconnect_login middleware param
  itou/openid_connect/pro_connect/middleware.py
  tests/openid_connect/pro_connect/test_middleware.py
Due: ruff-format, ruff-check

pro_connect: Improve middleware tests performance
  tests/openid_connect/pro_connect/test_middleware.py
Due: ruff-format, ruff-check

pro_connect: Use reverse query kwarg in middleware
  itou/openid_connect/pro_connect/middleware.py
  tests/openid_connect/pro_connect/test_middleware.py
Due: ruff-format, ruff-check

form: use collapse_field in NIR forms
  itou/common_apps/nir/forms.py
  itou/templates/apply/includes/job_application_fill_user_infos_form.html
  itou/templates/dashboard/includes/edit_job_seeker_info_form.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_1.html
Due: ruff-format, ruff-check, djlint

cron: increase delete_old_emails frequency
  clevercloud/cron.json
Due: none

apply: only ask birth infos when missing
  itou/templates/apply/includes/job_application_fill_user_infos_form.html
  itou/www/apply/forms.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

adapt JobSeekerNIRUpdateMixin to handle missing fields
  itou/common_apps/nir/forms.py
Due: ruff-format, ruff-check

apply: stop asking for FT infos when already filled in
  itou/templates/apply/includes/job_application_fill_user_infos_form.html
  itou/www/apply/forms.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

users: improve JobSeekerProfileFieldsMixin
  itou/users/forms.py
Due: ruff-format, ruff-check

asp: make BirthPlaceModelForm handle fields deletion
  itou/asp/forms.py
Due: ruff-format, ruff-check

add support for empty form validation
  itou/www/apply/views/common.py
Due: ruff-format, ruff-check

apply: stop asking for a NIR when already filled in
  itou/templates/apply/includes/job_application_fill_user_infos_form.html
  itou/www/apply/forms.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

apply: only add form when it contains field
  itou/www/apply/views/common.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

Revert "add support for empty form validation"
  itou/www/apply/views/common.py
Due: ruff-format, ruff-check

users: new model to assign a jobseeker to a prescriber and/or an org
  itou/prescribers/management/commands/merge_organizations.py
  itou/users/admin.py
  itou/users/migrations/0040_jobseekerassignment.py
  itou/users/models.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/__snapshots__/tests_utils.ambr
  tests/users/factories.py
  tests/users/test_admin.py
Due: ruff-format, ruff-check

users: assign a job seeker to a prescriber after key actions
  itou/eligibility/models/geiq.py
  itou/eligibility/models/iae.py
  itou/users/models.py
  itou/www/apply/views/submit_views.py
  itou/www/job_seekers_views/views.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

wip
  itou/eligibility/models/geiq.py
  itou/users/admin.py.orig
  itou/www/apply/views/submit_views.py
  tests/eligibility/test_iae.py
Due: ruff-format, ruff-check

apply: adapt job_seeker filter code
  itou/www/apply/forms.py
Due: ruff-format, ruff-check

utils: add support for RemoteAutocompleteSelect2MultipleWidget
  itou/utils/widgets.py
Due: ruff-format, ruff-check

apply: get departments in SQL
  itou/www/apply/forms.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
Due: ruff-format, ruff-check

apply: handle filters in dynamic autocomplete
  itou/www/apply/forms.py
  itou/www/apply/urls.py
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check

prevent enumerations
  itou/www/apply/forms.py
Due: ruff-format, ruff-check

metabase.job_seekers: Handle NIR starting with 3/4/7/8
  itou/metabase/tables/job_seekers.py
  itou/users/models.py
  itou/utils/france_standards.py
  itou/utils/iso_standards.py
Due: ruff-format, ruff-check

itou: Reraise the encountered exception instead of the tenacity one
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/management/commands/populate_metabase_matomo.py
  itou/nexus/management/commands/populate_metabase_nexus.py
  itou/users/management/commands/pe_certify_users.py
  itou/utils/apis/datadog.py
  itou/utils/apis/github.py
  itou/utils/apis/sentry.py
  itou/utils/apis/updown.py
  tests/metabase/management/test_populate_metabase_matomo.py
  tests/utils/apis/test_datadog_api.py
Due: ruff-format, ruff-check

itou: Replace our custom `tenacity` after callback
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/management/commands/populate_metabase_matomo.py
  itou/nexus/management/commands/populate_metabase_nexus.py
  tests/metabase/management/__snapshots__/test_populate_metabase_matomo.ambr
Due: ruff-format, ruff-check

WIP - Use itoutils.django.commands
  itou/approvals/management/commands/prolongation_requests_chores.py
  itou/archive/management/commands/anonymize_cancelled_approvals.py
  itou/archive/management/commands/anonymize_jobseekers.py
  itou/archive/management/commands/anonymize_professionals.py
  itou/archive/management/commands/notify_inactive_jobseekers.py
  itou/archive/management/commands/remove_unknown_emails_from_brevo.py
  itou/cities/management/commands/sync_cities.py
  itou/companies/management/commands/move_company_data.py
  itou/companies/management/commands/sync_ft_offers.py
  itou/emails/management/commands/delete_old_emails.py
  itou/employee_record/management/commands/archive_employee_records.py
  itou/employee_record/management/commands/employee_record.py
  itou/metabase/management/commands/metabase_data.py
  itou/prescribers/management/commands/merge_organizations.py
  itou/siae_evaluations/management/commands/archive_accepted_evaluated_siae.py
  itou/users/management/commands/delete_old_nir_modification_requests.py
  itou/users/management/commands/pe_certify_users.py
  itou/utils/command.py
  itou/utils/logging.py
  itou/utils/management/commands/purge_orphaned_support_remarks.py
  tests/utils/test_command.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
