Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

WIP - Should we keep itoutils in `origin`? I think not
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/companies/__snapshots__/test_management_commands.ambr
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/__snapshots__/test_populate_metabase_matomo.ambr
  tests/nexus/__snapshots__/tests_management_commands.ambr
Due: none

WIP
  itou/approvals/admin.py
  itou/users/admin.py
  itou/users/models.py
  itou/users/utils.py
  itou/utils/france_standards.py
  itou/utils/templatetags/format_filters.py
  itou/utils/validators.py
  tests/users/factories.py
  tests/www/dashboard/test_edit_user_info.py
Due: ruff-format, ruff-check

feat: add badge nouveau to pilotage tab
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/dashboard_stats.html
  itou/templates/dashboard/includes/stats/employer.html
Due: djlint

fix: dashboard stats alert ui and display rules
  itou/templates/dashboard/dashboard_stats.html
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
  tests/www/dashboard/test_dashboard_stats.py
Due: ruff-format, ruff-check, djlint

changelog: From 2025-11-10 to 2025-11-16
  CHANGELOG.md
Due: none

templates: move include to common directory
  itou/templates/apply/includes/list_job_applications.html
  itou/templates/apply/list_for_job_seeker.html
  itou/templates/apply/list_for_siae.html
  itou/templates/apply/list_prescriptions.html
  itou/templates/common/list_view_switcher.html
Due: djlint

templates: explicitly pass variables to list_view_switcher
  itou/templates/apply/includes/list_job_applications.html
  itou/templates/apply/list_for_job_seeker.html
  itou/templates/apply/list_for_siae.html
  itou/templates/apply/list_prescriptions.html
Due: djlint

templates: remove useless empty lines
  itou/templates/approvals/includes/list_card.html
Due: djlint

tests: update job seeker signup tests
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/test_job_seeker.py
Due: ruff-format, ruff-check

users: do not check birthdate consistency with temporary nir
  itou/users/models.py
  tests/www/apply/test_submit.py
  tests/www/dashboard/test_edit_user_info.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

itou: Reraise the encountered exception instead of the tenacity one
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/management/commands/populate_metabase_matomo.py
  itou/nexus/management/commands/populate_metabase_nexus.py
  itou/users/management/commands/pe_certify_users.py
  itou/utils/apis/datadog.py
  itou/utils/apis/github.py
  itou/utils/apis/sentry.py
  itou/utils/apis/updown.py
  tests/metabase/management/test_populate_metabase_matomo.py
  tests/utils/apis/test_datadog_api.py
Due: ruff-format, ruff-check

itou: Replace our custom `tenacity` after callback
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/management/commands/populate_metabase_matomo.py
  itou/nexus/management/commands/populate_metabase_nexus.py
  tests/metabase/management/__snapshots__/test_populate_metabase_matomo.ambr
Due: ruff-format, ruff-check

Revert "add support for empty form validation"
  itou/www/apply/views/common.py
Due: ruff-format, ruff-check

apply: stop asking for a NIR when already filled in
  itou/templates/apply/includes/job_application_fill_user_infos_form.html
  itou/www/apply/forms.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

apply: stop asking for FT infos when already filled in
  itou/templates/apply/includes/job_application_fill_user_infos_form.html
  itou/www/apply/forms.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

asp: make BirthPlaceModelForm handle fields deletion
  itou/asp/forms.py
Due: ruff-format, ruff-check

add support for empty form validation
  itou/www/apply/views/common.py
Due: ruff-format, ruff-check

apply: only ask birth infos when missing
  itou/templates/apply/includes/job_application_fill_user_infos_form.html
  itou/www/apply/forms.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

users: improve JobSeekerProfileFieldsMixin
  itou/users/forms.py
Due: ruff-format, ruff-check

adapt JobSeekerNIRUpdateMixin to handle missing fields
  itou/common_apps/nir/forms.py
Due: ruff-format, ruff-check

apply: only add form when it contains field
  itou/www/apply/views/common.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

feat: add table view on approvals list
  itou/templates/approvals/includes/list_results.html
  itou/templates/approvals/includes/list_table.html
  itou/templates/approvals/list.html
  itou/www/approvals_views/views.py
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/test_list.py
Due: ruff-format, ruff-check, djlint

fix: update pagination size in ApprovalListView to default
  itou/www/approvals_views/views.py
Due: ruff-format, ruff-check

form: encourage NIA input
  itou/common_apps/nir/forms.py
Due: ruff-format, ruff-check

fix: update tooltip text for validity duration in approval templates
  itou/templates/approvals/includes/list_card.html
  itou/templates/approvals/includes/list_table.html
  itou/templates/utils/templatetags/approval_box.html
  tests/www/approvals_views/__snapshots__/test_approval_box.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

WIP
  itou/eligibility/enums.py
  itou/eligibility/migrations/0001_initial.py
  itou/eligibility/models/common.py
  itou/eligibility/tasks.py
  itou/users/enums.py
  itou/users/migrations/0001_initial.py
  tests/eligibility/test_iae.py
  tests/eligibility/test_tasks.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
  tests/utils/apis/test_api_particulier.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/test_process.py
  tests/www/apply/test_templates.py
  tests/www/employees_views/__snapshots__/test_detail.ambr
Due: ruff-format, ruff-check

eligibility: Add RQTH endpoint to the pole emploi client
  config/settings/base.py
  itou/utils/apis/pole_emploi.py
  itou/utils/mocks/pole_emploi.py
  tests/utils/apis/test_pole_emploi_api.py
Due: ruff-format, ruff-check

users: replace LackOfNIRReason.TEMPORARY_NUMBER by NO_NIR
  itou/fixtures/django/07_jobseeker_profile.json
  itou/users/enums.py
  itou/users/migrations/0001_initial.py
  itou/users/migrations/0040_migrate_temporary_number_to_no_nir.py
  tests/users/test_models.py
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_info.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

apply: handle job seekers with birthdate & no birthplace/country
  itou/www/apply/forms.py
  tests/www/apply/__snapshots__/test_process.ambr
Due: ruff-format, ruff-check

feat: add job seeker job application link to prescribers emails
  itou/job_applications/notifications.py
  itou/templates/apply/email/add_to_pool_for_proxy_body.txt
  itou/templates/apply/email/new_for_prescriber_body.txt
  itou/templates/apply/email/postpone_for_proxy_body.txt
  itou/templates/apply/email/refuse_body_for_proxy.txt
  itou/templates/apply/email/transfer_prescriber_body.txt
  tests/job_applications/__snapshots__/tests.ambr
  tests/www/apply/__snapshots__/test_process.ambr
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
