Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

users: avoid context outside transaction
  itou/users/management/commands/deduplicate_job_seekers.py
Due: ruff-format, ruff-check

fix: ui rules for siae_eveluation forms pages
  itou/templates/siae_evaluations/evaluated_job_application.html
  itou/templates/siae_evaluations/includes/criteria_form.html
Due: djlint

fix: ui for no_email_link
  itou/templates/signup/includes/no_email_link.html
Due: djlint

fix: ui cols width in institutions template
  itou/templates/institutions/update_admins.html
Due: djlint

fix: move tab's action button to the designated area
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/detail_title_content.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

fix: ui rules for itou_staff forms pages
  itou/templates/itou_staff_views/import_aci_convergence_phc.html
  itou/templates/itou_staff_views/import_fs_3437_from_asp.html
  tests/www/itou_staff_views/__snapshots__/tests.ambr
Due: djlint

fix: ui rules for job_seeker forms pages
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_base.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_end.html
  itou/templates/job_seekers_views/includes/detail_title_content.html
  itou/templates/job_seekers_views/step_check_job_seeker_nir.html
  itou/templates/job_seekers_views/step_search_job_seeker_by_email.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_search_services.py
Due: ruff-format, ruff-check, djlint

fix: ui rules for global includes forms pages
  itou/templates/includes/deactivate_member.html
  itou/templates/includes/update_admin.html
Due: djlint

fix: ui rules for static forms pages
  itou/templates/static/legal/terms/base.html
Due: djlint

fix: ui rules for invitations_views forms pages
  itou/templates/invitations_views/create.html
Due: djlint

fix: ui cols width in prescribers template
  itou/templates/prescribers/update_admins.html
Due: djlint

fix: ui cols width in companies template
  itou/templates/companies/update_admins.html
Due: djlint

feat: add custom icon support to alert component
  itou/templates/components/alerts/alert.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
Due: djlint

admin: Fix hijack button to user admin change form
  itou/templates/admin/users/change_user_form.html
Due: djlint

triggers: always use the same connection object
  itou/utils/triggers/__init__.py
Due: ruff-format, ruff-check

tests: add comment to ease tests understanding
  tests/utils/test_triggers.py
Due: ruff-format, ruff-check

sps: Add base view
  config/settings/base.py
  config/urls.py
  itou/templates/recommendations/list.html
  itou/www/recommendations/__init__.py
  itou/www/recommendations/urls.py
  itou/www/recommendations/views.py
Due: ruff-format, ruff-check, djlint

sps: Add nav entry for relevant users
  itou/utils/templatetags/nav.py
Due: ruff-format, ruff-check

users: drop sync_job_seeker_assignments
  itou/users/management/commands/sync_job_seeker_assignments.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

gps: drop sync_follow_up_groups_and_members
  itou/gps/management/commands/sync_follow_up_groups_and_members.py
  tests/gps/test_management_commands.py
Due: ruff-format, ruff-check

gps: disable trigger context on export_beneficiaries_for_advisor
  itou/gps/management/commands/export_beneficiaries_for_advisor.py
Due: ruff-format, ruff-check

gps: disable AUTO_TRIGGER_CONTEXT on import_advisor_information
  itou/gps/management/commands/import_advisor_information.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
