Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

www.dashboard: Add employee records with 3437 error to be exported
  itou/employee_record/models.py
  itou/templates/dashboard/includes/staff_export_card.html
  itou/www/itou_staff_views/export_utils.py
  itou/www/itou_staff_views/urls.py
  itou/www/itou_staff_views/views.py
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check, djlint

employee_record: Use the denormalized `asp_measure` everywhere
  itou/api/employee_record_api/serializers.py
  itou/employee_record/models.py
  itou/employee_record/serializers.py
  tests/api/employee_record_api/test_serializers.py
  tests/employee_record/test_serializers.py
Due: ruff-format, ruff-check

revert: introjs to promote the contract status filter
  itou/templates/approvals/includes/contract_status_filter.html
  itou/templates/approvals/list.html
Due: djlint

eligibility: move criteria alerts next to the form
  itou/templates/eligibility/includes/iae_form_content_for_prescriber.html
  itou/templates/eligibility/includes/iae_help_for_prescriber.html
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/eligibility_views/__snapshots__/test_views.ambr
Due: djlint

geo: replace QPV data in production
  itou/geo/migrations/0002_switch_QPV_to_2024.py
Due: ruff-format, ruff-check

QPV: load zones by default in default database
  Makefile
Due: none

geo: display geometry for QPV admin
  itou/geo/admin.py
  itou/utils/admin.py
Due: ruff-format, ruff-check

fixup! users: new model to assign a jobseeker to a prescriber and/or an org
  itou/archive/management/commands/anonymize_professionals.py
  itou/users/migrations/0043_jobseekerassignment.py
  itou/users/models.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/__snapshots__/tests_utils.ambr
  tests/archive/tests_management_command.py
  tests/users/__snapshots__/test_models.ambr
  tests/users/test_models.py
Due: ruff-format, ruff-check

users: create or update a JobSeekerAssignment when creating a diagnosis
  itou/eligibility/models/geiq.py
  itou/eligibility/models/iae.py
  itou/www/apply/views/common.py
  itou/www/apply/views/submit_views.py
  tests/eligibility/test_geiq.py
  tests/eligibility/test_iae.py
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check

users: create a JobSeekerAssignment at job seeker creation by prescriber
  itou/www/job_seekers_views/views.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

users: create or update a JobSeekerAssignment when a prescriber applies
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

itou_staff_views: handle JobSeekerAssignments when merging users
  itou/www/itou_staff_views/merge_utils.py
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check

prescribers: handle JobSeekerAssignments when merging organizations
  itou/prescribers/management/commands/merge_organizations.py
  tests/prescribers/tests.py
Due: ruff-format, ruff-check

metabase: add `is_referent_certified` field from GPS
  itou/metabase/tables/gps.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

github: Rename master branch in main
  .github/workflows/ci.yml
  CHANGELOG_breaking_changes.md
Due: none

gps: exclude inactive users in in FollowUpGroup default queryset
  itou/gps/models.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_models.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check

api.employee_record: Synchronize outputed fields
  itou/api/employee_record_api/serializers.py
Due: ruff-format, ruff-check

feat: replace user get_full_name by get_inverted_full_name in apply views list and pages that are one-click away
  itou/templates/apply/edit_contract_start_date.html
  itou/templates/apply/includes/_submit_title.html
  itou/templates/apply/includes/accept_confirmation.html
  itou/templates/apply/includes/buttons/rdv_insertion_invite.html
  itou/templates/apply/includes/job_application_box_for_user.html
  itou/templates/apply/includes/job_application_external_transfer_progress.html
  itou/templates/apply/includes/job_seeker_info.html
  itou/templates/apply/includes/list_card_body.html
  itou/templates/apply/includes/list_table.html
  itou/templates/apply/includes/list_tr.html
  itou/templates/apply/includes/profile_infos.html
  itou/templates/apply/process_accept_base.html
  itou/templates/apply/process_add_to_pool.html
  itou/templates/apply/process_base.html
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/apply/process_eligibility.html
  itou/templates/apply/process_geiq_eligibility.html
  itou/templates/apply/process_postpone.html
  itou/templates/apply/process_refuse.html
  itou/templates/apply/submit/application/end.html
  itou/templates/apply/transfer/internal_transfer.html
  itou/www/apply/forms.py
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_detail_rdv_insertion.ambr
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_list_rdv_insertion.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/apply/__snapshots__/test_transfer.ambr
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_list_prescriptions.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check, djlint

feat: replace user get_full_name by get_inverted_full_name in apply notification emails
  itou/templates/apply/email/accept_for_proxy_body.txt
  itou/templates/apply/email/add_to_pool_for_proxy_body.txt
  itou/templates/apply/email/add_to_pool_for_proxy_subject.txt
  itou/templates/apply/email/cancel_body.txt
  itou/templates/apply/email/diagoriente_prescriber_invite_body.txt
  itou/templates/apply/email/new_for_prescriber_body.txt
  itou/templates/apply/email/new_for_prescriber_subject.txt
  itou/templates/apply/email/postpone_for_proxy_body.txt
  itou/templates/apply/email/postpone_for_proxy_subject.txt
  itou/templates/apply/email/refuse_body_for_proxy.txt
  itou/templates/apply/email/transfer_prescriber_body.txt
  itou/templates/apply/email/transfer_prescriber_subject.txt
  itou/templates/apply/email/transfer_source_employer_body.txt
  itou/templates/apply/email/transfer_source_employer_subject.txt
  tests/job_applications/__snapshots__/tests.ambr
  tests/job_applications/test_transfer.py
  tests/job_applications/tests.py
Due: ruff-format, ruff-check

tests: minor fix in a test to follow conventions
  tests/gps/test_management_commands.py
Due: ruff-format, ruff-check

apply: stop storing request.user public id in session
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
  tests/www/apply/test_submit_from_job_seekers_list.py
Due: ruff-format, ruff-check

apply: merge ApplyStepForSenderBaseView into its sole children
  itou/www/apply/views/submit_views.py
Due: ruff-format, ruff-check

apply: simplify PendingAuthorizationForSender view
  itou/www/apply/views/submit_views.py
Due: ruff-format, ruff-check

apply: PendingAuthorizationForSender is only for prescribers
  itou/www/apply/views/submit_views.py
Due: ruff-format, ruff-check

users: management command to populate job seeker assignments
  itou/users/management/commands/sync_job_seeker_assignments.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

apply: restrict CheckJobSeekerInformations view
  itou/templates/job_seekers_views/check_job_seeker_info.html
  itou/www/job_seekers_views/forms.py
  itou/www/job_seekers_views/views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

wip
  itou/www/job_seekers_views/forms.py
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

changelog: From 2026-01-26 to 2026-02-01
  CHANGELOG.md
Due: none

github: Rename master branch in main
  .github/workflows/ci.yml
  CHANGELOG_breaking_changes.md
  scripts/clever-deploy
  scripts/create-fast-machine.sh
  scripts/mkchangelog
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
