Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: flake8
        name: Flake8
        entry: flake8
        types: [python]
        language: system
      - id: isort
        name: isort
        entry: isort
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system

CSP: Enable for real
  config/settings/base.py
Due: black, flake8, isort

Update Sentry cron monitor ID
  itou/status/management/commands/run_status_probes.py
Due: black, flake8, isort

model: added allowance amount and GEIQ eligibility calculations
  itou/eligibility/models/geiq.py
  itou/eligibility/tests/tests_geiq.py
Due: black, flake8, isort

tests: added GEIQ eligibility tests
  itou/eligibility/factories.py
  itou/eligibility/migrations/0002_geiq_eligibility_models.py
  itou/eligibility/tests/__init__.py
  itou/eligibility/tests/tests_geiq.py
  itou/eligibility/tests/tests_iae.py
Due: black, flake8, isort

tests: added reference to new eligibility enums
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_seekers.py
Due: black, flake8, isort

data: added GEIQ administrative criteria JSON data file
  itou/eligibility/apps.py
  itou/eligibility/data/administrative_criteria_geiq.json
Due: black, flake8, isort

fix: update existing files and tests with new enums and eligibility changes
  itou/job_applications/models.py
  itou/job_applications/tests/tests.py
  itou/metabase/tables/job_seekers.py
  itou/siae_evaluations/tests/tests_models.py
  itou/users/enums.py
  itou/users/models.py
  itou/utils/perms/user.py
  itou/www/apply/tests/tests_list.py
  itou/www/apply/tests/tests_process.py
  itou/www/eligibility_views/forms.py
  itou/www/eligibility_views/tests.py
  itou/www/siae_evaluations_views/tests/tests_siaes_views.py
Due: black, flake8, isort

admin: added GEIQ, updated IAE
  itou/eligibility/admin.py
Due: black, flake8, isort

model: changed file structure of eligibility models, added GEIQ
  itou/eligibility/enums.py
  itou/eligibility/migrations/0002_geiq_eligibility_models.py
  itou/eligibility/models/__init__.py
  itou/eligibility/models/common.py
  itou/eligibility/models/geiq.py
  itou/eligibility/models/iae.py
Due: black, flake8, isort

sync_pec_offers: Lock rows and use an atomic transaction
  itou/siaes/management/commands/sync_pec_offers.py
Due: black, flake8, isort

Changelog: Sprint 54
  CHANGELOG.md
Due: none

metabase : addition or correction of the ai flag where needed
  itou/metabase/sql/015_taux_transformation_prescripteurs.sql
  itou/metabase/sql/018_nombre_candidatures_par_structure.sql
  itou/metabase/sql/021_tx_candidats_acceptes_par_prescripteurs.sql
  itou/metabase/sql/022_delai_recrutement.sql
Due: none

upd: communaute url
  itou/templates/layout/_footer.html
  itou/templates/layout/_nav_preheader_items.html
Due: djlint

feat: update itou theme to v.0.5.7
  itou/static/vendor/theme-inclusion/images/logo-communaute-inclusion-dark.svg
  itou/static/vendor/theme-inclusion/images/logo-communaute-inclusion-mono.svg
  itou/static/vendor/theme-inclusion/images/logo-emploi-inclusion-dark.svg
  itou/static/vendor/theme-inclusion/images/logo-emploi-inclusion-mono.svg
  itou/static/vendor/theme-inclusion/images/logo-inclusion-connect-bg.svg
  itou/static/vendor/theme-inclusion/images/logo-inclusion-connect-dark.svg
  itou/static/vendor/theme-inclusion/images/logo-inclusion-connect-light.svg
  itou/static/vendor/theme-inclusion/images/logo-inclusion-connect-mono.svg
  itou/static/vendor/theme-inclusion/images/logo-inclusion-connect-one-line.svg
  itou/static/vendor/theme-inclusion/images/logo-inclusion-connect-simple.svg
  itou/static/vendor/theme-inclusion/images/logo-inclusion-connect-two-lines.svg
  itou/static/vendor/theme-inclusion/images/logo-inclusion-connect.svg
  itou/static/vendor/theme-inclusion/images/logo-marche-inclusion-dark.svg
  itou/static/vendor/theme-inclusion/images/logo-marche-inclusion-mono.svg
  itou/static/vendor/theme-inclusion/images/logo-pilotage-inclusion-dark.svg
  itou/static/vendor/theme-inclusion/images/logo-pilotage-inclusion-mono.svg
  itou/static/vendor/theme-inclusion/images/logo-plateforme-inclusion-dark.svg
  itou/static/vendor/theme-inclusion/images/logo-plateforme-inclusion-mono.svg
  itou/static/vendor/theme-inclusion/stylesheets/app.css
Due: none

Fix warning on test output
  itou/metabase/management/test_populate_metabase_emplois.py
Due: black, flake8, isort

metabase: Improve code base
  itou/metabase/dataframes.py
  itou/metabase/db.py
Due: black, flake8, isort

www.dashboard: split EditUserInfoForm
  itou/www/dashboard/forms.py
  itou/www/dashboard/views.py
Due: black, flake8, isort

www.employee_record.list: Fix missing markup for "actualisation" ER
  itou/templates/employee_record/includes/list_item.html
  itou/www/employee_record_views/tests/test_list.py
Due: black, flake8, isort, djlint

dashboard: New card and banner for DORA
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/dora_card.html
  itou/www/dashboard/tests.py
  itou/www/dashboard/views.py
Due: black, flake8, isort, djlint

populate_matabase_matomo: Save text output in the bucket
  clevercloud/crons/populate_metabase_matomo.sh
Due: none

populate_metabase_matomo: Turn a return into a continue
  itou/metabase/management/commands/populate_metabase_matomo.py
Due: black, flake8, isort

matomo: Increase the max time for downloading all dashboards.
  itou/metabase/management/commands/populate_metabase_matomo.py
Due: black, flake8, isort

matomo: Fix non-threadsafe prints
  itou/metabase/management/commands/populate_metabase_matomo.py
Due: black, flake8, isort

www.apply: only show personal information to authorized users
  itou/templates/apply/includes/job_seeker_info.html
  itou/www/apply/tests/tests_process.py
  itou/www/apply/views/process_views.py
  itou/www/approvals_views/views.py
Due: black, flake8, isort, djlint

www.apply: hide personal information in list views
  itou/templates/apply/includes/list_card_header.html
  itou/www/apply/tests/tests_list.py
  itou/www/apply/views/list_views.py
Due: black, flake8, isort, djlint

www.apply: hide personal information on base template
  itou/templates/apply/process_base.html
  itou/www/apply/tests/tests_process.py
  itou/www/apply/views/process_views.py
Due: black, flake8, isort, djlint
