Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

fix: badge is_referent_certified_membership UI
  itou/templates/gps/includes/badge_is_referent_certified_membership.html
  itou/templates/gps/includes/membership_referent.html
Due: djlint

fix: badge certification UI
  itou/utils/templatetags/badges.py
  tests/www/eligibility_views/utils.py
Due: ruff-format, ruff-check

apply: simplify and strengthen an include
  itou/templates/apply/includes/eligibility_diagnosis.html
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/employees/detail.html
  tests/www/apply/test_templates.py
Due: ruff-format, ruff-check, djlint

tests: more realistic case of expired approval with expired diagnosis
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

feat: add eligibility badge on eligibility diagnosis
  itou/templates/apply/includes/eligibility_diagnosis.html
  itou/templates/apply/includes/geiq/geiq_diagnosis_details.html
  itou/templates/job_seekers_views/includes/eligibility_diagnosis.html
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_geiq.py
  tests/www/apply/test_process.py
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/employees_views/test_detail.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check, djlint

MonRecap: Add models for a notebook order
  config/settings/base.py
  itou/mon_recap/__init__.py
  itou/mon_recap/apps.py
  itou/mon_recap/enums.py
  itou/mon_recap/migrations/0001_initial.py
  itou/mon_recap/migrations/__init__.py
  itou/mon_recap/models.py
  tests/mon_recap/__init__.py
  tests/mon_recap/factories.py
  tests/mon_recap/tally.json
  tests/mon_recap/test_models.py
Due: ruff-format, ruff-check

Revert "employee_record: add global banner for ASP users"
  itou/templates/layout/base.html
Due: djlint

admin: Add job_seeker PII to EvaluatedJobApplication{Admin,Inline}
  itou/siae_evaluations/admin.py
Due: ruff-format, ruff-check

nexus: Remove unicode character from enum value
  itou/api/migrations/0002_servicetoken.py
  itou/nexus/enums.py
Due: ruff-format, ruff-check

api: Add nexus input API
  itou/api/nexus/__init__.py
  itou/api/nexus/serializers.py
  itou/api/nexus/views.py
  itou/api/urls.py
  itou/nexus/enums.py
  tests/api/test_nexus.py
Due: ruff-format, ruff-check

nexus: Create models
  itou/nexus/enums.py
  itou/nexus/migrations/0001_initial.py
  itou/nexus/migrations/__init__.py
  itou/nexus/models.py
  itou/nexus/utils.py
  tests/cities/tests.py
  tests/nexus/factories.py
  tests/nexus/test_models.py
Due: ruff-format, ruff-check

nexus: Add admin pages
  itou/nexus/admin.py
  tests/nexus/test_admin.py
  tests/utils/test_admin.py
Due: ruff-format, ruff-check

tests: clean unused snapshot
  tests/www/siae_evaluations_views/__snapshots__/test_views.ambr
Due: none

gps: Fix groups display order in list
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check

asp: update commune Pierrefitte-sur-Seine according to referential v3
  itou/asp/migrations/0002_update_pierrefite-sur-seine.py
Due: ruff-format, ruff-check

tmp: fixtures update for testing
  Makefile
  itou/fixtures/django/05_test_users.json
  itou/fixtures/django/20_eligibility_diagnoses.json
  itou/fixtures/django/21_approvals.json
  itou/fixtures/django/24_job_applications.json
  itou/fixtures/django/tmp01_files.json
  itou/fixtures/django/tmp_evaluated.json
Due: none

tests: better test queries in the sanctions details view
  tests/siae_evaluations/factories.py
  tests/utils/test_admin.py
  tests/www/siae_evaluations_views/__snapshots__/test_views.ambr
  tests/www/siae_evaluations_views/test_views.py
Due: ruff-format, ruff-check

do not review (pr #7286) tests: clean unused snapshot
  tests/www/siae_evaluations_views/__snapshots__/test_views.ambr
Due: none

do not review (pr #7286) tests: better test queries in the sanctions details view
  tests/siae_evaluations/factories.py
  tests/utils/test_admin.py
  tests/www/siae_evaluations_views/__snapshots__/test_views.ambr
  tests/www/siae_evaluations_views/test_views.py
Due: ruff-format, ruff-check

Automate the reset of the demo environment
  .github/workflows/demo-reset.yml
  scripts/reset
Due: none

siae_evaluations: switch subsidy_cut from siae to job_application level
  itou/siae_evaluations/admin.py
  itou/siae_evaluations/migrations/0006_evaluatedjobapplicationsanction_and_more.py
  itou/siae_evaluations/models.py
  itou/templates/siae_evaluations/evaluated_siae_sanction.html
  itou/templates/siae_evaluations/includes/evaluation_data.html
  itou/templates/siae_evaluations/institution_evaluated_siae_notify_step3.html
  itou/www/siae_evaluations_views/forms.py
  itou/www/siae_evaluations_views/views.py
  tests/siae_evaluations/factories.py
  tests/utils/test_admin.py
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_views.ambr
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/siae_evaluations_views/test_views.py
Due: ruff-format, ruff-check, djlint

siae_evaluations: display evaluated job apps with defect in sanction details
  itou/siae_evaluations/enums.py
  itou/siae_evaluations/models.py
  itou/templates/siae_evaluations/evaluated_siae_sanction.html
  tests/www/siae_evaluations_views/test_views.py
Due: ruff-format, ruff-check, djlint

fixtures: Add matching nexus data -- WIP
  itou/fixtures/django/40_nexus_users.json
  itou/fixtures/django/dumpdata.sh
Due: none

nexus: Add utils to store activated services
  itou/nexus/utils.py
  tests/nexus/test_utils.py
Due: ruff-format, ruff-check

templates: move legal footer to a separate template
  itou/templates/layout/_footer.html
  itou/templates/layout/_footer_legal.html
Due: djlint

templates: Move tarteaucitron and matomo scripts in a separate template
  itou/templates/includes/tarteaucitron_matomo.html
  itou/templates/layout/base.html
Due: djlint

tests: Remove unused snaphots
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_views.ambr
Due: none

nexus: Change urls path
  config/urls.py
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/eligibility_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

staticfiles: Update itou-theme to 3.2.5
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

nexus: Setup base layout
  itou/nexus/enums.py
  itou/templates/nexus/homepage.html
  itou/templates/nexus/layout/base.html
  itou/www/nexus/urls.py
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint

nexus: Add homepage
  itou/templates/nexus/homepage.html
  itou/www/nexus/views.py
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/nexus/test_views.py
Due: ruff-format, ruff-check, djlint
