Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

apply: add link to company in application details
  itou/templates/apply/includes/job_application_info.html
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

www.stats: Update the default webinar banner
  itou/www/stats/views.py
Due: ruff-format, ruff-check

sessions: rename `create_temporary` and allow to pass initial values
  itou/utils/session.py
  itou/www/job_seekers_views/views.py
  tests/utils/tests.py
Due: ruff-format, ruff-check

apply: remove extra links from applications cards
  itou/templates/apply/includes/list_card_body_company.html
  itou/templates/apply/includes/list_card_body_jobseeker.html
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check, djlint

pagination: Decrease items_per_page
  itou/www/apply/views/list_views.py
  itou/www/approvals_views/views.py
  itou/www/companies_views/views.py
  itou/www/geiq_views/views.py
Due: ruff-format, ruff-check

Fix date in notify_pole_emploi error log near midnight
  itou/approvals/models.py
Due: ruff-format, ruff-check

www.dashboard: Use snapshots to test the stats index
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
  tests/www/dashboard/test_dashboard.py
  tests/www/dashboard/test_dashboard_stats.py
Due: ruff-format, ruff-check

fix: gps templates ui
  itou/templates/gps/includes/memberships_results.html
  itou/templates/gps/join_group.html
  itou/templates/gps/my_groups.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

feat: update theme to v2.3.3
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

Cleanup unused snapshots
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/approvals_views/__snapshots__/test_includes.ambr
Due: none

fix: remix icons under bold font
  itou/templates/apply/includes/applying_for_banner.html
  itou/templates/apply/includes/job_applications_filters/top_filters.html
  itou/templates/apply/includes/list_reset_filters.html
  itou/templates/approvals/includes/list_reset_filters.html
  itou/templates/search/includes/prescribers_search_form.html
  itou/templates/search/includes/siaes_search_content.html
  itou/templates/search/includes/siaes_search_form.html
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/search/tests.py
Due: ruff-format, ruff-check, djlint

templates: move & rename template to apply directory
  itou/templates/apply/includes/job_application_box_for_user.html
  itou/templates/employees/detail.html
  tests/www/employees_views/__snapshots__/test_detail.ambr
Due: djlint

templates: add mask_unless filter
  itou/templates/apply/includes/job_application_box_for_user.html
Due: djlint

templates: extract detail url computation
  itou/templates/apply/includes/job_application_box_for_user.html
  itou/templates/employees/detail.html
Due: djlint

templates: extract matomo event attrs computation
  itou/templates/apply/includes/job_application_box_for_user.html
  itou/templates/employees/detail.html
Due: djlint

templates: reuse job_application_box_for_user template
  itou/templates/job_seekers_views/details.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

logging: log redirects in dispatch()
  itou/www/apply/views/submit_views.py
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

apply: remove useless code
  itou/templates/apply/includes/list_card_body_jobseeker.html
  tests/www/apply/__snapshots__/test_list.ambr
Due: djlint

itou_staff_views: Improve merge users form
  itou/templates/itou_staff_views/merge_users.html
  itou/templates/itou_staff_views/merge_users_confirm.html
  itou/www/itou_staff_views/forms.py
  itou/www/itou_staff_views/merge_utils.py
  itou/www/itou_staff_views/urls.py
  itou/www/itou_staff_views/views.py
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check, djlint

apply: use a `apply:hire` URL instead of CheckNir directly
  itou/templates/dashboard/includes/dashboard_title_content.html
  itou/templates/job_seekers_views/step_check_job_seeker_nir.html
  itou/www/apply/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/apply/test_submit.py
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check, djlint

apply: redefine next_url in PendingAuthorizationForSender view
  itou/templates/apply/submit_step_pending_authorization.html
  itou/www/apply/views/submit_views.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: disconnect check-nir from apply views
  itou/www/apply/views/submit_views.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/gps/test_create_beneficiary.py
  tests/utils/test.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_create.py
Due: ruff-format, ruff-check

feat(rdvi): add readonly RDV-I objects to admin
  itou/rdv_insertion/admin.py
  itou/rdv_insertion/apps.py
Due: ruff-format, ruff-check

changelog: From 2024-11-18 to 2024-11-24
  CHANGELOG.md
Due: none
