Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

fix: some ui adjusments for approval status
  itou/templates/approvals/includes/status.html
  tests/www/approvals_views/__snapshots__/test_includes.ambr
Due: djlint

www: Add job_seeker page
  config/urls.py
  itou/eligibility/models/common.py
  itou/templates/apply/includes/geiq/geiq_diagnosis_allowance_alert.html
  itou/templates/apply/includes/geiq/geiq_diagnosis_details.html
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/eligibility_diagnosis.html
  itou/www/job_seekers_views/__init__.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

www: Add approval box template
  itou/templates/approvals/includes/box.html
  tests/utils/test.py
  tests/www/apply/test_templates.py
  tests/www/job_seekers_views/__init_.py
  tests/www/job_seekers_views/__snapshots__/test_approval_box.ambr
  tests/www/job_seekers_views/test_approval_box.py
Due: ruff-format, ruff-check, djlint

apply: add link to job seeker detail page
  itou/templates/apply/includes/list_card_body_company.html
  itou/templates/apply/process_base.html
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/test_list.py
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_list_prescriptions.py
  tests/www/apply/test_templates.py
Due: ruff-format, ruff-check, djlint

eligibility: improve AuthorKind.PRESCRIBER label
  itou/eligibility/enums.py
  itou/eligibility/migrations/0001_initial.py
Due: ruff-format, ruff-check

apply: Change the layout of job_seeker_info template
  itou/templates/apply/includes/job_seeker_info.html
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/apply/submit/hire_confirmation.html
  itou/templates/approvals/detail.html
Due: djlint

approvals: improve page title
  itou/templates/approvals/detail.html
Due: djlint

fix(institutions): move convergence institution creation to fixture
  itou/fixtures/django/05_test_users.json
  itou/fixtures/django/06_confirmed_emails.json
  itou/fixtures/django/16_institutions.json
  itou/fixtures/django/17_institution_memberships.json
  itou/institutions/migrations/0007_convergence_institution.py
Due: ruff-format, ruff-check

tests: replace assertNumQueries with assertSnapshotQueries
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check

Avoid SQL query for latest_approval
  itou/users/models.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
Due: ruff-format, ruff-check

www.apply: handle missing birthdate field
  itou/asp/forms.py
  itou/www/apply/forms.py
  itou/www/apply/views/common.py
  itou/www/employee_record_views/forms.py
  tests/www/apply/test_forms.py
Due: ruff-format, ruff-check

changelog: From 2024-08-26 to 2024-09-01
  CHANGELOG.md
Due: none

admin: Update wording of transition_to_adversarial_phase
  itou/siae_evaluations/admin.py
Due: ruff-format, ruff-check

Stabilize flaky tests/www/job_seekers_views/test_details.py::test_job_application_tab
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check

latest_pe_approval: sort in SQL
  itou/users/models.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check

Prefer timezone.localdate() over date.today()
  itou/approvals/models.py
  itou/communications/cache.py
  itou/job_applications/models.py
  itou/metabase/tables/job_seekers.py
  itou/utils/widgets.py
  itou/www/apply/forms.py
  itou/www/approvals_views/views.py
  tests/approvals/factories.py
  tests/approvals/tests.py
  tests/communications/factories.py
  tests/eligibility/test_iae.py
  tests/employee_record/test_models.py
  tests/job_applications/tests.py
  tests/metabase/management/test_populate_metabase_emplois.py
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check

Prefer timezone.localdate() over timezone.now().date()
  itou/approvals/models.py
  itou/companies/management/commands/_import_siae/vue_af.py
  tests/approvals/test_notify_pole_emploi.py
  tests/www/apply/test_edit.py
Due: ruff-format, ruff-check

Always define pagination boost variables
  itou/templates/includes/pagination.html
  tests/www/approvals_views/test_list.py
Due: ruff-format, ruff-check, djlint

pytest: Move configuration to pyproject.toml
  pyproject.toml
  pytest.ini
Due: none

Remove duplicate assertions from test_populate_metabase_emplois
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

Stabilize tests/gps/test_views.py::test_beneficiary_details
  tests/gps/test_views.py
Due: ruff-format, ruff-check

feat(cron): import_advisor_information for GPS every 15 minutes
  clevercloud/cron.json
Due: none

tests: fix JobSeekerFactory
  tests/users/factories.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
