Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, djlint

black:
  name: Black
  entry: black
  language: system

flake8:
  name: Flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

www.apply: only show personal information to authorized users
  itou/templates/apply/includes/job_seeker_info.html
  itou/www/apply/tests/tests_process.py
  itou/www/apply/views/process_views.py
  itou/www/approvals_views/views.py
Due: black, flake8, isort, djlint

Install special object POLE EMPLOI SIAE in post_migrate
  itou/siaes/apps.py
  itou/siaes/migrations/0001_initial.py
Due: black, flake8, isort

www.dashboard: add banner for SIAE without active financial annex
  itou/templates/dashboard/dashboard.html
  itou/www/dashboard/tests.py
  itou/www/dashboard/views.py
Due: black, flake8, isort, djlint

metabase: Improve code base
  itou/metabase/dataframes.py
  itou/metabase/db.py
Due: black, flake8, isort

users: Add `asp_uid` field to replace `jobseeker_hash_id` property
  itou/users/admin.py
  itou/users/management/commands/fill_user_asp_uid.py
  itou/users/migrations/0006_user_asp_uid.py
  itou/users/models.py
  itou/users/tests/test_models.py
Due: black, flake8, isort

templates.employee_record: Fix a typo
  itou/templates/employee_record/list.html
Due: djlint

[Metabase] Fix order of SQL requests
  itou/metabase/sql/002_fluxIAE_Structure_v2.sql
  itou/metabase/sql/004_missions_ai_ehpad.sql
Due: none

[Metabase] Deprecate anonymized fields
  itou/metabase/sql/015_taux_transformation_prescripteurs.sql
  itou/metabase/sql/016_candidatures_recues_par_fiche_de_poste.sql
  itou/metabase/sql/017_fiches_deposte_en_tension_recrutement.sql
  itou/metabase/sql/019_candidatures_echelle_locale.sql
  itou/metabase/sql/020_delai_1ere_candidature_embauche.sql
  itou/metabase/sql/021_tx_candidats_acceptes_par_prescripteurs.sql
  itou/metabase/sql/022_delai_recrutement.sql
  itou/metabase/sql/023_candidats_sans_solution.sql
  itou/metabase/sql/024_tx_refus_siae.sql
Due: none

[Metabase] Fix order of SQL requests
  itou/metabase/sql/006_saisies_mensuelles_iae.sql
  itou/metabase/sql/008_heures_etp_salaries.sql
Due: none

[Metabase] Fix incorrect field name
  itou/metabase/tables/approvals.py
Due: black, flake8, isort

[Metabase] Fix typo `colomn` => `column`
  itou/metabase/dataframes.py
Due: black, flake8, isort

[Metabase] Minor hotfix of SQL request
  itou/metabase/sql/015_taux_transformation_prescripteurs.sql
Due: none

[Metabase] Minor hotfix of SQL request
  itou/metabase/sql/024_tx_refus_siae.sql
Due: none

Cleanup after CSP has been enabled
  config/settings/base.py
Due: black, flake8, isort

sync_pec_offers: Fix a PEBKAC issue seen on Sentry
  itou/siaes/management/commands/sync_pec_offers.py
  itou/siaes/tests/tests_sync_pec_offers.py
Due: black, flake8, isort

metabase: Fix get_user_signup_kind
  itou/metabase/tables/job_seekers.py
Due: black, flake8, isort

clevercloud: Remove (now) unused `python.json` file
  clevercloud/python.json
Due: none

[Metabase] Fix anonymized IDs in SQL requests
  itou/metabase/sql/015_taux_transformation_prescripteurs.sql
  itou/metabase/sql/016_candidatures_recues_par_fiche_de_poste.sql
  itou/metabase/sql/019_candidatures_echelle_locale.sql
  itou/metabase/sql/020_delai_1ere_candidature_embauche.sql
Due: none

Add enums context processor for JobApplication SenderKind
  config/settings/base.py
  itou/job_applications/models.py
  itou/templates/apply/email/cancel_body.txt
  itou/templates/apply/email/new_for_siae_body.txt
  itou/templates/apply/includes/list_card_body.html
  itou/utils/emails.py
  itou/utils/enums_context_processors.py
  itou/utils/settings_context_processors.py
  itou/www/apply/tests/tests_templates.py
Due: black, flake8, isort, djlint

apply: Fix template
  itou/templates/apply/includes/list_card_header.html
Due: djlint

users: Add user.kind in database
  itou/allauth_adapters/peamu/tests.py
  itou/approvals/tests/tests.py
  itou/asp/tests/tests_communes.py
  itou/invitations/factories.py
  itou/invitations/tests.py
  itou/job_applications/factories.py
  itou/job_applications/tests/tests.py
  itou/job_applications/tests/tests_transfer.py
  itou/metabase/management/test_populate_metabase_emplois.py
  itou/openid_connect/france_connect/tests.py
  itou/openid_connect/inclusion_connect/tests.py
  itou/openid_connect/inclusion_connect/views.py
  itou/prescribers/tests.py
  itou/scripts/tests.py
  itou/settings_viewer/tests.py
  itou/siae_evaluations/tests/test_admin.py
  itou/users/admin.py
  itou/users/admin_forms.py
  itou/users/enums.py
  itou/users/factories.py
  itou/users/migrations/0007_user_kind.py
  itou/users/models.py
  itou/users/tests/test_admin_forms.py
  itou/users/tests/test_admin_views.py
  itou/users/tests/test_models.py
  itou/utils/enums_context_processors.py
  itou/utils/perms/tests.py
  itou/utils/tests.py
  itou/www/apply/tests/tests_submit.py
  itou/www/apply/tests/tests_templates.py
  itou/www/approvals_views/tests/test_display.py
  itou/www/invitations_views/tests/tests_prescriber_organization.py
  itou/www/invitations_views/tests/tests_siae_accept.py
  itou/www/invitations_views/tests/tests_siae_send.py
  itou/www/login/tests.py
  itou/www/signup/tests/test_job_seeker.py
  itou/www/signup/tests/test_prescriber.py
  itou/www/signup/tests/test_siae.py
Due: black, flake8, isort

Exclude SIAE with complete evaluations from adversarial reminder
  itou/siae_evaluations/management/commands/evaluation_campaign_notify.py
  itou/siae_evaluations/tests/test_management_commands.py
Due: black, flake8, isort

users: Replace `jobseeker_hash_id` by `asp_uid`
  itou/employee_record/serializers.py
  itou/scripts/management/commands/deduplicate_asp_approvals.py
  itou/scripts/management/commands/export_asp_approval_data.py
  itou/scripts/management/commands/import_ai_employees.py
  itou/scripts/tests.py
  itou/users/admin.py
  itou/users/management/commands/fill_user_asp_uid.py
  itou/users/models.py
  itou/users/tests/test_models.py
Due: black, flake8, isort

users.admin: Make `asp_uid` editable
  itou/users/admin.py
  itou/users/admin_forms.py
  itou/users/migrations/0006_user_asp_uid.py
  itou/users/models.py
Due: black, flake8, isort

CSP: add worker-src directive for Redoc
  config/settings/base.py
Due: black, flake8, isort

Users: Fill user.kind
  itou/users/migrations/0008_fill_user_kind.py
  itou/users/migrations/0009_alter_user_kind.py
  itou/users/models.py
  itou/users/tests/test_models.py
Due: black, flake8, isort

Move evaluation campaign emails to a dedicated module
  itou/siae_evaluations/emails.py
  itou/siae_evaluations/management/commands/evaluation_campaign_notify.py
  itou/siae_evaluations/models.py
  itou/siae_evaluations/tests/test_emails.py
  itou/siae_evaluations/tests/tests_models.py
  itou/www/siae_evaluations_views/views.py
Due: black, flake8, isort

Users: Remove user.is_* flags from database
  itou/allauth_adapters/peamu/adapter.py
  itou/allauth_adapters/peamu/tests.py
  itou/api/applicants_api/views.py
  itou/fixtures/django/04_test_users.json
  itou/institutions/models.py
  itou/invitations/models.py
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/organizations.py
  itou/openid_connect/france_connect/models.py
  itou/openid_connect/france_connect/tests.py
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/inclusion_connect/models.py
  itou/openid_connect/inclusion_connect/tests.py
  itou/openid_connect/inclusion_connect/views.py
  itou/openid_connect/models.py
  itou/prescribers/models.py
  itou/scripts/management/commands/geolocate_jobseeker_addresses.py
  itou/users/admin.py
  itou/users/admin_forms.py
  itou/users/factories.py
  itou/users/migrations/0010_remove_user_old_kind_flags.py
  itou/users/models.py
  itou/users/tests/test_admin_forms.py
  itou/users/tests/test_admin_views.py
  itou/users/tests/test_models.py
  itou/utils/perms/middleware.py
  itou/utils/perms/user.py
  itou/utils/tests.py
  itou/www/apply/tests/tests_process.py
  itou/www/apply/views/submit_views.py
  itou/www/approvals_views/forms.py
  itou/www/invitations_views/tests/tests_siae_send.py
  itou/www/signup/forms.py
Due: black, flake8, isort

Users: Add constraints on staff ans superuser flags
  itou/users/migrations/0011_user_staff_and_superusers.py
  itou/users/models.py
  itou/users/tests/test_models.py
  itou/www/employee_record_views/tests/test_disable.py
  itou/www/employee_record_views/tests/test_list.py
  itou/www/employee_record_views/tests/test_reactivate.py
  itou/www/employee_record_views/tests/test_summary.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
