Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

Use setting to control webinars banner in stats pages
  config/settings/base.py
  itou/www/stats/views.py
  tests/www/stats/__snapshots__/test_views.ambr
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check

Added help text to ExistingUserLogin methods
  itou/templates/account/login_existing_user.html
  tests/www/login/__snapshots__/tests.ambr
Due: djlint

Updated France Travail connect button SVG
  itou/static/img/peamu_btn.svg
Due: none

Redesign JobSeeker login process
  itou/static/img/login.svg
  itou/templates/account/login_job_seeker.html
  itou/templates/utils/modal_includes/login_failure.html
  itou/templates/utils/modals.html
  itou/www/login/forms.py
  itou/www/login/urls.py
  itou/www/login/views.py
  tests/www/dashboard/test_edit_user_email.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
  tests/www/signup/test_job_seeker.py
Due: ruff-format, ruff-check, djlint

Populate ExistingUserLogin email if the user has proven knowledge
  itou/www/login/constants.py
  itou/www/login/forms.py
  itou/www/login/views.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
  tests/www/signup/test_job_seeker.py
Due: ruff-format, ruff-check

fix: prescribers card ui
  itou/templates/prescribers/card.html
Due: djlint

Add banner to stats for suspended dashboards
  itou/templates/stats/stats.html
  itou/utils/apis/metabase.py
  itou/www/stats/views.py
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check, djlint

requirements: bump Django from 5.1.4 to 5.1.5
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

organisations: Improve member actions warnings
  itou/templates/includes/deactivate_member.html
  itou/templates/includes/update_admin.html
Due: djlint

job_seekers_views: an enum to list accepted job seekers session_kinds
  itou/www/apply/views/submit_views.py
  itou/www/job_seekers_views/enums.py
  itou/www/job_seekers_views/views.py
  tests/gps/test_create_beneficiary.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

job_seekers_views: use a Start view for the get/create job seeker
  itou/www/apply/views/submit_views.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/gps/test_create_beneficiary.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

Replace InclusionConnect with ProConnect in ExistingUserLogin
  itou/templates/account/login_existing_user.html
  tests/www/login/__snapshots__/tests.ambr
Due: djlint

tags: add autologin_proconnect to decorate url with proconnect_login=true when possible
  itou/utils/templatetags/url_add_query.py
  tests/utils/tests.py
Due: ruff-format, ruff-check

dsp: add autologin_proconnect tag to dsp url on communaute
  itou/templates/apply/includes/eligibility_section.html
  itou/templates/apply/submit/application/eligibility.html
  itou/templates/apply/submit/application/resume.html
  itou/templates/dashboard/includes/prescriber_organisation_card.html
Due: djlint

update communaute FQDN
  config/settings/base.py
  itou/templates/search/siaes_search_home.html
Due: ruff-format, ruff-check, djlint

gps: don't use `apply` to bounce on the benefiary account creation
  itou/www/gps/forms.py
  tests/gps/test_create_beneficiary.py
Due: ruff-format, ruff-check

update_page_with_htmx: handle hx-swap="none" case
  tests/utils/htmx/test.py
  tests/utils/htmx/tests.py
Due: ruff-format, ruff-check

update_page_with_htmx: handle a missing hx-target attribute
  tests/utils/htmx/test.py
  tests/utils/htmx/tests.py
Due: ruff-format, ruff-check

apply: remove the GPS logic in apply views
  itou/www/apply/views/submit_views.py
Due: ruff-format, ruff-check

users: Add read permissions to gps staff members
  itou/users/management/commands/sync_group_and_perms.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
Due: ruff-format, ruff-check

job_seekers_views: remove the ?gps=true query param
  itou/www/job_seekers_views/views.py
  tests/gps/test_create_beneficiary.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
