Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

signup: Improve view docstring
  itou/www/signup/views.py
Due: ruff-format, ruff-check

signup: Skip ProConnect button if user if logged in during employer signup
  itou/www/signup/views.py
  tests/www/signup/test_employer.py
Due: ruff-format, ruff-check

signup: Add missing csrf_token tag
  itou/templates/signup/company_select.html
Due: djlint

signup: Fix titles
  itou/templates/signup/choose_membership_kind.html
  itou/templates/signup/choose_user_kind.html
  itou/templates/signup/company_select.html
  itou/templates/signup/employer.html
  itou/templates/signup/facilitator_search.html
  itou/templates/signup/prescriber_check_already_exists.html
  itou/templates/signup/prescriber_choose_kind.html
  itou/templates/signup/prescriber_choose_org.html
  itou/templates/signup/prescriber_confirm_authorization.html
  itou/templates/signup/prescriber_join_ft_org.html
  itou/templates/signup/prescriber_request_invitation.html
  itou/templates/signup/prescriber_search_ft_org.html
  itou/templates/signup/professional_user.html
  tests/www/signup/__snapshots__/test_professionals.ambr
Due: djlint

signup: Improve facilitator signup workflow
  itou/templates/signup/facilitator_join.html
  itou/www/signup/views.py
  tests/www/signup/__snapshots__/test_employer.ambr
  tests/www/signup/test_employer.py
Due: ruff-format, ruff-check, djlint

signup: Switch pro to newly join company or organization
  itou/www/signup/views.py
  tests/www/signup/test_employer.py
  tests/www/signup/test_prescriber.py
Due: ruff-format, ruff-check

signup: Improve request invitation step
  itou/prescribers/models.py
  itou/templates/signup/includes/prescriber_card.html
  itou/templates/signup/prescriber_request_invitation.html
  itou/www/signup/views.py
  tests/www/signup/test_prescriber.py
Due: ruff-format, ruff-check, djlint

signup: Add new membership kind for FT users
  itou/templates/signup/choose_membership_kind.html
  itou/templates/signup/prescriber_check_already_exists.html
  itou/www/signup/forms.py
  itou/www/signup/views.py
  tests/www/signup/test_prescriber.py
Due: ruff-format, ruff-check, djlint

pro_connect: Stop re-attaching prescriber signup session
  itou/openid_connect/pro_connect/views.py
  tests/openid_connect/pro_connect/testing.py
  tests/www/invitations_views/test_generic.py
Due: ruff-format, ruff-check

signup: Tell the user if they are already a member of the searched FT organization
  itou/templates/signup/prescriber_join_ft_org.html
  itou/www/signup/views.py
  tests/www/signup/__snapshots__/test_prescriber.ambr
  tests/www/signup/test_prescriber.py
Due: ruff-format, ruff-check, djlint

signup: Fix previous and reset urls in all workflows
  itou/templates/signup/company_select.html
  itou/templates/signup/prescriber_check_already_exists.html
  itou/templates/signup/prescriber_choose_kind.html
  itou/templates/signup/prescriber_choose_org.html
  itou/templates/signup/prescriber_confirm_authorization.html
  itou/templates/signup/prescriber_join_ft_org.html
  itou/templates/signup/prescriber_request_invitation.html
  itou/templates/signup/prescriber_search_ft_org.html
  itou/www/signup/views.py
  tests/www/signup/__snapshots__/test_prescriber.ambr
Due: ruff-format, ruff-check, djlint

signup: Add progress bar in pro views
  itou/templates/signup/choose_membership_kind.html
  itou/templates/signup/company_select.html
  itou/templates/signup/employer.html
  itou/templates/signup/facilitator_search.html
  itou/templates/signup/prescriber_check_already_exists.html
  itou/templates/signup/prescriber_choose_kind.html
  itou/templates/signup/prescriber_choose_org.html
  itou/templates/signup/prescriber_confirm_authorization.html
  itou/templates/signup/prescriber_join_ft_org.html
  itou/templates/signup/prescriber_request_invitation.html
  itou/templates/signup/prescriber_search_ft_org.html
  itou/templates/signup/professional_user.html
  tests/www/signup/__snapshots__/test_professionals.ambr
Due: djlint

job_applications: Disable global transaction and trigger context in `archive_job_applications`
  itou/job_applications/management/commands/archive_job_applications.py
Due: ruff-format, ruff-check

job_applications: make archive_job_applications dry runnable
  clevercloud/cron.json
  itou/job_applications/management/commands/archive_job_applications.py
  tests/job_applications/test_archive_job_applications.py
Due: ruff-format, ruff-check

logout: Improve no organization warning
  itou/templates/logout/warning.html
  tests/logout/__snapshots__/tests.ambr
Due: djlint

itou_staff_views: Add user last login to cta export
  itou/www/itou_staff_views/export_utils.py
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check

fix: Flaky test with unknown advisor
  itou/www/apply/forms.py
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/test_accept_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

tests: Fix double respx decorator
  tests/openid_connect/france_connect/tests.py
Due: ruff-format, ruff-check

tests: Improve random_user_factory
  tests/users/factories.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
Due: ruff-format, ruff-check

tests: Improve ItouLoginForm tests
  tests/www/login/tests.py
Due: ruff-format, ruff-check

tests: Refactor pro connect activation tests
  tests/www/login/tests.py
Due: ruff-format, ruff-check

tests: Improve job seekers login failue tests due to email collision
  tests/www/login/tests.py
Due: ruff-format, ruff-check

fix: update button sizing in assessment contracts list
  itou/templates/geiq_assessments_views/assessment_contracts_list.html
Due: djlint

feat: add legal notice to assessment views and email
  itou/templates/geiq_assessments/email/assessment_review_for_geiq_body.txt
  itou/templates/geiq_assessments_views/assessment_details_for_institution.html
  itou/templates/geiq_assessments_views/assessment_print.html
  itou/templates/geiq_assessments_views/assessment_result.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
  tests/www/geiq_assessments_views/test_views_for_geiq.py
Due: ruff-format, ruff-check, djlint

fix: update ui in assessment details box
  itou/templates/geiq_assessments_views/assessment_details_for_geiq.html
  itou/templates/geiq_assessments_views/assessment_details_for_institution.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
Due: djlint

Revert "ci: Publish pytest report to GitHub Actions summary page"
  .github/workflows/ci.yml
  Makefile
Due: none

feat: add alert banners for thematic webinars in approvals and dashboard templates
  itou/templates/approvals/list.html
  itou/templates/dashboard/dashboard.html
Due: djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
