Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

geiq_assessments: fix spaces
  itou/templates/geiq_assessments/email/assessment_review_for_geiq_body.txt
  itou/templates/geiq_assessments/email/assessment_submission_body.txt
  itou/templates/geiq_assessments_views/assessment_review.html
  itou/templates/geiq_assessments_views/create.html
  itou/www/geiq_assessments_views/views.py
  tests/conftest.py
  tests/geiq_assessments/test_models.py
  tests/metabase/management/test_populate_metabase_emplois.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
  tests/www/geiq_assessments_views/test_views_for_geiq.py
  tests/www/geiq_assessments_views/test_views_for_institution.py
Due: ruff-format, ruff-check, djlint

account: fix spaces
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/ft_connect/views.py
  itou/templates/account/activate_pro_connect_account.html
  itou/templates/account/email/email_disable_password_auth_body.txt
  itou/templates/account/email/email_jobseeker_created_by_third_party_body.txt
  itou/templates/account/email/email_jobseeker_email_edited_body.txt
  itou/templates/account/email/email_jobseeker_personal_info_edited_body.txt
  itou/templates/account/email/email_new_API_token_body.txt
  itou/templates/account/email/unknown_account_message.txt
  itou/templates/account/logout.html
  itou/templates/account/pre_login.html
  itou/templates/apply/email/new_for_job_seeker_body.txt
  itou/templates/nexus/components/dropdown_no_proconnect.html
  itou/www/login/forms.py
  tests/conftest.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/login/tests.py
  tests/www/signup/__snapshots__/test_password.ambr
Due: ruff-format, ruff-check, djlint

ft_connect: Improve user_info timeout tests
  tests/openid_connect/ft_connect/tests.py
Due: ruff-format, ruff-check

ft_connect: Check nonce in oidc callback
  itou/openid_connect/ft_connect/constants.py
  itou/openid_connect/ft_connect/views.py
  tests/openid_connect/ft_connect/tests.py
Due: ruff-format, ruff-check

ft_connect: Remove backward compat urls
  config/urls.py
Due: ruff-format, ruff-check

chore: Rename more pe into ft
  itou/external_data/apis/ft_connect.py
  itou/external_data/tasks.py
  itou/openid_connect/ft_connect/views.py
  tests/external_data/tests.py
  tests/openid_connect/ft_connect/tests.py
Due: ruff-format, ruff-check

WIP: add overview view of job seeker (only approval for now)
  itou/templates/job_seekers_views/includes/nav_tabs.html
  itou/templates/job_seekers_views/includes/overview_approval.html
  itou/templates/job_seekers_views/overview.html
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

WIP: add contract info to overview
  itou/companies/models.py
  itou/templates/job_seekers_views/includes/overview_contract.html
  itou/templates/job_seekers_views/overview.html
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

WIP: add last job application to overview
  itou/job_applications/models.py
  itou/templates/job_seekers_views/includes/overview_jobapp.html
  itou/templates/job_seekers_views/overview.html
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

WIP: add last assignment to overview
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

changelog: From 2026-09-07 to 2026-09-13
  CHANGELOG.md
Due: none

refactor(job_seekers_views): remove introJS orientation tours
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/detail_title_content.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/list.html
  tests/www/job_seekers_views/__snapshots__/test_assignments.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_search_services.py
Due: ruff-format, ruff-check, djlint

prescribers: fix spaces
  itou/templates/prescribers/card.html
  itou/templates/prescribers/email/refused_prescriber_organization_email_body.txt
  itou/templates/prescribers/email/validated_prescriber_organization_email_body.txt
  itou/templates/prescribers/list_accredited_organizations.html
  itou/templates/prescribers/overview.html
  tests/conftest.py
  tests/www/prescribers_views/test_overview.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: fix spaces
  itou/templates/apply/includes/list_tr.html
  itou/templates/eligibility/includes/situation_criteria_tooltip.html
  itou/templates/job_seekers_views/contracts.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_1.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_2.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_3.html
  itou/templates/job_seekers_views/includes/end_of_contracts_banner.html
  itou/templates/job_seekers_views/includes/last_advisor.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/job_applications.html
  itou/templates/job_seekers_views/nir_modification_success.html
  itou/templates/job_seekers_views/step_search_job_seeker_by_email.html
  itou/www/job_seekers_views/forms.py
  tests/conftest.py
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/apply/test_templates.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

invitations_views: fix spaces
  itou/templates/invitations_views/email/accepted_notif_establishment_sender_body.txt
  itou/templates/invitations_views/email/invitation_establishment_body.txt
  itou/templates/invitations_views/new_pro_connect_user.html
  tests/conftest.py
Due: ruff-format, ruff-check, djlint

emails: fix spaces in emails
  itou/templates/common/emails/add_admin_email_body.txt
  itou/templates/common/emails/auto_admin_attribution_email_body.txt
  itou/templates/common/emails/member_deactivation_email_body.txt
  itou/templates/common/emails/remove_admin_email_body.txt
  itou/templates/users/emails/check_authorized_members_email_body.txt
  tests/conftest.py
  tests/users/__snapshots__/test_management_commands.ambr
  tests/www/companies_views/__snapshots__/test_members_views.ambr
  tests/www/institutions_views/__snapshots__/test_views.ambr
  tests/www/prescribers_views/__snapshots__/test_members.ambr
Due: ruff-format, ruff-check

account: fix spaces
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/ft_connect/views.py
  itou/templates/account/activate_pro_connect_account.html
  itou/templates/account/email/email_disable_password_auth_body.txt
  itou/templates/account/email/email_jobseeker_created_by_third_party_body.txt
  itou/templates/account/email/email_jobseeker_email_edited_body.txt
  itou/templates/account/email/email_jobseeker_personal_info_edited_body.txt
  itou/templates/account/email/email_new_API_token_body.txt
  itou/templates/account/email/unknown_account_message.txt
  itou/templates/account/logout.html
  itou/templates/account/pre_login.html
  itou/templates/apply/email/new_for_job_seeker_body.txt
  itou/templates/nexus/components/dropdown_no_proconnect.html
  itou/www/login/forms.py
  tests/conftest.py
  tests/users/__snapshots__/test_models.ambr
  tests/www/__snapshots__/test_layout.ambr
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
  tests/www/signup/__snapshots__/test_password.ambr
Due: ruff-format, ruff-check, djlint

job_seekers_views: Rename matomo events
  itou/templates/job_seekers_views/includes/button_display_advisor_contact_info.html
  itou/templates/job_seekers_views/includes/button_display_last_advisor_contact_info.html
  itou/templates/job_seekers_views/includes/last_advisor.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

tech(ci): shorten pytest tracebacks with --tb=line
  .github/workflows/ci.yml
Due: none

job_seekers_views: Improve advisor tracking
  itou/templates/job_seekers_views/advisors.html
  itou/templates/job_seekers_views/includes/last_advisor.html
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

copy almost all the metabase tables to the raw_emplois schema
  itou/metabase/dataframes.py
  itou/metabase/management/commands/populate_metabase_emplois.py
Due: ruff-format, ruff-check

insertion: add a management command to fetch orientation attachments on DORA S3
  itou/insertion/management/commands/orientations_attachments_to_documents.py
Due: ruff-format, ruff-check

test_category_error_suppression: Share text in a variable
  tests/www/search_views/test_services.py
Due: ruff-format, ruff-check

Stop claiming an empty result when no search was made
  itou/templates/search/includes/prescribers_search_results.html
  itou/templates/search/includes/siaes_search_results.html
  itou/templates/search/services/includes/results.html
  itou/www/search_views/views.py
  tests/www/search_views/test_services.py
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check, djlint

feat: update orientation titles and add navigation tabs for service orientations
  itou/templates/apply/includes/list_job_applications_title.html
  itou/templates/apply/list_prescriptions.html
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/employer_prescription_card.html
  itou/templates/dashboard/includes/prescriber_job_applications_card.html
  itou/templates/insertion/orientations/list.html
  itou/utils/templatetags/nav.py
  itou/www/apply/views/list_views.py
  itou/www/dashboard/views.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check, djlint

fix: rename and reorganize prescriber assignments menu
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/job_seekers_views/list.html
  itou/utils/templatetags/nav.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/dashboard/test_dashboard.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check, djlint

feat: update employer-job-apps navigation and titles
  itou/templates/apply/includes/list_job_applications_title.html
  itou/templates/apply/list_for_siae.html
  itou/templates/apply/list_prescriptions.html
  itou/templates/dashboard/includes/employer_job_applications_card.html
  itou/utils/templatetags/nav.py
  itou/www/apply/views/list_views.py
  tests/www/__snapshots__/test_layout.ambr
Due: ruff-format, ruff-check, djlint

iframe A11Y & W3C recs
  itou/static/js/plateforme_accueil_embed.js
  itou/templates/search/search_home.html
Due: djlint

users: Fix IdentityCertification.certified_at verbose name
  itou/users/migrations/0001_initial.py
  itou/users/models.py
Due: ruff-format, ruff-check

docs: Add a small part to link to SSO explanations in our private docs
  docs/developing.md
Due: none
