Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

wip, for exploration
  config/settings/base.py
  config/settings/test.py
  itou/pg_storage/__init__.py
  itou/pg_storage/apps.py
  itou/pg_storage/migrations/0001_initial.py
  itou/pg_storage/migrations/__init__.py
  itou/pg_storage/models.py
  itou/pg_storage/storage.py
  tests/pg_storage/__init__.py
  tests/pg_storage/factories.py
  tests/pg_storage/test_storage.py
  tests/pg_storage/test_task.py
Due: ruff-format, ruff-check

job_seekers_views: Check received apply session
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/test_create_or_update.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

apply: Duplicate some tests before switching to uuid session
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_geiq.py
  tests/www/apply/test_process_external_transfer.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

apply: Use uuid session in submit and hire process
  itou/www/apply/urls.py
  itou/www/apply/views/process_views.py
  itou/www/apply/views/submit_views.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/apply/test_geiq.py
  tests/www/apply/test_process_external_transfer.py
  tests/www/apply/test_submit.py
  tests/www/apply/test_submit_from_job_seekers_list.py
  tests/www/job_seekers_views/test_create_or_update.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

apply: Remove job_seeker_public_id from urls
  itou/www/apply/urls.py
  itou/www/apply/views/process_views.py
  itou/www/apply/views/submit_views.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/__snapshots__/test_submit_from_job_seekers_list.ambr
  tests/www/apply/test_geiq.py
  tests/www/apply/test_process_external_transfer.py
  tests/www/apply/test_submit.py
  tests/www/apply/test_submit_from_job_seekers_list.py
  tests/www/job_seekers_views/test_create_or_update.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

siae_evaluations: Accept job apps with a certified criteria
  itou/siae_evaluations/migrations/0004_evaluatedadministrativecriteria_criteria_certified.py
  itou/siae_evaluations/models.py
  itou/siae_evaluations/templatetags/siae_evaluations_tags.py
  itou/templates/siae_evaluations/evaluated_job_application.html
  itou/templates/siae_evaluations/includes/criterion_infos.html
  itou/templates/siae_evaluations/includes/list_item.html
  itou/www/siae_evaluations_views/views.py
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/siae_evaluations/test_models.py
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: ruff-format, ruff-check, djlint

eligibility: Fix invalid certification_period
  itou/eligibility/migrations/0014_selectedadministrativecriteria_empty_certification_period.py
Due: ruff-format, ruff-check

eligibility: Fix invalid GEIQ certification_period
  itou/eligibility/migrations/0015_geiqselectedadministrativecriteria_empty_certification_period.py
Due: ruff-format, ruff-check

add last_login_days_ago on UserFactory
  tests/users/factories.py
Due: ruff-format, ruff-check

refactor batch_size test
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

rename notify_archive_jobseekers into notify_archive_users
  clevercloud/cron.json
  itou/archive/management/commands/notify_archive_users.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

set UserKind.professionnals class method
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/users/enums.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/pe_connect/tests.py
Due: ruff-format, ruff-check

set days and period for notify and archive users as mutualised constants
  itou/archive/management/commands/notify_archive_jobseekers.py
  itou/utils/constants.py
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

refactor dry_run test
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

make notify and archive notifications generic
  itou/archive/management/commands/notify_archive_jobseekers.py
  itou/templates/account/email/email_inactive_user_body.txt
  itou/users/notifications.py
Due: ruff-format, ruff-check

make private methode name more explicit
  itou/archive/management/commands/notify_archive_users.py
Due: ruff-format, ruff-check

remove unconsistent comment in test
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

add a name to snapshot in test_details_for_company_with_transition_logs
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

add copy_public_id template
  itou/templates/includes/job_seekers/copy_public_id.html
Due: djlint

copy-paste jobseeker public_id in apply views
  itou/templates/apply/process_base.html
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

copy-paste jobseeker public_id in job_seekers detail view
  itou/templates/job_seekers_views/details.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

Don't consider json fixtures as binary files
  itou/fixtures/django/.gitattributes
Due: none

makefile: fix typo in variable name
  Makefile
Due: none

makefile: add a NETWORK_MODE option
  Makefile
  README.md
Due: none

geiq: remove sync_assessments function
  itou/geiq/sync.py
  tests/geiq/test_sync.py
Due: ruff-format, ruff-check

cleanup double separate_state_and_database migrations
  itou/eligibility/migrations/0012_remove_administrativecriteria_created_by_state_operation.py
  itou/eligibility/migrations/0013_remove_administrative_criteria_created_by_database_operation.py
Due: ruff-format, ruff-check

apply: Remove compat urls and code
  itou/www/apply/urls.py
  itou/www/apply/views/process_views.py
  itou/www/apply/views/submit_views.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_geiq.py
  tests/www/apply/test_process_external_transfer.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

Move siret_from_asp_source() from EmployeeRecord to Company
  itou/companies/models.py
  itou/employee_record/management/commands/resend_employee_records.py
  itou/employee_record/models.py
  tests/companies/test_models.py
Due: ruff-format, ruff-check

www.employee_record: show a warning if SIRET has changed in list view
  itou/templates/employee_record/includes/list_header.html
  itou/templates/employee_record/includes/list_item.html
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check, djlint

www.employee_record: change 'Add record' button icon
  itou/templates/employee_record/includes/list_header.html
  tests/www/employee_record_views/__snapshots__/test_list.ambr
Due: djlint

employee_records: allow READY transition for PROCESSED employee_records and update perms
  itou/employee_record/models.py
  itou/utils/perms/employee_record.py
  tests/employee_record/__snapshots__/test_admin.ambr
  tests/utils/perms/tests.py
Due: ruff-format, ruff-check

www.employee_record: show the Disable action for NEW records in summary
  itou/templates/employee_record/summary.html
  tests/www/employee_record_views/__snapshots__/test_summary.ambr
Due: djlint

employee_record: add method to know when siret is different from company's
  itou/employee_record/models.py
  tests/employee_record/test_models.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
