Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

job_seekers_views: Replace list with table in job applications tab
  itou/templates/apply/includes/job_application_box_for_user.html
  itou/templates/apply/includes/job_application_creation_info.html
  itou/templates/apply/includes/selected_jobs_list.html
  itou/templates/job_seekers_views/includes/list_job_applications.html
  itou/templates/job_seekers_views/job_applications.html
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

api: Delay deletion of X-API-salarieLangueFrancaise-like-asp header handling.
  itou/api/changelog.py
  itou/api/employee_record_api/serializers.py
Due: ruff-format, ruff-check

fixtures: Dynamically change contract end dates
  itou/companies/fixtures.py
  itou/fixtures/django/companies__contract.json
  itou/fixtures/django/dynamic.py
Due: ruff-format, ruff-check

fixtures: format files correctly
  itou/fixtures/django/approvals__suspension.json
  itou/fixtures/django/companies__company_membership.json
  itou/fixtures/django/companies__contract.json
  itou/fixtures/django/job_applications__jobapplication.json
Due: none

changelog: From 2026-09-21 to 2026-09-27
  CHANGELOG.md
Due: none

insertion_views: rename orientation status "Refusée" -> "Déclinée"
  itou/insertion/enums.py
  itou/insertion/management/commands/sync_orientation_statuses.py
  itou/insertion/migrations/0012_alter_orientation_status_orientationtransitionlog.py
  itou/insertion/models.py
  itou/utils/templatetags/badges.py
  tests/api/test_insertion.py
  tests/insertion/test_orientation.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion_views: orientation reasons as multiline text
  itou/templates/insertion/orientations/details.html
Due: djlint

insertion_views: add orientation’s creation date on details view
  itou/templates/insertion/orientations/details.html
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: djlint

insertion_views: no need for unique id in orientation status badge
  itou/utils/templatetags/badges.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion_views: allow service providers to refuse an orientation
  itou/templates/insertion/includes/checkboxes_formgroup.html
  itou/templates/insertion/includes/orientations/service_provider_actions.html
  itou/templates/insertion/orientations/details.html
  itou/templates/insertion/orientations/refuse.html
  itou/www/insertion_views/forms.py
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion: add refusal_reasons and refusal_details to orientation
  itou/fixtures/django/insertion__orientation.json
  itou/fixtures/django/insertion__service.json
  itou/fixtures/django/insertion__structure.json
  itou/insertion/admin.py
  itou/insertion/enums.py
  itou/insertion/migrations/0015_orientation_refusal_details_and_more.py
  itou/insertion/models.py
  tests/api/__snapshots__/test_insertion.ambr
  tests/insertion/factories.py
  tests/insertion/test_orientation.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion_views: add missing organization in orientation details for service provider
  itou/templates/insertion/includes/orientation_sidebar_for_service_provider.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

templatetags.badges: fix orientation EXPIRED badge
  itou/utils/templatetags/badges.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion_views: allow service providers to accept an orientation
  itou/templates/insertion/includes/orientations/service_provider_actions.html
  itou/templates/insertion/orientations/details.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

api: Delay deletion of X-API-salarieLangueFrancaise-like-asp header handling (part 2)
  itou/api/employee_record_api/viewsets.py
Due: ruff-format, ruff-check

job_applications: Add `sender_organization` property
  itou/job_applications/models.py
Due: ruff-format, ruff-check

insertion: send emails when orientation is refused
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/refused_for_beneficiary_body.md
  itou/templates/insertion/email/refused_for_beneficiary_subject.txt
  itou/templates/insertion/email/refused_for_referent_body.md
  itou/templates/insertion/email/refused_for_referent_subject.txt
  itou/templates/insertion/email/refused_for_sender_body.md
  itou/templates/insertion/email/refused_for_sender_subject.txt
  itou/templates/insertion/email/refused_for_structure_body.md
  itou/templates/insertion/email/refused_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion: send email notifications to beneficiary and sender at orientation creation
  itou/communications/__init__.py
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/new_for_beneficiary_body.md
  itou/templates/insertion/email/new_for_beneficiary_subject.txt
  itou/templates/insertion/email/new_for_sender_body.md
  itou/templates/insertion/email/new_for_sender_subject.txt
  itou/templates/layout/base_email_for_beneficiary_text_body.md
  itou/templates/layout/base_email_signature.txt
  itou/utils/emails.py
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check

insertion: send emails when orientation is accepted
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/accepted_for_beneficiary_body.md
  itou/templates/insertion/email/accepted_for_beneficiary_subject.txt
  itou/templates/insertion/email/accepted_for_referent_body.md
  itou/templates/insertion/email/accepted_for_referent_subject.txt
  itou/templates/insertion/email/accepted_for_sender_body.md
  itou/templates/insertion/email/accepted_for_sender_subject.txt
  itou/templates/insertion/email/accepted_for_structure_body.md
  itou/templates/insertion/email/accepted_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion: send email to external users at orientation creation
  itou/insertion/models.py
  itou/templates/insertion/email/new_for_referent_body.md
  itou/templates/insertion/email/new_for_referent_subject.txt
  itou/templates/insertion/email/new_for_structure_body.md
  itou/templates/insertion/email/new_for_structure_subject.txt
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check

insertion: send emails when orientation has expired
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/expired_for_beneficiary_body.md
  itou/templates/insertion/email/expired_for_beneficiary_subject.txt
  itou/templates/insertion/email/expired_for_referent_body.md
  itou/templates/insertion/email/expired_for_referent_subject.txt
  itou/templates/insertion/email/expired_for_sender_body.md
  itou/templates/insertion/email/expired_for_sender_subject.txt
  itou/templates/insertion/email/expired_for_structure_body.md
  itou/templates/insertion/email/expired_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
Due: ruff-format, ruff-check

insertion_views: resend a magic link if asked when the previous one is deactivated
  itou/insertion/models.py
  itou/templates/insertion/email/new_link_for_structure_body.md
  itou/templates/insertion/email/new_link_for_structure_subject.txt
  itou/templates/insertion/orientations/ask_for_new_orientation_process_link.html
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion.factories: add for_snapshot trait to ease later tests
  tests/insertion/factories.py
Due: ruff-format, ruff-check

insertion.factories: clean unused import
  tests/insertion/factories.py
Due: ruff-format, ruff-check

insertion: auto expire orientations
  clevercloud/cron.json
  itou/insertion/management/commands/expire_orientations.py
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/insertion/test_expire_orientations.py
Due: ruff-format, ruff-check

insertion: send orientation reminder emails to structure
  itou/insertion/management/commands/send_orientations_reminder_emails.py
  itou/insertion/models.py
  itou/templates/insertion/email/reminder_for_structure_body.md
  itou/templates/insertion/email/reminder_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/__snapshots__/test_send_orientations_reminder_emails.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_send_orientations_reminder_emails.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
