Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

WIP
  itou/eligibility/models/common.py
  itou/eligibility/tasks.py
Due: ruff-format, ruff-check

job_seekers_views: Improve tab title
  itou/templates/job_seekers_views/job_applications.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

communications: fill & use denormalized fields
  itou/communications/migrations/0005_fill_image_dimensions.py
  itou/templates/announcements/news.html
Due: ruff-format, ruff-check, djlint

utils: drop can_open_file
  itou/templates/announcements/news.html
  itou/utils/templatetags/file_access.py
  tests/www/announcements/test_views.py
Due: ruff-format, ruff-check, djlint

prescribers: Rename PrescriberOrganizationKind.PE into FT
  itou/api/geiq/serializers.py
  itou/approvals/models.py
  itou/metabase/tables/job_applications.py
  itou/prescribers/admin.py
  itou/prescribers/enums.py
  itou/prescribers/management/commands/sync_ft_organizations.py
  itou/prescribers/models.py
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/prescriber_job_seekers_card.html
  itou/templates/prescribers/edit_organization.html
  itou/utils/perms/middleware.py
  itou/www/invitations_views/forms.py
  itou/www/prescribers_views/forms.py
  itou/www/signup/views.py
  itou/www/stats/utils.py
  tests/metabase/test_job_applications.py
  tests/prescribers/factories.py
  tests/prescribers/tests.py
  tests/www/apply/test_list_prescriptions.py
  tests/www/dashboard/test_dashboard.py
  tests/www/dashboard/test_dashboard_stats.py
  tests/www/prescribers_views/test_edit.py
  tests/www/prescribers_views/test_list.py
  tests/www/stats/test_utils.py
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check, djlint

prescribers: Rename PE into FT in database
  itou/approvals/migrations/0010_alter_approval_origin_prescriber_organization_kind_and_more.py
  itou/asp/models.py
  itou/fixtures/django/14_prescribers.json
  itou/metabase/tables/job_seekers.py
  itou/prescribers/enums.py
  itou/prescribers/migrations/0008_alter_prescriberorganization_kind.py
  itou/www/signup/views.py
  tests/employee_record/test_models.py
  tests/metabase/management/test_populate_metabase_emplois.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/prescribers_views/__snapshots__/test_members.ambr
Due: ruff-format, ruff-check

prescribers: Rename some fonctions, tests and variables
  itou/approvals/models.py
  itou/companies/enums.py
  tests/approvals/test_notify_pole_emploi.py
  tests/www/dashboard/test_dashboard.py
  tests/www/prescribers_views/__snapshots__/test_edit.ambr
  tests/www/prescribers_views/test_edit.py
  tests/www/signup/test_prescriber.py
  tests/www/stats/test_utils.py
Due: ruff-format, ruff-check

apply: remove now unused JobApplicationRefuseView
  itou/templates/apply/process_refuse.html
  itou/www/apply/urls.py
  itou/www/apply/views/process_views.py
  tests/test_consistency.py
Due: ruff-format, ruff-check, djlint

apply: remove now unused fields from process_refuse.html
  itou/templates/apply/process_refuse.html
  itou/www/apply/views/batch_views.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: improve performance of the query
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check

companies_views: Make phone number optional in creation form
  itou/www/companies_views/forms.py
  tests/www/companies_views/test_edit_company_views.py
Due: ruff-format, ruff-check

apply: Clean back_url after cancelling a job application
  itou/www/apply/views/process_views.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

templatetags: adapt stepper_progress tag to accept steps objects
  itou/templates/apply/process_refuse.html
  itou/templates/approvals/prolongation_requests/deny.html
  itou/templates/employee_record/add.html
  itou/utils/templatetags/theme_inclusion.py
Due: ruff-format, ruff-check, djlint

www.apply: flatten wizard.steps object
  itou/templates/apply/process_refuse.html
  itou/www/apply/views/batch_views.py
Due: ruff-format, ruff-check, djlint

cron: reduce send_approvals_to_pe frequency to once/hour
  clevercloud/cron.json
Due: none

apis: adapt to new scope & endpoint for ROME data
  itou/utils/apis/pole_emploi.py
  tests/jobs/management/test_sync_romes_and_appellations.py
  tests/utils/apis/test_pole_emploi_api.py
Due: ruff-format, ruff-check

cron: call sync_s3_files with --check-existing daily
  clevercloud/cron.json
Due: none

changelog: From 2025-02-03 to 2025-02-09
  CHANGELOG.md
Due: none

Upgrade to Python 3.13
  CHANGELOG_breaking_changes.md
Due: none

tests: Improve TestNav
  tests/utils/test_templatetags.py
Due: ruff-format, ruff-check

Upgrade to Python 3.13
  .github/workflows/ci.yml
  .github/workflows/mkchangelog.yml
  .github/workflows/review-app-creation.yml
  .github/workflows/review-app-removal.yml
  CHANGELOG_breaking_changes.md
  Makefile
  docker-compose.yml
  pyproject.toml
  runtime.txt
Due: none

Remove deprecated class property from IdentityProvider enum
  itou/openid_connect/models.py
  itou/users/enums.py
  itou/www/login/views.py
  tests/users/test_enums.py
  tests/www/login/tests.py
Due: ruff-format, ruff-check

fix: remove temporary link in introjsSwitchView step
  itou/templates/apply/list_for_siae.html
Due: djlint

WIP
  config/settings/base.py
  itou/utils/logging.py
Due: ruff-format, ruff-check

Serialise organisation name in extract_c2_users.py
  itou/users/management/commands/extract_c2_users.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
