Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

docs: init db before running server locally and explain potential error
  README.md
Due: none

feat: rename and reorganize employer assignments menu
  itou/templates/approvals/list.html
  itou/templates/dashboard/includes/employer_employees_card.html
  itou/templates/employee_record/list.html
  itou/templates/job_seekers_views/list.html
  itou/utils/templatetags/nav.py
  itou/www/job_seekers_views/views.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check, djlint

feat: rename and reorganize prescriber assignments menu
  itou/templates/dashboard/includes/prescriber_job_seekers_card.html
  itou/templates/job_seekers_views/list.html
  itou/utils/templatetags/nav.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/dashboard/test_dashboard.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

users: Use a default value for the `created_at` field of `JobSeekerAssignment`
  itou/users/migrations/0058_alter_jobseekerassignment_created_at_and_more.py
  itou/users/models.py
Due: ruff-format, ruff-check

feat: rename prescriber overview and add accredited organizations nav item
  itou/templates/dashboard/includes/prescriber_organisation_card.html
  itou/templates/prescribers/members.html
  itou/templates/prescribers/overview.html
  itou/templates/utils/templatetags/nav.html
  itou/utils/templatetags/nav.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/prescribers_views/test_members.py
Due: ruff-format, ruff-check, djlint

fix: rename public card existence variable in prescriber template
  itou/templates/dashboard/includes/prescriber_organisation_card.html
Due: djlint

search: turn prescriber search into accompagnement
  itou/fixtures/django/prescribers__organization.json
  itou/prescribers/enums.py
  itou/prescribers/models.py
  itou/templates/layout/_footer.html
  itou/templates/search/includes/generic_search_home.html
  itou/templates/search/includes/prescribers_search_form.html
  itou/templates/search/includes/prescribers_search_results.html
  itou/templates/search/includes/prescribers_search_title.html
  itou/templates/search/prescribers_search_home.html
  itou/templates/search/prescribers_search_results.html
  itou/templates/search/services/home.html
  itou/templates/search/siaes_search_home.html
  itou/utils/templatetags/nav.py
  itou/www/search_views/forms.py
  itou/www/search_views/views.py
  tests/prescribers/tests.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check, djlint

fix: keep the job seeker's identity out of Sentry
  config/sentry.py
  itou/utils/apis/api_particulier.py
  itou/utils/logging.py
  tests/test_sentry.py
  tests/utils/apis/test_api_particulier.py
Due: ruff-format, ruff-check

test(sentry): isolate all tests with a shared clean_sentry_scope fixture
  tests/test_sentry.py
Due: ruff-format, ruff-check

WIP: add fixtures to test overview display
  itou/fixtures/django/approvals__approval.json
  itou/fixtures/django/eligibility__eligibility_diagnosis.json
Due: none

WIP: Documenting audit logs proposition.
  docs/audit-logs.md
Due: none

Update audit trail doc after meeting.
  docs/audit-logs.md
  docs/audit-trail.md
Due: none

___ wip: Ask ProConnect to enforce 2FA
  itou/openid_connect/pro_connect/views.py
Due: ruff-format, ruff-check

___ wip: rend essential:True configurable pour les tests
  config/settings/base.py
  itou/openid_connect/pro_connect/views.py
Due: ruff-format, ruff-check

insertion_views: allow anonymous with magic link to view orientation details
  itou/insertion/admin.py
  itou/insertion/migrations/0014_orientationprocesslink.py
  itou/insertion/models.py
  itou/templates/insertion/includes/orientation_sidebar_for_service_provider.html
  itou/templates/insertion/orientations/details.html
  itou/templates/layout/base.html
  itou/users/management/commands/sync_group_and_perms.py
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/insertion/factories.py
  tests/insertion/test_orientation.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion_views: rename orientation_details_for_sender
  itou/templates/insertion/includes/orientations/list_orientations.html
  itou/utils/templatetags/nav.py
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

admin: allow manual creation and deletion of process orientation magic link
  itou/insertion/admin.py
  itou/templates/admin/insertion/change_orientation_form.html
  itou/users/management/commands/sync_group_and_perms.py
  tests/insertion/test_admin.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
Due: ruff-format, ruff-check, djlint

templates: prepare orientation template
  itou/templates/insertion/includes/orientation_sidebar_for_sender.html
  itou/templates/insertion/orientations/details.html
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: djlint

assignments: Add `ended` trait in `JobSeekerAssignmentFactory`
  tests/users/factories.py
  tests/users/test_models.py
  tests/www/job_seekers_views/test_assignments.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

users: Change filtering behavior of `assigned_to`
  itou/users/models.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

tests: Refactor tests with parametrize
  tests/www/dashboard/test_activate_sso_account.py
Due: ruff-format, ruff-check

job_seekers_views: Add filters on assignments
  itou/templates/includes/btn_dropdown_filter/radio.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/assignments.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/offcanvas_body.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/single_radiobutton.html
  itou/templates/job_seekers_views/includes/job_seekers_filters/top_filters.html
  itou/utils/widgets.py
  itou/www/job_seekers_views/forms.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: Add archive icon for old assignments in list
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/list.html
  itou/www/job_seekers_views/forms.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check, djlint

fix: homogenize apostrophes in one template
  itou/templates/job_seekers_views/step_check_job_seeker_nir.html
  tests/www/apply/test_hire_views.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/__snapshots__/test_create_or_update.ambr
Due: ruff-format, ruff-check, djlint

fix: adapt the wording of the error message when a prescriber adds a job seeker
  itou/templates/job_seekers_views/step_check_job_seeker_nir.html
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check, djlint

utils: Force FT users to log with ProConnect
  itou/utils/perms/middleware.py
  tests/www/dashboard/test_activate_sso_account.py
Due: ruff-format, ruff-check

feat: add accessibility statement content detailing non-conformities and exemptions
  itou/templates/static/accessibility.html
Due: djlint

job_seekers_views: Improve advisor tracking
  itou/templates/job_seekers_views/advisors.html
  itou/templates/job_seekers_views/includes/last_advisor.html
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

requirements: try to switch to gunicorn backend
  gunicorn.conf.py
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
