Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

Support Companies closing spontaneous jobseeker applications
  itou/companies/admin.py
  itou/companies/migrations/0015_company_spontaneous_applications_open_since.py
  itou/companies/models.py
  itou/templates/companies/job_description_list.html
  itou/www/companies_views/views.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/api/siae_api/__snapshots__/tests.ambr
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_card_views.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/companies_views/test_job_description_views.py
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/signup/__snapshots__/test_siae.ambr
Due: ruff-format, ruff-check, djlint

Adjust job search results when spontaneous applications are closed
  itou/companies/models.py
  itou/templates/companies/includes/_card_siae.html
  tests/www/search/__snapshots__/tests.ambr
  tests/www/search/tests.py
Due: ruff-format, ruff-check, djlint

ApplicationJobsForm content respects siae.spontaneous_applications_open_since
  itou/templates/apply/submit/application/jobs.html
  itou/www/apply/forms.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

fix: llittle ui adjustment
  itou/templates/gps/group_list.html
Due: djlint

tests: Use `not_in_territorial_experimentation` for RDV-I
  config/settings/test.py
  tests/companies/factories.py
  tests/prescribers/factories.py
  tests/www/apply/test_list.py
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

gps: Use a setting instead of a hardcoded value for nav entry display
  config/settings/base.py
  itou/utils/templatetags/nav.py
  itou/www/dashboard/views.py
  itou/www/gps/views.py
  tests/companies/factories.py
  tests/prescribers/factories.py
Due: ruff-format, ruff-check

tests: Fix flakyness because of territorial experimentations
  tests/companies/factories.py
  tests/prescribers/factories.py
  tests/utils/test.py
  tests/www/test_layout.py
Due: ruff-format, ruff-check

www.apply: Use a setting for optional refusal reason
  config/settings/base.py
  itou/www/apply/forms.py
  tests/companies/factories.py
  tests/prescribers/factories.py
  tests/www/apply/test_batch_views.py
Due: ruff-format, ruff-check

Support Companies closing spontaneous jobseeker applications
  itou/companies/admin.py
  itou/companies/migrations/0017_company_spontaneous_applications_open_since.py
  itou/companies/models.py
  itou/templates/companies/job_description_list.html
  itou/www/companies_views/views.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/api/siae_api/__snapshots__/tests.ambr
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_card_views.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/companies_views/test_job_description_views.py
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/signup/__snapshots__/test_siae.ambr
Due: ruff-format, ruff-check, djlint

Disallow job applications in progress if company blocks mid-process
  itou/www/apply/views/constants.py
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

gps: Add new group details view - beneficiary tab
  itou/templates/gps/group_beneficiary.html
  itou/templates/gps/group_details_base.html
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: Remove old details view
  itou/gps/models.py
  itou/templates/gps/group_memberships.html
  itou/templates/gps/includes/group_members.html
  itou/templates/gps/user_details.html
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: Add new group details view - contribution tab
  itou/templates/gps/group_contribution.html
  itou/templates/gps/group_details_base.html
  itou/templates/gps/includes/badge_ongoing_membership.html
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: Add new group details view - contribution edition
  itou/static/js/utils.js
  itou/templates/gps/group_contribution.html
  itou/templates/gps/group_edition.html
  itou/templates/gps/includes/group_members.html
  itou/www/gps/forms.py
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: Add new group details view - participants tab
  itou/templates/gps/group_details_base.html
  itou/templates/gps/group_memberships.html
  itou/templates/gps/includes/badge_ended_membership.html
  itou/templates/gps/includes/badge_is_referent_membership.html
  itou/templates/gps/includes/group_members.html
  itou/templates/gps/includes/memberships_results.html
  itou/templates/gps/user_details.html
  itou/www/gps/urls.py
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

fix: little ui adjustment
  itou/templates/gps/group_list.html
Due: djlint

gps: Add print button on group details tabs
  itou/templates/gps/group_details_base.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

gps: Add FollowUpGroupMembership.reason
  itou/gps/migrations/0015_followupgroupmembership_reason.py
  itou/gps/models.py
  tests/gps/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

gps: Add FollowUpGroupMembership.reason to admin
  itou/gps/admin.py
Due: ruff-format, ruff-check

gps: Add FollowUpGroupMembership.reason to views
  itou/templates/gps/group_contribution.html
  itou/templates/gps/group_edition.html
  itou/templates/gps/group_memberships.html
  itou/www/gps/forms.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

gps: Add beneficiary edit button
  itou/templates/gps/group_beneficiary.html
  itou/www/gps/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

er.create_step_4: Remove misleading mention
  itou/templates/employee_record/includes/create_step_4.html
Due: djlint

dashboard: Change CTA export wording
  itou/templates/dashboard/includes/staff_export_card.html
Due: djlint

feat: update theme to v2.7.3
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

stats: Update wrong or outdated tally form ids
  itou/utils/apis/metabase.py
Due: ruff-format, ruff-check

Replace company SIAE constants with methods on CompanyKind
  itou/approvals/notifications.py
  itou/approvals/utils.py
  itou/companies/enums.py
  itou/companies/management/commands/_import_siae/convention.py
  itou/companies/management/commands/_import_siae/siae.py
  itou/companies/management/commands/_import_siae/vue_af.py
  itou/companies/models.py
  itou/eligibility/models/iae.py
  itou/job_applications/management/commands/display_missing_eligibility_diagnoses.py
  itou/job_applications/models.py
  itou/users/management/commands/extract_c2_users.py
  itou/users/management/commands/new_users_to_brevo.py
  itou/www/apply/forms.py
  itou/www/apply/views/list_views.py
  tests/approvals/factories.py
  tests/companies/factories.py
  tests/companies/test_enums.py
  tests/users/test_management_commands.py
  tests/www/apply/test_forms.py
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

feat: update demo account ui
  itou/static/css/itou.css
  itou/static/img/demo_accounts/ai.svg
  itou/static/img/demo_accounts/de.svg
  itou/static/img/demo_accounts/ea.svg
  itou/static/img/demo_accounts/ei.svg
  itou/static/img/demo_accounts/etti.svg
  itou/static/img/demo_accounts/geiq.svg
  itou/static/img/demo_accounts/prescripteur_habilite.svg
  itou/static/img/demo_accounts/prescripteur_non_habilite.svg
  itou/static/img/demo_accounts/prescripteur_solo.svg
  itou/templates/includes/demo_accounts.html
  itou/utils/templatetags/demo_accounts.py
Due: ruff-format, ruff-check, djlint
