Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

applications: refactor list templates to ease form insertion
  itou/templates/apply/includes/list_job_applications.html
  itou/templates/apply/includes/list_table.html
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
Due: djlint

process_refuse: extract logic & wording to view
  itou/templates/apply/process_refuse.html
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check, djlint

refuse: adapt template for multiple applications & jobseekers
  itou/templates/apply/process_refuse.html
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check, djlint

add batch transfer
  itou/templates/apply/includes/siae_actions.html
  itou/templates/apply/includes/siae_actions_modals.html
  itou/www/apply/urls.py
  itou/www/apply/views/batch_views.py
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_batch_views.py
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

apply: add checkbox column with select all & htmx logic
  itou/static/js/utils.js
  itou/templates/apply/includes/list_job_applications.html
  itou/templates/apply/includes/list_table.html
  itou/templates/apply/includes/list_tr.html
  itou/templates/apply/includes/selected_job_applications.html
  itou/templates/apply/includes/siae_actions.html
  itou/templates/apply/list_for_siae.html
  itou/www/apply/urls.py
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

Test hiring an auto-prescription from another company
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

ProConnect development docs tweak
  CHANGELOG_breaking_changes.md
  docs/environment.md
Due: none

pro_connect: Give details on how PRO_CONNECT_FT_IDP_HINT works
  itou/openid_connect/pro_connect/constants.py
Due: ruff-format, ruff-check

cities: migrate sync_cities to logging
  itou/cities/management/commands/sync_cities.py
  tests/cities/tests.py
Due: ruff-format, ruff-check

jobs: migrate sync_romes_and_appellations to logging
  itou/jobs/management/commands/sync_romes_and_appellations.py
  tests/jobs/management/test_sync_romes_and_appellations.py
Due: ruff-format, ruff-check

JS: Improve date picker separator completion
  itou/static/js/duet_date_picker_widget.js
Due: none

users: migrate sync_group_and_perms to logging
  itou/users/management/commands/sync_group_and_perms.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
  tests/users/test_sync_group_and_perms.py
Due: ruff-format, ruff-check

metabase: migrate upload_data_to_pilotage to logging
  itou/metabase/management/commands/upload_data_to_pilotage.py
  tests/metabase/management/__snapshots__/test_upload_data_to_pilotage.ambr
  tests/metabase/management/test_upload_data_to_pilotage.py
Due: ruff-format, ruff-check

metabase: migrate populate_metabase_emplois to logging
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/utils/python.py
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

inclusion_connect: Remove app
  config/settings/base.py
  itou/openid_connect/inclusion_connect/__init__.py
  itou/openid_connect/inclusion_connect/apps.py
  itou/openid_connect/inclusion_connect/migrations/0001_initial.py
  itou/openid_connect/inclusion_connect/migrations/0002_delete_inclusionconnectstate.py
  itou/openid_connect/inclusion_connect/migrations/__init__.py
Due: ruff-format, ruff-check

tests: improve gps test using refresh_from_db()
  tests/gps/test_models.py
Due: ruff-format, ruff-check

gps: Follow job seeker when creating a geiq eligibility diagnosis
  itou/eligibility/models/geiq.py
  tests/eligibility/test_geiq.py
Due: ruff-format, ruff-check

gps: Stop naming the arguments when calling follow_beneficiary
  itou/www/job_seekers_views/views.py
  tests/gps/test_models.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check

gps: Update last_contact_at in follow_beneficiary
  itou/gps/models.py
  tests/gps/test_models.py
Due: ruff-format, ruff-check

gps: Make is_referent optionnal in follow_beneficiary
  itou/gps/models.py
  tests/gps/test_models.py
Due: ruff-format, ruff-check

gps: Use update_or_create in follow_beneficiary
  itou/gps/models.py
Due: ruff-format, ruff-check

gps: follow job seeker when accepting a job application
  itou/job_applications/models.py
  tests/gps/test_management_commands.py
  tests/job_applications/tests.py
Due: ruff-format, ruff-check

gps: Follow job seeker when applying for him
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

gps: Follow job seeker when creating a iae eligibility diagnosis
  itou/eligibility/models/iae.py
  tests/eligibility/test_iae.py
Due: ruff-format, ruff-check

gps: Add new field to FollowUpGroupMembership
  itou/gps/admin.py
  itou/gps/migrations/0006_followupgroupmembership_last_contact_at_and_more.py
  itou/gps/models.py
  tests/gps/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

Verify an org admin cannot deactivate another org memberships
  tests/www/companies_views/test_members_views.py
  tests/www/institutions_views/test_views.py
  tests/www/prescribers_views/test_members.py
Due: ruff-format, ruff-check

Simplify deactivate_org_member
  itou/common_apps/organizations/views.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
