Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

insertion: drop unused DORA mobilization helpers
  itou/insertion/models.py
  tests/insertion/test_models.py
Due: ruff-format, ruff-check

insertion_views: change "bénéficiaire" to "usager"
  itou/insertion/admin.py
  itou/insertion/enums.py
  itou/insertion/migrations/0001_initial.py
  itou/insertion/migrations/0008_orientation.py
  itou/insertion/migrations/0015_orientation_refusal_details_and_more.py
  itou/insertion/models.py
  itou/metabase/tables/mobilization_events.py
  itou/templates/insertion/includes/orientation_external_link_button.html
  itou/templates/insertion/service_card.html
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion: redesign orientation wizard for data·inclusion
  itou/insertion/models.py
  itou/templates/insertion/includes/access_conditions_di.html
  itou/templates/insertion/includes/orientation_credentials_list.html
  itou/templates/insertion/includes/orientation_wizard_form_buttons.html
  itou/templates/insertion/includes/orientation_wizard_stepper.html
  itou/templates/insertion/orientation_wizard.html
  itou/templates/insertion/orientations/details.html
  itou/www/insertion_views/forms.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/__snapshots__/test_wizard.ambr
  tests/www/insertion_views/test_views.py
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check, djlint

insertion: redesign structure detail page for data·inclusion
  itou/templates/insertion/includes/structure_card_tab_description.html
  itou/templates/insertion/includes/structure_card_tabs.html
  itou/templates/insertion/structure_card.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion: add data·inclusion Service and Structure fields, migration and fixtures
  itou/fixtures/django/insertion__service.json
  itou/fixtures/django/insertion__structure.json
  itou/insertion/admin.py
  itou/insertion/management/commands/import_structures_and_services.py
  itou/insertion/migrations/0019_service_and_structure_di_fields.py
  itou/insertion/models.py
  tests/api/__snapshots__/test_insertion.ambr
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/insertion/__snapshots__/test_import_structures_and_services.ambr
  tests/insertion/__snapshots__/test_send_orientations_reminder_emails.ambr
  tests/insertion/api_mocks/data_inclusion/services.json
  tests/insertion/api_mocks/data_inclusion/structures.json
  tests/insertion/test_import_structures_and_services.py
  tests/insertion/test_models.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion: redesign service detail page for data·inclusion
  itou/fixtures/django/insertion__service.json
  itou/insertion/models.py
  itou/templates/insertion/includes/orientation_external_link_button.html
  itou/templates/insertion/includes/updated_on_badge.html
  itou/templates/insertion/service_card.html
  itou/templates/insertion/service_response_time.html
  itou/utils/templatetags/str_filters.py
  itou/www/insertion_views/views.py
  tests/insertion/factories.py
  tests/insertion/test_models.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion: update MobilizationEvent model for inbound parsing
  itou/insertion/enums.py
  itou/insertion/migrations/0007_mobilizationevent.py
  itou/insertion/migrations/0019_remove_mobilizationevent_service_and_structure_kind_coherence_and_more.py
  itou/insertion/models.py
  tests/insertion/test_models.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
Due: ruff-format, ruff-check

api: add an authenticated webhook for brevo inbound parsing
  config/settings/base.py
  config/settings/test.py
  itou/api/admin.py
  itou/api/auth.py
  itou/api/inbound_parsing/enums.py
  itou/api/inbound_parsing/serializers.py
  itou/api/inbound_parsing/views.py
  itou/api/migrations/0004_brevotoken.py
  itou/api/models.py
  itou/api/urls.py
  tests/api/__snapshots__/test_inbound_parsing.ambr
  tests/api/test_inbound_parsing.py
  tests/utils/test_admin.py
Due: ruff-format, ruff-check

insertion: prefill an email on the service contact mailto
  itou/templates/insertion/includes/service_mailto.html
  itou/templates/insertion/service_card.html
Due: djlint

ci: Fix deployment of review apps
  .github/workflows/review-app-creation.yml
Due: none

fixup! job_seekers_views: Detail the end of journey situations in the banner
  itou/templates/job_seekers_views/includes/end_of_contracts_banner.html
Due: djlint

fixup! job_seekers_views: Add end of journey filter for IAE employers
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

fixup! users: Add queryset methods for employees at the end of their journey
  tests/users/test_models.py
Due: ruff-format, ruff-check

fixup! users: Add queryset methods for employees at the end of their journey
  itou/users/models.py
Due: ruff-format, ruff-check

fixup! dashboard: Count employees at the end of their journey
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check

fixup! insertion: prefill an email on the service contact mailto
  itou/templates/insertion/includes/service_mailto.html
  itou/templates/insertion/service_card.html
  itou/utils/apis/inbound_parsing.py
  itou/www/insertion_views/views.py
Due: ruff-format, ruff-check, djlint

insertion: register a click on a service mailto as a mobilization event
  itou/templates/insertion/includes/service_mailto.html
Due: djlint

insertion: show mobilization modes in service search results
  itou/insertion/models.py
  itou/templates/search/services/includes/results.html
  tests/insertion/test_models.py
  tests/www/search_views/__snapshots__/test_services.ambr
Due: ruff-format, ruff-check, djlint

fix: improve ProConnect signup information display
  itou/templates/signup/professional_user.html
Due: djlint

supportix: link to specialized tally form instead of dora home.
  itou/templates/dashboard/includes/dora_card.html
Due: djlint

openid_connect: Fix France Connect jwks warning
  itou/openid_connect/france_connect/views.py
  tests/openid_connect/france_connect/tests.py
Due: ruff-format, ruff-check

import_siae command: Ease reporting issue via better assertion message
  itou/companies/management/commands/_import_siae/vue_structure.py
Due: ruff-format, ruff-check

fix(fixtures): associate funding labels to a few services
  itou/fixtures/django/insertion__service.json
Due: none

feat(search): allow filtering of services on funding labels
  itou/templates/search/services/includes/funding_labels_filter.html
  itou/templates/search/services/includes/results.html
  itou/templates/search/services/results.html
  itou/www/search_views/forms.py
  itou/www/search_views/views.py
  tests/www/search_views/__snapshots__/test_services.ambr
  tests/www/search_views/test_services.py
Due: ruff-format, ruff-check, djlint

employee_record: fix initial_state definition
  itou/employee_record/models.py
Due: ruff-format, ruff-check

tests: adapt test_transition_log test
  tests/employee_record/test_models.py
Due: ruff-format, ruff-check

employee_record: rename MovementType.UPDATE as MODIFICATION
  itou/api/employee_record_api/serializers.py
  itou/employee_record/enums.py
  itou/employee_record/management/commands/transfer_employee_records_updates.py
  itou/employee_record/serializers.py
  tests/api/employee_record_api/test_serializers.py
  tests/employee_record/test_serializers.py
Due: ruff-format, ruff-check

employee_record: dynamically compute status_badges
  itou/www/employee_record_views/views.py
Due: ruff-format, ruff-check

employee_record: add new states & transition to workflow
  itou/employee_record/admin.py
  itou/employee_record/enums.py
  itou/employee_record/migrations/0004_alter_employeerecord_status.py
  itou/employee_record/models.py
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/employee_record/__snapshots__/test_admin.ambr
  tests/employee_record/test_admin.py
  tests/employee_record/test_models.py
Due: ruff-format, ruff-check

employee_record: add migration command
  clevercloud/cron.json
  itou/employee_record/management/commands/migrate_employee_record_update_notifications.py
  tests/employee_record/test_migrate_employee_record_update_notifications.py
Due: ruff-format, ruff-check

employee_record: adapt summary page to use both sources
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/test_summary.py
Due: ruff-format, ruff-check

employee_record: hide new statuses in list view
  itou/employee_record/enums.py
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check
