Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

tests: test pagination on list pages
  tests/gps/test_views.py
  tests/utils/testing.py
  tests/www/apply/test_list_prescriptions.py
  tests/www/approvals_views/test_list.py
  tests/www/approvals_views/test_prolongation_requests.py
  tests/www/companies_views/test_job_description_views.py
  tests/www/employee_record_views/test_list.py
  tests/www/geiq_assessments_views/test_views_for_both.py
  tests/www/job_seekers_views/test_list.py
  tests/www/search/tests.py
Due: ruff-format, ruff-check

www.companies: display spontaneous applications only on first page of jobs list
  itou/templates/companies/job_description_list.html
  tests/www/companies_views/test_job_description_views.py
Due: ruff-format, ruff-check, djlint

Revert "search: temporary fix to display dropdown menus above sticky title"
  itou/static/css/itou.css
  itou/templates/includes/btn_dropdown_filter/checkboxes.html
  itou/templates/includes/btn_dropdown_filter/radio.html
  itou/templates/search/includes/siaes_search_content.html
  itou/templates/search/includes/siaes_search_filters_departments.html
  itou/templates/search/prescribers_search_results.html
Due: djlint

feat: update dropdown button attributes
  itou/templates/includes/btn_dropdown_filter/checkboxes.html
  itou/templates/includes/btn_dropdown_filter/radio.html
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

employees_views: Remove useless statement
  itou/www/employees_views/views.py
Due: ruff-format, ruff-check

employees_views: Add another IF link
  itou/templates/employees/detail.html
  itou/utils/immersion_facile.py
  itou/www/employees_views/views.py
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/employees_views/test_detail.py
Due: ruff-format, ruff-check, djlint

employees_views: Improve immersion variable names
  itou/templates/employees/detail.html
  itou/www/employees_views/views.py
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/employees_views/test_detail.py
Due: ruff-format, ruff-check, djlint

fix(companies): only disable job descriptions which have no recent employer updates when source is internal
  itou/companies/management/commands/deactivate_old_job_descriptions.py
  itou/companies/migrations/0007_auto_20250807_1719.py
  itou/companies/models.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check

tests: fix an assertHTMLEqual
  tests/utils/test_widgets.py
Due: ruff-format, ruff-check

tests: fix tests after django-bootstrap5 upgrade
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation.ambr
  tests/www/approvals_views/test_prolongation.py
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/signup/__snapshots__/test_job_seeker.ambr
Due: ruff-format, ruff-check

fix: .invalid-feedback display for django-bootstrap5 25.2
  itou/static/css/itou.css
Due: none

organizations: Add documentations link on members invite view
  itou/templates/includes/members_list.html
  tests/www/companies_views/__snapshots__/test_members_views.ambr
  tests/www/prescribers_views/__snapshots__/test_members.ambr
Due: djlint

tests: Move approval test (group access tests)
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check

utils.apis.metabase: Handle ordering for query building
  itou/utils/apis/metabase.py
Due: ruff-format, ruff-check

dashboard: Allow job seekers to copy their ID from the dashboard
  itou/templates/dashboard/includes/dashboard_title_content.html
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check, djlint

approvals: Improve permissions
  itou/approvals/perms.py
  itou/www/approvals_views/views.py
  tests/approvals/test_perms.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
Due: ruff-format, ruff-check

fixtures: Add contracts
  itou/fixtures/django/32_companies_contracts.json
  itou/fixtures/django/dumpdata.sh
Due: none

metabase: Sync RIAE contracts data from Metabase
  clevercloud/cron.json
  itou/metabase/management/commands/fetch_riae_contracts.py
  tests/metabase/management/test_fetch_riae_contracts.py
Due: ruff-format, ruff-check

companies: Add Contract model
  itou/companies/admin.py
  itou/companies/migrations/0008_contract.py
  itou/companies/models.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/__snapshots__/tests_utils.ambr
  tests/companies/factories.py
  tests/users/test_admin.py
Due: ruff-format, ruff-check

approvals: Refactor ApprovalDetailView
  itou/templates/approvals/base_details.html
  itou/templates/approvals/details.html
  itou/www/approvals_views/views.py
  tests/www/approvals_views/__snapshots__/test_detail.ambr
Due: ruff-format, ruff-check, djlint

approvals_views: Add contracts tab
  itou/templates/approvals/base_details.html
  itou/templates/approvals/contracts.html
  itou/www/approvals_views/urls.py
  itou/www/approvals_views/views.py
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check, djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
