Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

fix: update link to contact form and wording
  itou/templates/signup/choose_user_kind.html
  itou/www/signup/urls.py
  tests/www/signup/__snapshots__/test_professionals.ambr
Due: ruff-format, ruff-check, djlint

approvals: prevent approval termination with a GET request
  itou/approvals/admin_views.py
  tests/approvals/test_admin.py
Due: ruff-format, ruff-check

asp: fix typo in labels
  itou/asp/models.py
Due: ruff-format, ruff-check

insertion: send emails when orientation has expired
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/expired_for_beneficiary_body.txt
  itou/templates/insertion/email/expired_for_beneficiary_subject.txt
  itou/templates/insertion/email/expired_for_referent_body.txt
  itou/templates/insertion/email/expired_for_referent_subject.txt
  itou/templates/insertion/email/expired_for_sender_body.txt
  itou/templates/insertion/email/expired_for_sender_subject.txt
  itou/templates/insertion/email/expired_for_structure_body.txt
  itou/templates/insertion/email/expired_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
Due: ruff-format, ruff-check

insertion: send emails when orientation is accepted
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/accepted_for_beneficiary_body.txt
  itou/templates/insertion/email/accepted_for_beneficiary_subject.txt
  itou/templates/insertion/email/accepted_for_referent_body.txt
  itou/templates/insertion/email/accepted_for_referent_subject.txt
  itou/templates/insertion/email/accepted_for_sender_body.txt
  itou/templates/insertion/email/accepted_for_sender_subject.txt
  itou/templates/insertion/email/accepted_for_structure_body.txt
  itou/templates/insertion/email/accepted_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

fixup! gdpr section in beneficiary email
  itou/templates/insertion/email/new_for_beneficiary_body.txt
  itou/templates/layout/base_email_for_beneficiary_text_body.txt
  itou/templates/layout/base_email_signature.txt
  itou/utils/emails.py
  tests/insertion/__snapshots__/test_notifications.ambr
Due: ruff-format, ruff-check

insertion.factories: add for_snapshot trait to ease later tests
  tests/insertion/factories.py
Due: ruff-format, ruff-check

insertion_views: rename orientation status "Refusée" -> "Déclinée"
  itou/insertion/enums.py
  itou/insertion/management/commands/sync_orientation_statuses.py
  itou/insertion/migrations/0012_alter_orientation_status_orientationtransitionlog.py
  itou/insertion/models.py
  itou/utils/templatetags/badges.py
  tests/insertion/test_orientation.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion: add new orientation status and transition: processing
  itou/insertion/enums.py
  itou/insertion/migrations/0012_alter_orientation_status_orientationtransitionlog.py
  itou/insertion/models.py
  itou/utils/templatetags/badges.py
  itou/www/insertion_views/views.py
  tests/insertion/test_orientation.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion_views: no need for unique id in orientation status badge
  itou/utils/templatetags/badges.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

templatetags.badges: fix orientation EXPIRED badge
  itou/utils/templatetags/badges.py
  tests/utils/__snapshots__/test_templatetags.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion: send email to external users at orientation creation
  itou/insertion/models.py
  itou/templates/insertion/email/new_for_referent_body.txt
  itou/templates/insertion/email/new_for_referent_subject.txt
  itou/templates/insertion/email/new_for_structure_body.txt
  itou/templates/insertion/email/new_for_structure_subject.txt
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check

insertion: send email notifications to beneficiary and sender at orientation creation
  itou/communications/__init__.py
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/new_for_beneficiary_body.txt
  itou/templates/insertion/email/new_for_beneficiary_subject.txt
  itou/templates/insertion/email/new_for_sender_body.txt
  itou/templates/insertion/email/new_for_sender_subject.txt
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check

insertion_views: allow service providers to refuse an orientation
  itou/templates/insertion/includes/orientations/service_provider_actions.html
  itou/templates/insertion/orientations/refuse.html
  itou/www/insertion_views/forms.py
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion: send emails when orientation is being processed
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/processing_for_beneficiary_body.txt
  itou/templates/insertion/email/processing_for_beneficiary_subject.txt
  itou/templates/insertion/email/processing_for_referent_body.txt
  itou/templates/insertion/email/processing_for_referent_subject.txt
  itou/templates/insertion/email/processing_for_sender_body.txt
  itou/templates/insertion/email/processing_for_sender_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion: add refusal_reasons and refusal_details to orientation
  itou/fixtures/django/insertion__orientation.json
  itou/insertion/admin.py
  itou/insertion/enums.py
  itou/insertion/migrations/0015_orientation_refusal_details_and_more.py
  itou/insertion/models.py
  tests/insertion/factories.py
  tests/insertion/test_orientation.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion_views: add missing organization in orientation details for service provider
  itou/templates/insertion/includes/orientation_sidebar_for_service_provider.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

dummy commit
  README.md
Due: none

insertion_views: resend a magic link if asked when the previous one is deactivated
  itou/insertion/models.py
  itou/templates/insertion/email/new_link_for_structure_body.txt
  itou/templates/insertion/email/new_link_for_structure_subject.txt
  itou/templates/insertion/orientations/ask_for_new_orientation_process_link.html
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion_views: allow service providers to set an orientation as processing
  itou/insertion/models.py
  itou/templates/insertion/includes/orientations/service_provider_actions.html
  itou/templates/insertion/orientations/details.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion: send emails when orientation is refused
  itou/insertion/models.py
  itou/insertion/notifications.py
  itou/templates/insertion/email/refused_for_beneficiary_body.txt
  itou/templates/insertion/email/refused_for_beneficiary_subject.txt
  itou/templates/insertion/email/refused_for_referent_body.txt
  itou/templates/insertion/email/refused_for_referent_subject.txt
  itou/templates/insertion/email/refused_for_sender_body.txt
  itou/templates/insertion/email/refused_for_sender_subject.txt
  itou/templates/insertion/email/refused_for_structure_body.txt
  itou/templates/insertion/email/refused_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_orientation.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion_views: allow service providers to accept an orientation
  itou/templates/insertion/includes/orientations/service_provider_actions.html
  itou/templates/insertion/orientations/details.html
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion.factories: clean unused import
  tests/insertion/factories.py
Due: ruff-format, ruff-check

insertion_views: use a view to download orientations’ documents
  itou/insertion/migrations/0013_orientation_documents.py
  itou/insertion/models.py
  itou/templates/insertion/orientations/details.html
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/insertion/test_orientation.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion_views: add missing readonly_view decorator or mixin
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion: auto expire orientations
  clevercloud/cron.json
  itou/insertion/management/commands/expire_orientations.py
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/insertion/test_expire_orientations.py
Due: ruff-format, ruff-check

insertion: add orientation.last_reminder_email_sent_at attribute
  itou/insertion/migrations/0016_orientation_last_reminder_email_sent_at.py
  itou/insertion/models.py
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
Due: ruff-format, ruff-check

insertion: stop POSTing orientations to DORA
  itou/fixtures/django/insertion__orientation.json
  itou/insertion/migrations/0017_remove_orientation_attachments_alter_orientation_id.py
  itou/insertion/models.py
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_expire_orientations.ambr
  tests/insertion/__snapshots__/test_send_orientations_reminder_emails.ambr
  tests/insertion/factories.py
  tests/insertion/test_orientation.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check

insertion: send orientation reminder emails to structure
  itou/insertion/management/commands/send_orientations_reminder_emails.py
  itou/insertion/models.py
  itou/templates/insertion/email/reminder_for_structure_body.txt
  itou/templates/insertion/email/reminder_for_structure_subject.txt
  tests/insertion/__snapshots__/test_notifications.ambr
  tests/insertion/__snapshots__/test_send_orientations_reminder_emails.ambr
  tests/insertion/test_notifications.py
  tests/insertion/test_send_orientations_reminder_emails.py
Due: ruff-format, ruff-check

insertion: remove DORA associated management commands
  clevercloud/cron.json
  itou/insertion/management/commands/import_emplois_orientations.py
  itou/insertion/management/commands/sync_orientation_statuses.py
  tests/insertion/test_import_emplois_orientations.py
  tests/insertion/test_sync_orientation_statuses.py
Due: ruff-format, ruff-check

chore: clean unused code associated with DORA orientations
  itou/insertion/utils.py
  itou/utils/apis/dora.py
  itou/utils/templatetags/dora.py
  tests/utils/apis/test_dora.py
  tests/utils/test_templatetags.py
Due: ruff-format, ruff-check

prescribers: fix spaces
  itou/templates/prescribers/card.html
  itou/templates/prescribers/email/refused_prescriber_organization_email_body.txt
  itou/templates/prescribers/email/validated_prescriber_organization_email_body.txt
  itou/templates/prescribers/list_accredited_organizations.html
  itou/templates/prescribers/overview.html
  tests/conftest.py
  tests/www/prescribers_views/test_overview.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: fix spaces
  itou/templates/apply/includes/list_tr.html
  itou/templates/eligibility/includes/situation_criteria_tooltip.html
  itou/templates/job_seekers_views/contracts.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_1.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_2.html
  itou/templates/job_seekers_views/create_or_update_job_seeker/step_3.html
  itou/templates/job_seekers_views/includes/end_of_contracts_banner.html
  itou/templates/job_seekers_views/includes/last_advisor.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/job_seekers_views/job_applications.html
  itou/templates/job_seekers_views/list.html
  itou/templates/job_seekers_views/nir_modification_success.html
  itou/templates/job_seekers_views/step_search_job_seeker_by_email.html
  itou/www/job_seekers_views/forms.py
  tests/conftest.py
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/apply/test_templates.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

invitations_views: fix spaces
  itou/templates/invitations_views/email/accepted_notif_establishment_sender_body.txt
  itou/templates/invitations_views/email/invitation_establishment_body.txt
  itou/templates/invitations_views/new_pro_connect_user.html
  itou/templates/invitations_views/new_user.html
  tests/conftest.py
Due: ruff-format, ruff-check, djlint

temsplates: Add missing no-break space
  itou/templates/nexus/components/dropdown_no_proconnect.html
  tests/www/__snapshots__/test_layout.ambr
Due: djlint

invitations: All pros must register with ProConnect
  itou/templates/invitations_views/new_user.html
  itou/www/invitations_views/forms.py
  itou/www/invitations_views/views.py
  tests/www/invitations_views/test_generic.py
Due: ruff-format, ruff-check, djlint

utils: Force institutionals to use ProConnect along with prescribers and employers
  itou/utils/perms/middleware.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/middleware/test_terms_acceptance.py
  tests/openid_connect/pro_connect/testing.py
  tests/users/factories.py
  tests/utils/perms/tests.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/dashboard/test_activate_sso_account.py
  tests/www/invitations_views/test_generic.py
Due: ruff-format, ruff-check

job_seekers_views: Improve advisor tracking
  itou/templates/job_seekers_views/advisors.html
  itou/templates/job_seekers_views/includes/last_advisor.html
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

emails: fix spaces in emails
  itou/templates/common/emails/add_admin_email_body.txt
  itou/templates/common/emails/auto_admin_attribution_email_body.txt
  itou/templates/common/emails/member_deactivation_email_body.txt
  itou/templates/common/emails/remove_admin_email_body.txt
  itou/templates/users/emails/check_authorized_members_email_body.txt
  tests/conftest.py
  tests/users/__snapshots__/test_management_commands.ambr
  tests/www/companies_views/__snapshots__/test_members_views.ambr
  tests/www/institutions_views/__snapshots__/test_views.ambr
  tests/www/prescribers_views/__snapshots__/test_members.ambr
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
