Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

invitations: Improve LaborInspector creation
  itou/www/invitations_views/forms.py
  itou/www/invitations_views/views.py
Due: ruff-format, ruff-check

login: Add demo url
  itou/utils/templatetags/demo_accounts.py
  itou/www/login/urls.py
  itou/www/login/views.py
Due: ruff-format, ruff-check

__wip : add DORA API's safe_upload client side code
  itou/utils/apis/dora.py
Due: ruff-format, ruff-check

forms: Add MultiFileField and form, and tests
  itou/files/forms.py
  itou/templates/utils/widgets/multi_file_input.html
  tests/files/test_forms.py
Due: ruff-format, ruff-check, djlint

__wip js: add a MultiFile beautiful selector
  itou/static/css/itou.css
  itou/static/js/utils.js
Due: none

login: Merge all login views
  config/urls.py
  itou/invitations/models.py
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/pe_connect/views.py
  itou/templates/account/account_type_selection.html
  itou/templates/account/login_generic.html
  itou/templates/account/peamu_no_email.html
  itou/templates/account/pre_login.html
  itou/templates/apply/email/new_for_job_seeker_body.txt
  itou/templates/layout/_header.html
  itou/templates/layout/_header_login.html
  itou/templates/signup/includes/login_reminder.html
  itou/users/enums.py
  itou/utils/perms/middleware.py
  itou/www/invitations_views/views.py
  itou/www/login/forms.py
  itou/www/login/urls.py
  itou/www/login/views.py
  tests/job_applications/tests.py
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/pe_connect/tests.py
  tests/openid_connect/pro_connect/tests.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/invitations_views/test_generic.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
Due: ruff-format, ruff-check, djlint

login: Refactor views
  itou/www/login/views.py
Due: ruff-format, ruff-check

login: Let Inclusion Connect old users log with Django
  itou/templates/account/login_existing_user.html
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
Due: ruff-format, ruff-check, djlint

login: Add default back_url in ExistingUserLoginView
  itou/www/login/views.py
Due: ruff-format, ruff-check

login: Display ProConnect button for IC and Django users when relevant
  itou/templates/account/includes/login_generic.html
  itou/templates/account/login_existing_user.html
  itou/www/login/views.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
Due: ruff-format, ruff-check, djlint

login: Improve pre login template
  itou/templates/account/pre_login.html
  itou/www/login/forms.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
Due: ruff-format, ruff-check, djlint

login: Improve flow for ProConnect users
  itou/www/login/views.py
  tests/openid_connect/pro_connect/tests.py
  tests/www/invitations_views/test_generic.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
Due: ruff-format, ruff-check

__wip : Add an Orientation wizard towards Dora
  itou/templates/insertion/orientation_confirmation.html
  itou/templates/insertion/orientation_wizard.html
  itou/www/insertion_views/forms.py
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check, djlint

approvals: Allow prolongation up to 6 months after `end_at`
  itou/approvals/models.py
  tests/approvals/tests.py
  tests/employee_record/test_models.py
Due: ruff-format, ruff-check

approvals: Reword prolongation button tooltip
  itou/templates/approvals/details.html
  tests/www/approvals_views/test_detail.py
Due: ruff-format, ruff-check, djlint

employee_records: Use dedicated alert for 3437 errors
  itou/templates/employee_record/includes/list_item.html
Due: djlint

login: Propagate next url in JobSeekerPreLoginView
  itou/www/login/views.py
  tests/www/login/tests.py
Due: ruff-format, ruff-check

login: Stop using public_id in login urls
  itou/openid_connect/errors.py
  itou/www/invitations_views/views.py
  itou/www/login/constants.py
  itou/www/login/forms.py
  itou/www/login/urls.py
  itou/www/login/views.py
  itou/www/signup/errors.py
  tests/openid_connect/france_connect/__snapshots__/tests.ambr
  tests/openid_connect/pe_connect/__snapshots__/tests.ambr
  tests/www/invitations_views/test_generic.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/test_job_seeker.py
Due: ruff-format, ruff-check

users: improve update_job_seeker_coords command
  itou/users/management/commands/update_job_seeker_coords.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

geiq_assessments_views: rename the ask for fix comment form
  itou/templates/geiq_assessments_views/assessment_details_for_institution.html
  itou/templates/geiq_assessments_views/includes/assessment_status_box_for_institution.html
  itou/www/geiq_assessments_views/forms.py
  itou/www/geiq_assessments_views/views.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
Due: ruff-format, ruff-check, djlint

otp_views: Move OTP-related views from `www/itou_staff_views/` to `www/otp_views/`
  config/urls.py
  itou/templates/layout/_header_user_dropdown_menu.html
  itou/templates/otp_views/otp_confirm_device.html
  itou/templates/otp_views/otp_devices.html
  itou/utils/perms/middleware.py
  itou/www/itou_staff_views/forms.py
  itou/www/itou_staff_views/urls.py
  itou/www/itou_staff_views/views.py
  itou/www/middleware.py
  itou/www/otp_views/__init__.py
  itou/www/otp_views/forms.py
  itou/www/otp_views/urls.py
  itou/www/otp_views/views.py
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/itou_staff_views/tests.py
  tests/www/login/tests.py
  tests/www/otp_views/__init__.py
  tests/www/otp_views/__snapshots__/tests.ambr
  tests/www/otp_views/tests.py
Due: ruff-format, ruff-check, djlint

geiq_assessments_views: notify DDETS when DREETS asks for a fix
  itou/geiq_assessments/notifications.py
  itou/templates/geiq_assessments/email/assessment_fix_requested_for_institution_body.txt
  itou/templates/geiq_assessments/email/assessment_fix_requested_for_institution_subject.txt
  itou/www/geiq_assessments_views/views.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
  tests/www/geiq_assessments_views/test_views_for_institution.py
Due: ruff-format, ruff-check

geiq_assessments: add modal to add a comment when asking for institution fix
  itou/geiq_assessments/migrations/0010_remove_assessmenttransitionlog_ask_for_geiq_fix_transition_with_comment_and_more.py
  itou/geiq_assessments/models.py
  itou/templates/geiq_assessments_views/assessment_details_for_institution.html
  itou/templates/geiq_assessments_views/includes/assessment_status_box_for_institution.html
  itou/www/geiq_assessments_views/views.py
  tests/geiq_assessments/test_models.py
  tests/www/geiq_assessments_views/test_views_for_institution.py
Due: ruff-format, ruff-check, djlint

geiq_assessments_views: fix comment form modal ui
  itou/templates/geiq_assessments_views/assessment_details_for_institution.html
Due: djlint

feat: add custom icon support to alert component
  itou/templates/components/alerts/alert.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
Due: djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
