Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

users: stop creating objects on page view
  itou/communications/models.py
  itou/users/admin.py
Due: ruff-format, ruff-check

fix: when creating an assessment as an employer, contracts are not selected/checked anymore if potential allowance is zero
  itou/geiq_assessments/sync.py
  itou/templates/geiq_assessments_views/assessment_contracts_list.html
  tests/geiq/test_sync.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_both.ambr
Due: ruff-format, ruff-check, djlint

remove: deleted now useless update_refused_prescriber_organizations_kind Django command
  itou/prescribers/management/commands/update_refused_prescriber_organizations_kind.py
  tests/prescribers/tests.py
Due: ruff-format, ruff-check

users: stop creating NotificationSettings objects in page view
  itou/users/admin.py
Due: ruff-format, ruff-check

files: no need for trigger context in delete_unused_files
  itou/files/management/commands/delete_unused_files.py
Due: ruff-format, ruff-check

users: no need for trigger context in shorten_active_sessions
  itou/users/management/commands/shorten_active_sessions.py
Due: ruff-format, ruff-check

utils: remove trigger context from check_inconsistencies
  itou/utils/management/commands/check_inconsistencies.py
Due: ruff-format, ruff-check

openid_connect: remove trigger context from cleanup_oidc_states
  itou/openid_connect/management/commands/cleanup_oidc_states.py
Due: ruff-format, ruff-check

tests: Add temporary generic pro factory
  tests/users/factories.py
Due: ruff-format, ruff-check

perms: Allow professionals without org in all signup views
  itou/utils/perms/middleware.py
Due: ruff-format, ruff-check

utils: allow SAVEPOINT related queries in readonly views
  itou/utils/readonly.py
Due: ruff-format, ruff-check

utils: do not crash the prod if an unexpected query happens
  itou/utils/readonly.py
Due: ruff-format, ruff-check

utils: add ReadonlyTemplateRendering middleware
  config/settings/base.py
  itou/utils/readonly.py
Due: ruff-format, ruff-check

fix: update some list-data item ui
  itou/templates/apply/includes/job_application_answers.html
  itou/templates/apply/includes/job_application_info.html
Due: djlint

fix: simplify membership referent title in templates
  itou/templates/apply/process_details_company.html
  itou/templates/employees/detail.html
  itou/templates/gps/includes/membership_referent.html
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/apply/test_details.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check, djlint

replace fields_history middleware by simple view decorator
  config/settings/base.py
  itou/utils/admin.py
  itou/utils/triggers/__init__.py
  itou/www/itou_staff_views/views.py
  itou/www/job_seekers_views/views.py
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/companies/test_admin.py
  tests/siae_evaluations/test_admin.py
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
Due: ruff-format, ruff-check

feat: added new opening_date field on AssessmentCampaign model
  itou/fixtures/django/28_assessment_campaigns.json
  itou/geiq_assessments/admin.py
  itou/geiq_assessments/migrations/0007_assessmentcampaign_opening_date_and_more.py
  itou/geiq_assessments/models.py
  tests/geiq_assessments/factories.py
  tests/geiq_assessments/test_models.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_both.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
Due: ruff-format, ruff-check

feat: prevent user from creating an assessment if there is no currently open GEIQ assessment campaign
  itou/templates/geiq_assessments_views/create.html
  itou/templates/geiq_assessments_views/list_for_geiq.html
  itou/www/geiq_assessments_views/views.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/test_views_for_geiq.py
  tests/www/geiq_assessments_views/test_views_for_institution.py
Due: ruff-format, ruff-check, djlint

chore: Delete unused `update_nir_from_pass` command
  itou/scripts/management/commands/update_nir_from_pass.py
Due: ruff-format, ruff-check

chore: Remove unused `export-auto-prescriptions` SQL script
  itou/scripts/sql/export-auto-prescriptions.sql
Due: none

triggers: mute useless warning
  itou/utils/triggers/__init__.py
Due: ruff-format, ruff-check

eligibility: fix certification badge templatetag
  itou/utils/templatetags/badges.py
  tests/utils/test_templatetags.py
Due: ruff-format, ruff-check

fix: ui rules for detail boxes pages
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/includes/invitation_requests.html
  itou/templates/apply/includes/job_application_answers.html
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/companies/overview.html
  itou/templates/employee_record/includes/employee_record_summary.html
  itou/templates/employees/detail.html
  itou/templates/gps/group_beneficiary.html
  itou/templates/gps/group_contribution.html
  itou/templates/gps/group_memberships.html
  itou/templates/gps/includes/membership_referent.html
  itou/templates/prescribers/overview.html
  tests/gps/__snapshots__/test_views.ambr
  tests/www/apply/__snapshots__/test_detail_rdv_insertion.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/companies_views/test_overview.py
  tests/www/employee_record_views/__snapshots__/test_summary.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check, djlint

signup: Update prescriber template
  itou/templates/signup/prescriber_check_already_exists.html
  tests/www/signup/test_prescriber.py
Due: ruff-format, ruff-check, djlint

signup: Add membership kind choice for professional
  itou/templates/signup/choose_membership_kind.html
  itou/www/signup/forms.py
  itou/www/signup/urls.py
  itou/www/signup/views.py
  tests/www/signup/__snapshots__/test_professionals.ambr
  tests/www/signup/test_professionals.py
Due: ruff-format, ruff-check, djlint

signup: Restrict FT org views to FT users
  itou/www/signup/views.py
  tests/www/signup/test_prescriber.py
Due: ruff-format, ruff-check

signup: Only display link to safir search form for FT users
  itou/templates/signup/prescriber_check_already_exists.html
  itou/www/signup/views.py
  tests/www/signup/test_prescriber.py
Due: ruff-format, ruff-check, djlint

feat: Add new professional Signup view
  itou/templates/invitations_views/new_pro_connect_user.html
  itou/templates/pro_connect/includes/description.html
  itou/templates/signup/employer.html
  itou/templates/signup/professional_user.html
  itou/utils/perms/middleware.py
  itou/www/signup/urls.py
  itou/www/signup/views.py
  tests/www/signup/test_professionals.py
Due: ruff-format, ruff-check, djlint

signup: New flow
  itou/templates/signup/choose_user_kind.html
  itou/templates/signup/prescriber_check_already_exists.html
  itou/templates/signup/prescriber_pole_emploi_user.html
  itou/templates/signup/prescriber_user.html
  itou/utils/perms/middleware.py
  itou/www/signup/forms.py
  itou/www/signup/urls.py
  itou/www/signup/views.py
  tests/www/signup/__snapshots__/test_employer.ambr
  tests/www/signup/test_employer.py
  tests/www/signup/test_prescriber.py
  tests/www/signup/test_professionals.py
Due: ruff-format, ruff-check, djlint

signup: Update choose user kind view
  itou/templates/signup/choose_user_kind.html
  tests/www/signup/__snapshots__/test_professionals.ambr
  tests/www/signup/test_professionals.py
Due: ruff-format, ruff-check, djlint
