Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

invitations_views: Add helper to accept all available invitations
  itou/openid_connect/inclusion_connect/views.py
  itou/openid_connect/pro_connect/views.py
  itou/www/invitations_views/helpers.py
  itou/www/invitations_views/views.py
  tests/www/invitations_views/test_company_accept.py
  tests/www/invitations_views/test_helpers.py
  tests/www/invitations_views/test_prescriber_organization.py
Due: ruff-format, ruff-check

Staff users can access indicator stats for Les Emplois via stats view
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/staff_stats_card.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
  tests/www/stats/test_utils.py
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check, djlint

apply: delete old, deprecated URLs (moved to job_seekers_views)
  itou/www/apply/urls.py
Due: ruff-format, ruff-check

fix: sliding tabs on htmx reload
  itou/static/js/sliding_tabs.js
  itou/templates/approvals/list.html
  itou/templates/companies/job_description_list.html
  itou/templates/companies/members.html
  itou/templates/companies/show_financial_annexes.html
  itou/templates/employee_record/list.html
Due: djlint

template: remove unused dashboard/includes/diagoriente_card.html
  itou/templates/dashboard/includes/diagoriente_card.html
Due: djlint

template: remove unused apply/includes/rdv_insertion_promo_card.html
  itou/templates/apply/includes/rdv_insertion_promo_card.html
Due: djlint

template: remove unused companies/includes/_alert_configure_job.html
  itou/templates/companies/includes/_alert_configure_job.html
Due: djlint

template: remove unused apply/includes/list_for_siae_title.html
  itou/templates/apply/includes/list_for_siae_title.html
Due: djlint

tests: add unused template check
  tests/test_consistency.py
Due: ruff-format, ruff-check

template: remove unused apply/includes/list_card_header.html
  itou/templates/apply/includes/list_card_header.html
Due: djlint

template: remove unused gps/includes/confirm_modal.html
  itou/templates/gps/includes/confirm_modal.html
Due: djlint

template: remove unused template apply/includes/job_applications_filters/job_seekers.html
  itou/templates/apply/includes/job_applications_filters/job_seekers.html
Due: djlint

template: remove unused signup/prescriber_is_pole_emploi.html
  itou/templates/signup/prescriber_is_pole_emploi.html
Due: djlint

template: remove unused api/openapi.html
  itou/templates/api/openapi.html
Due: djlint

changelog: From 2024-11-04 to 2024-11-10
  CHANGELOG.md
Due: none

requirements: add required setuptools
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

logout: Improve wording
  itou/templates/logout/warning.html
  tests/logout/__snapshots__/tests.ambr
Due: djlint

tests: Improve employer's invitation factories
  tests/invitations/factories.py
  tests/invitations/tests.py
  tests/www/invitations_views/test_company_accept.py
Due: ruff-format, ruff-check

invitations: Clean models
  itou/invitations/admin.py
  itou/invitations/migrations/0002_fix_data.py
  itou/invitations/migrations/0003_remove_employerinvitation_accepted_and_more.py
  itou/invitations/models.py
  itou/templates/invitations_views/invitation_errors.html
  tests/invitations/factories.py
  tests/invitations/tests.py
  tests/www/invitations_views/test_company_accept.py
  tests/www/invitations_views/test_company_send.py
  tests/www/invitations_views/test_helpers.py
  tests/www/invitations_views/test_prescriber_organization.py
Due: ruff-format, ruff-check, djlint

Update privacy.html
  itou/templates/static/legal/privacy.html
Due: djlint

companies: add logs to move_company_data & allow its use in the admin
  itou/companies/admin.py
  itou/companies/admin_forms.py
  itou/companies/management/commands/move_company_data.py
  itou/companies/transfer.py
  itou/templates/admin/companies/change_company_form.html
  itou/templates/admin/companies/transfer_company.html
  itou/users/admin.py
  itou/users/admin_forms.py
  itou/utils/admin.py
  tests/companies/test_admin.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check, djlint

www.employee_record: Keep other params when redirecting
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check

www.employee_record: Allow multiple values for the `status` filter
  itou/templates/employee_record/includes/employee_record_filters/status.html
  itou/www/employee_record_views/forms.py
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check, djlint

employee_record: Refactor the reserved logic into the enum
  itou/employee_record/enums.py
  itou/www/employee_record_views/forms.py
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check

www.employee_record: Fix `job_seeker` filter's choices
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check

templates.employee_record: Sync the wording and add a badge for NEW
  itou/templates/employee_record/includes/_status.html
Due: djlint

www.employee_record: Bypass everything when searching by job seeker
  itou/templates/employee_record/list.html
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check, djlint

DO NOT USE DIRECTLY: Use the master version of build files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/git.yml
  .github/workflows/mkchangelog.yml
  .github/workflows/notify-slack.yml
  .github/workflows/require-labels.yml
  .github/workflows/review-app-creation.yml
  .github/workflows/review-app-removal.yml
  Makefile
  config/settings/base.py
  itou/files/management/commands/configure_bucket.py
  scripts/clever-deploy
  scripts/create-fast-machine.sh
  scripts/delete-bucket
  scripts/import-iae.sh
  scripts/mkchangelog
  scripts/restore_latest_backup.sh
Due: ruff-format, ruff-check

Add a /check-health endpoint
  config/settings/base.py
  itou/www/middleware.py
  tests/www/test_check_health.py
Due: ruff-format, ruff-check

www.employee_record: Change the list's defaults statuses
  itou/templates/approvals/list.html
  itou/templates/dashboard/includes/employer_employees_card.html
  itou/templates/employee_record/list.html
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check, djlint

fix: update icons in extension list
  itou/templates/approvals/prolongation_requests/list.html
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
Due: djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
