Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

feat: replace alert divs with slippers component_alert in includes partials
  itou/templates/includes/deactivate_member.html
  itou/templates/includes/demo_accounts.html
  itou/templates/includes/mon_recap_banner.html
  itou/templates/includes/update_admin.html
Due: djlint

feat: replace alert divs with slippers component_alert in geiq_assessment templates
  itou/templates/geiq_assessments_views/create.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
Due: djlint

feat: replace alert divs with slippers component_alert in itou_staff templates
  itou/templates/itou_staff_views/merge_users_confirm.html
Due: djlint

feat: replace alert divs with slippers component_alert in layout templates
  itou/templates/layout/base.html
Due: djlint

feat: replace alert divs with slippers component_alert in prescribers templates
  itou/templates/prescribers/edit_organization.html
  itou/templates/prescribers/list_accredited_organizations.html
Due: djlint

feat: replace alert divs with slippers component_alert in employee_record templates
  itou/templates/employee_record/includes/create_step_2.html
  itou/templates/employee_record/includes/create_step_4.html
  itou/templates/employee_record/includes/create_step_5.html
  itou/templates/employee_record/includes/list_header.html
  itou/templates/employee_record/includes/list_item.html
  itou/templates/employee_record/nir_already_used.html
  itou/templates/employee_record/summary.html
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_create.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employee_record_views/__snapshots__/test_summary.ambr
Due: djlint

feat: replace alert divs with slippers component_alert in stats templates
  itou/templates/stats/stats.html
Due: djlint

feat: replace alert divs with slippers component_alert in pro_connect, search and siae templates
  itou/templates/pro_connect/includes/button.html
  itou/templates/search/services/includes/results.html
  itou/templates/siae_evaluations/evaluated_siae_detail.html
  itou/templates/siae_evaluations/samples_selection.html
  itou/templates/siae_evaluations/siae_job_applications_list.html
  tests/www/__snapshots__/test_layout.ambr
  tests/www/login/__snapshots__/tests.ambr
  tests/www/nexus/__snapshots__/test_views.ambr
  tests/www/search_views/__snapshots__/test_services.ambr
Due: djlint

feat: replace alert divs with slippers component_alert in signup templates
  itou/templates/signup/company_select.html
  itou/templates/signup/employer.html
  itou/templates/signup/job_seeker_signup.html
  itou/templates/signup/job_seeker_signup_credentials.html
  itou/templates/signup/prescriber_check_already_exists.html
  itou/templates/signup/prescriber_check_pe_email.html
  itou/templates/signup/prescriber_choose_org.html
  itou/templates/signup/prescriber_pole_emploi_user.html
Due: djlint

users: only retrieve created job seekers in linked_job_seeker_ids
  itou/users/models.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

tests: Fix generation of `siret` in EmployeeRecordFactory
  tests/employee_record/factories.py
  tests/employee_record/test_models.py
Due: ruff-format, ruff-check

employee_record: Relax lookup of employee records in `for_asp_company()`
  itou/employee_record/models.py
  itou/templates/employee_record/missing_employee.html
  tests/employee_record/test_models.py
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employee_record_views/__snapshots__/test_missing_employee.ambr
  tests/www/employee_record_views/test_missing_employee.py
Due: ruff-format, ruff-check, djlint

tests: Rewrite tests of `employee_record_views:missing_employee` view as a test class
  tests/www/employee_record_views/__snapshots__/test_missing_employee.ambr
  tests/www/employee_record_views/test_missing_employee.py
Due: ruff-format, ruff-check

changelog: From 2026-03-23 to 2026-03-29
  CHANGELOG.md
Due: none

GEIQ feat: add allowance requested filter in offcanvas filter for contracts
  itou/templates/geiq_assessments_views/includes/assessment_contracts_filters/allowance_requested.html
  itou/templates/geiq_assessments_views/includes/assessment_contracts_filters/offcanvas.html
  itou/www/geiq_assessments_views/forms.py
  tests/www/geiq_assessments_views/test_views_for_geiq.py
Due: ruff-format, ruff-check, djlint

won't be merged - users: add a temporary management command to compare linked_job_seeker_ids and job seeker assignments
  itou/users/management/commands/tmp_test_equivalence_linked_job_seekers_jobseekerassignment.py
Due: ruff-format, ruff-check

fix: update link styles to remove text decoration in job description list-group templates
  itou/templates/companies/includes/_siae_jobdescription.html
  tests/www/companies_views/__snapshots__/test_card_views.ambr
Due: djlint

lint: Do not run djlint on collected static files
  pyproject.toml
Due: none

proconnect: Log error reason in ProConnect callback
  itou/openid_connect/pro_connect/views.py
Due: ruff-format, ruff-check

tests: Make ProConnect "id token" look more real
  tests/openid_connect/pro_connect/testing.py
  tests/openid_connect/pro_connect/tests.py
  tests/www/invitations_views/test_generic.py
  tests/www/signup/test_prescriber.py
Due: ruff-format, ruff-check

proconnect: Soft request MFA from ProConnect and log used authentication methods
  config/settings/base.py
  itou/openid_connect/pro_connect/constants.py
  itou/openid_connect/pro_connect/migrations/0003_proconnectauthentication.py
  itou/openid_connect/pro_connect/models.py
  itou/openid_connect/pro_connect/views.py
  tests/openid_connect/pro_connect/testing.py
  tests/openid_connect/pro_connect/tests.py
Due: ruff-format, ruff-check

api: Fix API tokens add pages in the admin
  itou/api/admin.py
Due: ruff-format, ruff-check

admin: add JobSeekerAssignments changelist in the admin
  itou/users/admin.py
  itou/users/management/commands/sync_group_and_perms.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
  tests/users/test_admin_views.py
Due: ruff-format, ruff-check

factories: better handle for_snapshot in job seeker assignments
  tests/users/factories.py
Due: ruff-format, ruff-check

GEIQ feat: add potential allowance filter in offcanvas filter for contracts
  itou/templates/geiq_assessments_views/includes/assessment_contracts_filters/offcanvas.html
  itou/templates/geiq_assessments_views/includes/assessment_contracts_filters/potential_allowance.html
  itou/www/geiq_assessments_views/forms.py
  tests/www/geiq_assessments_views/test_views_for_geiq.py
Due: ruff-format, ruff-check, djlint

search_views: Handle NUL bytes in employer search
  itou/utils/widgets.py
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check

config: Change DORA domain to avoid broken links or redirections
  config/settings/base.py
  itou/templates/apply/refusal_messages/not_mobile.txt
  tests/www/search_views/__snapshots__/test_services.ambr
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
