Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

apply: Add maze survey to job app list
  itou/templates/apply/list_for_siae.html
Due: djlint

changelog: From 2024-10-14 to 2024-10-20
  CHANGELOG.md
Due: none

tests: fix flaky test
  itou/www/apply/views/process_views.py
  itou/www/apply/views/submit_views.py
  itou/www/employees_views/views.py
Due: ruff-format, ruff-check

github: Make it possible to exclusively notify `#mep-c1` or `#mep-c2`
  .github/workflows/notify-slack.yml
Due: none

Hide employer IAE diagnosis from prescribers
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

tests.www.search: Remove unused variable
  tests/www/search/tests.py
Due: ruff-format, ruff-check

companies: Use a proper flag to make companies non-searchable
  itou/companies/admin.py
  itou/companies/management/commands/move_company_data.py
  itou/companies/migrations/0011_company_is_searchable.py
  itou/companies/models.py
  itou/www/search/views.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/siae_api/__snapshots__/tests.ambr
  tests/companies/test_management_commands.py
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_list.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_card_views.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/search/__snapshots__/tests.ambr
  tests/www/search/tests.py
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/signup/__snapshots__/test_siae.ambr
Due: ruff-format, ruff-check

tests.www.employee_record: Replace f-string by `.get(data=...)`
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check

www.employee_record: Redirect when `status` is missing or empty
  itou/www/employee_record_views/views.py
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check

employee_record: Stop displaying "hologram" as `NEW`
  itou/approvals/admin.py
  itou/employee_record/management/commands/employee_records_status.py
  itou/job_applications/models.py
  itou/templates/employee_record/includes/list_item.html
  itou/templates/employee_record/includes/list_results.html
  itou/templates/employee_record/list.html
  itou/www/employee_record_views/views.py
  tests/approvals/tests.py
  tests/employee_record/test_models.py
  tests/job_applications/test_eligibility.py
  tests/job_applications/tests.py
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check, djlint

templates.employee_record: Fix message for `_regularize_nir_button.html`
  itou/templates/employee_record/includes/_regularize_nir_button.html
  tests/www/employee_record_views/__snapshots__/test_list.ambr
Due: djlint

www.employee_record: Show the regularize NIR button on forbidden access
  itou/templates/employee_record/includes/_regularize_nir_button.html
  itou/templates/employee_record/includes/list_item.html
  itou/utils/perms/employee_record.py
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employee_record_views/test_list.py
Due: ruff-format, ruff-check, djlint

refactor(openid_connect): IdentityProvider enum serializes UserKind permissions
  itou/openid_connect/france_connect/models.py
  itou/openid_connect/inclusion_connect/models.py
  itou/openid_connect/models.py
  itou/openid_connect/pe_connect/models.py
  itou/users/enums.py
  tests/users/test_enums.py
Due: ruff-format, ruff-check

fix(UserFactory): for_snapshot implicates user.public_id
  tests/users/factories.py
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check

feat(parse_response_to_soup): remove_static_hash on input of type=image
  tests/utils/test.py
Due: ruff-format, ruff-check

feat(login): ExistingUserLogin view
  itou/openid_connect/inclusion_connect/models.py
  itou/openid_connect/pro_connect/models.py
  itou/templates/account/includes/login_inclusion_connect.html
  itou/templates/account/includes/login_pro_connect.html
  itou/templates/account/login_existing_user.html
  itou/templates/account/login_generic.html
  itou/users/enums.py
  itou/utils/perms/middleware.py
  itou/www/login/urls.py
  itou/www/login/views.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/login/tests.py
Due: ruff-format, ruff-check, djlint

refactor(UserKind): get_login_url
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/pe_connect/views.py
  itou/users/enums.py
Due: ruff-format, ruff-check

users: rename has_common_approval_in_waiting_period method
  itou/job_applications/models.py
  itou/templates/dashboard/includes/job_seeker_approval_card.html
  itou/users/models.py
  tests/users/test_models.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
Due: ruff-format, ruff-check, djlint

users: improve has_common_approval_in_waiting_period
  itou/users/models.py
  tests/users/test_models.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
Due: ruff-format, ruff-check

feat(OIDC): EmailInUseException modal response with redirection to existing login
  itou/openid_connect/errors.py
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/inclusion_connect/views.py
  itou/openid_connect/pe_connect/views.py
  itou/openid_connect/pro_connect/views.py
  itou/templates/utils/modal_includes/sso_email_conflict_registration_failure.html
  tests/openid_connect/france_connect/__snapshots__/tests.ambr
  tests/openid_connect/france_connect/tests.py
  tests/openid_connect/pe_connect/__snapshots__/tests.ambr
  tests/openid_connect/pe_connect/tests.py
  tests/openid_connect/pro_connect/__snapshots__/tests.ambr
  tests/openid_connect/pro_connect/tests.py
Due: ruff-format, ruff-check, djlint

apply: set `reset_url` to company or job description card
  itou/templates/apply/submit/application/resume.html
  itou/templates/apply/submit_step_check_job_seeker_nir.html
  itou/templates/apply/submit_step_job_seeker.html
  itou/templates/apply/submit_step_job_seeker_check_info.html
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

feat(rdvi): display appointments for job seekers
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/includes/list_card_body_jobseeker.html
  itou/templates/apply/process_details.html
  itou/www/apply/views/list_views.py
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_detail_rdv_insertion.ambr
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/__snapshots__/test_list_rdv_insertion.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_detail_rdv_insertion.py
  tests/www/apply/test_list_rdv_insertion.py
Due: ruff-format, ruff-check, djlint

fix(rdvi): update wording
  itou/templates/apply/includes/list_card_body_company.html
  itou/templates/apply/includes/list_card_body_jobseeker.html
  tests/www/apply/test_list_rdv_insertion.py
Due: ruff-format, ruff-check, djlint

employee_record: Simplify wording by redirecting to the help center
  itou/templates/employee_record/includes/list_results.html
  itou/templates/employee_record/includes/list_status_help.html
  itou/templates/employee_record/list.html
Due: djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
