Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

Rename switch{User,Structure}Dropdown
  itou/templates/layout/_structure_switcher_nav.html
  itou/templates/layout/_structure_switcher_offcanvas.html
Due: djlint

settings: add lock_ & statement_timeout to DB configuration
  config/settings/base.py
Due: ruff-format, ruff-check

siae_evaluations: Prevent sanctions on ACCEPTED evaluations
  itou/www/siae_evaluations_views/views.py
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/test_institutions_views.py
Due: ruff-format, ruff-check

tests.apply: Fix incomplete test
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check

admin: give access to analytics data
  itou/users/management/commands/sync_group_and_perms.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
Due: ruff-format, ruff-check

companies: Disable job description without recent update
  clevercloud/cron.json
  itou/companies/management/commands/deactivate_old_job_descriptions.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check

apply: Fix typos in batch actions tests
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_batch_views.py
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check

employee_records: Remove consistency check from address validation
  itou/www/employee_record_views/forms.py
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

tests.employee_records_views: Remove unused reference in test_address_updated_by_user
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

tests.employee_records_views: Add copy() in test_address_updated_by_user
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

tests.employee_records_views: Remove duplicated assertion
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

eligibility: Do not retry certifying deleted diagnosis
  itou/eligibility/tasks.py
  tests/eligibility/test_tasks.py
Due: ruff-format, ruff-check

tests: add missing variable when rendering template
  tests/www/employee_record_views/test_template.py
Due: ruff-format, ruff-check

dashboard: add missing variable to include
  itou/templates/dashboard/dashboard.html
Due: djlint

geiq_assessments: always provide conflicting_antennas variable
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check

geiq_assessments: always provide error variable
  itou/templates/geiq_assessments_views/assessment_details_for_geiq.html
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check, djlint

c-navinfo: properly handle optional parameters
  itou/templates/companies/job_description_card.html
  itou/templates/components/c-navinfo.html
Due: djlint

c-title: properly handle optional parameters
  itou/templates/components/c-title.html
Due: djlint

geiq_assessments: always provide error & request to includes
  itou/templates/geiq_assessments_views/assessment_details_for_geiq.html
  itou/templates/geiq_assessments_views/includes/structure_financial_assessment_box.html
  itou/templates/geiq_assessments_views/includes/summary_document_box.html
  itou/www/geiq_assessments_views/views.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
Due: ruff-format, ruff-check, djlint

template: remove undefined c_title__secondary param
  itou/templates/apply/process_base.html
Due: djlint

tests: improve geiq_assessments factories
  tests/geiq_assessments/factories.py
Due: ruff-format, ruff-check

admin: Allow NIR in searches to contain A or B
  itou/approvals/admin.py
  itou/users/admin.py
  itou/users/utils.py
  tests/approvals/test_admin.py
Due: ruff-format, ruff-check

tests: invalid template variable check was disabled by slippers addition
  pyproject.toml
  tests/conftest.py
  tests/utils/tests.py
Due: ruff-format, ruff-check

apply: provide itou_help_center_url to includes
  itou/templates/apply/includes/eligibility_diagnosis.html
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/job_seeker_eligibility_card.html
  itou/templates/includes/valid_eligibility_diagnosis_and_criteria.html
Due: djlint

dashboard: handle case where eligibility_diagnosis is None
  itou/templates/dashboard/includes/job_seeker_eligibility_card.html
Due: djlint
