Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

chore: Modifications necessary to set up the project on an Apple Silicon machine
  README.md
  config/settings/test.py
  docs/developing.md
Due: ruff-format, ruff-check

users: only retrieve created job seekers in linked_job_seeker_ids
  itou/users/models.py
  tests/users/test_models.py
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check

approval: use assigned_job_seeker_ids to check permissions
  itou/approvals/perms.py
  tests/approvals/test_perms.py
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/test_approval_box.py
  tests/www/approvals_views/test_detail.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check

job_seekers_views: use assigned_job_seeker_ids in the list view
  itou/www/job_seekers_views/views.py
  tests/www/apply/test_submit_from_job_seekers_list.py
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

users: add assigned_job_seeker_ids
  itou/users/models.py
  tests/eligibility/factories.py
  tests/users/factories.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

dashboard: use assigned_job_seeker_ids for the stalled job seekers box
  itou/www/dashboard/views.py
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check

job_seekers_views: use assigned_job_seeker_ids in JobSeekerBaseView
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

users: remove now deprecated linked_job_seeker_ids
  itou/users/models.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

apply: Remove job application state badge when accepting application
  itou/templates/apply/process_accept_base.html
  itou/templates/apply/process_eligibility.html
  tests/www/apply/test_accept_views.py
Due: ruff-format, ruff-check, djlint

tech: exclude requirements/ from CODEOWNERS to reduce noise on Dependabot PRs
  .github/CODEOWNERS
Due: none

fix: improve accessibility declaration content
  itou/templates/static/accessibility.html
  tests/www/test_static_views.py
Due: ruff-format, ruff-check, djlint

tests: Add more tests of birth place serialization to ASP
  itou/asp/fixtures/test_asp_INSEE_communes_factory.json
  itou/asp/fixtures/test_asp_INSEE_countries_factory.json
  tests/api/employee_record_api/test_serializers.py
  tests/asp/__snapshots__/test_sync_communes.ambr
  tests/asp/test_communes.py
  tests/employee_record/test_serializers.py
  tests/www/signup/__snapshots__/test_job_seeker.ambr
Due: ruff-format, ruff-check

employee_record: Change serialization of birth place for ASP
  itou/api/employee_record_api/serializers.py
  itou/asp/constants.py
  itou/asp/typing.py
  itou/asp/utils.py
  itou/employee_record/serializers.py
  itou/employee_record/typing.py
  tests/api/employee_record_api/test_serializers.py
  tests/employee_record/test_serializers.py
Due: ruff-format, ruff-check

tests: Update default PrescriberOrganization authorized status
  tests/approvals/test_notify_pole_emploi.py
  tests/archive/tests_management_command.py
  tests/gps/test_views.py
  tests/metabase/management/test_populate_metabase_emplois.py
  tests/prescribers/factories.py
  tests/prescribers/tests.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/itou_staff_views/tests.py
  tests/www/prescribers_views/__snapshots__/test_members.ambr
Due: ruff-format, ruff-check

tests: Refactor tests
  tests/prescribers/tests.py
Due: ruff-format, ruff-check

tests: Fix flaky test
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

dependabot: Set cooldown period
  .github/dependabot.yml
Due: none

fix: add wrapper class to prehiring guidance days and planned training hours fields
  itou/templates/apply/includes/geiq/geiq_contract_type_and_options.html
  itou/templates/apply/includes/geiq/geiq_qualification_fields.html
  tests/www/apply/__snapshots__/test_accept_views.ambr
Due: djlint

feat: display previous applications list to prevent duplicates
  itou/templates/apply/submit_step_check_prev_applications.html
  itou/www/apply/views/hire_views.py
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/test_hire_views.py
Due: ruff-format, ruff-check, djlint

refactor: remove CheckPreviousApplicationsBaseMixin
  itou/www/apply/views/hire_views.py
  itou/www/apply/views/submit_views.py
  tests/www/apply/__snapshots__/test_hire_views.ambr
Due: ruff-format, ruff-check

style: dynamic possessive pronoun based on process context
  itou/templates/apply/submit_step_check_prev_applications.html
  tests/www/apply/test_hire_views.py
Due: ruff-format, ruff-check, djlint

test: add query snapshot baseline for CheckPreviousApplicationsForHireView
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/test_hire_views.py
Due: ruff-format, ruff-check
