Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

job_seeker_views: reduce query count
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check

tests: add sql queries snapshot for job_seeker's detail view
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check

approvals: take advantage of suspension_set when available
  itou/approvals/models.py
  itou/templates/approvals/includes/box.html
  tests/approvals/tests.py
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
Due: ruff-format, ruff-check, djlint

tests: add extra application to test
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check

tests: switch list prescription test to assertSnapshotQueries
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check

job applications: hide job seekers' name from filter for orienteur
  itou/www/apply/forms.py
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check

github/clever: wait for the direct host env var to be defined
  .github/workflows/review-app-creation.yml
Due: none

feat: update theme to v2.2.6
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

users: Improve has_data_changed
  itou/users/models.py
Due: ruff-format, ruff-check

apply: Fix redirect after internal transfer
  itou/templates/apply/process_internal_transfer.html
Due: djlint

apply: Improve redirect after internal transfer
  itou/www/apply/views/process_views.py
  tests/www/apply/test_process_external_transfer.py
Due: ruff-format, ruff-check

fix: remove "action" for all table
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/list_of_available_exports.html
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/companies/job_description_list.html
  itou/templates/includes/members.html
Due: djlint

fix: add <caption> for all table
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/includes/invitation_requests.html
  itou/templates/dashboard/api_token.html
  itou/templates/siae_evaluations/sanctions_helper.html
  itou/templates/static/legal/privacy.html
  itou/templates/status/index.html
Due: djlint

fix: add .table-responsive for all table
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/includes/invitation_requests.html
  itou/templates/apply/list_of_available_exports.html
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/companies/job_description_list.html
  itou/templates/companies/show_financial_annexes.html
  itou/templates/dashboard/api_token.html
  itou/templates/includes/members.html
  itou/templates/invitations_views/includes/pending_invitations.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/siae_evaluations/default_calendar_html.html
  itou/templates/siae_evaluations/sanctions_helper.html
  itou/templates/static/legal/privacy.html
  itou/templates/status/index.html
Due: djlint

fix: add scope=col for all table
  itou/templates/static/legal/privacy.html
Due: djlint

fix: add .table-hover and .btn-link for all table
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/includes/invitation_requests.html
  itou/templates/apply/list_of_available_exports.html
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/companies/job_description_list.html
  itou/templates/companies/show_financial_annexes.html
  itou/templates/dashboard/api_token.html
  itou/templates/geiq/employee_contract_list.html
  itou/templates/geiq/employee_exit_list.html
  itou/templates/geiq/employee_job_application_list.html
  itou/templates/geiq/employee_personal_information_list.html
  itou/templates/geiq/employee_support_list.html
  itou/templates/geiq/geiq_list.html
  itou/templates/includes/members.html
  itou/templates/invitations_views/includes/pending_invitations.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/prescribers/list_accredited_organizations.html
  itou/templates/siae_evaluations/default_calendar_html.html
  itou/templates/siae_evaluations/sanctions_helper.html
  itou/templates/static/legal/privacy.html
  itou/templates/status/index.html
Due: djlint

fix: tests
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/list_of_available_exports.html
  itou/templates/companies/job_description_list.html
  tests/www/apply/__snapshots__/test_detail_rdv_insertion.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/test_prolongation_requests.py
  tests/www/geiq_views/__snapshots__/tests.ambr
Due: ruff-format, ruff-check, djlint

feat: update theme to v2.2.6
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/test_prolongation_requests.py
Due: ruff-format, ruff-check

users: add db_index to JobSeekerProfile.birthdate
  itou/users/migrations/0014_alter_jobseekerprofile_birthdate__add_index.py
  itou/users/models.py
Due: ruff-format, ruff-check

tests: improve ProlongationFactory to create consistent request
  tests/approvals/factories.py
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

metabase: Remove `insee_codes_vs_post_codes`
  clevercloud/crons/populate_metabase_emplois.sh
  itou/metabase/management/commands/populate_metabase_emplois.py
Due: ruff-format, ruff-check

metabase: Clean unneeded or duplicate unversioned tables
  itou/metabase/db.py
Due: ruff-format, ruff-check

metabase.populate_metabase.emplois: Use `insee_city` if available
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/utils.py
Due: ruff-format, ruff-check

employee_record.admin: Fix `EmployeeRecord()` deletion
  itou/employee_record/admin.py
  tests/employee_record/test_admin.py
Due: ruff-format, ruff-check

changelog: From 2024-09-30 to 2024-10-06
  CHANGELOG.md
Due: none

fix: .c-box--results btn posiiton
  itou/templates/employee_record/includes/list_item.html
  tests/www/employee_record_views/__snapshots__/test_list.ambr
Due: djlint

www.apply: take advantage of jobseeker_valid_eligibility_diagnosis annotation
  itou/job_applications/models.py
  itou/templates/apply/includes/list_card_body_company.html
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
Due: ruff-format, ruff-check, djlint

pro_connect: Add a new SSO
  CHANGELOG_breaking_changes.md
  config/settings/base.py
  config/urls.py
  itou/openid_connect/pro_connect/__init__.py
  itou/openid_connect/pro_connect/apps.py
  itou/openid_connect/pro_connect/constants.py
  itou/openid_connect/pro_connect/enums.py
  itou/openid_connect/pro_connect/migrations/0001_initial.py
  itou/openid_connect/pro_connect/migrations/__init__.py
  itou/openid_connect/pro_connect/models.py
  itou/openid_connect/pro_connect/urls.py
  itou/openid_connect/pro_connect/views.py
  itou/static/css/itou.css
  itou/static/img/illustration-pc.svg
  itou/static/img/pro_connect_bouton.svg
  itou/static/img/pro_connect_bouton_hover.svg
  itou/templates/account/activate_inclusion_connect_account.html
  itou/templates/account/login_generic.html
  itou/templates/dashboard/edit_user_info.html
  itou/templates/inclusion_connect/includes/description.html
  itou/users/adapter.py
  itou/users/enums.py
  itou/users/migrations/0001_initial.py
  itou/utils/perms/middleware.py
  itou/www/dashboard/views.py
  itou/www/invitations_views/views.py
  itou/www/login/views.py
  itou/www/signup/views.py
  tests/openid_connect/pro_connect/__init__.py
  tests/openid_connect/pro_connect/test.py
  tests/openid_connect/pro_connect/tests.py
  tests/openid_connect/test.py
  tests/www/dashboard/test_activate_sso_account.py
  tests/www/dashboard/test_edit_user_info.py
  tests/www/invitations_views/test_company_accept.py
  tests/www/invitations_views/test_prescriber_organization.py
  tests/www/login/tests.py
  tests/www/signup/test_prescriber.py
  tests/www/signup/test_siae.py
  tests/www/welcoming_tour/tests.py
Due: ruff-format, ruff-check, djlint
