Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

add context manager to BrevoClient
  itou/utils/brevo.py
  tests/utils/test_brevo.py
Due: ruff-format, ruff-check

move BrevoClient to itou.utils for later reuse
  itou/users/management/commands/send_users_to_brevo.py
  itou/utils/brevo.py
  itou/utils/enums.py
  tests/users/test_management_commands.py
  tests/utils/test_brevo.py
Due: ruff-format, ruff-check

call delete_contacts function to delete from Brevo when archiving users
  itou/archive/management/commands/notify_archive_users.py
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

add delete_contact to BrevoClient, using huey task
  itou/utils/brevo.py
  tests/utils/__snapshots__/test_brevo.ambr
  tests/utils/test_brevo.py
Due: ruff-format, ruff-check

users: add a link to delete account in job seeker welcome email
  itou/templates/account/email/email_jobseeker_created_by_third_party_body.txt
  tests/users/__snapshots__/test_models.ambr
Due: none

Add a context manager to disable logging on precise parts of code
  itou/utils/logging.py
Due: ruff-format, ruff-check

API Particulier: don't log HTTPX requests
  itou/utils/apis/api_particulier.py
  tests/utils/apis/test_api_particulier.py
Due: ruff-format, ruff-check

login: add rate limit on job seeker prelogin
  itou/www/login/views.py
  tests/www/login/tests.py
Due: ruff-format, ruff-check

tests: add test for rate limits on login forms
  tests/www/login/tests.py
Due: ruff-format, ruff-check

templates: add template for 429 status code
  itou/templates/429.html
  tests/test_consistency.py
Due: ruff-format, ruff-check, djlint

Revert "Add temporary banner"
  itou/templates/layout/base.html
Due: djlint

rename models in archive app
  itou/archive/admin.py
  itou/archive/management/commands/notify_archive_users.py
  itou/archive/migrations/0004_rename_archivedapplication_anonymizedapplication_and_more.py
  itou/archive/models.py
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

Add explicit verbose names in archive app
  itou/archive/apps.py
  itou/archive/migrations/0005_alter_anonymizedapplication_options_and_more.py
  itou/archive/models.py
Due: ruff-format, ruff-check

rename archived_at field in Anonymized models
  itou/archive/admin.py
  itou/archive/migrations/0005_alter_anonymizedapplication_options_and_more.py
  itou/archive/models.py
Due: ruff-format, ruff-check

tests: check API particuliers calls logs
  tests/utils/apis/test_api_particulier.py
Due: ruff-format, ruff-check

logging: redact parameters of API Particulier calls
  config/settings/base.py
  itou/utils/logging.py
  tests/utils/apis/test_api_particulier.py
Due: ruff-format, ruff-check

CommonProlongation declared_by coherence
  itou/approvals/models.py
  tests/approvals/test_prolongation_requests.py
  tests/approvals/tests.py
Due: ruff-format, ruff-check

geiq_assessments_views: stabilize flaky test
  itou/www/geiq_assessments_views/views.py
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/test_views_for_geiq.py
Due: ruff-format, ruff-check

dashboard: fix wording in expired approval box
  itou/templates/approvals/includes/box.html
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check, djlint

geiq_assessments: fix contract duration
  itou/geiq_assessments/models.py
  tests/geiq_assessments/test_models.py
Due: ruff-format, ruff-check

geiq_assessments: tweak wording
  itou/templates/geiq_assessments_views/assessment_details_for_institution.html
  itou/templates/geiq_assessments_views/assessment_kpi.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
Due: djlint

geiq_assessments_views: rename button
  itou/templates/geiq_assessments_views/assessment_details_for_institution.html
  itou/templates/geiq_assessments_views/includes/contracts_box.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_geiq.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
Due: djlint

Prepare handle_nav_exception for reuse
  itou/utils/errors.py
  itou/utils/templatetags/nav.py
Due: ruff-format, ruff-check

Use a template tag for the structure switcher
  itou/templates/layout/_header_authenticated.html
  itou/templates/layout/_structure_switcher.html
  itou/templates/layout/_structure_switcher_dropdown_menu.html
  itou/utils/templatetags/structure_switcher.py
Due: ruff-format, ruff-check, djlint

remove unconsistent comment in test
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

add a name to snapshot in test_details_for_company_with_transition_logs
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

add copy_public_id template
  itou/templates/includes/job_seekers/copy_public_id.html
Due: djlint

copy-paste jobseeker public_id in job_seekers detail view
  itou/templates/job_seekers_views/details.html
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint

copy-paste jobseeker public_id in apply views
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

copy-paste jobseeker public_id in employees detail view
  itou/templates/employees/detail.html
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/employees_views/test_detail.py
Due: ruff-format, ruff-check, djlint

Fix snapshots with python 3.13.4
  .python-version
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
Due: none

geiq_assessments: always show decision access button for institution
  itou/templates/geiq_assessments_views/assessment_details_for_institution.html
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
Due: djlint

notify_archive_users: mark resume as deleted when anomizing
  itou/archive/management/commands/notify_archive_users.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
