Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

insertion_views: add beneficiary filter to orientations list view
  itou/templates/insertion/includes/orientations/filters/offcanvas.html
  itou/templates/insertion/orientations/list.html
  itou/www/insertion_views/forms.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion_views: add senders filter to orientations list view
  itou/templates/insertion/includes/orientations/filters/offcanvas_body.html
  itou/templates/insertion/includes/orientations/filters/senders.html
  itou/templates/insertion/orientations/list.html
  itou/www/insertion_views/forms.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion_views: add basic table view for the orientations list
  itou/templates/insertion/includes/orientations/list_counter.html
  itou/templates/insertion/includes/orientations/list_orientations.html
  itou/templates/insertion/orientations/list.html
  itou/www/insertion_views/urls.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

insertion_views: check_request with can_orient_towards_insertion_service in orientation details view
  itou/www/insertion_views/views.py
Due: ruff-format, ruff-check

apply: extract _add_user_can_view_personal_information function to users.perms
  itou/users/perms.py
  itou/www/apply/views/list_views.py
Due: ruff-format, ruff-check

tests: group tests about registering mobilization events
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

insertion_views: add status filter to orientations list view
  itou/templates/insertion/includes/orientations/filters/list_reset_filters.html
  itou/templates/insertion/includes/orientations/filters/offcanvas.html
  itou/templates/insertion/includes/orientations/filters/offcanvas_body.html
  itou/templates/insertion/includes/orientations/filters/offcanvas_footer.html
  itou/templates/insertion/includes/orientations/filters/status.html
  itou/templates/insertion/includes/orientations/filters/top_filters.html
  itou/templates/insertion/includes/orientations/list_counter.html
  itou/templates/insertion/includes/orientations/list_orientations.html
  itou/templates/insertion/orientations/list.html
  itou/www/insertion_views/forms.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

users: avoid the use of "object" as a variable name
  itou/users/perms.py
Due: ruff-format, ruff-check

insertion_views: add structures filter to orientations list view
  itou/templates/insertion/includes/orientations/filters/offcanvas_body.html
  itou/templates/insertion/includes/orientations/filters/structures.html
  itou/templates/insertion/includes/orientations/filters/top_filters.html
  itou/www/insertion_views/forms.py
  itou/www/insertion_views/views.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check, djlint

layout: add Orientations to the menu
  itou/utils/templatetags/nav.py
  tests/www/__snapshots__/test_layout.ambr
Due: ruff-format, ruff-check

insertion: set updated_at when updating orientation status
  itou/insertion/management/commands/sync_orientation_statuses.py
  tests/insertion/test_sync_orientation_statuses.py
Due: ruff-format, ruff-check

insertion: set comments in english
  itou/insertion/management/commands/sync_orientation_statuses.py
Due: ruff-format, ruff-check

David's feedbacks
  itou/templates/approvals/base_details.html
  itou/templates/employees/detail.html
  itou/templates/utils/templatetags/approval_box.html
  itou/utils/templatetags/approvals.py
Due: ruff-format, ruff-check, djlint

otp: Relax conditions that allow internal OTP enrollment
  itou/otp/utils.py
Due: ruff-format, ruff-check

add new fixtures to test combination of cases
  itou/fixtures/django/approvals__suspension.json
  itou/fixtures/django/companies__contract.json
  itou/fixtures/django/job_applications__jobapplication.json
Due: none

[DONOTREVIEW] fix review app name
  .github/workflows/review-app-creation.yml
Due: none

disable the "close pass" button if a closing is underway
  itou/approvals/utils.py
Due: ruff-format, ruff-check

pro_connect: Log when allowlisted identity provider sends `amr` claim
  itou/openid_connect/pro_connect/views.py
Due: ruff-format, ruff-check

pro_connect: Log when identity provider starts implementing MFA
  itou/openid_connect/pro_connect/views.py
Due: ruff-format, ruff-check

companies: Remove custom workaround in company import command
  itou/companies/management/commands/_import_siae/siae.py
Due: ruff-format, ruff-check

feat(admin): indicate whether evaluated criterion is certified
  itou/siae_evaluations/admin.py
Due: ruff-format, ruff-check

fix(UI): WIP handle certified criteria
  itou/templates/eligibility/includes/iae/criteria_input.html
  itou/templates/eligibility/includes/iae/form.html
  itou/templates/siae_evaluations/evaluated_siae_detail.html
  itou/templates/siae_evaluations/includes/criteria_form.html
  itou/www/siae_evaluations_views/forms.py
  itou/www/siae_evaluations_views/views.py
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: ruff-format, ruff-check, djlint

fix: enforce IAE eligibility rule also for level 2 criteria when evaluating job application state
  itou/siae_evaluations/models.py
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/siae_evaluations/test_models.py
Due: ruff-format, ruff-check

perf: prefetch administrative_criteria
  itou/siae_evaluations/admin.py
  itou/siae_evaluations/models.py
  tests/siae_evaluations/test_admin.py
Due: ruff-format, ruff-check

fix: prevent proof upload for certified criteria
  itou/siae_evaluations/models.py
Due: ruff-format, ruff-check

fix(tests): tests/factories now use fixed level 1 criterion
  tests/siae_evaluations/factories.py
  tests/siae_evaluations/test_admin.py
  tests/siae_evaluations/test_emails.py
  tests/siae_evaluations/test_models.py
  tests/www/siae_evaluations_views/test_institutions_views.py
Due: ruff-format, ruff-check

perf: reduce number of calls to should_select_criteria in template
  itou/templates/siae_evaluations/includes/list_item.html
  itou/templates/siae_evaluations/siae_job_applications_list.html
Due: djlint

fix(UI): do not show certified criteria to siae if the job application is still pending (i.e. only the button `Sélectionner les critères`)
  itou/templates/siae_evaluations/includes/list_item.html
  itou/templates/siae_evaluations/siae_job_applications_list.html
Due: djlint

job_seekers_views: Refactor last_advisor
  itou/gps/models.py
  itou/job_applications/models.py
  itou/templates/job_seekers_views/includes/last_known_advisor.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/users/models.py
  itou/www/apply/views/process_views.py
  itou/www/employees_views/views.py
  itou/www/job_seekers_views/views.py
  tests/job_applications/tests.py
  tests/users/test_models.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_assign_oneself_as_advisor.py
  tests/www/job_seekers_views/test_create_or_update.py
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

organizations: Add member kind display property
  itou/common_apps/organizations/models.py
  tests/common_apps/organizations/__snapshots__/tests.ambr
  tests/common_apps/organizations/tests.py
Due: ruff-format, ruff-check

job_seeker_views: Remove unused template argument
  itou/templates/job_seekers_views/contracts.html
Due: djlint

job_seeker_views: Split JobSeekerDetailView
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check

job_seeker_views: Always display advisor contact info
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/employees/detail.html
  itou/templates/job_seekers_views/details.html
  itou/templates/job_seekers_views/includes/last_known_advisor.html
  itou/utils/perms/utils.py
  itou/www/apply/views/process_views.py
  itou/www/employees_views/views.py
  itou/www/job_seekers_views/views.py
  tests/utils/perms/tests.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

job_seeker_views: Split advisor info templates
  itou/templates/job_seekers_views/includes/advisor_email.html
  itou/templates/job_seekers_views/includes/advisor_phone.html
  itou/templates/job_seekers_views/includes/last_known_advisor.html
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check, djlint

job_seekers_views: Change display_advisor view behaviour
  itou/templates/job_seekers_views/includes/advisor_email.html
  itou/templates/job_seekers_views/includes/advisor_phone.html
  itou/templates/job_seekers_views/includes/display_contact_info.html
  itou/templates/job_seekers_views/includes/last_known_advisor.html
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/test_details.py
Due: ruff-format, ruff-check, djlint

users: Add new fields to JobSeekerAssignment
  itou/users/enums.py
  itou/users/migrations/0057_jobseekerassignment_end_reason_and_more.py
  itou/users/migrations/0058_fill_jobseeker_assignments_from_gps.py
  itou/users/models.py
  itou/users/utils.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/users/__snapshots__/test_models.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_process_comments.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
Due: ruff-format, ruff-check

WIP- users: Add display mode helper on JobSeekerAssignment
  itou/users/enums.py
  itou/users/models.py
  tests/users/factories.py
Due: ruff-format, ruff-check
