Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djlint

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

Fix flakiness in test_content_with_selected_criteria
  tests/www/siae_evaluations_views/test_siaes_views.py
Due: black, ruff

Delete make deploy_prod
  CHANGELOG_breaking_changes.md
  Makefile
Due: none

Fix an open-redirect vulnerability in GEIQ eligibility criteria views
  itou/www/apply/views/common.py
Due: black, ruff

Fix an open-redirect in application transfer view
  itou/www/apply/views/process_views.py
Due: black, ruff

Use safer textContent over innerHTML
  itou/static/js/siae_evaluations_sample_selection.js
Due: none

Filter job seeker job applications with HTMX
  itou/static/js/job_applications_filters.js
  itou/templates/apply/includes/list_job_applications.html
  itou/templates/apply/list_for_job_seeker.html
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list.ambr
  tests/www/apply/test_list.py
Due: black, ruff, djlint

Remove apply buttons on filters views
  itou/static/js/approvals_filters.js
  itou/static/js/job_applications_filters.js
  itou/templates/apply/list_for_job_seeker.html
  itou/templates/apply/list_for_prescriber.html
  itou/templates/apply/list_for_siae.html
  itou/templates/approvals/list.html
  tests/www/apply/__snapshots__/test_list.ambr
Due: djlint

Stabilize test_populate_job_seekers
  tests/metabase/management/test_populate_metabase_emplois.py
Due: black, ruff

Remove anonymous read access to prefixes other than resume/
  itou/files/management/commands/configure_bucket.py
  tests/files/tests.py
Due: black, ruff

Better PR template
  .github/pull_request_template.md
Due: none

Update home page message
  itou/templates/search/siaes_search_home.html
Due: djlint

Update wording siaes_search_home.html
  itou/templates/search/siaes_search_home.html
Due: djlint

Update physical address on accessibility.html
  itou/templates/static/accessibility.html
Due: djlint

Verify email body in test_create_user_prescriber_with_authorized_org_of_known_kind
  tests/www/signup/test_prescriber.py
Due: black, ruff

Add PrescriberOrganization kind in authorization verification email
  itou/templates/prescribers/email/must_validate_prescriber_organization_email_body.txt
  tests/www/signup/test_prescriber.py
Due: black, ruff

import_siae: Use shutil.unpack_archive
  itou/companies/management/commands/_import_siae/__init__.py
  itou/companies/management/commands/_import_siae/utils.py
Due: black, ruff

import_siae: Simplify CSV file line count
  itou/companies/management/commands/_import_siae/utils.py
Due: black, ruff

Teach _import_siae to deal with 7zip file
  itou/companies/management/commands/_import_siae/__init__.py
  itou/companies/management/commands/_import_siae/utils.py
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: black, ruff

requirements: Remove unused dependency for MacOS
  Makefile
  requirements/dev-mac.txt
Due: none

Apply for company from companies search results
  itou/templates/companies/includes/_card_siae.html
  itou/templates/search/siaes_search_results.html
Due: djlint

feat(notifications): add basic notification handling
  config/settings/base.py
  itou/communications/__init__.py
  itou/communications/apps.py
  itou/communications/dispatch/__init__.py
  itou/communications/dispatch/base.py
  itou/communications/dispatch/email.py
  itou/communications/dispatch/utils.py
  itou/communications/migrations/0001_initial.py
  itou/communications/migrations/__init__.py
  itou/communications/models.py
  itou/companies/models.py
  itou/prescribers/management/commands/merge_organizations.py
  itou/prescribers/models.py
  itou/utils/admin.py
  itou/utils/emails.py
  tests/communications/__init__.py
  tests/communications/test_dispatch.py
  tests/communications/test_models.py
  tests/communications/test_registry.py
  tests/communications/utils.py
  tests/companies/test_admin.py
  tests/users/factories.py
  tests/users/test_admin.py
Due: black, ruff

feat(notifications): implement some notifications
  itou/approvals/models.py
  itou/approvals/notifications.py
  itou/common_apps/notifications/base_class.py
  itou/communications/__init__.py
  itou/invitations/models.py
  itou/invitations/notifications.py
  itou/job_applications/models.py
  itou/job_applications/notifications.py
  itou/templates/apply/email/new_for_employer_body.txt
  itou/templates/apply/email/new_for_employer_subject.txt
  itou/templates/apply/email/transfer_source_employer_body.txt
  itou/templates/apply/email/transfer_source_employer_subject.txt
  itou/www/apply/views/submit_views.py
  tests/approvals/test_notifications.py
  tests/communications/test_models.py
  tests/invitations/tests.py
  tests/job_applications/test_transfer.py
  tests/job_applications/tests.py
Due: black, ruff

feat(notifications): add user notification settings interface
  itou/approvals/notifications.py
  itou/communications/dispatch/__init__.py
  itou/communications/dispatch/base.py
  itou/communications/dispatch/utils.py
  itou/communications/models.py
  itou/invitations/notifications.py
  itou/job_applications/notifications.py
  itou/static/css/itou-admin.css
  itou/static/js/notifications_center.js
  itou/templates/dashboard/edit_user_notifications.html
  itou/templates/layout/_header_nav_primary_items.html
  itou/users/admin.py
  itou/utils/templatetags/theme_inclusion.py
  itou/www/dashboard/forms.py
  itou/www/dashboard/views.py
  tests/communications/test_dispatch.py
  tests/job_applications/tests.py
  tests/users/test_admin_views.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/dashboard/tests.py
Due: black, ruff, djlint

Drop JobSeekerProfile.previous_employer_kind
  itou/fixtures/django/07_jobseeker_profile.json
  itou/users/migrations/0002_remove_jobseekerprofile_previous_employer_kind.py
  itou/users/models.py
  tests/users/test_models.py
Due: black, ruff

Remove remaining references to master_clever
  .github/workflows/ci.yml
  scripts/create-fast-machine.sh
Due: none

WIP - users_views
  config/urls.py
  itou/templates/dashboard/includes/siae_employees_card.html
  itou/templates/users/details.html
  itou/templates/users/includes/list_card.html
  itou/templates/users/list.html
  itou/www/users_views/__init__.py
  itou/www/users_views/urls.py
  itou/www/users_views/views.py
Due: black, ruff, djlint

Show a Tally for my job seekers experiment
  itou/templates/dashboard/dashboard.html
Due: djlint

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
