Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

siae_whitelist
  config/settings/base.py
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/dashboard/views.py
  itou/www/stats/urls.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check, djlint

WIP
  config/settings/base.py
  itou/users/management/commands/certify_brsa_criterion.py
Due: ruff-format, ruff-check

apply: block hiring in more than 6 months
  itou/job_applications/models.py
  itou/www/apply/forms.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

approvals: Improve remainder display
  itou/approvals/models.py
  tests/approvals/tests.py
  tests/www/approvals_views/__snapshots__/test_includes.ambr
  tests/www/approvals_views/test_list.py
Due: ruff-format, ruff-check

siae_evaluations: send freeze notification when freeze happens
  itou/siae_evaluations/management/commands/evaluation_campaign_notify.py
  itou/siae_evaluations/models.py
  tests/siae_evaluations/test_admin.py
  tests/siae_evaluations/test_management_commands.py
  tests/siae_evaluations/test_models.py
Due: ruff-format, ruff-check

stats: Increase (again) token duration to improve UX
  itou/utils/apis/metabase.py
Due: ruff-format, ruff-check

www.dashboard: Remove expired webinar banners
  itou/templates/dashboard/dashboard.html
  itou/www/dashboard/views.py
Due: ruff-format, ruff-check, djlint

www.autocomplete: remove legacy support
  itou/www/autocomplete/views.py
  tests/www/autocomplete/tests.py
Due: ruff-format, ruff-check

autocomplete: drop now unused select2 query parameter
  itou/www/companies_views/forms.py
  itou/www/employee_record_views/forms.py
  itou/www/gps/forms.py
  itou/www/search/forms.py
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/employee_record_views/__snapshots__/test_create.ambr
Due: ruff-format, ruff-check

changelog: From 2024-07-15 to 2024-07-21
  CHANGELOG.md
Due: none

apply: remove temporary support for job_seeker_pk in urls
  itou/www/apply/urls.py
  itou/www/apply/views/submit_views.py
  itou/www/apply/views/utils.py
  itou/www/dashboard/urls.py
  itou/www/dashboard/views.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

common_apps: Better help text on job seeker nir update form
  itou/common_apps/nir/forms.py
  tests/www/apply/test_process.py
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_info.py
Due: ruff-format, ruff-check

metabase : new column to job applications
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/job_applications.py
  itou/utils/apis/metabase.py
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

new dashboard tracking on matomo
  itou/metabase/management/commands/populate_metabase_matomo.py
  tests/metabase/management/__snapshots__/test_populate_metabase_matomo.ambr
  tests/metabase/management/test_populate_metabase_matomo.py
Due: ruff-format, ruff-check

www.dashboard: Remove redundant conditions for stats widget
  itou/templates/dashboard/dashboard.html
Due: djlint

www.dashboard: Only show the "Statistiques" tab to the appropriate users
  itou/templates/dashboard/dashboard.html
Due: djlint

www.dashboard: Show a message when users doesn't have any private TB
  itou/templates/dashboard/includes/stats.html
  itou/www/dashboard/views.py
Due: ruff-format, ruff-check, djlint

metabase: open tb 394 to all siae
  itou/www/stats/utils.py
  tests/www/stats/test_utils.py
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check

Enable bugbear
  itou/asp/management/commands/gen_asp_ref_fixtures.py
  itou/asp/management/commands/sync_communes.py
  itou/common_apps/address/models.py
  itou/companies/models.py
  itou/geo/models.py
  itou/users/management/commands/deduplicate_job_seekers.py
  itou/users/models.py
  pyproject.toml
  tests/api/applicants_api/tests.py
Due: ruff-format, ruff-check

Remove bold style hack from htmx_dropdown_filter.js
  itou/static/js/htmx_dropdown_filter.js
Due: none

Remove alert for prescriber prescription lists test on Maze
  itou/templates/apply/list_prescriptions.html
Due: djlint

tests: Move some test to pytest
  tests/api/applicants_api/tests.py
  tests/api/data_inclusion_api/tests.py
  tests/api/employee_record_api/test_throttling.py
  tests/api/employee_record_api/tests.py
  tests/api/test_c4_api.py
  tests/approvals/test_notify_pole_emploi.py
  tests/common_apps/address/tests.py
  tests/companies/test_models.py
  tests/conftest.py
  tests/www/institutions_views/test_views.py
  tests/www/invitations_views/test_company_send.py
  tests/www/prescribers_views/test_admins.py
  tests/www/prescribers_views/test_edit.py
  tests/www/prescribers_views/test_members.py
  tests/www/releases/tests.py
  tests/www/search/tests.py
  tests/www/siae_evaluations_views/test_forms.py
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/siae_evaluations_views/test_siaes_views.py
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/test_allauth.py
  tests/www/signup/test_job_seeker.py
  tests/www/signup/test_password.py
  tests/www/stats/test_views.py
  tests/www/welcoming_tour/tests.py
Due: ruff-format, ruff-check

tests: Replace setUpTestData in pytest
  tests/api/siae_api/tests.py
  tests/conftest.py
Due: ruff-format, ruff-check

WIP - Discussion
  itou/eligibility/models/iae.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
