Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

changelog: From 2025-02-10 to 2025-02-16
  CHANGELOG.md
Due: none

job_seeker_views: log job_seeker creation and update by sender
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

tests: remove unneeded ignore_unknown_variable_template_error marks
  tests/companies/test_admin.py
  tests/gps/test_create_beneficiary.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

www.job_seekers_views: always set confirmation_needed var
  itou/www/job_seekers_views/views.py
  tests/gps/test_create_beneficiary.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

wip
  itou/www/apply/views/submit_views.py
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

Use newer rules with a conflict
  .github/workflows/ci.yml
Due: none

factories: add JobDescriptionFactory.for_snapshot, stabilize JobApplicationFactory.for_snapshot
  tests/companies/factories.py
  tests/job_applications/factories.py
Due: ruff-format, ruff-check

api: implement service account class used as anonymous user for DepartmentTokenAuthentication
  itou/api/auth.py
Due: ruff-format, ruff-check

Stop discouraging spontaneous job applications
  itou/templates/companies/card.html
  tests/www/companies_views/__snapshots__/test_card_views.ambr
Due: djlint

Fix typos in variable names
  itou/templates/companies/card.html
  itou/templates/companies/job_description_card.html
  itou/www/companies_views/views.py
  tests/www/companies_views/test_card_views.py
Due: ruff-format, ruff-check, djlint

job_description_card: Delete unreachable clause
  itou/templates/companies/job_description_card.html
Due: djlint

Reuse JobSeekerProfileForm in EditJobSeekerInfoForm
  itou/www/dashboard/forms.py
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
Due: ruff-format, ruff-check

Prevent editing job seeker with a certified eligibility criteria
  itou/users/forms.py
  tests/eligibility/factories.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
  tests/www/dashboard/__snapshots__/test_edit_job_seeker_info.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_info.ambr
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

admin: always provide subtitle & has_view_permission
  itou/approvals/admin_views.py
  itou/companies/admin.py
  itou/users/admin.py
  tests/approvals/tests.py
  tests/companies/test_admin.py
  tests/users/test_admin_views.py
Due: ruff-format, ruff-check

tests: remove useless ignore_unknown_variable_template_error
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

www.apply: remove appointment annotation for table views
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
Due: ruff-format, ruff-check

tests: add queries snapshot for applications list
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_for_job_seeker.py
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check

js: switch to data-emplois- prefix for setter mechanism
  itou/static/js/utils.js
  itou/templates/apply/includes/list_view_switcher.html
  itou/templates/apply/includes/selected_job_applications.html
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

api: add job applications search API
  config/settings/base.py
  itou/api/job_application_api/__init__.py
  itou/api/job_application_api/perms.py
  itou/api/job_application_api/schema.py
  itou/api/job_application_api/serializers.py
  itou/api/job_application_api/throttling.py
  itou/api/job_application_api/views.py
  itou/api/urls.py
  tests/api/job_applications_api/__init__.py
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/api/job_applications_api/test_schemas.py
  tests/api/job_applications_api/test_search.py
Due: ruff-format, ruff-check

fixup: add last_modification_at to serializer fields
  itou/api/job_application_api/schema.py
  itou/api/job_application_api/serializers.py
  itou/api/job_application_api/views.py
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/api/job_applications_api/test_search.py
Due: ruff-format, ruff-check

fixup: add updated_at to serialized fields
  itou/api/job_application_api/schema.py
  itou/api/job_application_api/serializers.py
Due: ruff-format, ruff-check

fixup: use sender email instead of sender organization email
  itou/api/job_application_api/schema.py
  itou/api/job_application_api/serializers.py
  itou/api/job_application_api/views.py
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/api/job_applications_api/test_search.py
Due: ruff-format, ruff-check

fixup: update SIRET serialization (only return SIREN for satellites)
  itou/api/job_application_api/serializers.py
  tests/api/job_applications_api/test_search.py
Due: ruff-format, ruff-check

fixup: add job seeker birthdate
  itou/api/job_application_api/schema.py
  itou/api/job_application_api/serializers.py
Due: ruff-format, ruff-check

fixup: improve serializer test
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/api/job_applications_api/test_search.py
Due: ruff-format, ruff-check

fixup: add a warning about linebreaks
  itou/api/job_application_api/serializers.py
Due: ruff-format, ruff-check

fixup: add job application PK to serializer fields
  itou/api/job_application_api/schema.py
  itou/api/job_application_api/serializers.py
Due: ruff-format, ruff-check

fixup: use employer email then fallback on company email
  itou/api/job_application_api/schema.py
  itou/api/job_application_api/serializers.py
  itou/api/job_application_api/views.py
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/api/job_applications_api/test_search.py
Due: ruff-format, ruff-check

Remove populate_metabase_emplois.py and utilities
  itou/companies/management/commands/_import_siae/utils.py
  itou/metabase/dataframes.py
  itou/metabase/db.py
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/management/commands/populate_metabase_fluxiae.py
  scripts/import-iae.sh
Due: ruff-format, ruff-check

docs: add JS basic doc & add data-emplois- migration plan
  docs/javascript.md
  migrations.md
Due: none

Migrate settings for django allauth 65.4.0
  config/settings/base.py
Due: ruff-format, ruff-check

apis: update geiq client to handle new commands
  itou/utils/apis/geiq_label.py
  tests/utils/apis/test_geiq_label.py
Due: ruff-format, ruff-check

gps: Remove old groups route
  itou/www/gps/urls.py
Due: ruff-format, ruff-check

gps: Rename group list view and template
  itou/templates/dashboard/includes/gps_card.html
  itou/templates/gps/group_list.html
  itou/utils/templatetags/nav.py
  itou/www/gps/urls.py
  itou/www/gps/views.py
  itou/www/job_seekers_views/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/gps/test_create_beneficiary.py
  tests/gps/test_views.py
Due: ruff-format, ruff-check, djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
