Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

pro_connect: Add a new SSO
  CHANGELOG_breaking_changes.md
  config/settings/base.py
  config/urls.py
  itou/openid_connect/pro_connect/__init__.py
  itou/openid_connect/pro_connect/apps.py
  itou/openid_connect/pro_connect/constants.py
  itou/openid_connect/pro_connect/enums.py
  itou/openid_connect/pro_connect/migrations/0001_initial.py
  itou/openid_connect/pro_connect/migrations/__init__.py
  itou/openid_connect/pro_connect/models.py
  itou/openid_connect/pro_connect/urls.py
  itou/openid_connect/pro_connect/views.py
  itou/static/css/itou.css
  itou/static/img/illustration-pc.svg
  itou/static/img/pro_connect_bouton.svg
  itou/static/img/pro_connect_bouton_hover.svg
  itou/templates/account/activate_inclusion_connect_account.html
  itou/templates/account/login_generic.html
  itou/templates/dashboard/edit_user_info.html
  itou/templates/inclusion_connect/includes/description.html
  itou/users/adapter.py
  itou/users/enums.py
  itou/users/migrations/0001_initial.py
  itou/utils/perms/middleware.py
  itou/www/dashboard/views.py
  itou/www/invitations_views/views.py
  itou/www/login/views.py
  itou/www/signup/views.py
  tests/openid_connect/pro_connect/__init__.py
  tests/openid_connect/pro_connect/test.py
  tests/openid_connect/pro_connect/tests.py
  tests/openid_connect/test.py
  tests/www/dashboard/test_activate_sso_account.py
  tests/www/dashboard/test_edit_user_info.py
  tests/www/invitations_views/test_company_accept.py
  tests/www/invitations_views/test_prescriber_organization.py
  tests/www/login/tests.py
  tests/www/signup/test_prescriber.py
  tests/www/signup/test_siae.py
  tests/www/welcoming_tour/tests.py
Due: ruff-format, ruff-check, djlint

pro_connect: hide migation banner until the real switch
  itou/templates/account/login_generic.html
Due: djlint

approvals: fix can_be_deleted method
  itou/approvals/models.py
  tests/approvals/tests.py
Due: ruff-format, ruff-check

apply: Fix CreateOrUpdateJobSeekerStep1Form
  itou/www/apply/forms.py
  tests/www/apply/test_forms.py
Due: ruff-format, ruff-check

users: Improve nir validation
  itou/users/models.py
  tests/www/dashboard/test_edit_user_info.py
Due: ruff-format, ruff-check

Reindent itou/static/js/formset_add_remove_row.js
  itou/static/js/formset_add_remove_row.js
Due: none

Use fw-* instead of font-weight-*
  itou/static/js/formset_add_remove_row.js
Due: none

admin: disable show_full_result_count on models
  itou/approvals/admin.py
  itou/employee_record/admin.py
  itou/users/admin.py
Due: ruff-format, ruff-check

dashboard: Remove GPS alert
  itou/templates/dashboard/dashboard.html
Due: djlint

Allow test+cap@inclusion.beta.gouv.fr to log in through DJANGO
  itou/fixtures/django/05_test_users.json
Due: none

Recette ProConnect
  CHANGELOG.md
Due: none

gps: Check a job seeker advisor without delay
  itou/gps/excel.py
  itou/gps/management/commands/import_advisor_information.py
  itou/gps/utils.py
  itou/users/models.py
  tests/gps/test.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

gps: Ignore advisors with incomplete data
  itou/gps/utils.py
  tests/gps/test_management_commands.py
Due: ruff-format, ruff-check

gps: Don't update advisor with same data
  clevercloud/cron.json
  itou/gps/management/commands/import_advisor_information.py
  itou/gps/utils.py
Due: ruff-format, ruff-check

feat: update theme to v2.2.6
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/test_prolongation_requests.py
Due: ruff-format, ruff-check

fix: remove "action" for all table
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/list_of_available_exports.html
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/companies/job_description_list.html
  itou/templates/includes/members.html
Due: djlint

fix: tests
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/list_of_available_exports.html
  itou/templates/companies/job_description_list.html
  tests/www/apply/__snapshots__/test_detail_rdv_insertion.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/approvals_views/test_prolongation_requests.py
  tests/www/geiq_views/__snapshots__/tests.ambr
Due: ruff-format, ruff-check, djlint

fix: add .table-hover and .btn-link for all table
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/includes/invitation_requests.html
  itou/templates/apply/list_of_available_exports.html
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/companies/job_description_list.html
  itou/templates/companies/show_financial_annexes.html
  itou/templates/dashboard/api_token.html
  itou/templates/geiq/employee_contract_list.html
  itou/templates/geiq/employee_exit_list.html
  itou/templates/geiq/employee_job_application_list.html
  itou/templates/geiq/employee_personal_information_list.html
  itou/templates/geiq/employee_support_list.html
  itou/templates/geiq/geiq_list.html
  itou/templates/includes/members.html
  itou/templates/invitations_views/includes/pending_invitations.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/prescribers/list_accredited_organizations.html
  itou/templates/siae_evaluations/default_calendar_html.html
  itou/templates/siae_evaluations/sanctions_helper.html
  itou/templates/static/legal/privacy.html
  itou/templates/status/index.html
Due: djlint

fix: add scope=col for all table
  itou/templates/static/legal/privacy.html
Due: djlint

fix: add <caption> for all table
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/includes/invitation_requests.html
  itou/templates/dashboard/api_token.html
  itou/templates/siae_evaluations/sanctions_helper.html
  itou/templates/static/legal/privacy.html
  itou/templates/status/index.html
Due: djlint

fix: add .table-responsive for all table
  itou/templates/apply/includes/appointments.html
  itou/templates/apply/includes/invitation_requests.html
  itou/templates/apply/list_of_available_exports.html
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/companies/job_description_list.html
  itou/templates/companies/show_financial_annexes.html
  itou/templates/dashboard/api_token.html
  itou/templates/includes/members.html
  itou/templates/invitations_views/includes/pending_invitations.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/siae_evaluations/default_calendar_html.html
  itou/templates/siae_evaluations/sanctions_helper.html
  itou/templates/static/legal/privacy.html
  itou/templates/status/index.html
Due: djlint

employee_record.admin: Fix `EmployeeRecord()` deletion
  itou/employee_record/admin.py
  tests/employee_record/test_admin.py
Due: ruff-format, ruff-check

apply: Remove job applicaiton archiving new feature banner
  itou/templates/apply/list_for_siae.html
Due: djlint

fix: .c-box--results btn posiiton
  itou/templates/employee_record/includes/list_item.html
  tests/www/employee_record_views/__snapshots__/test_list.ambr
Due: djlint

feat: update theme to v2.2.7
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

WIP
  itou/templates/approvals/suspend.html
  itou/templates/dashboard/edit_user_notifications.html
  itou/templates/includes/demo_accounts.html
  itou/templates/prescribers/list_accredited_organizations.html
  itou/templates/welcoming_tour/employer.html
  itou/templates/welcoming_tour/job_seeker.html
  itou/templates/welcoming_tour/prescriber.html
  itou/www/approvals_views/forms.py
Due: ruff-format, ruff-check, djlint

WIP
  itou/templates/approvals/suspend.html
Due: djlint

fix: sidebar col in tabs row
  itou/templates/apply/process_base.html
  itou/templates/apply/process_details.html
  itou/templates/apply/process_details_company.html
  itou/templates/apply/submit/check_job_seeker_info_for_hire.html
  itou/templates/apply/submit/eligibility_for_hire.html
  itou/templates/job_seekers_views/details.html
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: djlint
