Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, djlint

black:
  name: Black
  entry: black
  language: system

flake8:
  name: Flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

feat: some ui and a11y improvements
  itou/templates/static/accessibility.html
  itou/templates/static/legal/notice.html
  itou/templates/static/legal/privacy.html
  itou/templates/static/legal/terms.html
Due: djlint

itou.employee_record.m.commands: Remove `process_asp_report_file`
  itou/employee_record/management/commands/process_asp_report_file.py
Due: black, flake8, isort

itou: Remove unnecessary parenthesis around literal `str`
  itou/employee_record/models.py
  itou/siae_evaluations/models.py
  itou/siaes/models.py
Due: black, flake8, isort

itou.employee_record.models: Remove unused class attributes
  itou/employee_record/models.py
Due: black, flake8, isort

itou.employee_record.models: Use `auto_now=True` for `updated_at` fields
  itou/employee_record/migrations/0003_alter_updated_at.py
  itou/employee_record/models.py
Due: black, flake8, isort

itou.employee_record: Add the `ASPExchangeInformation()` abstract model
  itou/employee_record/migrations/0004_asp_exchange_information_abstract_model.py
  itou/employee_record/models.py
  itou/employee_record/tests/test_admin.py
  itou/employee_record/tests/tests_models.py
  itou/employee_record/tests/tests_notifications.py
Due: black, flake8, isort

itou.employee_record: Also store the JSON for SENT and REJECTED status
  itou/api/employee_record_api/tests/tests.py
  itou/employee_record/management/commands/sanitize_employee_records.py
  itou/employee_record/management/commands/transfer_employee_records.py
  itou/employee_record/management/commands/transfer_employee_records_updates.py
  itou/employee_record/models.py
  itou/employee_record/tests/tests_models.py
  itou/www/employee_record_views/tests/test_create.py
  itou/www/employee_record_views/tests/test_disable.py
  itou/www/employee_record_views/tests/test_list.py
  itou/www/employee_record_views/tests/test_reactivate.py
  itou/www/employee_record_views/tests/test_summary.py
Due: black, flake8, isort

Evaluation campaign: sanctions workflow
  itou/siae_evaluations/admin.py
  itou/siae_evaluations/emails.py
  itou/siae_evaluations/migrations/0002_sanctions.py
  itou/siae_evaluations/models.py
  itou/templates/siae_evaluations/email/to_siae_not_sanctioned_body.txt
  itou/templates/siae_evaluations/email/to_siae_not_sanctioned_subject.txt
  itou/templates/siae_evaluations/email/to_siae_sanctioned_body.txt
  itou/templates/siae_evaluations/evaluated_siae_sanction.html
  itou/templates/siae_evaluations/includes/evaluation_data.html
  itou/templates/siae_evaluations/institution_evaluated_siae_list.html
  itou/templates/siae_evaluations/institution_evaluated_siae_notify_step1.html
  itou/templates/siae_evaluations/institution_evaluated_siae_notify_step2.html
  itou/templates/siae_evaluations/institution_evaluated_siae_notify_step3.html
  itou/templates/siae_evaluations/sanctions_helper.html
  itou/users/management/commands/sync_group_and_perms.py
  itou/users/tests/test_management_commands.py
  itou/utils/models.py
  itou/utils/types.py
  itou/www/siae_evaluations_views/forms.py
  itou/www/siae_evaluations_views/tests/test_views.py
  itou/www/siae_evaluations_views/tests/tests_institutions_views.py
  itou/www/siae_evaluations_views/urls.py
  itou/www/siae_evaluations_views/views.py
Due: black, flake8, isort, djlint

Move SIAE evaluation data to a separate template
  itou/templates/siae_evaluations/includes/evaluation_data.html
  itou/templates/siae_evaluations/institution_evaluated_siae_notify_step1.html
Due: djlint

Rename InstitutionEvaluatedSiaeNotify{,Step1}View
  itou/templates/siae_evaluations/institution_evaluated_siae_list.html
  itou/templates/siae_evaluations/institution_evaluated_siae_notify_step1.html
  itou/www/siae_evaluations_views/forms.py
  itou/www/siae_evaluations_views/tests/tests_institutions_views.py
  itou/www/siae_evaluations_views/urls.py
  itou/www/siae_evaluations_views/views.py
Due: black, flake8, isort, djlint

autocomplete: Fix issue in looking for cities
  itou/cities/sample-cities.csv
  itou/www/autocomplete/tests.py
  itou/www/autocomplete/views.py
Due: black, flake8, isort

metabase-matomo: Add the new "suivi pass IAE" public dashboard
  itou/metabase/management/commands/populate_metabase_matomo.py
  itou/metabase/management/test_populate_metabase_matomo.py
Due: black, flake8, isort

www.dashboard: show structure SIRET
  itou/templates/dashboard/dashboard.html
  itou/www/dashboard/tests.py
Due: black, flake8, isort, djlint

employee_record.admin: Synchronize list, search, readonly, and fieldsets
  itou/employee_record/admin.py
Due: black, flake8, isort

employee_record.transfer_employee_records_updates: Fix `archived_json`
  itou/employee_record/management/commands/transfer_employee_records_updates.py
  itou/employee_record/tests/tests_update_management_command.py
Due: black, flake8, isort

Stretch test account login links
  itou/templates/includes/test_accounts.html
Due: djlint

Use has-links-inside for test accounts cards
  itou/templates/includes/test_accounts.html
Due: djlint

autocomplete: refactor new algorithm to use it on Communes
  itou/www/autocomplete/tests.py
  itou/www/autocomplete/views.py
Due: black, flake8, isort

layout/base: Fix tarteaucitron
  itou/templates/layout/base.html
Due: djlint

siae_evaluations_views: Fix one to one acces
  itou/www/siae_evaluations_views/views.py
Due: black, flake8, isort

fix: a11y errors from autoaudit
  itou/templates/apply/includes/job_application_answers.html
  itou/templates/apply/includes/job_application_info.html
  itou/templates/apply/includes/job_applications_export_button.html
  itou/templates/apply/list_for_job_seeker.html
  itou/templates/apply/list_for_prescriber.html
  itou/templates/apply/list_for_siae.html
  itou/templates/apply/process_accept.html
  itou/templates/apply/process_postpone.html
  itou/templates/layout/_header.html
  itou/templates/layout/_nav_btn_items.html
Due: djlint

Fix a script introducing errors.
  itou/scripts/management/commands/update_suspensions_end_at.py
  itou/scripts/tests.py
Due: black, flake8, isort

scripts: Improve update_suspensions_end_at
  itou/scripts/management/commands/update_suspensions_end_at.py
  itou/scripts/tests.py
Due: black, flake8, isort

Check user is authenticated before get_current_XXX_or_404
  itou/www/apply/tests/tests_submit.py
  itou/www/apply/views/submit_views.py
  itou/www/siae_evaluations_views/tests/tests_institutions_views.py
  itou/www/siae_evaluations_views/views.py
Due: black, flake8, isort

Simplify EvaluatedSiae.state
  itou/siae_evaluations/models.py
  itou/siae_evaluations/tests/tests_models.py
  itou/www/siae_evaluations_views/tests/tests_institutions_views.py
Due: black, flake8, isort

Fix typo in InstitutionEvaluatedSiaeNotifyViewAccessTestMixin
  itou/www/siae_evaluations_views/tests/tests_institutions_views.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
