Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

dashboard: add link for application pool
  itou/www/dashboard/views.py
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check

apply: add add_to_pool action
  itou/templates/apply/includes/siae_actions.html
  itou/templates/apply/process_add_to_pool.html
  itou/www/apply/forms.py
  itou/www/apply/urls.py
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

apply: add batch add_to_pool view
  itou/templates/apply/includes/siae_batch_actions.html
  itou/templates/apply/includes/siae_batch_actions_modals.html
  itou/www/apply/forms.py
  itou/www/apply/urls.py
  itou/www/apply/views/batch_views.py
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_batch_views.py
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

metabase: Send encrypted NIR
  config/settings/base.py
  config/settings/test.py
  itou/metabase/tables/job_seekers.py
  itou/metabase/tables/utils.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

Ignore inactive memberships during company signup
  itou/www/signup/views.py
  tests/www/signup/__snapshots__/test_siae.ambr
  tests/www/signup/test_siae.py
Due: ruff-format, ruff-check

apply: notify when adding an application to the pool
  itou/job_applications/models.py
  itou/job_applications/notifications.py
  itou/templates/apply/email/add_to_pool_for_job_seeker_body.txt
  itou/templates/apply/email/add_to_pool_for_job_seeker_subject.txt
  itou/templates/apply/email/add_to_pool_for_proxy_body.txt
  itou/templates/apply/email/add_to_pool_for_proxy_subject.txt
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
Due: ruff-format, ruff-check

fix: documentation links a11y in member invitation messages
  itou/templates/includes/members_list.html
  tests/www/companies_views/__snapshots__/test_members_views.ambr
  tests/www/prescribers_views/__snapshots__/test_members.ambr
Due: djlint

fix: financial annex help text UI
  itou/templates/companies/select_financial_annex.html
Due: djlint

archive: exclude evaluated job_seekers from archive notifications
  itou/archive/utils.py
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

fix: margin ui to contract period modification button in siae hiring details
  itou/templates/apply/includes/siae_hiring_details.html
Due: djlint

archive: remove notification date of evaluated job seekers
  itou/archive/migrations/0013_remove_evaluated_jobseekers.py
Due: ruff-format, ruff-check

apply: update templates with new status
  itou/templates/apply/includes/siae_actions.html
  itou/templates/apply/includes/siae_batch_actions.html
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_process.ambr
Due: djlint

apply: add pool state
  itou/job_applications/enums.py
  itou/job_applications/migrations/0001_initial.py
  itou/job_applications/models.py
  itou/utils/templatetags/badges.py
  tests/job_applications/__snapshots__/test_admin.ambr
  tests/job_applications/tests.py
  tests/utils/__snapshots__/tests.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
Due: ruff-format, ruff-check

archive: delete jobseeker's employee_record
  itou/archive/management/commands/anonymize_jobseekers.py
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

Staff views: fix user merge view
  itou/www/itou_staff_views/merge_utils.py
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check

fix(apply): do not display IAE criteria for prescribers when target company is GEIQ
  itou/templates/apply/includes/list_card_body.html
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/test_list_prescriptions.py
Due: ruff-format, ruff-check, djlint

quality: test_select_job_description_for_job_application
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

hire: simplify hire confirmation view
  itou/templates/apply/includes/job_application_accept_form.html
  itou/templates/apply/submit/hire_confirmation.html
  itou/www/apply/urls.py
  itou/www/apply/views/common.py
  itou/www/apply/views/submit_views.py
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

hire: simplify accept application view
  itou/templates/apply/includes/siae_batch_actions_modals.html
  itou/templates/apply/process_details_company.html
  itou/utils/templatetags/job_application_actions.py
  itou/www/apply/urls.py
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_forms.py
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

users: Rename has_latest_common_approval_in_waiting_period
  itou/job_applications/models.py
  itou/templates/utils/templatetags/approval_box.html
  itou/users/models.py
  tests/users/test_models.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
Due: ruff-format, ruff-check, djlint

fixtures: No more PoleEmploiApproval
  itou/fixtures/django/23_pe_approvals.json
  itou/fixtures/django/dumpdata.sh
Due: none

users: Remove has_no_common_approval
  itou/job_applications/models.py
  itou/users/models.py
  tests/users/test_models.py
Due: ruff-format, ruff-check

users: Remove latest_common_approval
  itou/job_applications/export.py
  itou/templates/apply/process_base.html
  itou/templates/dashboard/includes/job_seeker_approval_card.html
  itou/users/models.py
  tests/approvals/tests.py
  tests/users/test_models.py
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
Due: ruff-format, ruff-check, djlint

admin: Remove PoleEmploiApprovalAdmin
  itou/approvals/admin.py
  itou/templates/admin/approvals/includes/job_application_details.html
Due: ruff-format, ruff-check, djlint

metabase: Stop sending PoleEmploiApprovals
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/tables/approvals.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

tests: Replace PoleEmploiApprovalFactory with ApprovalFactory when relevent
  tests/job_applications/tests.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check

approvals: Remove PoleEmploiApproval model
  itou/approvals/migrations/0005_delete_poleemploiapproval.py
  itou/approvals/models.py
  itou/templates/utils/templatetags/approval_box.html
  itou/users/management/commands/sync_group_and_perms.py
  itou/utils/templatetags/approvals.py
  itou/utils/templatetags/badges.py
  tests/approvals/factories.py
  tests/approvals/test_notify_pole_emploi.py
  tests/approvals/tests.py
  tests/eligibility/test_iae.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
  tests/www/approvals_views/test_approval_box.py
Due: ruff-format, ruff-check, djlint

users: Remove latest_pe_approval
  itou/templates/apply/includes/eligibility_diagnosis.html
  itou/users/models.py
  tests/users/test_models.py
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
Due: ruff-format, ruff-check, djlint

apply: update criteria mention
  itou/templates/includes/valid_eligibility_diagnosis_and_criteria.html
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check, djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
