Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

sentry: Reactivate middleware spans
  config/sentry.py
Due: ruff-format, ruff-check

sentry: Setup cache-monitoring dashboard
  config/sentry.py
Due: ruff-format, ruff-check

docs: add instruction to ReadMe to create postgres folder
  README.md
Due: none

fix: traquer le dossier dans Git mais ignorer ses contenus
  .gitignore
  README.md
  docker/dev/postgres/.gitkeep
Due: none

feat: add title_navinfo to evaluated sanction
  itou/templates/siae_evaluations/evaluated_siae_sanction.html
  tests/www/siae_evaluations_views/test_views.py
Due: ruff-format, ruff-check, djlint

changelog: From 2026-01-05 to 2026-01-11
  CHANGELOG.md
Due: none

utils.apis.data_inclusion: Use `data-inclusion-schema`'s referential
  itou/utils/apis/data_inclusion.py
  itou/www/companies_views/views.py
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: ruff-format, ruff-check

utils.apis.data_inclusion: Prepare for V1 introduction
  itou/utils/apis/data_inclusion.py
  itou/www/companies_views/views.py
  tests/utils/apis/test_data_inclusion_api.py
  tests/www/companies_views/test_dora_views.py
Due: ruff-format, ruff-check

www: Add data·inclusion's services search
  itou/static/img/home/illustration-03.png
  itou/static/img/home/illustration-04.png
  itou/static/img/home/illustration-05.png
  itou/templates/search/services/home.html
  itou/templates/search/services/includes/form.html
  itou/templates/search/services/includes/results.html
  itou/templates/search/services/includes/summary.html
  itou/templates/search/services/results.html
  itou/utils/apis/data_inclusion.py
  itou/utils/templatetags/dora.py
  itou/utils/templatetags/nav.py
  itou/www/search_views/forms.py
  itou/www/search_views/urls.py
  itou/www/search_views/views.py
  tests/www/search_views/__snapshots__/test_services.ambr
  tests/www/search_views/test_services.py
Due: ruff-format, ruff-check, djlint

www.search.services: Setup `hx-boost` for all other interactions
  itou/templates/search/services/includes/results.html
  itou/templates/search/services/includes/summary.html
  itou/templates/search/services/results.html
  itou/www/search_views/views.py
Due: ruff-format, ruff-check, djlint

Reduce size of loaddata_bulk batches
  itou/utils/management/commands/loaddata_bulk.py
Due: ruff-format, ruff-check

Automate the reset of the demo environment
  .github/workflows/demo-reset.yml
  scripts/reset
Due: none

tests: fix flaky test
  tests/utils/test_admin.py
Due: ruff-format, ruff-check

Set FORCE_PROCONNECT_LOGIN to False in dev
  config/settings/dev.py
Due: ruff-format, ruff-check

gps: display prescriber count
  itou/templates/gps/includes/membership_referent.html
  tests/www/apply/test_process.py
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check, djlint

tests: fix campaigns tests
  tests/communications/test_campaigns.py
Due: ruff-format, ruff-check

tests: test displaying or not announcement campaigns
  tests/communications/test_campaigns.py
Due: ruff-format, ruff-check

tests: Remove criteria certification for test_details_for_company_from_list
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

metabase: Add date_joined to pro users
  itou/metabase/tables/users.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

logout: Allow to specify a post logout redirect url
  itou/users/adapter.py
  tests/openid_connect/pro_connect/testing.py
  tests/www/signup/test_prescriber.py
Due: ruff-format, ruff-check

utils: change structure_switcher signature
  itou/templates/layout/_header_authenticated.html
  itou/utils/templatetags/structure_switcher.py
Due: ruff-format, ruff-check, djlint

dashboard: Allow a different redirection url after switching structure
  itou/templates/layout/_structure_switcher_dropdown_menu.html
  itou/utils/templatetags/structure_switcher.py
  itou/www/dashboard/views.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/dashboard/test_switch_organization.py
Due: ruff-format, ruff-check, djlint

pro_connect: Allow to block registration
  itou/openid_connect/models.py
  itou/openid_connect/pro_connect/enums.py
  itou/openid_connect/pro_connect/views.py
  tests/openid_connect/pro_connect/tests.py
Due: ruff-format, ruff-check

wip: update get_full_name method to return last_name first
  itou/templates/approvals/includes/list_table.html
  itou/users/models.py
Due: ruff-format, ruff-check, djlint

companies: add link to SiaeFinancialAnnex details
  itou/companies/admin.py
Due: ruff-format, ruff-check

companies: improve import_siae command
  itou/companies/management/commands/_import_siae/financial_annex.py
  tests/companies/test_import_siae_command.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
