Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-check
        name: Ruff check
        entry: ruff check --fix
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

Make EligibilityDiagnosis.expires_at a date
  itou/eligibility/migrations/0008_alter_eligibilitydiagnosis_expires_at_and_more.py
  itou/eligibility/models/common.py
  itou/eligibility/models/geiq.py
  itou/eligibility/models/iae.py
  itou/fixtures/django/20_eligibility_diagnoses.json
  tests/eligibility/factories.py
  tests/eligibility/test_iae.py
  tests/job_applications/test_admin.py
  tests/www/apply/test_list_for_siae.py
  tests/www/dashboard/test_dashboard.py
  tests/www/itou_staff_views/__snapshots__/tests.ambr
Due: ruff-format, ruff-check

UI: lower pill size
  itou/templates/apply/includes/selected_administrative_criteria_display.html
Due: djlint

Get uptime from UpDown and store it in Analytics
  config/settings/base.py
  config/settings/test.py
  itou/analytics/migrations/0001_initial.py
  itou/analytics/models.py
  itou/analytics/tech.py
  itou/utils/apis/updown.py
  tests/analytics/test_collect_analytics_data_management_command.py
  tests/analytics/test_tech_metrics.py
  tests/conftest.py
  tests/utils/apis/test_updown.py
Due: ruff-format, ruff-check

Redesign JobSeeker signup process
  itou/openid_connect/errors.py
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/pe_connect/views.py
  itou/openid_connect/utils.py
  itou/static/css/itou.css
  itou/static/img/job_seeker_signup.png
  itou/static/img/job_seeker_signup.svg
  itou/static/img/job_seeker_signup_situation.svg
  itou/templates/signup/includes/france_connect_button.html
  itou/templates/signup/includes/login_reminder.html
  itou/templates/signup/includes/no_email_link.html
  itou/templates/signup/includes/submit_rgpd.html
  itou/templates/signup/job_seeker_nir.html
  itou/templates/signup/job_seeker_signup.html
  itou/templates/signup/job_seeker_signup_base.html
  itou/templates/signup/job_seeker_signup_credentials.html
  itou/templates/signup/job_seeker_situation.html
  itou/templates/utils/modal_includes/registration_failure.html
  itou/templates/utils/modal_includes/sso_email_conflict_registration_failure.html
  itou/templates/utils/modals.html
  itou/utils/constants.py
  itou/www/signup/errors.py
  itou/www/signup/forms.py
  itou/www/signup/urls.py
  itou/www/signup/views.py
  tests/openid_connect/pe_connect/tests.py
  tests/www/login/__snapshots__/tests.ambr
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/test_job_seeker.py
  tests/www/welcoming_tour/tests.py
Due: ruff-format, ruff-check, djlint

Publish new TdB for view stats_ft_state_main
  itou/utils/apis/metabase.py
Due: ruff-format, ruff-check

Remove allowed_org_pks filter for FT prescribers
  itou/www/stats/views.py
Due: ruff-format, ruff-check

apply: remove unused variables from context
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check

www.apply: move reset_url computation to view
  itou/templates/apply/process_refuse.html
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check, djlint

www.apply: only provide a context when needed
  itou/templates/apply/refusal_messages/non_eligible.txt
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check

Delete temporary code for the new registration process
  itou/openid_connect/utils.py
  itou/utils/constants.py
  itou/www/signup/urls.py
  itou/www/signup/views.py
  tests/www/signup/test_job_seeker.py
Due: ruff-format, ruff-check

www.apply: add RefuseViewStep enum
  itou/templates/apply/process_refuse.html
  itou/www/apply/views/process_views.py
Due: ruff-format, ruff-check, djlint

fix: geiq templates ui
  itou/templates/dashboard/includes/employer_geiq_card.html
  itou/templates/dashboard/includes/labor_inspector_geiq_assessment_card.html
  itou/templates/geiq/assessment_info_for_employer.html
  itou/templates/geiq/assessment_info_for_labor_inspector.html
  itou/templates/geiq/assessment_review.html
  itou/templates/geiq/geiq_list.html
  itou/templates/geiq/includes/labor_inspector_assessment_state_badge.html
  itou/templates/geiq/includes/labor_inspector_assessment_state_badge_for_list.html
  itou/templates/geiq/includes/last_synced_at.html
  itou/templates/geiq/list_base.html
  tests/www/geiq_views/__snapshots__/tests.ambr
  tests/www/geiq_views/tests.py
Due: ruff-format, ruff-check, djlint

www.apply: add a few check_user
  itou/www/apply/views/edit_views.py
  itou/www/apply/views/process_views.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_detail_rdv_insertion.py
  tests/www/apply/test_edit.py
  tests/www/apply/test_geiq.py
  tests/www/apply/test_list_rdv_insertion.py
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

job_applications: fix is_active_company_member
  itou/job_applications/models.py
  tests/job_applications/tests.py
  tests/www/apply/__snapshots__/test_process.ambr
Due: ruff-format, ruff-check

tests.www.employee_record.create: Summary is tested elsewhere
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

tests.www: Fix `TestCreateEmployeeRecordStep4()` flakyness
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

tests.www.employee_record.create: Clean the setup
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

tests.www.employee_record.create: Test access for all steps
  tests/www/employee_record_views/test_create.py
Due: ruff-format, ruff-check

tests: remove job_seeker_with_address trait
  tests/job_applications/factories.py
  tests/www/apply/test_list_prescriptions.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/job_seekers_views/test_details.py
  tests/www/job_seekers_views/test_list.py
Due: ruff-format, ruff-check

signup: Update password validator and improve form errors
  config/settings/base.py
  itou/templates/signup/job_seeker_signup_credentials.html
  itou/utils/password_validation.py
  itou/www/signup/forms.py
  tests/users/factories.py
  tests/users/test_models.py
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/__snapshots__/test_password.ambr
  tests/www/signup/test_job_seeker.py
  tests/www/signup/test_password.py
Due: ruff-format, ruff-check, djlint

metabase.job_seekers: Export diagnosis' expiration date and its validity
  itou/metabase/tables/job_seekers.py
  tests/metabase/management/test_populate_metabase_emplois.py
Due: ruff-format, ruff-check

job_seekers_views: simplify `initial` values in an Update form
  itou/www/job_seekers_views/views.py
Due: ruff-format, ruff-check

fix: some pagespeed improvements
  itou/static/img/home/bg-communaute-mobile.png
  itou/static/img/home/bg-communaute.png
  itou/static/img/home/illustration-01.png
  itou/static/img/home/illustration-02.png
  itou/templates/search/siaes_search_home.html
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check, djlint

FailSafeRedisCacheClient supports default values
  itou/utils/cache.py
Due: ruff-format, ruff-check
