Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

fixtures: update institution names to match production
  itou/fixtures/django/16_institutions.json
Due: none

fixtures: GEIQ DREETS&DDETS for NORM/NA&HDF regions
  itou/fixtures/django/16_institutions.json
Due: none

job_applications.admin: Fix blocking deletion
  itou/job_applications/admin.py
  itou/utils/admin.py
  tests/job_applications/test_admin.py
Due: ruff-format, ruff-check

Improve ExtendsNode support in template ordering check
  tests/test_consistency.py
Due: ruff-format, ruff-check

Sort blocks in templates
  itou/templates/account/account_inactive.html
  itou/templates/account/email_confirm.html
Due: djlint

itemplate ordering check: add duplicate load detection
  tests/test_consistency.py
Due: ruff-format, ruff-check

www.stats: Decommission TB 327
  config/settings/base.py
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/dashboard/views.py
  itou/www/stats/urls.py
  itou/www/stats/utils.py
  itou/www/stats/views.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
  tests/www/dashboard/test_dashboard_stats.py
  tests/www/stats/test_utils.py
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check, djlint

www.stats: Decommission TB 389
  itou/templates/dashboard/includes/stats.html
  itou/templates/dashboard/includes/stats_kpi_labor_inspector_iae.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/views.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
  tests/www/stats/test_views.py
Due: ruff-format, ruff-check, djlint

www.stats: Decommission TB 168
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/views.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
Due: ruff-format, ruff-check, djlint

www.stats: Decommission TB 162
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/views.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
Due: ruff-format, ruff-check, djlint

www.dashboard.stats: Remove the "new" badge from everywhere
  itou/templates/dashboard/includes/employer_employees_card.html
  itou/templates/dashboard/includes/stats.html
  itou/templates/dashboard/includes/stats_new_badge.html
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
Due: djlint

www.dashboard.stats: Use new layout for some users typology
  itou/templates/dashboard/dashboard_stats.html
  itou/templates/dashboard/includes/stats.html
  itou/templates/dashboard/includes/stats/_prescriber_public_links.html
  itou/templates/dashboard/includes/stats/employer.html
  itou/templates/dashboard/includes/stats/prescriber.html
  itou/templates/dashboard/includes/stats/prescriber_dept.html
  itou/templates/dashboard/includes/stats/prescriber_ft.html
  itou/utils/templatetags/pilotage.py
  itou/www/dashboard/views.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
  tests/www/dashboard/test_dashboard_stats.py
Due: ruff-format, ruff-check, djlint

add contracts models & auto retrieval
  itou/geiq_assessments/migrations/0002_assessment_contracts_selection_validated_at_and_more.py
  itou/geiq_assessments/models.py
  itou/templates/geiq_assessments_views/assessment_details.html
  itou/templates/geiq_assessments_views/includes/_document_with_sync_section.html
  itou/templates/geiq_assessments_views/includes/contracts_section.html
  itou/www/geiq_assessments_views/urls.py
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check, djlint

improve wording
  itou/templates/geiq_assessments_views/includes/_document_with_sync_section.html
Due: djlint

improve assessemnt creation form & view
  itou/templates/geiq_assessments_views/create.html
  itou/www/geiq_assessments_views/forms.py
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check, djlint

add missing views
  itou/www/geiq_assessments_views/urls.py
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check

add exit tab
  itou/templates/geiq_assessments_views/assessment_contracts_details.html
Due: djlint

more fields + label rename
  itou/geiq_assessments/admin.py
  itou/geiq_assessments/migrations/0001_initial.py
  itou/geiq_assessments/models.py
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check

share template for auto file sync
  itou/geiq_assessments/models.py
  itou/templates/geiq_assessments_views/assessment_details.html
  itou/templates/geiq_assessments_views/includes/_document_with_sync_section.html
  itou/templates/geiq_assessments_views/includes/structure_financial_assessment_section.html
  itou/templates/geiq_assessments_views/includes/summary_document_section.html
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check, djlint

wip
  config/settings/base.py
  config/urls.py
  itou/templates/geiq_assessments_views/create.html
  itou/templates/geiq_assessments_views/list_for_geiq.html
  itou/www/geiq_assessments_views/__init__.py
  itou/www/geiq_assessments_views/forms.py
  itou/www/geiq_assessments_views/urls.py
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check, djlint

cleanup info display
  itou/templates/geiq_assessments_views/assessment_contracts_details.html
Due: djlint

add navitem for geiq assessments
  itou/utils/templatetags/nav.py
Due: ruff-format, ruff-check

fix admin label data retrieval
  itou/geiq_assessments/admin.py
Due: ruff-format, ruff-check

tweak create form wording
  itou/www/geiq_assessments_views/forms.py
Due: ruff-format, ruff-check

try other title
  itou/templates/geiq_assessments_views/assessment_contracts_list.html
Due: djlint

wip
  itou/geiq_assessments/models.py
Due: ruff-format, ruff-check

add boost and "aide potentielle" column
  itou/templates/geiq_assessments_views/assessment_contracts_list.html
Due: djlint

tweak link display
  itou/templates/geiq_assessments_views/includes/action_financial_assessment_section.html
Due: djlint

improve error display
  itou/templates/geiq_assessments_views/includes/summary_document_section.html
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check, djlint

add switch to contract detail
  itou/templates/geiq_assessments_views/assessment_contracts_details.html
  itou/templates/geiq_assessments_views/assessment_contracts_list.html
  itou/templates/geiq_assessments_views/includes/contracts_switch.html
  itou/www/geiq_assessments_views/views.py
Due: ruff-format, ruff-check, djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
