Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

companies: improve EA offer from France Travail display
  itou/companies/models.py
  itou/templates/companies/includes/_card_jobdescription.html
Due: ruff-format, ruff-check, djlint

search: add custom matomo event for FT EA offers
  itou/templates/companies/includes/_card_jobdescription.html
Due: djlint

apis: allow to retrieve EA offers from FT
  itou/utils/apis/pole_emploi.py
  tests/utils/apis/test_pole_emploi_api.py
Due: ruff-format, ruff-check

sync_ft_offers: sync EA offers also
  itou/companies/management/commands/sync_ft_offers.py
  tests/companies/test_sync_ft_offers.py
Due: ruff-format, ruff-check

sync_ft_offers: add FT_EA_OFFER tag
  itou/companies/enums.py
  itou/companies/management/commands/sync_ft_offers.py
  itou/companies/migrations/0003_jobdescription_source_tags.py
Due: ruff-format, ruff-check

companies: rename sync_pec_offers
  clevercloud/cron.json
  itou/companies/management/commands/sync_ft_offers.py
  tests/companies/test_sync_ft_offers.py
Due: ruff-format, ruff-check

sync_ft_offers: conditional source_tags
  itou/companies/management/commands/sync_ft_offers.py
  tests/companies/test_sync_ft_offers.py
Due: ruff-format, ruff-check

search: handle EA filtering with FT offers
  itou/www/search/views.py
  tests/www/search/tests.py
Due: ruff-format, ruff-check

utils: add new FT API fields and new undocumented DDT value
  itou/companies/management/commands/sync_ft_offers.py
  itou/utils/mocks/pole_emploi.py
Due: ruff-format, ruff-check

templates: consolidate the pagination include
  itou/templates/apply/includes/list_job_applications.html
  itou/templates/approvals/includes/list_results.html
  itou/templates/employee_record/includes/list_results.html
  itou/templates/gps/includes/memberships_results.html
  itou/templates/job_seekers_views/includes/list_results.html
  itou/templates/search/includes/prescribers_search_results.html
  itou/templates/search/includes/siaes_search_results.html
  tests/utils/testing.py
  tests/www/apply/test_list_prescriptions.py
  tests/www/approvals_views/test_list.py
  tests/www/employee_record_views/test_list.py
  tests/www/job_seekers_views/test_list.py
  tests/www/search/tests.py
Due: ruff-format, ruff-check, djlint

templates: remove `boost=True` from pagination include in some templates
  itou/templates/approvals/prolongation_requests/list.html
  itou/templates/companies/job_description_list.html
  itou/templates/geiq_assessments_views/assessment_contracts_list.html
  tests/www/approvals_views/test_prolongation_requests.py
  tests/www/companies_views/test_job_description_views.py
  tests/www/geiq_assessments_views/test_views_for_both.py
Due: ruff-format, ruff-check, djlint

sync_ft_offers: handle missing dateActualisation field
  itou/companies/management/commands/sync_ft_offers.py
Due: ruff-format, ruff-check

www.companies: display spontaneous applications only on first page of jobs list
  itou/templates/companies/job_description_list.html
  tests/www/companies_views/test_job_description_views.py
Due: ruff-format, ruff-check, djlint

[Consumed API] PE: add data to make debugging easier
  itou/utils/apis/pole_emploi.py
  tests/users/test_management_commands.py
  tests/utils/apis/test_pole_emploi_api.py
Due: ruff-format, ruff-check

sync_ft_offers: handle missing experienceLibelle field
  itou/companies/management/commands/sync_ft_offers.py
Due: ruff-format, ruff-check

gps: Fix htmx use
  itou/templates/gps/group_memberships.html
  tests/gps/__snapshots__/test_views.ambr
Due: djlint

Prepare test to handle next upcoming badges
  itou/utils/mocks/api_particulier.py
  tests/eligibility/factories.py
  tests/utils/apis/test_api_particulier.py
  tests/www/apply/test_templates.py
Due: ruff-format, ruff-check

WIP
  itou/eligibility/tasks.py
  itou/eligibility/utils.py
  itou/templates/apply/includes/selected_administrative_criteria_display.html
  itou/templates/eligibility/includes/badge_temporarily_certified.html
  tests/utils/apis/test_api_particulier.py
  tests/www/apply/test_templates.py
  tests/www/eligibility_views/utils.py
Due: ruff-format, ruff-check, djlint

[API Pole emploi] Move function definition to its own module
  itou/approvals/management/commands/send_approvals_to_pe.py
  itou/approvals/models.py
  itou/companies/management/commands/sync_ft_offers.py
  itou/jobs/management/commands/sync_romes_and_appellations.py
  itou/prescribers/management/commands/sync_ft_organizations.py
  itou/users/management/commands/pe_certify_users.py
  itou/utils/apis/__init__.py
  itou/utils/apis/pole_emploi.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

utils: Improve minium birthdate
  itou/utils/validators.py
  tests/utils/tests.py
  tests/www/job_seekers_views/test_create_or_update.py
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/test_job_seeker.py
Due: ruff-format, ruff-check

users: Fix incoherent birthdates
  itou/users/migrations/0038_fix_job_seeker_profile_birthdate.py
Due: ruff-format, ruff-check

test: Fix snapshot
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/test_job_seeker.py
Due: ruff-format, ruff-check

apply: Fix certified badge tests
  tests/www/apply/test_templates.py
Due: ruff-format, ruff-check

utils: Fix missing __init__.py file
  itou/utils/apis/__init__.py
Due: ruff-format, ruff-check

WIP - metabase: Fetch RIAE contracts
  itou/metabase/management/commands/metabase_data.py
Due: ruff-format, ruff-check

companies: Add Contract model
  itou/companies/migrations/0007_contract.py
  itou/companies/models.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/archive/__snapshots__/tests_utils.ambr
  tests/users/test_admin.py
Due: ruff-format, ruff-check

SQUASH ME : refactor fetch_riae_contracts query
  itou/metabase/management/commands/metabase_data.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
