Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

ASP notifications: always use an up-to-date SIRET.
  itou/employee_record/serializers.py
  tests/employee_record/test_serializers.py
Due: ruff-format, ruff-check

dashboard: add Mon Récap card to partner services
  config/settings/base.py
  itou/static/css/itou.css
  itou/static/img/dashboard/card-header-bg-gps.png
  itou/static/img/dashboard/card-header-bg-mon-recap-booklet.png
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/mon_recap_card.html
  itou/utils/settings_context_processors.py
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check, djlint

nexus: use MON_RECAP_WWW_BASE_URL setting instead of hardcoded URLs
  itou/templates/apply/list_prescriptions.html
  itou/templates/approvals/list.html
  itou/templates/gps/group_memberships.html
  itou/templates/includes/mon_recap_banner.html
  itou/templates/nexus/mon_recap.html
  itou/utils/templatetags/nexus.py
  itou/www/nexus/views.py
Due: ruff-format, ruff-check, djlint

search: turn prescriber search into accompagnement
  itou/fixtures/django/prescribers__organization.json
  itou/prescribers/enums.py
  itou/prescribers/models.py
  itou/templates/layout/_footer.html
  itou/templates/search/includes/generic_search_home.html
  itou/templates/search/includes/prescribers_search_form.html
  itou/templates/search/includes/prescribers_search_results.html
  itou/templates/search/includes/prescribers_search_title.html
  itou/templates/search/prescribers_search_home.html
  itou/templates/search/prescribers_search_results.html
  itou/templates/search/services/home.html
  itou/templates/search/siaes_search_home.html
  itou/utils/templatetags/nav.py
  itou/www/search_views/forms.py
  itou/www/search_views/views.py
  tests/prescribers/tests.py
  tests/www/__snapshots__/test_layout.ambr
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check, djlint

wip migration and view
  itou/insertion/migrations/0014_orientation_attachments_tmp_and_more.py
  itou/insertion/models.py
  itou/www/insertion_views/views.py
Due: ruff-format, ruff-check

API France Travail: Use the minimum needed scopes.
  itou/utils/apis/pole_emploi.py
  tests/jobs/management/__snapshots__/test_sync_romes_and_appellations.ambr
  tests/utils/apis/test_pole_emploi_api.py
Due: ruff-format, ruff-check

wip - for testing
  config/settings/dev.py
  config/settings/test.py
Due: ruff-format, ruff-check

admin: display orientation associated to the mobilization event
  itou/insertion/admin.py
Due: ruff-format, ruff-check

insertion: rename mobilization link field to mobilization_link
  itou/fixtures/django/insertion__service.json
  itou/insertion/admin.py
  itou/insertion/management/commands/import_structures_and_services.py
  itou/insertion/migrations/0013_rename_mobilization_link.py
  itou/insertion/models.py
  itou/templates/insertion/includes/orientation_external_link_button.html
  itou/templates/insertion/service_card.html
  tests/insertion/__snapshots__/test_import_structures_and_services.ambr
  tests/insertion/test_import_structures_and_services.py
  tests/insertion/test_models.py
  tests/www/insertion_views/__snapshots__/test_views.ambr
  tests/www/insertion_views/test_views.py
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check, djlint

insertion: stop using legacy mobilization fields in sync
  itou/insertion/management/commands/import_structures_and_services.py
  itou/insertion/models.py
  itou/www/insertion_views/views.py
  tests/insertion/__snapshots__/test_import_structures_and_services.ambr
  tests/insertion/test_import_structures_and_services.py
  tests/www/insertion_views/test_views.py
Due: ruff-format, ruff-check

Allow itou-admins to comment cancelled pass
  itou/users/management/commands/sync_group_and_perms.py
  tests/users/__snapshots__/test_sync_group_and_perms.ambr
Due: ruff-format, ruff-check

apply: add check to hiring_start_at
  itou/job_applications/models.py
  itou/templates/apply/includes/job_application_accept_form.html
  itou/www/apply/forms.py
  itou/www/apply/views/accept_views.py
  itou/www/apply/views/common.py
  tests/www/apply/__snapshots__/test_accept_views.ambr
  tests/www/apply/__snapshots__/test_hire_views.ambr
  tests/www/apply/test_accept_views.py
  tests/www/apply/test_forms.py
  tests/www/apply/test_hire_views.py
Due: ruff-format, ruff-check, djlint

apply: use hiring_start_at to see if a diagnosis is needed
  itou/www/apply/views/accept_views.py
  itou/www/apply/views/common.py
  itou/www/apply/views/hire_views.py
  tests/www/apply/test_accept_views.py
  tests/www/apply/test_hire_views.py
Due: ruff-format, ruff-check

Front-end filter group: Handicap
  itou/companies/enums.py
  itou/companies/management/commands/sync_ft_offers.py
  itou/companies/models.py
  itou/templates/apply/includes/job_applications_filters/field_collapse_checkbox.html
  itou/templates/companies/includes/_card_jobdescription.html
  itou/templates/django_bootstrap5/widgets/radio_select.html
  itou/templates/includes/btn_dropdown_filter/checkboxes.html
  itou/templates/includes/btn_dropdown_filter/radio.html
  itou/templates/search/includes/filters/contract_types.html
  itou/templates/search/includes/filters/departments.html
  itou/templates/search/includes/filters/distance.html
  itou/templates/search/includes/filters/domains.html
  itou/templates/search/includes/filters/handicap.html
  itou/templates/search/includes/filters/offcanvas.html
  itou/templates/search/includes/filters/offcanvas_body.html
  itou/templates/search/includes/filters/offcanvas_footer.html
  itou/templates/search/includes/filters/structure_kind.html
  itou/templates/search/includes/siaes_search_content.html
  itou/templates/search/includes/siaes_search_filters_departments.html
  itou/utils/apis/pole_emploi.py
  itou/www/search_views/forms.py
  itou/www/search_views/views.py
  tests/gps/__snapshots__/test_views.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check, djlint

Merge templates and move them to have them more reusable.
  itou/templates/apply/includes/job_applications_filters/departments.html
  itou/templates/apply/includes/job_applications_filters/offcanvas_body.html
  itou/templates/apply/includes/job_applications_filters/selected_jobs.html
  itou/templates/includes/field_collapse.html
  itou/templates/includes/field_collapse_checkbox.html
  itou/templates/recommendations/includes/recommendation_filters/field_collapse_checkbox.html
  itou/templates/recommendations/includes/recommendation_filters/offcanvas.html
  itou/templates/search/includes/filters/contract_types.html
  itou/templates/search/includes/filters/departments.html
  itou/templates/search/includes/filters/distance.html
  itou/templates/search/includes/filters/domains.html
  itou/templates/search/includes/filters/handicap.html
  itou/templates/search/includes/filters/structure_kind.html
Due: djlint

Importation France Travail des offres d'emploi d'Employeurs Handi Engagés.
  itou/companies/enums.py
  itou/companies/management/commands/sync_ft_offers.py
  itou/companies/migrations/0003_jobdescription_source_tags.py
  itou/utils/apis/pole_emploi.py
  tests/companies/test_sync_ft_offers.py
Due: ruff-format, ruff-check

refactor: restructure IAE rules message display and move batch actions to title_extra block
  itou/templates/apply/list_for_siae.html
Due: djlint

Fix authorized prescriber access to unrelated PASS IAE details
  itou/approvals/perms.py
  tests/approvals/test_perms.py
  tests/www/approvals_views/__snapshots__/test_detail.ambr
Due: ruff-format, ruff-check

Fix authorized prescriber access to unrelated PASS IAE details
  itou/approvals/perms.py
  tests/approvals/test_perms.py
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
Due: ruff-format, ruff-check

insertion: save orientation attachments on les emplois
  itou/insertion/migrations/0013_orientation_documents.py
  itou/insertion/models.py
  itou/www/insertion_views/views.py
  tests/test_consistency.py
  tests/www/insertion_views/test_wizard.py
Due: ruff-format, ruff-check

fix: DRF 3.18+ reports list serializer errors as a dict
  itou/api/nexus/views.py
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: ruff-format, ruff-check

fix(metabase): remove build_dbt_daily Airflow call
  config/settings/base.py
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/metabase/management/commands/populate_metabase_matomo.py
  itou/metabase/utils.py
  tests/metabase/management/__snapshots__/test_populate_metabase_emplois.ambr
  tests/metabase/management/test_populate_metabase_emplois.py
  tests/metabase/management/test_populate_metabase_matomo.py
Due: ruff-format, ruff-check

style: format CI and Git workflows for consistency, fix indentation
  .github/workflows/ci.yml
  .github/workflows/git.yml
Due: none

feat: enable manual triggering of CI workflow
  .github/workflows/ci.yml
Due: none

Embed the landing page on the home page
  config/settings/base.py
  itou/static/css/itou.css
  itou/templates/search/siaes_search_home.html
  itou/utils/settings_context_processors.py
  tests/www/search_views/tests.py
Due: ruff-format, ruff-check, djlint

Upgrade to Python 3.14
  .python-version
  docker-compose.yml
  itou/antivirus/management/commands/scan_s3_files.py
  itou/api/geiq/views.py
  itou/approvals/models.py
  itou/archive/management/commands/remove_unknown_emails_from_brevo.py
  itou/communications/apps.py
  itou/employee_record/admin.py
  itou/insertion/admin.py
  itou/insertion/opening_hours.py
  itou/job_applications/admin.py
  itou/utils/admin.py
  itou/utils/apis/api_entreprise.py
  itou/utils/apis/datadog.py
  itou/utils/apis/pole_emploi.py
  itou/utils/pagination.py
  itou/utils/templatetags/format_filters.py
  itou/www/apply/views/batch_views.py
  itou/www/apply/views/submit_views.py
  itou/www/approvals_views/forms.py
  itou/www/otp_views/views.py
  itou/www/search_views/views.py
  pyproject.toml
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
