Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

dashboard: fix typo
  itou/templates/dashboard/edit_user_info.html
Due: djlint

eligibility: change where the geiq diagnoses queryset is ordered
  itou/eligibility/models/geiq.py
  tests/eligibility/test_geiq.py
Due: ruff-format, ruff-check

eligibility: retrieve the last IAE diagnosis from job seeker perspective
  itou/eligibility/models/iae.py
  tests/eligibility/test_iae.py
Due: ruff-format, ruff-check

dashboard: display geiq eligibility diagnosis on job seeker dashboard
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/job_seeker_approval_card.html
  itou/templates/dashboard/includes/job_seeker_eligibility_card.html
  itou/www/dashboard/views.py
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check, djlint

eligibility: filter geiq diagnoses from job seeker perspective
  itou/eligibility/models/geiq.py
  tests/eligibility/test_geiq.py
Due: ruff-format, ruff-check

templates: new variable to flatten criteria list
  itou/templates/apply/includes/eligibility_diagnosis.html
  itou/templates/includes/valid_eligibility_diagnosis_and_criteria.html
Due: djlint

templates: extract eligibility diagnosis and criteria when valid
  itou/templates/apply/includes/eligibility_diagnosis.html
  itou/templates/includes/valid_eligibility_diagnosis_and_criteria.html
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
Due: djlint

dashboard: display eligibility diagnosis status on job seeker dashboard
  itou/templates/dashboard/dashboard.html
  itou/templates/dashboard/includes/job_seeker_eligibility_card.html
  itou/www/dashboard/views.py
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/test_dashboard.py
Due: ruff-format, ruff-check, djlint

badges: add a parameter for rendering diagnosis badges for job seekers
  itou/utils/templatetags/badges.py
  tests/utils/__snapshots__/tests.ambr
  tests/utils/tests.py
Due: ruff-format, ruff-check

Suspension: add custom rules for the admin
  itou/approvals/admin.py
  itou/approvals/models.py
  tests/approvals/test_admin.py
Due: ruff-format, ruff-check

fix: improve spacing in eligibility diagnosis template
  itou/templates/apply/includes/eligibility_diagnosis.html
Due: djlint

changelog: From 2025-06-16 to 2025-06-22
  CHANGELOG.md
Due: none

employee_record: Make some improvements to `employee_record` command
  itou/employee_record/management/commands/employee_record.py
Due: ruff-format, ruff-check

job_application: add a new shared_comment text field
  itou/job_applications/admin_forms.py
  itou/job_applications/migrations/0019_jobapplication_shared_comment_and_more.py
  itou/job_applications/models.py
  tests/api/__snapshots__/test_geiq.ambr
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records.ambr
  tests/employee_record/__snapshots__/test_transfer_employee_records_updates.ambr
  tests/job_applications/__snapshots__/test_transfer.ambr
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_details.ambr
  tests/www/search/__snapshots__/tests.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
Due: ruff-format, ruff-check

Use a template tag for the structure switcher
  itou/templates/layout/_header_authenticated.html
  itou/templates/layout/_structure_switcher_dropdown_menu.html
  itou/templates/layout/_structure_switcher_nav.html
  itou/templates/layout/_structure_switcher_offcanvas.html
  itou/utils/templatetags/structure_switcher.py
Due: ruff-format, ruff-check, djlint

Prepare handle_nav_exception for reuse
  itou/utils/errors.py
  itou/utils/templatetags/nav.py
  tests/www/test_error.py
Due: ruff-format, ruff-check

Rename switch{User,Structure}Dropdown
  itou/templates/layout/_structure_switcher_nav.html
  itou/templates/layout/_structure_switcher_offcanvas.html
Due: djlint

prescribers: Improve is_authorized display in PrescriberOrganization admin
  itou/prescribers/admin.py
Due: ruff-format, ruff-check

settings: add lock_ & statement_timeout to DB configuration
  config/settings/base.py
Due: ruff-format, ruff-check

js: upgrade htmx
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

Get or create SessionNamespace from its __init__
  itou/utils/session.py
  itou/www/apply/views/process_views.py
  itou/www/apply/views/submit_views.py
  itou/www/companies_views/views.py
  itou/www/job_seekers_views/views.py
  itou/www/utils/wizard.py
  tests/utils/test.py
  tests/utils/tests.py
Due: ruff-format, ruff-check

Rename SessionNamespace.create{_uuid_namespace,}
  itou/utils/session.py
  itou/www/apply/views/submit_views.py
  itou/www/companies_views/views.py
  itou/www/gps/views.py
  itou/www/job_seekers_views/views.py
  itou/www/utils/wizard.py
  tests/utils/tests.py
  tests/www/companies_views/test_job_description_views.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

companies: Disable job description without recent update
  clevercloud/cron.json
  itou/companies/management/commands/deactivate_old_job_descriptions.py
  tests/companies/test_management_commands.py
Due: ruff-format, ruff-check

utils: fix Format.BOOLEAN value
  itou/utils/export.py
Due: ruff-format, ruff-check

tests: fix get_rows_from_streaming_response for False values
  tests/utils/test.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
