Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        types: [shell]
        language: system

tests.users: adapt IsPECertifiedFilter test
  tests/users/test_admin.py
Due: black, ruff

Add API_BAN_BASE_URL to the environment template
  .env.template
  CHANGELOG_breaking_changes.md
Due: none

Force DEBUG to False in base settings
  config/settings/base.py
Due: black, ruff

stats: Add a survey alert on every private dashboards
  itou/templates/stats/stats.html
Due: djlint

Update Approval dates in approvals fixtures
  itou/fixtures/django/21_approvals.json
Due: none

commit_test
  itou/templates/companies/edit_job_description_details.html
Due: djlint

Update siaes_search_home.html
  itou/templates/search/siaes_search_home.html
Due: djlint

apply: avoid duplicate sections in eligibility_for_hire view
  itou/templates/apply/submit/eligibility_for_hire.html
Due: djlint

profile admin: add asp_uid default value
  itou/users/admin.py
  itou/users/models.py
  tests/users/test_admin_views.py
Due: black, ruff

Fix flakiness of DRF rate limiting tests
  config/settings/base.py
  itou/utils/cache.py
  tests/www/companies_views/__snapshots__/test_views.ambr
  tests/www/companies_views/test_views.py
Due: black, ruff

fix: update section .s-tabs-01 ui
  itou/templates/search/siaes_search_results.html
  itou/utils/staticfiles.py
Due: black, ruff, djlint

Remove unused CSS for htmx-indicator.
  itou/static/css/itou.css
Due: none

Remove pytest-timeout
  README.md
  pytest.ini
  requirements/base.txt
  requirements/dev.txt
  requirements/test.in
  requirements/test.txt
Due: none

templates: remove invalid type="button" from <a> tag
  itou/templates/layout/_header_nav_primary_items.html
  tests/www/__snapshots__/test_layout.ambr
Due: djlint

requirements: bump Django to 5.0
  config/settings/base.py
  itou/www/apply/forms.py
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
  tests/users/test_admin.py
  tests/users/test_admin_views.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
  tests/www/approvals_views/__snapshots__/test_prolongation.ambr
  tests/www/dashboard/__snapshots__/tests.ambr
  tests/www/dashboard/tests.py
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_create.ambr
  tests/www/prescribers_views/__snapshots__/test_edit.ambr
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/signup/__snapshots__/test_job_seeker.ambr
Due: black, ruff

Add a link to report company and job descriptions
  itou/templates/companies/card.html
  itou/templates/companies/job_description_card.html
  itou/templates/includes/copy_to_clipboard.html
  itou/www/companies_views/views.py
  tests/www/approvals_views/__snapshots__/test_prolongation_requests.ambr
  tests/www/companies_views/__snapshots__/test_views.ambr
  tests/www/companies_views/test_views.py
Due: black, ruff, djlint

users.models: Fix PE certification when the NIR changes
  itou/users/models.py
  tests/users/test_models.py
Due: black, ruff

Update wording siaes_search_home.html
  itou/templates/search/siaes_search_home.html
Due: djlint

tests.utils: Also replace attributes in top node for `parse_response_to_soup()`
  tests/utils/test.py
  tests/utils/tests.py
Due: black, ruff

feat: add navtabs to company pages
  itou/templates/companies/job_description_list.html
  itou/templates/companies/members.html
  itou/templates/companies/show_financial_annexes.html
  itou/templates/includes/members.html
  itou/www/companies_views/views.py
  tests/www/companies_views/test_job_description_views.py
Due: black, ruff, djlint

Invite developers to contact us over API issues
  itou/templates/api/index.html
Due: djlint

analytics: Squash migrations
  itou/analytics/migrations/0001_initial.py
  itou/analytics/migrations/0002_statsdashboardvisit.py
  itou/analytics/migrations/0003_rename_siae_staff.py
  itou/analytics/migrations/0004_rename_current_siae_id_statsdashboardvisit_current_company_id.py
Due: black, ruff

antivirus: Squash migrations
  itou/antivirus/migrations/0001_initial.py
  itou/antivirus/migrations/0002_scan_delete_filescanreport.py
  itou/antivirus/migrations/0003_rename_clamav_infected_scan_infected.py
Due: black, ruff

api: Squash migrations
  itou/api/migrations/0001_initial.py
  itou/api/migrations/0002_alter_siaeapitoken_siaes.py
  itou/api/migrations/0003_rename_siaeapitoken_companyapitoken.py
  itou/api/migrations/0004_rename_siaes_companyapitoken_companies.py
  itou/companies/migrations/0007_rename_siae_company.py
Due: black, ruff

users: add command to notify then delete inactive jobseekers
  itou/templates/users/email/job_seeker_deletion_completed_body.txt
  itou/templates/users/email/job_seeker_deletion_completed_subject.txt
  itou/templates/users/email/job_seeker_upcoming_deletion_body.txt
  itou/templates/users/email/job_seeker_upcoming_deletion_subject.txt
  itou/users/emails.py
  itou/users/management/commands/notify_and_delete_inactive_job_seekers.py
  itou/users/models.py
  tests/users/__snapshots__/test_management_commands.ambr
  tests/users/test_management_commands.py
Due: black, ruff

users: add upcoming_deletion_notified_at field
  itou/users/migrations/0044_user_upcoming_deletion_notified_at.py
  itou/users/models.py
Due: black, ruff

approvals: Squash migrations
  itou/approvals/migrations/0001_initial.py
  itou/approvals/migrations/0002_add_declared_by_siae.py
  itou/approvals/migrations/0002_approval_origin.py
  itou/approvals/migrations/0003_fill_approval_origin.py
  itou/approvals/migrations/0004_approval_eligibility_diagnosis.py
  itou/approvals/migrations/0005_fill_approvals_eligibility_diagnoses.py
  itou/approvals/migrations/0006_alter_prolongation_updated_at_and_more.py
  itou/approvals/migrations/0007_prolongation_report_file.py
  itou/approvals/migrations/0008_poleemploiapproval_nir_idx.py
  itou/approvals/migrations/0009_suspension_cannot_start_in_the_future.py
  itou/approvals/migrations/0010_add_eligibility_diagnosis_constraint.py
  itou/approvals/migrations/0011_prepare_prolongation_for_inheritance.py
  itou/approvals/migrations/0012_add_prolongation_request.py
  itou/approvals/migrations/0013_prolongationrequest_reminder_sent_at.py
  itou/approvals/migrations/0014_migrate_triggers.py
  itou/approvals/migrations/0015_alter_suspension_updated_at.py
  itou/approvals/migrations/0016_prolongationrequestdenyinformation.py
  itou/approvals/migrations/0017_cancelledapproval.py
  itou/approvals/migrations/0018_rename_siae_staff.py
  itou/approvals/migrations/0020_approval_origin_prescriber_organization_kind_and_more.py
  itou/approvals/migrations/0021_approval_plan_pe_notification_on_date_updates.py
  itou/approvals/migrations/0022_rename_prescriber_kind_cancelledapproval_origin_prescriber_organization_kind_and_more.py
  itou/approvals/migrations/0023_cancelledapproval_approvals_cancelledapproval_start_before_end.py
  itou/approvals/migrations/0024_approval_approvals_approval_start_before_end.py
  itou/companies/migrations/0007_rename_siae_company.py
Due: black, ruff

asp: Squash migrations WIP
  itou/asp/migrations/0001_initial.py
  itou/asp/migrations/0002_commune_created_by.py
  itou/asp/migrations/0003_remove_commune_created_by_antoine.py
  itou/asp/migrations/0004_delete_created_by_column.py
  itou/asp/migrations/0005_add_commune_city.py
  itou/asp/migrations/0006_commune_exclude_commune_overlapping_dates_and_more.py
  itou/cities/migrations/0001_initial.py
  itou/users/migrations/0021_jobseekerprofile_birth_country_and_more.py
Due: black, ruff
