Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

fix: update siae evaluations templates ui
  itou/templates/siae_evaluations/evaluated_siae_detail.html
  itou/templates/siae_evaluations/includes/criteria_form.html
  itou/templates/siae_evaluations/institution_evaluated_siae_list.html
  itou/templates/siae_evaluations/siae_select_criteria.html
  itou/templates/siae_evaluations/siae_upload_doc.html
Due: djlint

communications: remove news modal from anonymous users
  itou/templates/layout/base.html
  itou/utils/context_processors.py
  tests/communications/test_cache.py
  tests/communications/test_campaigns.py
  tests/users/factories.py
  tests/utils/tests.py
Due: ruff-format, ruff-check, djlint

www.stats: Update DGEFP showroom with newest TB
  itou/templates/dashboard/includes/stats/dgefp.html
  itou/www/stats/views.py
  tests/www/dashboard/__snapshots__/test_dashboard_stats.ambr
Due: ruff-format, ruff-check, djlint

Rate limit anonymous user
  itou/utils/throttling.py
  itou/www/middleware.py
  tests/www/test_throttling.py
Due: ruff-format, ruff-check

apply: do not show `None` for missing job seeker information
  itou/templates/apply/includes/job_seeker_info.html
  tests/www/apply/test_details.py
Due: ruff-format, ruff-check, djlint

Remove the FAST-MACHINE environment
  config/settings/base.py
  itou/templates/account/email/email_confirmation_subject.txt
  itou/templates/account/email/password_reset_key_subject.txt
  itou/templates/layout/base_email_signature.txt
  itou/utils/emails.py
  itou/utils/enums.py
  scripts/create-fast-machine.sh
Due: ruff-format, ruff-check

templates: fix `bootstrap_form{set}_errors` usage
  itou/templates/invitations_views/create.html
Due: djlint

fix: update edit siae templates ui
  itou/templates/companies/card.html
  itou/templates/companies/edit_siae.html
  itou/templates/companies/edit_siae_base.html
  itou/templates/companies/edit_siae_description.html
  itou/templates/companies/edit_siae_preview.html
  itou/templates/companies/overview.html
  tests/www/companies_views/test_edit_company_views.py
  tests/www/companies_views/test_overview.py
  tests/www/prescribers_views/__snapshots__/test_edit.ambr
Due: ruff-format, ruff-check, djlint

fix: update edit organization template ui
  itou/templates/prescribers/edit_organization.html
Due: djlint

Suspension: change custom rules for the admin
  itou/approvals/models.py
  itou/www/approvals_views/forms.py
  tests/approvals/test_admin.py
  tests/approvals/tests.py
Due: ruff-format, ruff-check

Prevent migrations from running concurrently
  itou/utils/db.py
  itou/utils/management/commands/migrate.py
Due: ruff-format, ruff-check

users: new model to manage NIR modification requests
  itou/users/admin.py
  itou/users/migrations/0034_nirmodificationrequest.py
  itou/users/models.py
  tests/archive/__snapshots__/tests_management_command.ambr
  tests/users/test_admin.py
Due: ruff-format, ruff-check

users: management command to remove old nir modif request after 6 months
  clevercloud/cron.json
  itou/users/management/commands/delete_old_nir_modification_requests.py
  tests/users/test_management_commands.py
Due: ruff-format, ruff-check

job_seekers_views: add a form to request the NIR modification
  itou/templates/job_seekers_views/nir_modification_request.html
  itou/www/job_seekers_views/forms.py
  itou/www/job_seekers_views/urls.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/test_nir_modification_request.py
Due: ruff-format, ruff-check, djlint

users: send an mail to the assistance for each nir modification request
  itou/templates/users/emails/nir_modification_request_body.txt
  itou/templates/users/emails/nir_modification_request_subject.txt
  itou/users/models.py
  itou/www/job_seekers_views/views.py
  tests/www/job_seekers_views/test_nir_modification_request.py
Due: ruff-format, ruff-check

users: use the internal form in place of Tally to request a NIR modification
  itou/common_apps/nir/forms.py
  itou/www/apply/views/common.py
  itou/www/dashboard/views.py
  tests/www/apply/test_process.py
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/dashboard/test_edit_user_info.py
  tests/www/employees_views/test_detail.py
Due: ruff-format, ruff-check

tests: fix a flaky test
  tests/communications/test_campaigns.py
Due: ruff-format, ruff-check

apply: Allow to postpone new job applications
  itou/job_applications/models.py
  itou/templates/apply/includes/siae_actions.html
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_batch_views.py
Due: ruff-format, ruff-check, djlint

apply: Allow to add prior actions on new job applications
  itou/job_applications/models.py
  tests/job_applications/tests.py
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_process.py
Due: ruff-format, ruff-check

apply: Allow to accept new job applications
  itou/job_applications/models.py
  itou/templates/apply/includes/siae_hiring_actions.html
  tests/job_applications/__snapshots__/test_admin.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

apply: Allow to batch unarchive job applications -- WIP add tests
  itou/templates/apply/includes/siae_actions.html
  itou/templates/apply/includes/siae_actions_modals.html
  itou/www/apply/urls.py
  itou/www/apply/views/batch_views.py
  itou/www/apply/views/list_views.py
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/test_batch_views.py
  tests/www/apply/test_list_for_siae.py
Due: ruff-format, ruff-check, djlint

WIP
  itou/templates/apply/includes/hire_contract_form.html
  itou/templates/apply/submit/hire_contract.html
  itou/templates/apply/submit/hire_job_seeker.html
  itou/www/apply/urls.py
  itou/www/apply/views/common.py
  itou/www/apply/views/submit_views.py
  tests/www/apply/test_hire_process.py
  tests/www/apply/test_submit.py
Due: ruff-format, ruff-check, djlint

Upgrade Pillow to prevent buffer overflow
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

requirements: Remove pillow dependency
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
  tests/communications/test_admin.py
  tests/conftest.py
  tests/data/black_pixel.png
Due: ruff-format, ruff-check

files: Delete unknown files from s3 instead of syncing them
  clevercloud/cron.json
  itou/files/management/commands/remove_unknown_s3_files.py
  itou/files/management/commands/sync_s3_files.py
  tests/files/tests.py
Due: ruff-format, ruff-check

communications: Delete old AnnoucementItem image
  itou/communications/forms.py
  tests/communications/test_admin.py
Due: ruff-format, ruff-check

archive: Remove archived resume files
  itou/archive/management/commands/anonymize_jobseekers.py
  tests/archive/tests_management_command.py
Due: ruff-format, ruff-check

files: delete orphans directly
  clevercloud/cron.json
  itou/files/management/commands/delete_orphan_files.py
  tests/files/tests.py
Due: ruff-format, ruff-check

files Remove purge_files command
  clevercloud/cron.json
  itou/files/management/commands/purge_files.py
  tests/files/tests.py
Due: ruff-format, ruff-check

files: Remove delete_at field
  itou/files/admin.py
  itou/files/migrations/0010_remove_file_deleted_at.py
  itou/files/models.py
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/employees_views/__snapshots__/test_detail.ambr
Due: ruff-format, ruff-check

changelog: From 2025-06-30 to 2025-07-06
  CHANGELOG.md
Due: none

Update edit siae templates ui
  itou/templates/companies/card.html
  itou/templates/companies/edit_siae.html
  itou/templates/companies/edit_siae_base.html
  itou/templates/companies/edit_siae_description.html
  itou/templates/companies/edit_siae_preview.html
  itou/templates/companies/overview.html
  tests/www/companies_views/test_edit_company_views.py
  tests/www/companies_views/test_overview.py
  tests/www/prescribers_views/__snapshots__/test_edit.ambr
Due: ruff-format, ruff-check, djlint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
