Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: flake8
        name: Flake8
        entry: flake8
        types: [python]
        language: system
      - id: isort
        name: isort
        entry: isort
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system

fixtures: Fix null nir following new db constraint
  itou/fixtures/django/04_test_users.json
Due: none

github: Update PR template
  .github/pull_request_template.md
Due: none

feat: update ui for job desciption cards
  itou/templates/siaes/includes/_card_jobdescription.html
  itou/templates/siaes/includes/_card_siae.html
  itou/www/search/tests.py
Due: black, flake8, isort, djlint

dashboard: Add Inclusion Connect banner
  itou/templates/dashboard/dashboard.html
  itou/www/dashboard/tests.py
  itou/www/dashboard/views.py
Due: black, flake8, isort, djlint

feat: update Inclusion Connect banner ui
  itou/static/css/itou.css
  itou/static/img/illustration-bg-mini-ic.svg
  itou/templates/dashboard/dashboard.html
Due: djlint

inclusion_connect: Update matomo attributes
  itou/templates/account/activate_inclusion_connect_account.html
  itou/templates/account/login_generic.html
  itou/templates/dashboard/dashboard.html
Due: djlint

stats: Improve params logic
  itou/utils/apis/metabase.py
  itou/www/stats/views.py
Due: black, flake8, isort

stats: Simplify page_title formatting
  itou/www/stats/views.py
Due: black, flake8, isort

stats: Hide new stats for now until ready
  itou/templates/dashboard/includes/stats.html
Due: djlint

stats: s/diagnosis_control/siae_evaluation/g
  itou/templates/dashboard/includes/stats.html
  itou/templates/siae_evaluations/samples_selection.html
  itou/templates/stats/stats.html
  itou/templates/stats/stats_test1.html
  itou/templates/stats/stats_test2.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/views.py
Due: black, flake8, isort, djlint

stats: Fix mutable default argument mistake
  itou/www/stats/views.py
Due: black, flake8, isort

stats: Refactor the ddets/dreets/dgefp views
  itou/www/stats/views.py
Due: black, flake8, isort

stats: Add more views for DDETS/DREETS/DGEFP
  itou/templates/dashboard/includes/stats.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/views.py
Due: black, flake8, isort, djlint

stats: Drop superfluous comments
  itou/www/stats/views.py
Due: black, flake8, isort

stats: Revert to initial tally popup behavior
  itou/templates/stats/stats.html
Due: djlint

stats: Drop test views as tally issue is solved
  itou/templates/stats/stats_test1.html
  itou/templates/stats/stats_test2.html
  itou/utils/apis/metabase.py
  itou/www/stats/urls.py
  itou/www/stats/views.py
Due: black, flake8, isort, djlint

metabase : addition of the MP structures
  itou/metabase/sql/006_saisies_mensuelles_iae.sql
  itou/metabase/sql/010_sorties.sql
Due: none

metabase : clarification of a column name
  itou/metabase/sql/033_siae_pratiquant_autoprescription.sql
Due: none

metabase : year addition
  itou/metabase/sql/033_siae_pratiquant_autoprescription.sql
Due: none

changelog: Sprint 57
  CHANGELOG.md
Due: none

metabase: clean comments and add quotation marks for accentuated columns
  itou/metabase/sql/015_taux_transformation_prescripteurs.sql
Due: none

dashboard: Add link to Inclusion Account page to edit personal info
  itou/openid_connect/inclusion_connect/constants.py
  itou/templates/dashboard/edit_user_info.html
  itou/templates/dashboard/includes/edit_job_seeker_info_form.html
  itou/www/dashboard/forms.py
  itou/www/dashboard/tests.py
  itou/www/dashboard/views.py
Due: black, flake8, isort, djlint

fixup! france_connec: Add missing space in error message
  itou/openid_connect/france_connect/views.py
  itou/www/login/tests.py
Due: black, flake8, isort

france_connec: Add missing space in error message
  itou/openid_connect/france_connect/views.py
  itou/www/login/tests.py
Due: black, flake8, isort

fixup! inclusion_connect: Handle email collision during update
  itou/openid_connect/inclusion_connect/tests.py
  itou/openid_connect/inclusion_connect/views.py
Due: black, flake8, isort

inclusion_connect: Handle email collision during update
  itou/openid_connect/inclusion_connect/tests.py
  itou/openid_connect/inclusion_connect/views.py
Due: black, flake8, isort

fixup! dashboard: Add link to Inclusion Account page to edit personal info
  itou/templates/dashboard/edit_user_info.html
  itou/templates/dashboard/includes/edit_job_seeker_info_form.html
Due: djlint

inclusion_connect: Clean logout
  itou/openid_connect/inclusion_connect/views.py
  itou/users/adapter.py
Due: black, flake8, isort

siae_evaluations: use job application states in siae state
  itou/siae_evaluations/models.py
  itou/www/siae_evaluations_views/tests/tests_institutions_views.py
Due: black, flake8, isort

siae_evaluations: replace cached_property state by a method
  itou/metabase/management/test_populate_metabase_emplois.py
  itou/metabase/tables/evaluated_job_applications.py
  itou/siae_evaluations/models.py
  itou/siae_evaluations/tests/tests_models.py
  itou/templates/siae_evaluations/includes/list_item.html
  itou/templates/siae_evaluations/institution_evaluated_job_application.html
  itou/templates/siae_evaluations/institution_evaluated_siae_detail.html
  itou/templates/siae_evaluations/siae_upload_doc.html
  itou/www/siae_evaluations_views/tests/tests_siaes_views.py
  itou/www/siae_evaluations_views/views.py
Due: black, flake8, isort, djlint

siae_evaluations: switch to max computation
  itou/siae_evaluations/models.py
  itou/www/siae_evaluations_views/tests/tests_institutions_views.py
Due: black, flake8, isort

siae_evaluations: refactor EvaluatedJobApplication state
  itou/siae_evaluations/models.py
Due: black, flake8, isort
