Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, djlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: flake8
        name: Flake8
        entry: flake8
        types: [python]
        language: system
      - id: isort
        name: isort
        entry: isort
        types: [python]
        language: system
      - id: djlint
        name: djlint
        entry: djlint --reformat
        types: [html]
        language: system

Revert "dependabot: update Makefile to behave like dependabot"
  Makefile
  requirements/base.txt
  requirements/dev.txt
Due: none

Fetch full git history for antivirus scan
  .github/workflows/antivirus-scan.yml
Due: none

admin: Allow to set/change username for django users
  itou/users/admin.py
Due: black, flake8, isort

inclusion_connect: allow to resume registration flow from session
  itou/openid_connect/inclusion_connect/tests.py
  itou/openid_connect/inclusion_connect/urls.py
  itou/openid_connect/inclusion_connect/views.py
Due: black, flake8, isort

Allow changing SSO users who already have an email
  itou/users/admin_forms.py
  itou/users/tests/test_admin_views.py
Due: black, flake8, isort

inclusion_connect: Improve resume registration failure
  itou/openid_connect/inclusion_connect/tests.py
  itou/openid_connect/inclusion_connect/views.py
Due: black, flake8, isort

management command: bulk geo lookup of job seekers addresses
  itou/scripts/management/commands/geolocate_jobseeker_addresses.py
  itou/scripts/sample_user_geoloc.csv
  itou/scripts/tests_users_geolocation.py
Due: black, flake8, isort

Remove unused template signup/siae_signup.html
  itou/templates/signup/siae_signup.html
Due: djlint

Drop encoding of siae_id in SIAE signup process
  itou/siaes/models.py
  itou/www/signup/tests/test_siae.py
  itou/www/signup/urls.py
  itou/www/signup/views.py
  itou/www/welcoming_tour/tests.py
Due: black, flake8, isort

www.search: Add a contract_type filter for job descriptions
  itou/templates/search/includes/siaes_search_filters.html
  itou/templates/search/siaes_search_results.html
  itou/www/search/forms.py
  itou/www/search/tests.py
  itou/www/search/views.py
Due: black, flake8, isort, djlint

www.search: Save some requests
  itou/www/search/tests.py
  itou/www/search/views.py
Due: black, flake8, isort

search.tests: Fix a flaky test and remove a debug print
  itou/www/search/tests.py
Due: black, flake8, isort

job_applications: Fix with_accepted_at
  itou/job_applications/models.py
  itou/job_applications/tests/tests.py
Due: black, flake8, isort

requirements: unloose most dependencies
  requirements/base.in
Due: none

Remind SIAE to send proofs before entering adversarial stage
  clevercloud/cron.json
  clevercloud/evaluation_campaign_notifications.sh
  itou/siae_evaluations/management/commands/evaluation_campaign_notify.py
  itou/siae_evaluations/migrations/0012_evaluatedsiae_reminder_sent_at.py
  itou/siae_evaluations/models.py
  itou/siae_evaluations/tests/test_management_commands.py
  itou/templates/siae_evaluations/email/to_siae_notify_before_adversarial_stage_body.txt
  itou/templates/siae_evaluations/email/to_siae_notify_before_adversarial_stage_subject.txt
Due: black, flake8, isort

employee_record.transfer_employee_records: Sync `handle()` defaults with `add_arguments()`
  itou/employee_record/management/commands/transfer_employee_records.py
  itou/employee_record/management/commands/transfer_employee_records_updates.py
Due: black, flake8, isort

employee_record.transfer_employee_records: `--archive` doesn't need the SFTP
  itou/employee_record/management/commands/transfer_employee_records.py
  itou/employee_record/tests/tests_management_commands.py
Due: black, flake8, isort

Fix TestCase imports
  itou/allauth_adapters/peamu/tests.py
  itou/employee_record/tests/tests_notifications.py
Due: black, flake8, isort

Move antivirus scan to the C1 workers
  .github/workflows/antivirus-scan.yml
  clevercloud/cron.json
  clevercloud/evaluation_campaign_notifications.sh
  clevercloud/run_management_command.sh
  clevercloud/update-prescriber-organization-with-api-entreprise.sh
  scripts/antivirus-daily.sh
  scripts/antivirus-monthly.sh
Due: none

approvals: Display approval remainder in days
  itou/approvals/models.py
  itou/approvals/tests/tests.py
  itou/templates/approvals/includes/status.html
  itou/www/dashboard/tests.py
Due: black, flake8, isort, djlint

Drop dead code from models.Approval.clean
  itou/approvals/models.py
Due: black, flake8, isort

Handle an approval without accepted job app in the admin
  itou/approvals/models.py
  itou/approvals/tests/tests.py
Due: black, flake8, isort

Notify SIAE who did not participate in an evaluation campaign
  itou/siae_evaluations/management/commands/evaluation_campaign_notify.py
  itou/siae_evaluations/models.py
  itou/siae_evaluations/tests/tests_models.py
  itou/templates/siae_evaluations/email/to_siae_refused_no_proofs_body.txt
  itou/templates/siae_evaluations/email/to_siae_refused_no_proofs_subject.txt
Due: black, flake8, isort
