Repository gip-inclusion/les-emplois: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, djlint

ruff-format:
  name: Ruff format
  entry: ruff format
  language: system

ruff-check:
  name: Ruff check
  entry: ruff check --fix
  language: system

djlint:
  name: djlint
  entry: djlint --reformat
  language: system

tests: Remove unused feature
  tests/conftest.py
Due: ruff-format, ruff-check

Remove unnecessary decode calls
  itou/openid_connect/france_connect/views.py
  itou/openid_connect/pe_connect/views.py
Due: ruff-format, ruff-check

Use new Django HttpResponse.text property
  itou/users/management/commands/send_users_to_brevo.py
  tests/api/siae_api/tests.py
  tests/gps/test_views.py
  tests/utils/test.py
  tests/www/apply/test_process.py
  tests/www/employee_record_views/test_list.py
  tests/www/test_check_health.py
Due: ruff-format, ruff-check

Update migrations with noop changes
  itou/companies/migrations/0001_initial.py
  itou/geiq_assessments/migrations/0001_initial.py
  itou/gps/migrations/0001_initial.py
  itou/institutions/migrations/0001_initial.py
  itou/prescribers/migrations/0001_initial.py
Due: ruff-format, ruff-check

requirements: Bump to Django 5.2.2
  itou/api/applicants_api/views.py
  itou/gps/models.py
  itou/metabase/management/commands/populate_metabase_emplois.py
  itou/www/signup/forms.py
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/test.txt
  tests/api/employee_record_api/__snapshots__/tests.ambr
  tests/api/job_applications_api/__snapshots__/test_search.ambr
  tests/companies/__snapshots__/test_admin.ambr
  tests/conftest.py
  tests/gps/__snapshots__/test_views.ambr
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/users/__snapshots__/test_admin_views.ambr
  tests/www/apply/__snapshots__/test_list_for_job_seeker.ambr
  tests/www/apply/__snapshots__/test_list_for_siae.ambr
  tests/www/apply/__snapshots__/test_list_prescriptions.ambr
  tests/www/apply/__snapshots__/test_process.ambr
  tests/www/apply/__snapshots__/test_submit.ambr
  tests/www/approvals_views/__snapshots__/test_detail.ambr
  tests/www/approvals_views/__snapshots__/test_prolongation.ambr
  tests/www/approvals_views/__snapshots__/test_suspend.ambr
  tests/www/companies_views/__snapshots__/test_job_description_views.ambr
  tests/www/dashboard/__snapshots__/test_dashboard.ambr
  tests/www/dashboard/__snapshots__/test_edit_user_notifications.ambr
  tests/www/dashboard/test_edit_job_seeker_info.py
  tests/www/employee_record_views/__snapshots__/test_add.ambr
  tests/www/employee_record_views/__snapshots__/test_list.ambr
  tests/www/geiq_assessments_views/__snapshots__/test_views_for_institution.ambr
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/job_seekers_views/__snapshots__/test_list.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
  tests/www/siae_evaluations_views/test_institutions_views.py
  tests/www/signup/__snapshots__/test_job_seeker.ambr
  tests/www/signup/__snapshots__/test_siae.ambr
Due: ruff-format, ruff-check

tests: Remove forgotten prints
  tests/metabase/management/test_upload_data_to_pilotage.py
  tests/www/approvals_views/test_list.py
  tests/www/itou_staff_views/tests.py
Due: ruff-format, ruff-check

Use Django's reverse new query keyword argument
  itou/companies/admin.py
  itou/users/admin.py
  itou/utils/perms/middleware.py
  itou/www/apply/views/submit_views.py
  itou/www/approvals_views/forms.py
  itou/www/approvals_views/views.py
  itou/www/dashboard/views.py
  itou/www/employee_record_views/views.py
  itou/www/job_seekers_views/views.py
  itou/www/login/views.py
  tests/emails/test_admin.py
  tests/gps/test_admin.py
  tests/openid_connect/pro_connect/tests.py
  tests/www/apply/test_batch_views.py
  tests/www/apply/test_list_for_siae.py
  tests/www/apply/test_list_prescriptions.py
  tests/www/apply/test_process.py
  tests/www/apply/test_submit.py
  tests/www/approvals_views/test_prolongation.py
  tests/www/approvals_views/test_suspend.py
  tests/www/companies_views/test_card_views.py
  tests/www/eligibility_views/test_views.py
  tests/www/employee_record_views/test_add.py
  tests/www/employee_record_views/test_create.py
  tests/www/employees_views/test_detail.py
  tests/www/job_seekers_views/test_create_or_update.py
  tests/www/login/tests.py
  tests/www/prescribers_views/test_edit.py
  tests/www/prescribers_views/test_list.py
Due: ruff-format, ruff-check

changelog: From 2025-05-26 to 2025-06-01
  CHANGELOG.md
Due: none

metabase: Fix typo in export column comment
  itou/metabase/tables/job_applications.py
Due: ruff-format, ruff-check

changelog: From 2025-06-02 to 2025-06-08
  CHANGELOG.md
Due: none

www: Distiguish between signup and non signup email confirmation message
  itou/templates/account/email/email_confirmation_signup_message.txt
  tests/test_consistency.py
  tests/www/dashboard/test_edit_user_email.py
Due: ruff-format, ruff-check

dashboard: Require password when changing email
  itou/www/dashboard/forms.py
  itou/www/dashboard/views.py
  tests/www/dashboard/test_edit_user_email.py
Due: ruff-format, ruff-check

dashboard: Improve edit_user_email view
  config/settings/base.py
  itou/templates/dashboard/edit_user_email.html
  itou/www/dashboard/views.py
  tests/www/dashboard/test_edit_user_email.py
Due: ruff-format, ruff-check, djlint

test: Remove <genexpr> from query snapshots
  .python-version
  tests/siae_evaluations/__snapshots__/test_models.ambr
  tests/utils/test.py
  tests/www/itou_staff_views/__snapshots__/tests.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_institutions_views.ambr
  tests/www/siae_evaluations_views/__snapshots__/test_siaes_views.ambr
Due: ruff-format, ruff-check

admin: Follow ModelAdmin.save_model() signature
  itou/eligibility/admin.py
  itou/users/admin.py
Due: ruff-format, ruff-check

tests: Improve email confirmation tests
  tests/www/dashboard/test_edit_user_email.py
  tests/www/signup/test_job_seeker.py
Due: ruff-format, ruff-check

Get or create SessionNamespace from its __init__
  itou/utils/session.py
  itou/www/apply/views/process_views.py
  itou/www/apply/views/submit_views.py
  itou/www/companies_views/views.py
  itou/www/job_seekers_views/views.py
  itou/www/utils/wizard.py
  tests/utils/test.py
  tests/utils/tests.py
Due: ruff-format, ruff-check

admin: Mark user email address as primary and verified
  itou/users/admin.py
  tests/users/test_admin.py
Due: ruff-format, ruff-check

www.stats: Add a banner to promote webinar replay to PLIE prescribers
  itou/www/stats/views.py
Due: ruff-format, ruff-check

templates: move and rename _company_info et al. that are not only used for companies anymore
  itou/templates/apply/includes/accept_section.html
  itou/templates/apply/includes/geiq_eligibility_section.html
  itou/templates/apply/includes/siae_actions_modals.html
  itou/templates/apply/process_details_company.html
  itou/templates/apply/process_internal_transfer.html
  itou/templates/apply/submit/application/base.html
  itou/templates/approvals/prolongation_requests/show.html
  itou/templates/companies/card.html
  itou/templates/companies/edit_siae_preview.html
  itou/templates/companies/includes/_company_details.html
  itou/templates/companies/job_description_card.html
  itou/templates/companies/overview.html
  itou/templates/includes/structures/_structure_details.html
  itou/templates/includes/structures/_structure_info.html
  itou/templates/includes/structures/email_li.html
  itou/templates/includes/structures/phone_li.html
  itou/templates/includes/structures/website_li.html
  itou/templates/job_seekers_views/submit_base_two_columns.html
  itou/templates/prescribers/card.html
  itou/templates/prescribers/overview.html
Due: djlint

templates: rename `show_cta` to `company_show_cta`
  itou/templates/apply/includes/accept_section.html
  itou/templates/apply/includes/geiq_eligibility_section.html
  itou/templates/apply/includes/siae_actions_modals.html
  itou/templates/apply/process_details_company.html
  itou/templates/apply/process_internal_transfer.html
  itou/templates/apply/submit/application/base.html
  itou/templates/approvals/prolongation_requests/show.html
  itou/templates/companies/edit_siae_preview.html
  itou/templates/companies/job_description_card.html
  itou/templates/companies/overview.html
  itou/templates/includes/structures/_structure_info.html
  itou/templates/job_seekers_views/submit_base_two_columns.html
  itou/templates/prescribers/overview.html
Due: djlint

templates: rename `company` variable passed to _structure_info.html and subfragments
  itou/templates/apply/includes/accept_section.html
  itou/templates/apply/includes/geiq_eligibility_section.html
  itou/templates/apply/includes/siae_actions_modals.html
  itou/templates/apply/process_details_company.html
  itou/templates/apply/process_internal_transfer.html
  itou/templates/apply/submit/application/base.html
  itou/templates/approvals/prolongation_requests/show.html
  itou/templates/companies/edit_siae_preview.html
  itou/templates/companies/job_description_card.html
  itou/templates/companies/overview.html
  itou/templates/includes/structures/_structure_details.html
  itou/templates/includes/structures/_structure_info.html
  itou/templates/job_seekers_views/submit_base_two_columns.html
  itou/templates/prescribers/overview.html
Due: djlint

utils.staticfiles: Fix argument renamed in Django 5.2
  Makefile
  itou/utils/staticfiles.py
Due: ruff-format, ruff-check

Rename SessionNamespace.create{_uuid_namespace,}
  itou/utils/session.py
  itou/www/apply/views/submit_views.py
  itou/www/companies_views/views.py
  itou/www/gps/views.py
  itou/www/job_seekers_views/views.py
  itou/www/utils/wizard.py
  tests/utils/tests.py
  tests/www/companies_views/test_job_description_views.py
  tests/www/job_seekers_views/test_create_or_update.py
Due: ruff-format, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
